section {
  overflow: hidden;
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.z-2 {
  position: relative;
  z-index: 2;
}
.z-3 {
  position: relative;
  z-index: 3;
}
.triangle-group {
  position: relative;
  padding: 5px 0 5px 20px;
}
.triangle-group:before {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #D9232E;
  border-top: 10px solid transparent;
}
@media only screen and (min-width: 768px) {
  .triangle-group {
    padding-left: 25px;
  }
  .triangle-group:before {
    left: -15px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 15px;
  }
}
.triangle-group.red:before {
  border-right-color: #D9232E;
}
.triangle-group.orange:before {
  border-right-color: #FF9100;
}
.triangle-group.green:before {
  border-right-color: #68AA00;
}
.triangle-group.blue:before {
  border-right-color: #4789A3;
}
.triangle-group.navy-blue:before {
  border-right-color: #11566F;
}
.triangle-group.white:before {
  border-right-color: #FFFFFF;
}
.triangle-group.light-gray:before {
  border-right-color: #f2f2f2;
}
.triangle-group.gray:before {
  border-right-color: #999999;
}
.triangle-group.dark-gray:before {
  border-right-color: #777777;
}
.triangle-group.black:before {
  border-right-color: #333333;
}
.icon-link-grid .grid-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.icon-link-grid .grid-item .icon {
  margin-right: 10px;
}
.icon-link-grid .grid-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.icon-link-grid .grid-item.red:before {
  background-color: #D9232E;
}
.icon-link-grid .grid-item.orange:before {
  background-color: #FF9100;
}
.icon-link-grid .grid-item.green:before {
  background-color: #68AA00;
}
.icon-link-grid .grid-item.blue:before {
  background-color: #4789A3;
}
.icon-link-grid .grid-item.navy-blue:before {
  background-color: #11566F;
}
.icon-link-grid .grid-item:hover {
  padding-left: 20px;
  padding-right: 10px;
}
.icon-link-grid .grid-item:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.icon-link-grid .grid-item:hover.red .icon {
  color: #D9232E;
}
.icon-link-grid .grid-item:hover.orange .icon {
  color: #FF9100;
}
.icon-link-grid .grid-item:hover.green .icon {
  color: #68AA00;
}
.icon-link-grid .grid-item:hover.blue .icon {
  color: #4789A3;
}
.icon-link-grid .grid-item:hover.navy-blue .icon {
  color: #11566F;
}
.icon-link-grid.light .grid-item {
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.light .grid-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-link-grid.dark .grid-item {
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.dark .grid-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (min-width: 768px) {
  .panelstack.vertical-panelstack {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack .panel-nav,
  .panelstack.vertical-panelstack .panel-content {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    float: none;
  }
  .panelstack.vertical-panelstack .panel-nav {
    z-index: 1;
    padding-bottom: 0;
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem {
    width: 100%;
    border: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a {
    color: #FFFFFF;
    padding: 15px 40px 15px 20px;
    opacity: 0.5;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:after {
    display: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a {
    opacity: 1;
    background-color: #D9232E;
    color: #FFFFFF;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a:before {
    opacity: 1;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: #D9232E;
    -webkit-transform: translate(25px, -50%);
    transform: translate(25px, -50%);
  }
  .panelstack.vertical-panelstack .panel-content {
    z-index: 0;
    width: 60%;
    border: none;
    opacity: 0;
    -webkit-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    padding: 30px;
  }
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #D9232E;
  }
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #D9232E;
  }
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #4789A3;
  }
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #4789A3;
  }
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #11566F;
  }
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #11566F;
  }
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #FF9100;
  }
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #FF9100;
  }
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #68AA00;
  }
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #68AA00;
  }
  .panelstack.vertical-panelstack.gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #999999;
  }
  .panelstack.vertical-panelstack.gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #999999;
  }
  .panelstack.vertical-panelstack.light-gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack.light-gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack.dark-gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #777777;
  }
  .panelstack.vertical-panelstack.dark-gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #777777;
  }
  .panelstack.vertical-panelstack.black .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #333333;
  }
  .panelstack.vertical-panelstack.black .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #333333;
  }
  .panelstack.vertical-panelstack.white .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #FFFFFF;
  }
  .panelstack.vertical-panelstack.white .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #FFFFFF;
  }
}
@media only screen and (min-width: 980px) {
  .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .panelstack.vertical-panelstack .panel-content {
    width: 70%;
    padding: 30px 50px;
  }
}
main.products.child {
  overflow: hidden;
}
main.products.child #hero {
  overflow: hidden;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero {
    background-color: #FFFFFF !important;
    overflow: visible;
    padding-bottom: 0;
  }
}
main.products.child #hero .flex-row {
  position: relative;
  z-index: 1;
}
main.products.child #hero .logo-lockup .h2.text-uppercase {
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 767px) {
  main.products.child #hero .logo-lockup .h2.text-uppercase {
    font-size: 18px;
    line-height: 24px;
  }
}
main.products.child #hero .logo-lockup .icon {
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero .logo-lockup .icon {
    margin-right: 20px;
  }
}
main.products.child #hero .angle-wrapper {
  display: block;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1200px) {
  main.products.child #hero .angle-wrapper {
    max-width: 1200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
main.products.child #hero .angle-wrapper .angle {
  position: absolute;
  top: 0;
}
main.products.child #hero .angle-wrapper .angle.left {
  z-index: 2;
  right: 0;
  width: 100vw;
  padding-bottom: 100vw;
  mix-blend-mode: multiply;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero .angle-wrapper .angle.left {
    width: 105vw;
    padding-bottom: 105vw;
    right: -5vw;
  }
}
@media only screen and (min-width: 1200px) {
  main.products.child #hero .angle-wrapper .angle.left {
    width: 100vw;
    padding-bottom: 100vw;
    right: 0;
  }
}
main.products.child #hero .angle-wrapper .angle.right {
  z-index: 1;
  width: 75vw;
  padding-bottom: 75vw;
  left: 25vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  main.products.child #hero .angle-wrapper .angle.right {
    background-blend-mode: multiply;
  }
}
@media only screen and (min-width: 768px) {
  main.products.child #hero .angle-wrapper .angle.right {
    width: 60vw;
    padding-bottom: 60vw;
    left: 40vw;
  }
}
@media only screen and (min-width: 1200px) {
  main.products.child #hero .angle-wrapper .angle.right {
    width: 50vw;
    padding-bottom: 50vw;
    left: 50%;
  }
}
main.products.child #hero.red {
  background-color: #D9232E;
}
main.products.child #hero.red .angle {
  background-color: #bd252e;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.red .angle {
    background-color: #D9232E;
  }
}
main.products.child #hero.red .angle.right {
  background-color: #ed757c;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.red .angle.right {
    background-color: #D9232E;
  }
}
main.products.child #hero.blue {
  background-color: #4789A3;
}
main.products.child #hero.blue .angle {
  background-color: #44788c;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.blue .angle {
    background-color: #4789A3;
  }
}
main.products.child #hero.blue .angle.right {
  background-color: #81b9cf;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.blue .angle.right {
    background-color: #4789A3;
  }
}
main.products.child #hero.navy-blue {
  background-color: #11566F;
}
main.products.child #hero.navy-blue .angle {
  background-color: #104456;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.navy-blue .angle {
    background-color: #11566F;
  }
}
main.products.child #hero.navy-blue .angle.right {
  background-color: #199dcd;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.navy-blue .angle.right {
    background-color: #11566F;
  }
}
main.products.child #hero.orange {
  background-color: #FF9100;
}
main.products.child #hero.orange .angle {
  background-color: #e08206;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.orange .angle {
    background-color: #FF9100;
  }
}
main.products.child #hero.orange .angle.right {
  background-color: #ffbd66;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.orange .angle.right {
    background-color: #FF9100;
  }
}
main.products.child #hero.green {
  background-color: #68AA00;
}
main.products.child #hero.green .angle {
  background-color: #588d04;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.green .angle {
    background-color: #68AA00;
  }
}
main.products.child #hero.green .angle.right {
  background-color: #a3ff11;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.green .angle.right {
    background-color: #68AA00;
  }
}
main.products.child #hero.gray {
  background-color: #999999;
}
main.products.child #hero.gray .angle {
  background-color: #8c8c8c;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.gray .angle {
    background-color: #999999;
  }
}
main.products.child #hero.gray .angle.right {
  background-color: #cfc9c9;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.gray .angle.right {
    background-color: #999999;
  }
}
main.products.child #hero.light-gray {
  background-color: #f2f2f2;
}
main.products.child #hero.light-gray .angle {
  background-color: #e5e5e5;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.light-gray .angle {
    background-color: #f2f2f2;
  }
}
main.products.child #hero.light-gray .angle.right {
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.light-gray .angle.right {
    background-color: #f2f2f2;
  }
}
main.products.child #hero.dark-gray {
  background-color: #777777;
}
main.products.child #hero.dark-gray .angle {
  background-color: #6a6a6a;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.dark-gray .angle {
    background-color: #777777;
  }
}
main.products.child #hero.dark-gray .angle.right {
  background-color: #aea6a6;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.dark-gray .angle.right {
    background-color: #777777;
  }
}
main.products.child #hero.black {
  background-color: #333333;
}
main.products.child #hero.black .angle {
  background-color: #262626;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.black .angle {
    background-color: #333333;
  }
}
main.products.child #hero.black .angle.right {
  background-color: #6b6161;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.black .angle.right {
    background-color: #333333;
  }
}
main.products.child #hero.white {
  background-color: #FFFFFF;
}
main.products.child #hero.white .angle {
  background-color: #f2f2f2;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.white .angle {
    background-color: #FFFFFF;
  }
}
main.products.child #hero.white .angle.right {
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  main.products.child #hero.white .angle.right {
    background-color: #FFFFFF;
  }
}
#products-overview .device-family {
  position: relative;
  padding-bottom: 5%;
  padding-top: 30px;
  margin-bottom: 30px;
}
#products-overview .device-family .device-mockup {
  position: absolute;
  z-index: 1;
}
#products-overview .device-family .device-mockup.iphone {
  width: 8%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#products-overview .device-family .device-mockup.macbook-pro {
  width: 47%;
  bottom: 5%;
  left: 0;
}
#products-overview .device-family .device-mockup.ipad {
  width: 24%;
  bottom: 0;
  right: 0;
  z-index: 2;
}
#products-overview .device-family .device-mockup.ipad.white {
  width: 30%;
  bottom: 6%;
  right: 5%;
}
#products-overview .device-family .device-mockup.mac-thunderbolt {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 60%;
}
#products-overview #analytics .offpage-image {
  position: relative;
  z-index: 0;
  margin-left: -30%;
}
@media only screen and (min-width: 768px) {
  #products-overview #analytics .offpage-image {
    width: 270%;
    margin-left: -90%;
  }
}
#products-overview #mobile .device-mockup.ipad {
  position: relative;
  z-index: 0;
  width: 130%;
  margin-right: 20%;
  margin-bottom: 20px;
}
#products-overview #mobile .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 30%;
  right: 10%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #products-overview #mobile .device-mockup.ipad {
    width: 150%;
  }
  #products-overview #mobile .device-mockup.iphone {
    width: 35%;
  }
}
@media only screen and (min-width: 768px) {
  #products-overview #enterprise-platform .offpage-image {
    width: 200%;
  }
}
@media only screen and (min-width: 980px) {
  #products-overview #enterprise-platform .offpage-image {
    width: 230%;
  }
}
@media only screen and (min-width: 980px) {
  #products-overview #enterprise-platform .offpage-image {
    width: 200%;
  }
}
#products-overview #digital-id-mobile-telemetry .device-mockup.ipad {
  position: relative;
  z-index: 0;
  width: 130%;
  margin-left: 20%;
  margin-bottom: 20px;
}
#products-overview #digital-id-mobile-telemetry .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 30%;
  left: 10%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #products-overview #digital-id-mobile-telemetry .device-mockup.ipad {
    width: 150%;
  }
  #products-overview #digital-id-mobile-telemetry .device-mockup.iphone {
    width: 35%;
  }
}
#products-overview #cloud .offpage-image {
  position: relative;
  z-index: 0;
  margin-right: -30%;
}
@media only screen and (min-width: 768px) {
  #products-overview #cloud .offpage-image {
    width: 250%;
    margin-right: -20%;
  }
}
#analytics-overview #introduction .device-mockup {
  width: 215%;
}
@media only screen and (min-width: 768px) {
  #analytics-overview #connect-prepare .offpage-image {
    width: 1000px;
    margin-left: -20%;
  }
}
@media only screen and (min-width: 980px) {
  #analytics-overview #connect-prepare .offpage-image {
    margin-left: -22%;
  }
}
@media only screen and (min-width: 768px) {
  #analytics-overview #visualization-slider {
    position: relative;
  }
  #analytics-overview #visualization-slider:before,
  #analytics-overview #visualization-slider:after {
    position: absolute;
    z-index: 2;
    content: '';
    height: 100%;
    width: 20px;
    top: 0;
  }
  #analytics-overview #visualization-slider:before {
    left: 0;
    background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  }
  #analytics-overview #visualization-slider:after {
    right: 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  }
}
#analytics-overview #visualization-slider .slick-track {
  padding: 5% 0;
}
#analytics-overview #visualization-slider .slick-slide {
  z-index: 0;
  padding: 15px;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#analytics-overview #visualization-slider .slick-slide .screenshot {
  border: 1px solid #999999;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#analytics-overview #visualization-slider .slick-slide.slick-center {
  z-index: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: .99;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #analytics-overview #visualization-slider .slick-slide.slick-center {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
#analytics-overview #share-insights .device-mockup.mac-thunderbolt {
  position: relative;
  z-index: 0;
  width: 120%;
  margin-bottom: 40px;
  margin-right: 40%;
}
#analytics-overview #share-insights .device-mockup.ipad {
  position: absolute;
  z-index: 1;
  width: 70%;
  right: 10%;
  bottom: 40px;
}
#analytics-overview #share-insights .device-mockup.iphone {
  position: absolute;
  z-index: 2;
  width: 20%;
  right: 5%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #analytics-overview #share-insights .device-mockup.mac-thunderbolt {
    width: 215%;
    margin-right: 10%;
  }
  #analytics-overview #share-insights .device-mockup.ipad {
    width: 135%;
    right: -3%;
  }
  #analytics-overview #share-insights .device-mockup.iphone {
    width: 35%;
    right: -12%;
  }
}
@media only screen and (min-width: 980px) {
  #analytics-overview #share-insights .device-mockup.mac-thunderbolt {
    width: 230%;
    margin-right: 15%;
  }
  #analytics-overview #share-insights .device-mockup.ipad {
    width: 145%;
    right: -15%;
  }
  #analytics-overview #share-insights .device-mockup.iphone {
    width: 38%;
    right: -35%;
  }
}
#mobile-overview #introduction .device-mockup.ipad {
  position: relative;
  z-index: 0;
  width: 130%;
  margin-right: 20%;
  margin-bottom: 20px;
}
#mobile-overview #introduction .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 30%;
  right: 10%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #mobile-overview #introduction .device-mockup.ipad {
    width: 150%;
  }
  #mobile-overview #introduction .device-mockup.iphone {
    width: 35%;
  }
}
#mobile-overview #mobile-apps-deploy .device-mockup.macbook-pro {
  position: relative;
  z-index: 0;
  width: 120%;
  margin-left: -10%;
  float: none;
}
#mobile-overview #mobile-apps-deploy .device-mockup.ipad {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: -20% auto 0 auto;
}
@media only screen and (min-width: 768px) {
  #mobile-overview #mobile-apps-deploy .device-mockup.macbook-pro {
    width: 90%;
    margin-right: 45%;
    float: right;
  }
  #mobile-overview #mobile-apps-deploy .device-mockup.ipad {
    position: absolute;
    z-index: 1;
    width: 45%;
    right: 20px;
    top: 50%;
    margin-top: -20%;
  }
}
@media only screen and (min-width: 980px) {
  #mobile-overview #mobile-apps-deploy .device-mockup.macbook-pro {
    width: 75%;
  }
  #mobile-overview #mobile-apps-deploy .device-mockup.ipad {
    margin-top: -17%;
  }
}
@media only screen and (min-width: 1200px) {
  #mobile-overview #mobile-apps-deploy .device-mockup.macbook-pro {
    width: 75%;
  }
  #mobile-overview #mobile-apps-deploy .device-mockup.ipad {
    margin-top: -17%;
  }
}
#mobile-overview #emm .device-col {
  overflow: hidden;
  margin-bottom: 30px;
}
@media only screen and (min-width: 980px) {
  #mobile-overview #emm .device-col {
    overflow: visible;
    margin-bottom: none;
  }
}
#mobile-overview #emm .device-mockup.offpage-image {
  margin-right: 5%;
  width: 150%;
  margin-bottom: -40%;
}
@media only screen and (min-width: 768px) {
  #mobile-overview #emm .device-mockup.offpage-image {
    width: 115%;
  }
}
@media only screen and (min-width: 980px) {
  #mobile-overview #emm .device-mockup.offpage-image {
    width: 150%;
    margin-bottom: 0;
  }
}
#mobile-overview #emm .app-lock {
  position: absolute;
  width: 4%;
  right: 26%;
  top: 6%;
  opacity: 0;
  -webkit-animation: app-lock-animation 7s 2s ease-out infinite;
  -moz-animation: app-lock-animation 7s 2s ease-out infinite;
  animation: app-lock-animation 7s 2s ease-out infinite;
}
#mobile-overview #transactions .device-mockup.ipad {
  position: relative;
  z-index: 0;
  margin-left: 10%;
  margin-bottom: 20px;
  width: 140%;
}
@media only screen and (min-width: 980px) {
  #mobile-overview #transactions .device-mockup.ipad {
    width: 120%;
  }
}
#mobile-overview #transactions .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 20%;
  left: 20px;
  bottom: 20px;
  width: 30%;
}
@media only screen and (min-width: 980px) {
  #mobile-overview #transactions .device-mockup.iphone {
    width: 25%;
  }
}
@-moz-keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-webkit-keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
#embedded-analytics-overview #hero .angle-wrapper .angle.right {
  background-position: left center;
}
#embedded-analytics-overview #introduction .device-mockup {
  width: 200%;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .sdk-col .icon {
  font-size: 24px;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col {
  position: relative;
  min-height: 100px;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 43px;
  margin-left: -23px;
  width: 100px;
  padding: 5px 25px 15px 25px;
  color: #4789A3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block .icon {
  position: absolute;
  bottom: 0;
  right: -4px;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block:before {
  position: absolute;
  content: '';
  background-color: #4789A3;
  bottom: 6px;
  left: 0;
  height: 2px;
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block {
    top: 50%;
    left: 15px;
    margin-top: -43px;
    margin-left: 0;
    width: calc(100% - 30px);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block.reverse {
  margin-left: -85px;
  padding: 15px 25px 5px 25px;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block.reverse .icon {
  bottom: auto;
  right: auto;
  top: 0;
  left: -4px;
}
#embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block.reverse:before {
  bottom: auto;
  top: 6px;
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #rest-api #rest-api-diagram .line-col .arrow-block.reverse {
    margin-top: 10px;
    margin-left: 0;
  }
}
#embedded-analytics-overview #push-api #push-api-graphic .logo-col [class*="flex-grid"].compact > .grid-item {
  padding: 2.5px;
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  #embedded-analytics-overview #push-api #push-api-graphic .logo-col [class*="flex-grid"].compact > .grid-item {
    padding: 7.5px;
  }
}
#embedded-analytics-overview #push-api #push-api-graphic .cube-col .icon.medium {
  font-size: 64px;
}
#embedded-analytics-overview #push-api #push-api-graphic .arrow-col {
  position: relative;
  min-height: 60px;
}
#embedded-analytics-overview #push-api #push-api-graphic .arrow-col .icon_common_arrow {
  position: absolute;
  font-size: 24px;
  bottom: -6px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #push-api #push-api-graphic .arrow-col .icon_common_arrow {
    top: 50%;
    bottom: auto;
    left: auto;
    right: -6px;
    margin-left: 0;
    margin-top: -12px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#embedded-analytics-overview #push-api #push-api-graphic .arrow-col:before {
  position: absolute;
  content: '';
  background-color: #D9232E;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #push-api #push-api-graphic .arrow-col:before {
    top: 50%;
    left: 0;
    margin-left: 0;
    margin-top: -1px;
    width: 100%;
    height: 2px;
  }
}
#embedded-analytics-overview #visualization-sdk .device-mockup.macbook-pro {
  position: relative;
  z-index: 0;
  margin-left: 10%;
  margin-bottom: 20px;
}
#embedded-analytics-overview #visualization-sdk .device-mockup.ipad {
  position: absolute;
  z-index: 1;
  width: 45%;
  left: 20px;
  bottom: 20px;
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic > div {
  display: -webkit-flex;
  display: flex;
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .graphic-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 30px 0px;
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .graphic-block .graphic-label {
  width: 100%;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .graphic-block {
    padding: 15px 10px;
  }
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .mstr-icon,
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .customapp-icon {
  display: block;
  margin: 0 auto;
  width: 70px;
}
@media only screen and (min-width: 768px) {
  #embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .mstr-icon,
  #embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .customapp-icon {
    max-width: 80%;
    width: 100px;
  }
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 0;
  -webkit-transform: rotate(0deg) translate(-15px, -50%);
  transform: rotate(0deg) translate(-15px, -50%);
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic > div:nth-child(2) .icon {
  top: 100%;
  left: 50%;
  margin-left: -6px;
  -webkit-transform: rotate(90deg) translate(-50%, 10px);
  transform: rotate(90deg) translate(-50%, 10px);
}
@media only screen and (min-width: 980px) {
  #embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic > div:nth-child(2) .icon {
    top: 50%;
    left: 100%;
    margin-left: 0;
    -webkit-transform: rotate(0deg) translate(-15px, -50%);
    transform: rotate(0deg) translate(-15px, -50%);
  }
}
#embedded-analytics-overview #mobile-sdk .custom-mobile-sdk-graphic .device-mockup {
  margin: 0 auto;
  width: calc(100% - 40px);
}
#embedded-analytics-overview #embedding-api .screen {
  background-color: #FFFFFF;
}
#embedded-analytics-overview #embedding-api .screenshot {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-animation: scroll-page 7s cubic-bezier(0.21, -0.16, 0.8, 1.22) 0s infinite forwards;
  -moz-animation: scroll-page 7s cubic-bezier(0.21, -0.16, 0.8, 1.22) 0s infinite forwards;
  animation: scroll-page 7s cubic-bezier(0.21, -0.16, 0.8, 1.22) 0s infinite forwards;
}
#digital-id-mobile-telemetry-overview #hero .angle-wrapper .angle.right {
  background-position: left center;
}
#digital-id-mobile-telemetry-overview #introduction .device-mockup.ipad {
  position: relative;
  z-index: 0;
  width: 130%;
  margin-right: 20%;
  margin-bottom: 20px;
}
#digital-id-mobile-telemetry-overview #introduction .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 30%;
  right: 10%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #digital-id-mobile-telemetry-overview #introduction .device-mockup.ipad {
    width: 150%;
  }
  #digital-id-mobile-telemetry-overview #introduction .device-mockup.iphone {
    width: 35%;
  }
}
#digital-id-mobile-telemetry-overview #physical-logical-access .device-mockup.macbook-pro {
  position: relative;
  z-index: 0;
  width: 130%;
  margin-left: 10%;
  margin-bottom: 20px;
}
#digital-id-mobile-telemetry-overview #physical-logical-access .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 25%;
  left: 10%;
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #digital-id-mobile-telemetry-overview #physical-logical-access .device-mockup.macbook-pro {
    width: 150%;
  }
  #digital-id-mobile-telemetry-overview #physical-logical-access .device-mockup.iphone {
    width: 30%;
  }
}
#cloud-overview #hero .angle-wrapper .angle.right {
  background-position: left center;
}
#cloud-overview #introduction .device-mockup {
  width: 200%;
}
#cloud-overview #cloud-capabilities .device-mockup.ipad {
  position: relative;
  z-index: 0;
  margin-left: 27.33333333%;
}
#cloud-overview #cloud-capabilities .device-mockup.iphone {
  position: absolute;
  z-index: 1;
  width: 20%;
  left: 0;
  bottom: 0;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col {
  position: relative;
}
@media only screen and (min-width: 768px) {
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col {
    padding-bottom: 35px;
    margin-bottom: 20px;
  }
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .grid-item {
  display: -webkit-inline-flex;
  display: inline-flex;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .background-light-gray,
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .background-white {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .background-light-gray > p,
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .background-white > p {
  width: 100%;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label {
  display: block;
  position: relative;
  padding: 25px 25px 30px 25px;
  margin: 0;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 25px 0 0 0;
  }
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label.full {
    width: 100%;
  }
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label.full .line {
    width: calc(50% - 40px);
  }
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label.two-third {
    width: 66.66%;
  }
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label.one-third {
    width: 33.33%;
  }
  #cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label:last-of-type {
    left: auto;
    right: 0;
  }
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label .line {
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
  width: calc(100% - 40px);
  background-color: #999999;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label .line:before,
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label .line:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 15px;
  width: 1px;
  background-color: #999999;
}
#cloud-overview #aws-cloud-deployment .services-and-tools-diagram .icon-col .label .line:after {
  left: auto;
  right: 0;
}
@-moz-keyframes scroll-page {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  90% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes scroll-page {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  90% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes scroll-page {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  90% {
    -webkit-transform: translateY(-53%);
    transform: translateY(-53%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: fade-in 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-in 0.3s ease-out 0s normal forwards;
    animation: fade-in 0.3s ease-out 0s normal forwards;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
