@import '../../settings.less';

//section styles

section {overflow:hidden;}


//basic setup for an image going off the page
.offpage-image {
    width:150%;
    max-width:none;
    &.left {float:right;}
    &.right {float:left;}
    @media @large {
        &.left {&.pc-laptop, &.macbook-pro, &.macbook-air {margin-right:-10%;}}
        &.right {&.pc-laptop, &.macbook-pro, &.macbook-air {margin-left:-10%;}}
    }
}
.stacked-mockups {position:relative;}
.z-1 {position:relative; z-index:1;}
.z-2 {position:relative; z-index:2;}
.z-3 {position:relative; z-index:3;}



//DIV WITH COLOR TRIANGLE NEXT TO IT
.triangle-group {
    position:relative;
    padding:5px 0 5px 20px;
    &:before {
        display:block; position:absolute;
        content:'';
        top:5px; left:-10px;
        width:0; height:0;
        border-left: 10px solid transparent;
        border-right: 10px solid @red;
        border-top: 10px solid transparent;
    }
    @media @medium {
        padding-left:25px;
        &:before {
            left:-15px;
            border-left-width: 15px;
            border-right-width: 15px;
            border-top-width: 15px;
        }
    }
    &.red:before {border-right-color:@red;}
    &.orange:before {border-right-color:@orange;}
    &.green:before {border-right-color:@green;}
    &.blue:before {border-right-color:@blue;}
    &.navy-blue:before {border-right-color:@navy-blue;}

    &.white:before {border-right-color:@white;}
    &.light-gray:before {border-right-color:@light-gray;}
    &.gray:before {border-right-color:@gray;}
    &.dark-gray:before {border-right-color:@dark-gray;}
    &.black:before {border-right-color:@black;}
}



//for a grid of links with colored icons and left border hover state
.icon-link-grid {
    .grid-item {
        .display(flex);
        .align-items(center);
        position:relative; overflow:hidden;
        padding-top:20px; padding-bottom:20px;

        font-family:@myriad-pro;
        font-size:14px; line-height:1.2em;
        .uppercase;
        font-weight:400;

        .icon {margin-right:10px;}
        &:before {
            content:'';
            display:block; position:absolute;
            top:0; left:0;
            width:3px; height:100%;
            .translateX(-3px);
            .transition;
        }
        &.red:before {background-color:@red;}
        &.orange:before {background-color:@orange;}
        &.green:before {background-color:@green;}
        &.blue:before {background-color:@blue;}
        &.navy-blue:before {background-color:@navy-blue;}
        &:hover {
            padding-left:20px; padding-right:10px;
            &:before {.translateX(0);}
            &.red .icon {color:@red;}
            &.orange .icon {color:@orange;}
            &.green .icon {color:@green;}
            &.blue .icon {color:@blue;}
            &.navy-blue .icon {color:@navy-blue;}
        }
    }
    &.light .grid-item {
        color:@black;
        border:1px solid fade(@pure-black, 10%);
        border-width:0 1px 1px 0;
        &:hover {background-color:fade(@white, 50%);}
    }
    &.dark .grid-item {
        color:@white;
        border:1px solid fade(@white, 10%);
        border-width:0 1px 1px 0;
        &:hover {background-color:fade(@pure-black, 40%);}
    }
}

//new vertical panelstack
@media @medium {
    .panelstack.vertical-panelstack {
        .display(flex);
        .flex(0, 1, auto);
        width: 100%;
        .flex-direction(row);
        .flex-wrap(wrap);
        .justify-content(start);
        .align-items(stretch);
        background-color:@light-gray;

        .panel-nav, .panel-content {
            .flex(0, 1, auto);
            .display(flex);
            .flex-direction(column);
            .flex-wrap(wrap);
            .align-items(flex-start);
            float:none;
        }
        .panel-nav {
            z-index:1;
             padding-bottom:0;
             width:40%;
             .box-shadow(1px 1px 10px fade(@pure-black, 20%));
             background-color:@black;
             .panel-nav-elem {
                 width:100%;
                 border:none;
                 > a {
                     color:@white;
                     padding:15px 40px 15px 20px;
                     opacity:0.5;
                     &:hover {
                         color:@white;
                         opacity:1;
                         background-color: fade(@pure-black, 10%);
                     }
                     &:before {
                         display:block; position:absolute;
                         content:'';
                         top:50%; right:15px;
                         width:0; height:0;
                         border-top:7px solid transparent;
                         border-bottom:7px solid transparent;
                         border-left:7px solid @white;
                         margin:0;
                         .translate(0, -50%);
                         .transition;
                     }
                     &:after {display:none;}
                 }//end > a
                 &.active-panel > a {
                     opacity:1;
                     background-color:@red;
                     color:@white;
                     &:before {
                         opacity:1;
                         border-top-width:10px;
                         border-bottom-width:10px;
                         border-left-width:10px;
                         border-left-color:@red;
                         .translate(25px, -50%);
                     }
                 }//end active panel styles
             }//end panel-nav-elem
        }
        .panel-content {
            z-index:0;
            width:60%;
            border:none;
            opacity:0;
            .animation(fade-slide-right 0.3s ease-out 0.2s normal forwards);
            padding:30px;
        }//end panel content
    }// end panelstack vertical

    .panelstack.vertical-panelstack {
        .loop-colors(@i) when (@i > 0) {
            .loop-colors(@i - 1);

            @color-class: extract(@color-classes, @i);
            @color: extract(@colors, @i);

            &.@{color-class} {
                .panel-nav .panel-nav-elem.active-panel>a {background-color:@color}
                .panel-nav .panel-nav-elem.active-panel>a:before {border-left-color:@color;}
            }
        }
        .loop-colors(length(@color-classes));
    }
}//end medium media query
@media @large {
    .panelstack.vertical-panelstack {
        .panel-nav {width:30%;}
        .panel-content {width:70%; padding:30px 50px;}
    }
}//end large media query



//fancy angled banner for products child pages
main.products.child {
    overflow:hidden;
    #hero {
        overflow:hidden;
        color:@white;
        @media @medium {background-color:@white!important; overflow:visible; padding-bottom:0;}
        .flex-row {position:relative; z-index:1;}
        .logo-lockup {
            .h2.text-uppercase {letter-spacing:0.2em; @media @small-only {font-size:18px; line-height:24px;}}
            .icon {
                margin-right:10px;
                @media @medium {margin-right:20px;}
            }
        }
        .angle-wrapper {
            display:block; position:absolute; z-index:0;
            height:100%; width:100%;
            top:0; left:0;
            @media @xlarge {max-width:@large-breakpoint; left:50%; .translateX(-50%);}
            .angle {
                position:absolute;
                top:0;
                &.left {
                    z-index:2; right:0;
                    width:100vw; padding-bottom:100vw;
                    mix-blend-mode: multiply;
                    @media @medium {width:105vw; padding-bottom:105vw; right:-5vw;}
                    @media @xlarge {width:100vw; padding-bottom:100vw; right:0;}
                }
                &.right {
                    z-index:1;
                    width:75vw; padding-bottom:75vw;
                    left:25vw;
                    background-repeat:no-repeat;
                    background-position:center;
                    background-size:cover;
                    @media @small-only {background-blend-mode:multiply;}
                    @media @medium {width:60vw; padding-bottom:60vw; left:40vw;}
                    @media @xlarge {width:50vw; padding-bottom:50vw; left:50%;}
                }
            }
        }

        //changes angle color based on the defined hero row color
        .loop-colors(@i) when (@i > 0) {
            .loop-colors(@i - 1);

            @color-class: extract(@color-classes, @i);
            @color: extract(@colors, @i);

            &.@{color-class} {
                background-color:@color;
                .angle {background-color:darken(desaturate(@color, 5%), 5%); @media @medium {background-color:@color;}}
                .angle.right {background-color:lighten(saturate(@color, 5%), 20%); @media @medium {background-color:@color;}}
            }
        }
        .loop-colors(length(@color-classes));
    }
}//end fancy banner




//INDIVIDUAL PAGE STYLES

//PRODUCTS OVERVIEW
#products-overview {
    .device-family {
        position:relative;
        padding-bottom:5%; padding-top:30px; margin-bottom:30px;
        .device-mockup {
            position:absolute; z-index:1;

            &.iphone          {width:8%; bottom:0; left:0; z-index:2;}
            &.macbook-pro     {width:47%; bottom:5%; left:0;}
            &.ipad            {width:24%; bottom:0; right:0; z-index:2;}
            &.ipad.white      {width:30%; bottom:6%; right:5%;}
            &.mac-thunderbolt {
                position:relative; z-index:0;
                margin:0 auto;
                width:60%;
            }
        }
    }
    #analytics {
        .offpage-image {
            position:relative; z-index:0;
            margin-left:-30%;
            @media @medium {
                width:270%;
                margin-left:-90%;
            }
        }
    }
    #mobile {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }
    #distribution {
        .offpage-image {
            position:relative; z-index:0;
            margin-right:-30%;
            @media @medium {
                width:250%;
                margin-right:-20%;
            }
        }
    }
    #enterprise-iot {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-left:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                left:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }
    #cloud {
        .offpage-image {
            position:relative; z-index:0;
            margin-right:-30%;
            @media @medium {
                width:250%;
                margin-right:-20%;
            }
        }
    }
}//end products overview styles



//ANALYTICS PAGE
#analytics-overview {
    #introduction {
        .device-mockup {
            width:215%;
        }
    }
    #connect-prepare {
        .offpage-image {
            //margin-left:-30%;
            @media @medium {
                width:1200px;
                margin-top:25%; margin-left:-15%;
            }
            @media @large {
                margin-top:0; margin-left:-10%;
            }
        }
    }

    #visualization-slider {
        @media @medium {
            position:relative;
            &:before, &:after {
                position:absolute; z-index:2;
                content:'';
                height:100%; width:20px;
                top:0;
            }
            &:before {
                left:0;
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
            }
            &:after {
                right:0;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
            }
        }
        .slick-track {
            padding:5% 0;
        }
        .slick-slide {
            z-index:0;
            padding:15px;
            opacity:0.5;
            .transition(.2s, ease-out, all, 0s);
            .screenshot {
                border:1px solid @gray;
                box-shadow: 1px 1px 5px fade(@pure-black, 50%);
            }
            &.slick-center {
                z-index:1;
                .scale(1.2);
                opacity:.99;
                .transition(.4s, ease-out, all, 0s);
                @media @medium {.scale(1.5);}
            }
        }
    }//end visualization slider styles

    #share-insights {
        .device-mockup {
            &.mac-thunderbolt {
                position:relative; z-index:0;
                width:120%;
                margin-bottom:40px; margin-right:40%;
            }
            &.ipad {
                position:absolute; z-index:1;
                width:70%;
                right:10%; bottom:40px;
            }
            &.iphone {
                position:absolute; z-index:2;
                width:20%;
                right:5%; bottom:20px;
            }
            @media @medium {
                &.mac-thunderbolt {width:215%; margin-right:10%;}
                &.ipad {width:135%; right:-3%;}
                &.iphone {width:35%; right:-12%;}
            }
            @media @large {
                &.mac-thunderbolt {width:230%; margin-right:15%;}
                &.ipad {width:120%; right:-15%;}
                &.iphone {width:35%; right:-35%;}
            }
        }
    }
}//end analytics page

//MOBILE PAGE
#mobile-overview {
    #introduction {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }

    #mobile-apps-deploy {
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                width:120%;
                margin-left:-10%;
                float:none;
            }
            &.ipad {
                position:relative; z-index:1;
                width:80%;
                margin:-20% auto 0 auto;
            }
            @media @medium {
                &.macbook-pro {
                    width:90%;
                    margin-right:45%;
                    float:right;
                }
                &.ipad {
                    position:absolute; z-index:1;
                    width:45%;
                    right:20px; top:50%; margin-top:-20%;
                }
            }
            @media @large {
                &.macbook-pro {width:75%}
                &.ipad {margin-top:-17%}
            }
            @media @xlarge {
                &.macbook-pro {width:75%}
                &.ipad {margin-top:-17%}
            }
        }
    }
    #emm {
        .device-col {
            overflow:hidden; margin-bottom:30px;
            @media @large {overflow:visible; margin-bottom:none;}
        }
        .device-mockup.offpage-image {
            margin-right:5%;
            width:150%; margin-bottom:-40%;
            @media @medium {width:115%;}
            @media @large {width:150%; margin-bottom:0;}
        }
        .app-lock {
            position:absolute;
            width:4%;
            right:26%; top:6%;
            opacity:0;
            .animation(app-lock-animation 7s 2s ease-out infinite);
        }
    }
    #transactions {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                margin-left:10%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:20%;
                left:20px; bottom:20px;
            }
        }
    }
}
.keyframes(app-lock-animation;{
    0% {opacity:0; .transform(scale(2) translateY(-10px));}
    5% {opacity:1; .transform(scale(1) translateY(0));}
    90% {opacity:1; .transform(scale(1) translateY(0));}
    95% {opacity:0; .transform(translateY(10px));}
    100% {opacity:0; .transform(translateY(10px));}
});


//EMBEDDED PAGE
#embedded-analytics-overview {
    #hero {
        .angle-wrapper .angle.right {background-position:left center;}
    }
    #introduction {
        .device-mockup {
            width:200%;
        }
    }
    #rest-api {
        #rest-api-diagram {
            .sdk-col {
                .icon {font-size:24px;}
            }
            .line-col {
                position:relative;
                min-height:100px;

                .arrow-block {
                    position:absolute;
                    top:0; left:50%;
                    margin-top:43px; margin-left:-23px;
                    width:100px;
                    padding:5px 25px 15px 25px;
                    color:@blue;
                    .uppercase;
                    font-weight:600;
                    .icon {
                        position:absolute;
                        bottom:0; right:-4px;
                    }
                    &:before {
                        position:absolute;
                        content:'';
                        background-color:@blue;
                        bottom:6px; left:0;
                        height:2px; width:100%;
                    }
                    .rotation(90deg);
                    @media @large {
                        top:50%; left:15px;
                        margin-top:-43px; margin-left:0;
                        width:~"calc(100% - 30px)";
                        .rotation(0deg);
                    }

                    &.reverse {
                        margin-left:-85px;
                        padding:15px 25px 5px 25px;
                        .icon {
                            bottom:auto; right:auto; top:0; left:-4px;
                        }
                        &:before {bottom:auto; top:6px;}
                        @media @large {
                            margin-top:10px; margin-left:0;
                        }
                    }//end reversed arrow block
                }//end arrow block
            }//end line-col
        }//end diagram
    }
    #push-api {
        #push-api-graphic {
            .logo-col [class*="flex-grid"].compact > .grid-item {
                padding:2.5px;
                @media @large-only {padding:7.5px;}
            }
            .cube-col {
                .icon.medium {font-size:64px;}
            }
            .arrow-col {
                position:relative;
                min-height:60px;
                .icon_common_arrow {
                    position:absolute;
                    font-size:24px;
                    bottom:-6px; left:50%;
                    margin-left:-12px;
                    .rotation(90deg);
                    @media @large {
                        top:50%; bottom:auto; left:auto; right:-6px;
                        margin-left:0; margin-top:-12px;
                        .rotation(0deg);
                    }
                }
                &:before {
                    position:absolute;
                    content:'';
                    background-color:@red;
                    top:0; left:50%;
                    margin-left:-1px;
                    width:2px; height:100%;
                    @media @large {
                        top:50%; left:0;
                        margin-left:0; margin-top:-1px;
                        width:100%; height:2px;
                    }
                }
            }//end arrow-col
        }//end push api graphic
    }
    #visualization-sdk {
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                margin-left:10%;
                margin-bottom:20px;
            }
            &.ipad {
                position:absolute; z-index:1;
                width:45%;
                left:20px; bottom:20px;
            }
        }
    }

    #mobile-sdk {
        .custom-mobile-sdk-graphic {
            > div {.display(flex);}
            .graphic-block {
                .display(flex);
                .flex-direction(column);
                .flex-wrap(wrap);
                .align-items(center);
                .justify-content(center);
                width:100%;

                position:relative;
                padding:30px 0px;
                .graphic-label {
                    width:100%;
                    font-family:@myriad-pro;
                    font-size:14px; line-height:14px;
                    font-weight:600;
                    text-align:center;
                }

                @media @large {
                    padding:15px 10px;
                }
            }
            .mstr-icon, .customapp-icon {
                display:block; margin:0 auto;
                width:70px;
                @media @medium {max-width:80%; width:100px;}
            }
            .icon {
                display:block;
                position:absolute;
                top:50%; left:100%;
                margin-left:0;
                .transform(rotate(0deg) translate(-15px, -50%));
            }
            > div:nth-child(2) .icon {
                top:100%; left:50%;
                margin-left:-6px;
                .transform(rotate(90deg) translate(-50% , 10px));
                @media @large {
                    top:50%; left:100%;
                    margin-left:0;
                    .transform(rotate(0deg) translate(-15px, -50%));
                }
            }
            .device-mockup {
                margin:0 auto;
                width:~"calc(100% - 40px)";
            }
        }
    }
    #embedding-api {
        .screen{background-color:@white;}
        .screenshot {
            position:absolute;
            width:100%;
            top:0; left:0;
            .animation(scroll-page 7s @scroll-bounce-bezier 0s infinite forwards);
        }
    }
}

//DIGITAL ID TELEMETRY PAGE
#digital-id-mobile-telemetry-overview {
    #hero {
        .angle-wrapper .angle.right {background-position:left center;}
    }
    #introduction {
        .device-mockup {
            width:200%;
        }
    }
    #physical-logical-access {
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                width:130%;
                margin-left:10%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:25%;
                left:10%; bottom:20px;
            }
            @media @medium {
                &.macbook-pro {width:150%;}
                &.iphone {width:30%;}
            }
        }
    }
}


//CLOUD PAGE
#cloud-overview {
    #hero {
        .angle-wrapper .angle.right {background-position:left center;}
    }
    #introduction {
        .device-mockup {
            width:200%;
        }
    }

    #cloud-capabilities {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                margin-left:27.33333333%;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:20%;
                left:0; bottom:0;
            }
        }
    }

    #aws-cloud-deployment {
        .services-and-tools-diagram {
            .icon-col {
                position:relative;
                @media @medium {padding-bottom:35px; margin-bottom:20px;}

                .grid-item {.display(inline-flex);}
                .background-light-gray, .background-white {
                    .flex(0, 1, auto);
                    .display(flex);
                    .flex-direction(row);
                    .flex-wrap(wrap);
                    .align-items(flex-start);
                    width: 100%;
                    position: relative;
                    > p {width:100%;}
                }
                .label {
                    @media @small-only {
                        .display(flex);
                        .flex(0, 0, 100%);
                    }
                    display:block; position:relative;
                    padding:25px 25px 30px 25px; margin:0;
                    font-family:@myriad-pro;
                    font-size:14px; line-height:1em;
                    font-weight:600;
                    .uppercase;
                    color:@gray;
                    text-align:center;

                    @media @medium {
                        position:absolute;
                        bottom:0; left:0;
                        width:50%;
                        padding:25px 0 0 0;
                        &.full {
                            width:100%;
                            .line {width:~"calc(50% - 40px)";}
                        }
                        &.two-third {width:66.66%}
                        &.one-third {width:33.33%}
                        &:last-of-type {left:auto; right:0;}
                    }
                    .line {
                        position:absolute;
                        top:15px; left:50%;
                        .translateX(-50%);
                        height:1px; width:~"calc(100% - 40px)";
                        background-color:@gray;
                        &:before, &:after {
                            position:absolute;
                            content:'';
                            bottom:0; left:0;
                            height:15px; width:1px;
                            background-color:@gray;
                        }
                        &:after {left:auto; right:0;}
                    }
                }
            }
        }
    }
}






//KEYFRAMES FOR EVERYTHING
@scroll-bounce-bezier: cubic-bezier(.21,-0.16,.8,1.22);
.keyframes(scroll-page;{
    0%{.translateY(0);}
    10%{.translateY(0);}
    25%{.translateY(-53%);}
    90%{.translateY(-53%);}
    100%{.translateY(0);}
});

//ANIMATION LIBRARY
@media @medium {
    .passed-view .delay02 {.animation-delay(0.2s~"!important");}
    .passed-view .delay04 {.animation-delay(0.4s~"!important");}
    .passed-view .delay06 {.animation-delay(0.6s~"!important");}
    .passed-view .delay08 {.animation-delay(0.8s~"!important");}
    .passed-view .delay10 {.animation-delay(1.0s~"!important");}
    .passed-view .delay12 {.animation-delay(1.2s~"!important");}
    .passed-view .delay14 {.animation-delay(1.4s~"!important");}
    .passed-view .delay16 {.animation-delay(1.6s~"!important");}
    .passed-view .delay18 {.animation-delay(1.8s~"!important");}
    .passed-view .delay20 {.animation-delay(2.0s~"!important");}

    .slide-up, .slide-left, .slide-right, .slide-down, .fade-in {opacity:0;}
    .passed-view .slide-up {.animation(fade-slide-up 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-left {.animation(fade-slide-left 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-right {.animation(fade-slide-right 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-down {.animation(fade-slide-down 0.3s ease-out 0s normal forwards);}
    .passed-view .fade-in {.animation(fade-in 0.3s ease-out 0s normal forwards);}
}

.keyframes(fade-in;{
    0%{opacity:0;}
    100%{opacity:1;}
});
.keyframes(fade-slide-up;{
    0%{opacity:0; .translateY(10%);}
    100%{opacity:1; .translateY(0);}
});
.keyframes(fade-slide-down;{
    0%{opacity:0; .translateY(-10%);}
    100%{opacity:1; .translateY(0);}
});
.keyframes(fade-slide-left;{
    0%{opacity:0; .translateX(10%);}
    100%{opacity:1; .translateX(0);}
});
.keyframes(fade-slide-right;{
    0%{opacity:0; .translateX(-10%);}
    100%{opacity:1; .translateX(0);}
});
