// TYPOGRAPHY

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    padding: 0;
    margin-bottom: @base-margin;
    
    &:last-child {
        margin-bottom: 0;
    }
    &.line-break {
        margin-top: @base-margin * -1;
    }
}
.line {
    margin-bottom: @base-margin;
    &:last-child { margin-bottom: 0; }
}



// IMAGES

img {
    margin-bottom: @base-margin;
    &:last-child { margin-bottom: 0; }
}
a > img:only-child {
    margin-bottom: @base-margin;
}