@import 'settings.less';

// TYPOGRAPHY

h1, h2, h3, .h1, .h2, .h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    padding-top: 0; padding-bottom: 0;
    margin-bottom: @base-spacing;

    &:last-child {
        margin-bottom: 0;
    }
    &.line-break {
        margin-top: @base-spacing * -1;
    }
}
ul, ol {
    padding-left: 1em;
    
    li {
        padding-left: 1em;
        margin-bottom: @base-spacing / 2;
    }
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: @base-spacing / 2 * 3;
}
.line {
    margin-bottom: @base-spacing;
    &:last-child { margin-bottom: 0; }
}



// IMAGES

img {
    margin-bottom: @base-spacing;
    &:last-child { margin-bottom: 0; }
}
a > img:only-child {
    margin-bottom: @base-spacing;
}
