@import '../settings.less';

p:empty {margin-bottom:0!important;}

[class*="col-"].shrink {max-width:100%;}

a.text-white, a.text-white:hover {
    color:@white;
    text-decoration:underline;
}

.button-group .button {max-width:100%;}

//new components
@import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
@import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
@import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/form-spacing.less';
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
@import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
@import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
@import '../_new-components/sliders/center-mode-image.less';
@import '../_new-components/sliders/multi-item-nav.less';
@import '../_new-components/sliders/customer-success-logo-video.less';
@import '../_new-components/sliders/photos.less';





//unique components

.caption {
    display:block;
    padding:20px 15px 0 15px;
    text-align:center;

    font-family:@myriad-pro;
    opacity:0.9;
    font-weight:400;
    font-size:16px; line-height:18px;
}

#demo-slider.screen {
    overflow:visible;
    .slick-arrow {
        .translate(-75%, -50%);
        &.slick-next {
            .translate(75%, -50%);
        }
    }
}





//some overrides for the form hero to make it "overlap" a section on the left side
#page-hero.form-overlap {
    @media @medium {
        overflow:hidden;
        padding-bottom:0;
        > .flex-row {
            .align-items(stretch);
            .col-md-6.col-xl-5:first-child {
                .display(flex);
                .flex-direction(column);
                .align-items(flex-start);
            }
        }
        .above-cut-content {
            margin-bottom:120px;
        }
        .below-cut-content {
            .flex(1, 1, 0px);
            position:relative;
            padding:60px 0;
            color:@black;
            &:after {
                content:'';
                position:absolute; z-index:-1;
                background-color:@white;
                height:~"calc(100% + 15px)"; width:~"calc(100vw + 15px)";
                bottom:-15px; left:100%;
                .translateX(-50%);
            }
        }
    }
}





// BACKGROUNDS WITH ANGLES
.angles-canvas {
    position: absolute !important;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;

    .angle {
        display: block;
        width: auto;
        .position(absolute, @right:0);
        fill-rule: evenodd;

        &.top {
            @media @small-only { display: none; }
            height: 45%;
            @media @large { height: 60%; }
            top: 0;
            opacity: .5;
        }
        &.bottom {
            @media @small-only { display: none; }
            height: 80%;
            @media @large { height: 110%; }
            bottom: 0;
            opacity: .6;
        }
    }

    // colors
    .loop-colors(@i) when (@i > 0) {
        .loop-colors(@i - 1);

        @color-class: extract(@color-classes, @i);
        @color: extract(@colors, @i);

        &.@{color-class} .angle { fill: @color; }
    }
    .loop-colors(length(@color-classes));

    + .flex-row {
        position: relative;
        z-index: 1;
    }
}





//RESOURCE THUMB W/ NO MASK
@media @medium {
    .resource-thumbnail.no-mask:after {
        display:none;
    }
}





//stretch divs inside of columns to match heights
.flex-row.stretch-column-content > div {
    .display(flex);
    > div {
        .flex(0, 1, auto);
        .display(flex);
        .flex-direction(column);
        .flex-wrap(wrap);
        .align-items(flex-start);
        width: 100%;
        .background-trans-black {
            margin-top:auto;
            background-color:fade(@pure-black, 50%);
            width:100%;

        }
        .flex {
            display:block;
            max-width:100%;
            .margin-left-20 {margin-left:0!important; margin-top:20px;}
            @media @large {.display(flex); .margin-left-20 {margin-top:0; margin-left:20px!important;}}
        }
    }
}









// OTHER / INDIVIDUAL PAGE STUFF
.DossierContest {
    .center-mode-slider {
        &:before, &:after {display:none;}
        .slick-slide {opacity:1;}
        .slick-list {overflow:visible;}
    }
}




.HyperChallenge {

    #tweet-text:not(:empty) {
        padding: 20px;
        margin-bottom:10px;
        background-color:@light-gray;
        margin-top:20px;
        .single-transition;
    }

    #timerContainer {
        .display(flex);
        .flex-direction(row);
        .flex-wrap(wrap);
        width:100%;
        clear:both;
        background-color:@black;

        font-family:@myriad-pro;
        font-weight:400;
        font-size:24px;
        text-align:center;
        background-color:@black;
        color: @white;
        //margin:20px;
        //min-height:60px;
        //border-top:0px;

        .timer, .reset {
            .display(flex);
            .align-items(center);
            .justify-content(center);
            padding:20px;
            cursor:pointer;
            .single-transition;
        }

        .timer {
            .flex(0,0,100%);
            @media @large {.flex(0,0,50%);}
            cursor:pointer;
            background-color:@red;
        }
        .reset {
            .flex(0,0,auto);
            .flex-direction(column);
            min-width:60px;
            border-left:1px solid fade(@white, 40%);
            background:@charcoal;

            color:@white;

            .uppercase;
            font-weight:600;
            font-size:14px; line-height:14px;
            &:hover {
                background:lighten(@charcoal, 10%);
            }
            &.lighter {
                opacity:0.5;
                &:hover {background:transparent;}
            }
            &.resetTimer {
                .flex(1,1,1px);
                background-color:@dark-gray;
                &:hover {
                    background:lighten(@dark-gray, 10%);
                }
            }
            &.startTimer {
                .icon {
                    display:block;
                    height:0; width:0;
                    margin-bottom:15px;
                    border-top:10px solid transparent;
                    border-bottom:10px solid transparent;
                    border-left:15px solid @white;
                }
            }
            &.pauseTimer {
                .icon {
                    display:block; position:relative;
                    height:20px; width:13px;
                    margin-bottom:15px;
                    &:before, &:after {
                        content:'';
                        display:block; position:absolute;
                        height:100%; width:5px;
                        background-color:@white;
                        top:0; left:0;
                    }
                    &:after {left:auto; right:0;}
                }
            }
        }
    }
}





//get rid of the header contact number on some pages
.RequestADemo,
.RequestPricing {
    #page-header-contact {display:none!important;}
}





.VirtualSymposium {
    #workshops-selector {
        #multi-control-slider-nav {
            .grid-item {
                margin-bottom:20px;
                padding:15px 20px;
                background-color:@dark-gray;
                color:@white;
                box-shadow:1px 1px 5px fade(@pure-black, 20%);
                .single-transition;

                &:before {bottom:-10px; border-top-color:@dark-gray;}
                &:hover:before {border-top-color:@dark-gray;}

                &.slick-current {
                    background-color:@orange;
                    &:before {border-top-color:@orange;}
                    &:hover:before {border-top-color:@orange;}
                }
            }
        }
        #multi-control-slider {
            .slick-slide {.align-items(flex-start);}
        }
    }
}





@hero-over-card-overlap:250px;
.AlwaysOnCampaign {
    //form layout fix
    #page-hero {
        padding-bottom:@hero-over-card-overlap + 30px;
        > .flex-row.around-xl {
            .justify-content(space-between);
            > div:first-child {
                h1.text-large {font-weight:400;}
                @media @xlarge-only {.flex(0, 0, 55%);}
            }
        }
        #lead-gen-form {
            box-shadow: 3px 3px 7px fade(@pure-black, 50%);
        }
    }
    //overlap the featured resources with the hero
    #featured-resources {
        position:relative; z-index:3;
        padding-top:0;
        margin-top:-@hero-over-card-overlap;
        .card {box-shadow:1px 1px 5px fade(@pure-black, 30%);}
    }
    //scrolldown thingy
    .ao-scrolldown-link {
        display:block;
        padding:0 20px 10px 20px;
        text-align:center;
        .single-transition;
        &:hover {
            background-color:fade(@pure-black, 50%);
        }

        > span {
            display:block;
            color:@white;
        }
        .icon {
            display:block;
            opacity:0;
            .animation(scrolldown-chevron-fade 7s linear 0s normal infinite);
            &.trailing-icon {
                margin-bottom:-50px;
                .animation-delay(-0.15s);
            }
        }
    }
}




//KEYFRAMES FOR EVERYTHING
@import '../_new-components/components-and-expansions/keyframes-basic-animate-on-scroll.less';

@scroll-bounce-bezier: cubic-bezier(.21,-0.16,.8,1.22);

.keyframes(scrolldown-chevron-fade;{
    0%{.translateY(-20px); opacity:0;}
    5%{.translateY(-20px); opacity:0;}
    8%{.translateY(0); opacity:1;}

    20%{.translateY(0); opacity:1;}
    23%{.translateY(0); opacity:0.5;}
    26%{.translateY(0); opacity:1;}
    73%{.translateY(0); opacity:1;}
    76%{.translateY(0); opacity:0.5;}
    80%{.translateY(0); opacity:1;}

    92%{.translateY(0); opacity:1;}
    95%{.translateY(20px); opacity:0;}
    100%{.translateY(20px); opacity:0;}
});







    //some overrides for the form to fill the space better
    // #page-hero.form-fix {
    //     > .flex-row {
    //         .justify-content(space-between);
    //         .col-md-6.col-xl-5:first-child {
    //             h1.text-large {font-weight:400;}
    //             @media @medium {.flex(0,0,50%);}
    //         }
    //     }
    //     #lead-gen-form {
    //         width:~"calc(100% - 40px)";
    //         margin-left:auto; margin-right:auto;
    //         padding:20px 15px;
    //         @media @medium {width:~"calc(100% - 30px)";}
    //         box-shadow: 1px 1px 5px fade(@pure-black, 50%);
    //     }
    // }



    //REVEAL EMBEDDED VIDEO AFTER CLICK COMPONENT
    // .media-wrapper {
    //     position:relative;
    //     padding-bottom:200px;
    //     height:0;
    //     margin-top:30px;
    //     .single-transition(0.3s, ease-out, all, 0s);
    //
    //     .resource-thumbnail {
    //         position:absolute; z-index:1;
    //         height:100%; width:100%;
    //         top:0; left:0;
    //         cursor:pointer;
    //         .single-transition(0.3s, ease-out, all, 0s);
    //         &:before {margin-top:-15px;}
    //         .cta {margin-top:50px; opacity:1;}
    //         &:after {display:none;}
    //     }
    //     .video-wrapper {
    //         position:absolute; z-index:0;
    //         width:100%;
    //         top:50%; left:50%;
    //         .translate(-50%, -40%);
    //         opacity:0;
    //         .single-transition(0.3s, ease-out, all, 0.3s);
    //     }
    //
    //     &.video-playing {
    //         padding-bottom:56.25%;
    //         .resource-thumbnail {opacity:0; .translateY(-50px);}
    //         .video-wrapper {opacity:1; z-index:2; .translate(-50%, -50%);}
    //     }
    // }

    // FAQ
    // #faq {
    //     .accordion {
    //         margin-bottom: @base-spacing / 2;
    //         &:last-child { margin-bottom: 0; }
    //         font-family: @myriad-pro;
    //
    //         .toggler {
    //             font-size: 18px;
    //             line-height: 1.6;
    //         }
    //         .element {
    //             padding-left: 1.75em;
    //             line-height: 1.6;
    //         }
    //     }
    // }



    // GRAPHS

    // #health-score-poor {
    //     .graph-percentage-bar-radial(60px, 20px, @dark-red, @gray, @light-gray);
    // }
    // #health-score-fair {
    //     .graph-percentage-bar-radial(60px, 20px, @orange, @gray, @light-gray);
    // }
    // #health-score-good {
    //     .graph-percentage-bar-radial(60px, 20px, @green, @gray, @light-gray);
    // }



    // SHAPES

    // .square {
    //     .display(flex);
    //     .justify-content(center);
    //     .align-items(center);
    //     .margin-x(auto);
    //     margin-bottom: @base-spacing;
    //     &:last-child { margin-bottom: 0; }
    //
    //     // sizes
    //     .loop-sizes(@i) when (@i > 0) {
    //         .loop-sizes(@i - 1);
    //
    //         @size-class: extract(@size-classes, @i);
    //         @size: extract(@icon-sizes, @i);
    //
    //         &.@{size-class} {
    //             .size(@size * 2);
    //             padding: @size / 2;
    //             font-size: @size;
    //         }
    //     }
    //     .loop-sizes(length(@size-classes));
    // }
    //
    // .circle {
    //     .round;
    //     .margin-x(auto);
    //     margin-bottom: @base-spacing;
    //     &:last-child { margin-bottom: 20px; }
    //
    //     // sizes
    //     .loop-sizes(@i) when (@i > 0) {
    //         .loop-sizes(@i - 1);
    //
    //         @size-class: extract(@size-classes, @i);
    //         @size: extract(@icon-sizes, @i);
    //
    //         &.@{size-class} {
    //             .size(@size * 2);
    //             padding: @size / 2;
    //             font-size: @size;
    //         }
    //     }
    //     .loop-sizes(length(@size-classes));
    // }



    // .WorldLive {
    //     #form-success-content #page-hero {display:none;}
    // }





    // .Academics.Students {
    //     #step1 {
    //         background-color:transparent;
    //         @media @medium-only {
    //             .form-col {.flex(0,0,auto);}
    //         }
    //         @media @xlarge {
    //             .text-col {
    //                 .flex(0, 0, 58.33333333%);
    //             }
    //         }
    //     }
    // }





    // @section-padding: 60px;
    // @section-gutter-space: @section-padding + (@column-gutter / 2);
    // @bar-size: 80px;
    // @bar-thickness: 10px;
    //
    // @media @large {
    //
    //     .landing-page {
    //
    //         section.lines-contain {
    //             overflow: visible;
    //
    //             > .flex-row {
    //                 position: relative;
    //
    //                 &:before, &:after {
    //                     content: '';
    //                     display: block;
    //                     position: absolute;
    //                 }
    //                 &:before {
    //                     z-index: 1;
    //                 }
    //             }
    //             &-top, &-left, &-right { > .flex-row {
    //
    //                 &:before {
    //                     background-color: @gray;
    //                 }
    //                 &:after {
    //                     top: @section-padding * -1;
    //                     left: @section-padding / 2;
    //                     right: @section-padding / 2;
    //                     bottom: @section-padding * -2 - (@column-gutter / 2);
    //                     .border-x(@thin-border @gray);
    //                 }
    //                 } }
    //                 &-left, &-right {
    //
    //                     > .flex-row:before {
    //                         .size(@bar-thickness, @bar-size);
    //                         top: @column-gutter / 2;
    //                     }
    //                 }
    //                 &-begin > .flex-row:after {
    //                     .size(1px, @section-gutter-space);
    //                     bottom: @section-padding * -1;
    //                     left: 50%;
    //                     background-color: @gray;
    //                 }
    //                 &-top > .flex-row {
    //
    //                     &:before {
    //                         .size(@bar-size, @bar-thickness);
    //                         top: @section-padding * -1;
    //                         left: 50%;
    //                         .translate(-50%, -50%);
    //                     }
    //                     &:after {
    //                         border-top: @thin-border @gray;
    //                     }
    //                 }
    //                 &-left {
    //
    //                     > .flex-row:before {
    //                         left: @section-padding / 2;
    //                         .translate(-50%, 0);
    //                     }
    //                     &-end > .flex-row {
    //
    //                         &:after {
    //                             border-left: 0;
    //                         }
    //                     }
    //                 }
    //                 &-right {
    //
    //                     > .flex-row:before {
    //                         right: @section-padding / 2;
    //                         .translate(50%, 0);
    //                     }
    //                     &-end > .flex-row {
    //
    //                         &:after {
    //                             border-right: 0;
    //                         }
    //                     }
    //                 }
    //                 &-end > .flex-row:after {
    //                     .border-x(0);
    //                 }
    //             }
    //             section.lines-path {
    //
    //                 > .flex-row {
    //                     position: relative;
    //
    //                     &:before, &:after {
    //                         content: '';
    //                         display: block;
    //                         position: absolute;
    //                     }
    //                     &:before {
    //                         .size(@bar-thickness, @bar-size);
    //                         z-index: 1;
    //                         background-color: @gray;
    //                     }
    //                 }
    //                 &-begin, &-horizontal, &-left, &-right {
    //
    //                     > .flex-row:after {
    //                         top: @section-padding * -1;
    //                         bottom: @section-padding * -1;
    //                     }
    //                 }
    //                 &-begin, &-left, &-right {
    //
    //                     > .flex-row:before {
    //                         top: @column-gutter / 2;
    //                     }
    //                 }
    //                 &-horizontal, &-left, &-right {
    //
    //                     > .flex-row:after {
    //                         left: 0;
    //                         right: 0;
    //                     }
    //                 }
    //                 &-begin, &-left {
    //
    //                     > .flex-row:before {
    //                         left: 0;
    //                         .translate(-50%, 0);
    //                     }
    //                 }
    //                 &-begin {
    //
    //                     > .flex-row:after {
    //                         width: 1000px;
    //                         left: -1000px;
    //                         border-top: @thin-border @gray;
    //                         border-right: @thin-border @gray;
    //                     }
    //                 }
    //                 &-horizontal {
    //
    //                     > .flex-row:before {
    //                         content: none;
    //                     }
    //                     > .flex-row:after {
    //                         border-top: @thin-border @gray;
    //                     }
    //                     > .flex-row > [class*="col-"] {
    //                         position: relative;
    //
    //                         &:before {
    //                             content: '';
    //                             display: block;
    //                             .size(@bar-size, @bar-thickness);
    //                             .position(absolute, @section-padding * -1, 50%);
    //                             .translate(-50%, -50%);
    //                             z-index: 1;
    //                             background-color: @gray;
    //                         }
    //                     }
    //                     &-left > .flex-row:after {
    //                         border-left: @thin-border @gray;
    //                     }
    //                     &-right > .flex-row:after {
    //                         border-right: @thin-border @gray;
    //                     }
    //                 }
    //                 &-left {
    //
    //                     > .flex-row:after {
    //                         border-left: @thin-border @gray;
    //                     }
    //                 }
    //                 &-right .flex-row {
    //
    //                     &:before {
    //                         right: 0;
    //                         .translate(50%, 0);
    //                     }
    //                     &:after {
    //                         border-right: @thin-border @gray;
    //                     }
    //                 }
    //             }
    //         }
    //
    //         #retail.solutions.landing-page {
    //
    //             #headquarters > .flex-row:before { background-color: @red; }
    //             #vendors:before { background-color: @blue; }
    //             #distribution:before { background-color: @orange; }
    //             #stores > .flex-row:before { background-color: @green; }
    //         }
    //
    //         #banking.solutions.landing-page {
    //
    //             #analytics > .flex-row:before { background-color: @red; }
    //             #mobile > .flex-row:before { background-color: @orange; }
    //             #security > .flex-row:before { background-color: @blue; }
    //
    //             section.lines-contain-left > .flex-row:before { .translate(-50%, -40%); }
    //             section.lines-contain-right > .flex-row:before { .translate(50%, -40%); }
    //         }
    //
    //         #healthcare.solutions.landing-page {
    //
    //             #hospital > .flex-row:before { background-color: @red; }
    //             #providers > .flex-row:before { background-color: @orange; }
    //             #payers > .flex-row:before { background-color: @blue; }
    //             #patients > .flex-row:before { background-color: @green; }
    //         }
    //
    //         #manufacturing.solutions.landing-page {
    //
    //             #headquarters > .flex-row:before { background-color: @red; }
    //             #vendors:before { background-color: @blue; }
    //             #manufacturers:before { background-color: @blue; }
    //             #distribution > .flex-row:before { background-color: @orange; }
    //             #stores > .flex-row > [class*="col-"]:before { background-color: @green; }
    //         }
    //     }
    //     // solutions
    //     .icon-header {
    //         .display(flex);
    //         .align-items(center);
    //
    //         .icon {
    //             padding-right: .25em;
    //         }
    //     }
    //
    //
    //
    //
    //
    //     // GRAPHS
    //     .graph {
    //         position: relative;
    //         display: inline-block;
    //     }
    //     .graph-percentage.graph-bar.graph-radial {
    //         .round;
    //
    //         .circle {
    //
    //             .mask, .fill {
    //                 .round;
    //                 position: absolute;
    //                 -webkit-backface-visibility: hidden;
    //                 backface-visibility: hidden;
    //                 .single-transition;
    //             }
    //         }
    //         .inset {
    //             .round;
    //             position: absolute;
    //
    //             > .content {
    //                 display: inline-block;
    //                 .position(absolute, 50%, 50%);
    //                 .translate(-50%, -50%);
    //             }
    //         }
    //     }
    //     .create-graph-percentage-classes(@i) when (@i > 0) {
    //
    //         @increment: 180deg / 100;
    //
    //         .graph-percentage.graph-bar.graph-radial[progress="@{i}"] .circle {
    //
    //             .mask.full, .fill {
    //                 .rotate(@increment * @i);
    //             }
    //             .fill.fix {
    //                 .rotate(@increment * @i * 2);
    //             }
    //         }
    //         .create-graph-percentage-classes(@i - 1);
    //     }
    //     .create-graph-percentage-classes(100);





    //MOBILE START UP
    // .MobileStartUp {
    //     .stacked-mockups {
    //         padding-bottom:20px;
    //         .device-mockup {
    //             &.ipad {
    //                 position:relative; z-index:0;
    //                 margin-right:10%;
    //                 margin-bottom:20px;
    //             }
    //             &.iphone {
    //                 position:absolute; z-index:1;
    //                 width:20%;
    //                 right:0; bottom:20px;
    //             }
    //             @media @medium {
    //                 &.iphone {width:25%;}
    //             }
    //         }
    //     }
    // }





    //APPLE COLLAB PAGES 2018
    // #apple-collab-page {
    //     #introduction {
    //         .device-mockup {
    //             &.ipad {
    //                 position:relative; z-index:0;
    //                 width:130%;
    //                 margin-left:40%;
    //             }
    //             &.iphone {
    //                 position:absolute; z-index:1;
    //                 width:30%;
    //                 left:10%; bottom:15px;
    //             }
    //             @media @medium {
    //                 &.ipad {width:110%; margin-left:40%;}
    //                 &.iphone {width:25%;}
    //             }
    //         }
    //     }
    // }





    //DASHBOARD SHOWCASE 2017
    // #dashboard-showcase-about {
    //     overflow:hidden;
    //     .cutoff-img {float:left;}
    //     @media @medium {
    //         .cutoff-img {max-width:none;}
    //     }
    // }
    // #dashboard-showcase-prizes {
    //     .contain {overflow:hidden;}
    //     .prize-title {
    //         position:relative; z-index:0;
    //         word-break: break-all;
    //         font-size:60px; line-height:0.65em;
    //         text-transform:uppercase;
    //         letter-spacing:-1px;
    //         font-weight:800;
    //         opacity:0.2;
    //         sup {font-size:50%; left:-0.25em; top:-0.65em;}
    //     }
    //     .prize-img {position:relative; z-index:1; margin-top:-25px;}
    //     @media @medium {
    //         .contain {padding:20px;}
    //         .prize-title {font-size:70px;}
    //         .prize-img {margin-top:-30px;}
    //     }
    //     @media @large {
    //         .prize-title {font-size:90px; line-height:0.65em;}
    //         .prize-img {margin-top:-40px;}
    //     }
    //     @media @xlarge {
    //         .prize-title {font-size:110px; line-height:0.65em;}
    //         .prize-img {margin-top:-50px;}
    //     }
    // }





    //FASTFOOD DASHBOARD PAGE
    // section {overflow:hidden;}
    // #fastfood-dashboard {
    //     position:relative;
    //     .device-mockup {
    //         display:block;
    //         width: 150%;
    //         margin-left: -50px;
    //         .screenshot {opacity:0.99; .single-transition; -webkit-backface-visibility: hidden;}
    //         &:hover .screenshot {opacity:0.8;}
    //     }
    //     .button {
    //         z-index:2;
    //         .position(absolute, 50%, 50%, null, null);
    //         .translate(-50%, -50%);
    //     }
    // }
    // #fastfood-features .stretch .item {height:100%;}
