@import '../settings.less';

//new components
@import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
@import '../_new-components/components-and-expansions/hypercard-graphic.less';
@import '../_new-components/components-and-expansions/list-circle.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
@import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
@import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/form-spacing.less';
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
//@import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
@import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
@import '../_new-components/sliders/center-mode-image.less';
@import '../_new-components/sliders/multi-item-nav.less';
@import '../_new-components/sliders/customer-success-logo-video.less';
@import '../_new-components/sliders/photos.less';





.countdown-wrapper {
    display:block;
    position:relative;
    z-index:2;
    padding-bottom:20px;

    .time-block {
        display:inline-block;
        padding:0 25px;
        width:~"calc(50% - 5px)";
        margin-left:-5px;

        font-family:@myriad-pro;
        font-weight:400;
        font-size:60px;
        color:@white;
        .uppercase;
        text-align:center;
        @media @medium {font-size:70px; width:auto; max-width:~"calc(25% - 5px)";}
        @media @large {font-size:90px;}

        span {
            display:block;
            margin-top:5px;

            font-size:16px;
            color:@white;
            font-weight:600;
        }
        // &:nth-child(2) {color:@orange;}
        // &:nth-child(3) {color:@green;}
        // &:nth-child(4) {color:@blue;}
    }
}




//flexible responsive iframe wrapper
.iframe-wrapper {
	position:relative;
    &:before {
        content:'';
        display:block;
        width:100%;
        .aspect-ratio(16, 9);
     }
	> iframe, .video-embed, > object {
		.size(100%);
		.position(absolute, 0, 0);
	}
    &.document {
        &:before {.aspect-ratio(8.5, 10);}
    }
	@media @medium {
	    &.document {
	        height:90vh;
	    }
	}
}



//stacked panels that revolve to reveal the next in line
.revolving-panels {
    display:inline-block;
    position:relative;
    overflow:visible;
    margin:0 0 60px 60px;

    &.panles- {
        &3-up {margin:0 0 40px 40px;}
        &4-up {margin:0 0 60px 60px;}
        &5-up {margin:0 0 80px 80px;}
    }
    .rev-panel {
        position:absolute; z-index:0;
        margin:0;
        top:0; left:0;
        .animation(card-stack-cycle 8s linear 0s normal infinite);
        &:first-child{position:relative;}
        &:nth-child(2) {.animation-delay(-2s~"!important");}
        &:nth-child(3) {.animation-delay(-4s~"!important");}
        &:nth-child(4) {.animation-delay(-6s~"!important");}
        &:nth-child(5) {.animation-delay(-8s~"!important");}
    }
}



//accordion on dark bkg
.accordion .toggler.text-white {
    &:before, &:after {background-color:@white;}
}

.prize-box {
    display:block;
    position:relative;
    padding:75px 20px 0 20px;
    .background-text {
        display:block;
        position:absolute; z-index:0;
        width:100%;
        top:0; left:0;
        opacity:0.6;

        font-family:@myriad-pro;
        font-size:70px; line-height:47px;
        font-weight:600;
        .uppercase;
        overflow-wrap: break-word;

        sup {font-size:0.5em;}
    }
}


//unique components

.cards .card.winner {
    &:before {
    	content: "Winner";
    	position: absolute;
    	z-index: 3;
    	display: block;
    	width: 200px;
    	top: 20px;
    	right: -70px;
    	padding: 5px 10px;
    	background-color: @black;
    	box-shadow: 1px 1px 5px fade(@pure-black, 40%);
    	.rotation(45deg);
    	font-family: @myriad-pro;
    	font-size: 12px;
    	line-height: 12px;
    	color: @white;
    	font-weight: 600;
    	.uppercase;
    	text-align: center;
    }
    &.component-red:before {background-color:@red;}
    &.component-orange:before {background-color:@orange;}
    &.component-green:before {background-color:@green;}
    &.component-blue:before {background-color:@blue;}
    &.component-navy-blue:before {background-color:@navy-blue;}
}

.caption {
    display:block;
    padding:20px 15px 0 15px;
    text-align:center;

    font-family:@myriad-pro;
    opacity:0.9;
    font-weight:400;
    font-size:16px; line-height:18px;
}

#demo-slider.screen {
    overflow:visible;
    .slick-arrow {
        .translate(-75%, -50%);
        &.slick-next {
            .translate(75%, -50%);
        }
    }
}




//some overrides for the form hero to make it "overlap" a section on the left side
#page-hero.form-overlap {
    @media @medium {
        overflow:hidden;
        padding-bottom:0;
        > .flex-row {
            .align-items(stretch);
            .col-md-6.col-xl-5:first-child {
                .display(flex);
                .flex-direction(column);
                .align-items(flex-start);
            }
        }
        .above-cut-content {
            margin-bottom:120px;
        }
        .below-cut-content {
            .flex(1, 1, 0px);
            position:relative;
            padding:60px 0;
            color:@black;
            &:after {
                content:'';
                position:absolute; z-index:-1;
                background-color:@white;
                height:~"calc(100% + 15px)"; width:~"calc(100vw + 15px)";
                bottom:-15px; left:100%;
                .translateX(-50%);
            }
        }
    }
}





// BACKGROUNDS WITH ANGLES
.angles-canvas {
    position: absolute !important;
    top: 0; left: 0; right: 0; bottom: 0;
    overflow: hidden;

    .angle {
        display: block;
        width: auto;
        .position(absolute, @right:0);
        fill-rule: evenodd;

        &.top {
            @media @small-only { display: none; }
            height: 45%;
            @media @large { height: 60%; }
            top: 0;
            opacity: .5;
        }
        &.bottom {
            @media @small-only { display: none; }
            height: 80%;
            @media @large { height: 110%; }
            bottom: 0;
            opacity: .6;
        }
    }

    // colors
    .loop-colors(@i) when (@i > 0) {
        .loop-colors(@i - 1);

        @color-class: extract(@color-classes, @i);
        @color: extract(@colors, @i);

        &.@{color-class} .angle { fill: @color; }
    }
    .loop-colors(length(@color-classes));

    + .flex-row {
        position: relative;
        z-index: 1;
    }
}





//RESOURCE THUMB W/ NO MASK
@media @medium {
    .resource-thumbnail.no-mask:after {
        display:none;
    }
}





//stretch divs inside of columns to match heights
.flex-row.stretch-column-content > div {
    .display(flex);
    > div {
        .flex(0, 1, auto);
        .display(flex);
        .flex-direction(column);
        .flex-wrap(wrap);
        .align-items(flex-start);
        width: 100%;
        .background-trans-black {
            margin-top:auto;
            background-color:fade(@pure-black, 50%);
            width:100%;

        }
        .flex {
            display:block;
            max-width:100%;
            .margin-left-20 {margin-left:0!important; margin-top:20px;}
            @media @large {.display(flex); .margin-left-20 {margin-top:0; margin-left:20px!important;}}
        }
    }
}









// OTHER / INDIVIDUAL PAGE STUFF

//LIVESTREAM PAGE FOR WORLD 2020
.World2020Live {
	#formCompletionContent #content-hero {display:none;}
}

//DOSSBOSS PAGE
.DossierContest {
    .center-mode-slider {
        &:before, &:after {display:none;}
        .slick-slide {opacity:1;}
        .slick-list {overflow:visible;}
    }
    .cards .card.world-card {
        background-color:@pure-black;
        color:@white;
        overflow:hidden;
        > section {
            z-index:2;
            @media @large {padding:50px 25% 50px 30px;}
        }
        .card-description {color:@white; font-size:22px; line-height:32px;}
        .button {min-width:50%;}
        &:after {
            content:'';
            position:absolute; z-index:1;
            height:100%; width:100%;
            top:0; left:0;
            background-color:fade(@pure-black, 40%);
            .single-transition;
        }
        &:hover:after {background-color:fade(@pure-black, 20%);}
        .world-iris {
            position:absolute; z-index:0;
            width:250%;
            @media @large {width:200%;}
            padding-bottom:100%;
            top:-5%; left:100%;
            .transform(translate(-50%, -50%));
            .iris-layer {
                position:absolute; z-index:0;
                max-width:none;
                top:50%; left:50%;
                .transform-origin(top,left);
                .transform(translate(-50%, -50%));
                &.first {
                    z-index:0;
                    width:100%;
                    .animation(continual-rotate 600s linear 0s infinite);
                }
                &.second {
                    z-index:1;
                    width:48.85%;
                    border-radius:50%;
                    box-shadow:0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 400s linear -50s infinite);
                }
                &.third {
                    z-index:2;
                    width:40.76%;
                    border-radius:50%;
                    box-shadow:0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 270s linear -100s infinite);
                }
                &.fourth {
                    z-index:1;
                    width:24.66%;
                    border-radius:50%;
                    box-shadow:inset 0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 200s linear 0s infinite);
                }
            }
        }
    }
}





//DOSSBOSS WORLD VERSION
.World2020DossierContest {
    main#page-content {
        background-color:@pure-black;
        overflow:hidden;
        color:@white;
        > section {
            position:relative;
            overflow:visible;
            &.overlay:after {background-color:fade(@pure-black, 40%); z-index:1;}
        }
        [class*="col-"] {position:relative; z-index:2;}
    }
    .background-animated-world2020 {
        position:relative;
        .world-iris {
            position:absolute; z-index:0;
            width:300%;
            @media @large {width:250%;}
            padding-bottom:100%;
            top:50%; left:50%;
            .transform(translate(-50%, -50%));
            &.top-right {top:-5%; left:100%;}
            &.bottom-left {top:105%; left:0%;}
            .iris-layer {
                position:absolute; z-index:0;
                max-width:none;
                top:50%; left:50%;
                .transform-origin(top,left);
                .transform(translate(-50%, -50%));
                &.first {
                    z-index:0;
                    width:100%;
                    .animation(continual-rotate 600s linear 0s infinite);
                }
                &.second {
                    z-index:1;
                    width:48.85%;
                    border-radius:50%;
                    box-shadow:0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 400s linear -50s infinite);
                }
                &.third {
                    z-index:2;
                    width:40.76%;
                    border-radius:50%;
                    box-shadow:0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 270s linear -100s infinite);
                }
                &.fourth {
                    z-index:1;
                    width:24.66%;
                    border-radius:50%;
                    box-shadow:inset 0 0 10px fade(@pure-black, 50%);
                    .animation(continual-rotate 200s linear 0s infinite);
                }
            }
        }
    }

    .screenshot {
        position:relative;
        .caption {
            position:absolute;
            font-weight:600;
            padding:10px;
            bottom:0; left:0;
            width:100%;
            background-color:fade(@pure-black, 75%);
        }
    }
    #past-winners {
        > .flex-row.expand {
            max-width:1700px;
            @media @large {padding-left:30px; padding-right:30px;}
            > div {position:relative;}
        }
        .screenshot {
            display:block;
            position:absolute; z-index:2;
            margin:0 auto;
            width:33.333%;
            top:50%;
            box-shadow: 0 0 10px fade(@pure-black, 75%);
            .translateY(-50%);
            &.center {
                position:relative; z-index:3;
                width:45%;
            }
            &.left {
                left:15px;
                .caption {padding-right:23%;}
            }
            &.right {
                right:15px;
                .caption {padding-left:23%;}
            }
        }
    }
    #freeform-visuals {
        .stacked-mockups {
            > img {margin:0 20px 20px 0;}
            .animation-img {
                position:absolute;
                bottom:-20px; right:-20px;
                width:40%;
            }
        }
    }
    #enter {
        padding-top:120px; padding-bottom:120px;
    }
}




//TAKE THE HYPER CHALLENGE
.HyperChallenge {

    #tweet-text:not(:empty) {
        padding: 20px;
        margin-bottom:10px;
        background-color:@light-gray;
        margin-top:20px;
        .single-transition;
    }

    #timerContainer {
        .display(flex);
        .flex-direction(row);
        .flex-wrap(wrap);
        width:100%;
        clear:both;
        background-color:@black;

        font-family:@myriad-pro;
        font-weight:400;
        font-size:24px;
        text-align:center;
        background-color:@black;
        color: @white;
        //margin:20px;
        //min-height:60px;
        //border-top:0px;

        .timer, .reset {
            .display(flex);
            .align-items(center);
            .justify-content(center);
            padding:20px;
            cursor:pointer;
            .single-transition;
        }

        .timer {
            .flex(0,0,100%);
            @media @large {.flex(0,0,50%);}
            cursor:pointer;
            background-color:@red;
        }
        .reset {
            .flex(0,0,auto);
            .flex-direction(column);
            min-width:60px;
            border-left:1px solid fade(@white, 40%);
            background:@charcoal;

            color:@white;

            .uppercase;
            font-weight:600;
            font-size:14px; line-height:14px;
            &:hover {
                background:lighten(@charcoal, 10%);
            }
            &.lighter {
                opacity:0.5;
                &:hover {background:transparent;}
            }
            &.resetTimer {
                .flex(1,1,1px);
                background-color:@dark-gray;
                &:hover {
                    background:lighten(@dark-gray, 10%);
                }
            }
            &.startTimer {
                .icon {
                    display:block;
                    height:0; width:0;
                    margin-bottom:15px;
                    border-top:10px solid transparent;
                    border-bottom:10px solid transparent;
                    border-left:15px solid @white;
                }
            }
            &.pauseTimer {
                .icon {
                    display:block; position:relative;
                    height:20px; width:13px;
                    margin-bottom:15px;
                    &:before, &:after {
                        content:'';
                        display:block; position:absolute;
                        height:100%; width:5px;
                        background-color:@white;
                        top:0; left:0;
                    }
                    &:after {left:auto; right:0;}
                }
            }
        }
    }
}





//get rid of the header contact number on some pages
.RequestADemo,
.RequestPricing {
    #page-header-contact {display:none!important;}
}





.VirtualSymposium {
    #workshops-selector {
        #multi-control-slider-nav {
            .grid-item {
                margin-bottom:20px;
                padding:15px 20px;
                background-color:@dark-gray;
                color:@white;
                box-shadow:1px 1px 5px fade(@pure-black, 20%);
                .single-transition;

                &:before {bottom:-10px; border-top-color:@dark-gray;}
                &:hover:before {border-top-color:@dark-gray;}

                &.slick-current {
                    background-color:@orange;
                    &:before {border-top-color:@orange;}
                    &:hover:before {border-top-color:@orange;}
                }
            }
        }
        #multi-control-slider {
            .slick-slide {.align-items(flex-start);}
        }
    }
}





@hero-over-card-overlap:250px;
.AlwaysOnCampaign {
    //form layout fix
    #page-hero {
        padding-bottom:@hero-over-card-overlap + 30px;
        > .flex-row.around-xl {
            .justify-content(space-between);
            > div:first-child {
                h1.text-large {font-weight:400;}
                @media @xlarge-only {.flex(0, 0, 55%);}
            }
        }
        #lead-gen-form {
            box-shadow: 3px 3px 7px fade(@pure-black, 50%);
        }
    }
    //overlap the featured resources with the hero
    #featured-resources {
        position:relative; z-index:3;
        padding-top:0;
        margin-top:-@hero-over-card-overlap;
        .card {box-shadow:1px 1px 5px fade(@pure-black, 30%);}
    }
    //scrolldown thingy
    .ao-scrolldown-link {
        display:block;
        padding:0 20px 10px 20px;
        text-align:center;
        .single-transition;
        &:hover {
            background-color:fade(@pure-black, 50%);
        }

        > span {
            display:block;
            color:@white;
        }
        .icon {
            display:block;
            opacity:0;
            .animation(scrolldown-chevron-fade 7s linear 0s normal infinite);
            &.trailing-icon {
                margin-bottom:-50px;
                .animation-delay(-0.15s);
            }
        }
    }
}




//KEYFRAMES FOR EVERYTHING
@import '../_new-components/components-and-expansions/keyframes-basic-animate-on-scroll.less';

@scroll-bounce-bezier: cubic-bezier(.21,-0.16,.8,1.22);

.keyframes(scrolldown-chevron-fade;{
    0%{.translateY(-20px); opacity:0;}
    5%{.translateY(-20px); opacity:0;}
    8%{.translateY(0); opacity:1;}

    20%{.translateY(0); opacity:1;}
    23%{.translateY(0); opacity:0.5;}
    26%{.translateY(0); opacity:1;}
    73%{.translateY(0); opacity:1;}
    76%{.translateY(0); opacity:0.5;}
    80%{.translateY(0); opacity:1;}

    92%{.translateY(0); opacity:1;}
    95%{.translateY(20px); opacity:0;}
    100%{.translateY(20px); opacity:0;}
});

.keyframes(continual-rotate;{
	0%   {.transform(rotate(0deg) translate(-50%, -50%));}
	100%  {.transform(rotate(360deg) translate(-50%, -50%));}
});

//for the hyper card cycling on the hypercard page
.keyframes(card-stack-cycle;{
    0% {.translate(0,0); opacity:1; z-index:0;}
    5% {.translate(-20px,20px); opacity:1; z-index:0;}

    25% {.translate(-20px,20px); opacity:1; z-index:1;}
    30% {.translate(-40px,40px); opacity:1; z-index:1;}

    50% {.translate(-40px,40px); opacity:1; z-index:2;}
    55% {.translate(-60px,60px); opacity:1; z-index:2;}

    75% {.translate(-60px,60px); opacity:1; z-index:3;}
    80% {.translate(-60px,80px); opacity:0; z-index:3;}

    95% {.translate(0,20px); opacity:0; z-index:0;}
    100%{.translate(0,0); opacity:1; z-index:0;}
});
