h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.results-item {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.results-item:last-child {
  border-bottom: 0;
}
.results-item:visited .results-item-title,
.results-item:visited .results-item-url,
.results-item:visited .search-query {
  color: #999999;
}
.results-item:hover,
.results-item:active {
  background-color: #f2f2f2;
}
.results-item-title {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333333;
}
.results-item-url {
  font-size: 14px;
  color: #999999;
}
.search-query {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.total-results-number {
  font-weight: 600;
  color: #333333;
}
