.results-item {
  padding: 1.43rem;
  border-bottom: 1px solid #f2f2f2;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.results-item:last-child {
  border-bottom: 0;
}
.results-item:visited .results-item-title,
.results-item:visited .results-item-url,
.results-item:visited .search-query {
  color: #999999;
}
.results-item:hover,
.results-item:active {
  background-color: #f2f2f2;
}
.results-item-title {
  margin-bottom: 0.715rem;
  font-weight: 600;
  color: #333333;
}
.results-item-url {
  font-size: 14px;
  color: #999999;
}
.search-query {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.total-results-number {
  font-weight: 600;
  color: #333333;
}
