p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
.results-item {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.results-item:last-child {
  border-bottom: 0;
}
.results-item:visited .results-item-title,
.results-item:visited .results-item-url,
.results-item:visited .search-query {
  color: #777777;
}
.results-item:hover,
.results-item:active {
  background-color: #f2f2f2;
}
.results-item-title {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333333;
}
.results-item-url {
  font-size: 14px;
  color: #777777;
}
.search-query {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.total-results-number {
  font-weight: 600;
  color: #333333;
}
