@import '../settings.less';


.results-item {
    padding: @base-spacing;
    border-bottom: @thin-border @light-gray;
    &:last-child { border-bottom: 0; }
    font-family: @myriad-pro;

    &:visited {

        .results-item-title,
        .results-item-url,
        .search-query {
            color: @dark-gray;
        }
    }
    &:hover, &:active {
        background-color: @light-gray;
    }
}
.results-item-title {
    margin-bottom: @base-spacing / 2;
    font-weight: @bold;
    color: @black;
}
.results-item-url {
    font-size: 14px;
    color: @dark-gray;
}
.search-query {
    font-weight: @bold;
    font-style: italic;
    color: @red;
    .single-transition;
}
.total-results-number {
    font-weight: @bold;
    color: @black;
}
