.customer-quotes-slider {
  min-height: 320px;
}
/*Image backgrounds for top banners*/
.homepage-banner .banner .sap-hana-banner {
  background: #ffffff;
  position: relative;
}
/*Contents for top banners*/
.mstr9s {
  background-color: #e7100b;
  background-image: url(/Strategy/media/images/products/analytics/2015/background-img-placeholder.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*width:100%;*/
}
.worldBC2014 {
  background: url(/Strategy/media/images/training-events/world/europe/world-eu-2014_banner-bi.jpg) no-repeat center center transparent !important;
  position: relative;
}
.homepage-banner .sap-hana-headline {
  font-family: "myriad-pro-n4", "myriad-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 50px 0 0 5%;
  text-align: left;
  font-size: 90px;
  line-height: 90px;
}
.homepage-banner .sap-hana-headline span {
  font-family: "myriad-pro-n4", "myriad-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  vertical-align: top;
}
.homepage-banner .sap-hana-subhead {
  font-family: "myriad-pro-n4", "myriad-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  padding: 5px 0 0 5%;
  text-align: left;
  font-size: 30px;
  line-height: 35px;
}
.homepage-banner .sap-hana-subsubhead {
  font-family: "myriad-pro-n4", "myriad-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #666666;
  padding: 30px 0 0 5%;
  text-align: left;
  font-size: 22px;
  line-height: 22px;
}
.homepage-banner .cta {
  margin: 10px 0 0 5%;
}
.sap-hana-bkg {
  position: absolute;
  z-index: -1;
  display: block;
  top: 40px;
  right: 5%;
}
.sap-hana-logo {
  /*position: absolute;
	z-index: 10;*/
  display: block;
  width: 250px;
  height: auto;
  margin-left: 5%;
  margin-top: 20px;
  /*bottom: 20px;
	right: 5%;*/
}
.homepage-banner .sap-hana-note {
  font-family: "myriad-pro-n4", "myriad-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #666666;
  margin-top: 10px;
  margin-left: 5%;
  text-align: left;
  font-size: 11px;
}
/*Image backgrounds for bottom buttons*/
.homepage-button-desktop-launch {
  background-image: url(/Strategy/media/images/homepage/homepage-button_desktop-launch.jpg);
  cursor: pointer;
}
.pt-homepage-button-summit {
  background-image: url(/Strategy/media/images-intl/homepage/btn_pt_cio-summit.jpg);
  cursor: pointer;
}
.uk-homepage-button_summit {
  background-image: url(/Strategy/media/images-intl/homepage/uk-homepage-button_summit.jpg);
  cursor: pointer;
}
.uk-homepage-button_catalyst-conference {
  background-image: url(/Strategy/media/images-intl/homepage/btn_Web-Catalyst-Conference-2014.jpg);
  cursor: pointer;
}
.uk-btn_mobile-business-app {
  background-image: url(/Strategy/media/images-intl/homepage/btn_mobile-business-app.jpg);
  cursor: pointer;
}
.de-homepage-button_summit {
  background-image: url(/Strategy/media/images-intl/homepage/de-homepage-button_summit.jpg);
  cursor: pointer;
}
.fr-homepage-button_roadshow {
  background-image: url(/Strategy/media/images-intl/homepage/fr-homepage-button_roadshow.jpg);
  cursor: pointer;
}
.de-homepage-button-platform-launched {
  background-image: url(/Strategy/media/images-intl/homepage/de-homepage-button_start-analyzing.png);
  cursor: pointer;
}
.de-homepage-button-summit {
  background-image: url(/Strategy/media/images-intl/homepage/btn_de-microstrategy-summit.jpg);
  cursor: pointer;
}
.de-homepage-button-corp-navigator {
  background-image: url(/Strategy/media/images-intl/homepage/btn_de-corp-navigator.jpg);
  cursor: pointer;
}
.fr-homepage-button-platform-launched {
  background-image: url(/Strategy/media/images-intl/homepage/fr-homepage-button_start-analyzing.png);
  cursor: pointer;
}
.fr-homepage-button-business-analytics-forum {
  background-image: url(/Strategy/media/images-intl/homepage/fr-business-analytics-forum.jpg);
  cursor: pointer;
}
.fr-homepage-button-BPCE-breakfast {
  background-image: url(/Strategy/media/images-intl/homepage/btn_BPCE-breakfast.jpg);
  cursor: pointer;
}
.it-homepage-button-platform-launched {
  background-image: url(/Strategy/media/images-intl/homepage/it-homepage-button_start-analyzing.png);
  cursor: pointer;
}
.it-homepage-button-test-drive {
  background-image: url(/Strategy/media/images-intl/homepage/btn_it-test-drive.jpg);
  cursor: pointer;
}
.homepage-button-mobileworldcongress {
  background-image: url(/Strategy/media/images-intl/homepage/btn_mobile-world-congress.jpg);
  cursor: pointer;
}
.homepage-button-video {
  background-image: url(/Strategy/media/images-intl/homepage/btn_video.jpg);
  cursor: pointer;
}
.homepage-button-dwbi {
  background-image: url(/Strategy/media/images-intl/homepage/btn-dwbi.jpg);
  cursor: pointer;
}
.homepage-button-euroshop {
  background-image: url(/Strategy/media/images-intl/homepage/btn_euroshop-2014.jpg);
  cursor: pointer;
}
.homepage-button-nrf {
  background-image: url(/Strategy/media/images-intl/homepage/btn-nrf-2014.jpg);
  cursor: pointer;
}
.homepage-button-sap-hana {
  background-image: url(/Strategy/media/images/homepage/homepage-button_sap-hana.jpg);
  cursor: pointer;
}
.homepage-button-mobile {
  background-image: url(/Strategy/media/MS/Home-page/homepage-button_mobile.png);
  cursor: pointer;
}
.homepage-button-webcast-mobile {
  background-image: url(/Strategy/media/images-intl/homepage/btn_webcast-mobile.jpg);
  cursor: pointer;
}
.homepage-button-webcast-mad {
  background-image: url(/Strategy/media/images-intl/homepage/btn_webcast-mad.jpg);
  cursor: pointer;
}
.homepage-button-webcast-cloud {
  background-image: url(/Strategy/media/images-intl/homepage/btn_webcast-cloud.jpg);
  cursor: pointer;
}
.homepage-button-webcast-bigdata {
  background-image: url(/Strategy/media/images-intl/homepage/btn_webcast-bigdata.jpg);
  cursor: pointer;
}
.cookie-content-bar {
  position: absolute;
  display: block;
  top: 0px;
  width: 100%;
  z-index: 3000;
  background: #f2f2f2;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cookie-content-bar .cookiesToolbar {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
.cookie-content-bar .cookiesToolbar .cookie-img {
  display: block;
  float: left;
  margin-right: 7px;
  padding: 5px 0;
}
.cookie-content-bar .cookiesToolbar .cookiesToolbarContent {
  display: block;
  padding: 8px 0;
  font-size: 12px;
  line-height: 17px;
  color: #555555;
}
.cookie-content-bar .cookiesToolbar .collapseTop {
  display: block;
  float: right;
  padding: 5px 15px;
  cursor: pointer;
  font-family: Arial,Baskerville,monospace;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.cookie-content-bar .cookiesToolbar .collapseTop:hover {
  background: #ffffff;
  color: #d9232e;
}
@media only screen and (max-width: 767px) {
  .cookie-content-bar {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .cookie-content-bar .cookiesToolbar {
    width: auto;
    padding: 0 5px;
  }
  .cookie-content-bar .cookiesToolbar .cookie-img {
    margin-right: 7px;
    padding: 11px 0 3px 0;
  }
  .cookie-content-bar .cookiesToolbar .cookiesToolbarContent {
    padding: 8px 40px 8px 0;
  }
  .cookie-content-bar .cookiesToolbar .collapseTop {
    position: absolute;
    float: none;
    right: 0;
    top: 5px;
  }
}
@media only screen and (min-width: 768px) {
  .cookie-content-bar .cookiesToolbar {
    width: 768px;
  }
}
@media only screen and (min-width: 980px) {
  .cookie-content-bar .cookiesToolbar {
    width: 980px;
  }
}
/*-------------------------------------styles for mobile size */
@media (max-width: 767px) {
  .customer-quotes-slider {
    min-height: 320px;
  }
  .worldBC2014 {
    background: url(/Strategy/media/images/training-events/world/europe/world-eu-2014_banner-plain.jpg) no-repeat center center transparent !important;
    position: relative;
  }
  .homepage-banner .banner .sap-hana-banner {
    background-position: right -50px;
  }
  .homepage-banner .sap-hana-headline {
    padding: 20px 10px 0 10px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .homepage-banner .sap-hana-subhead {
    padding: 10px 5px 30px 5px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  .homepage-banner .sap-hana-subsubhead {
    padding: 0px 5px 10px 5px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }
  .sap-hana-bkg {
    right: 0px;
    bottom: 0px;
    top: auto;
    width: 80px;
  }
  .sap-hana-logo {
    display: none;
  }
  .sap-hana-button {
    margin: 0 auto!important;
  }
  .homepage-banner .cta {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
  .sap-hana-logo {
    display: none;
  }
}
/*-------------------------------------styles for tablet portrait size*/
@media (min-width: 768px) and (max-width: 979px) {
  .customer-quotes-slider {
    min-height: 320px;
  }
  .homepage-banner .sap-hana-headline {
    font-size: 70px;
    line-height: 70px;
  }
  .homepage-banner .sap-hana-subhead {
    font-size: 26px;
    line-height: 26px;
  }
  .homepage-banner .sap-hana-subsubhead {
    font-size: 20px;
    line-height: 20px;
  }
}
/*-------------------------------------styles for the standard display size*/
/*-------------------------------------styles for the standard display size*/
@media (max-width: 767px) {
  .customer-quotes-slider {
    min-height: 560px;
  }
  .customer-quotes-slider img {
    max-width: 150px;
  }
}
#russian .homepage-banner h1 {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-banner h2 {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-banner h3 {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-banner .cta-button-medium {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-banner .cta-button-small {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-button h1 {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-button h2 {
  font-family: 'Open Sans', sans-serif !important;
}
#russian .homepage-button h3 {
  font-family: 'Open Sans', sans-serif !important;
}
.social-icon-new.xing:hover {
  background-color: #026466;
}
.page-banner-landing-page h1.white {
  color: #ffffff !important;
  text-align: center !important;
}
.page-banner-landing-page h2.white {
  color: #ffffff !important;
  text-align: center !important;
  margin-bottom: 10px;
}
.social-icon-new {
  display: inline-block;
  background-color: #999999;
  border-radius: 30px;
  background-clip: padding-box;
  width: 25px;
  height: 25px;
  padding: 4px;
  margin: 10px 5px 10px -4px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.social-icon-new img {
  margin: 0;
  display: block;
}
.social-icon-new.medium {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 10px;
}
.social-icon-new.large {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-right: 10px;
}
.social-icon-new.last {
  margin-right: 0;
}
.social-icon-new.facebook:hover {
  background-color: #39599b;
}
.social-icon-new.linkedin:hover {
  background-color: #107db8;
}
.social-icon-new.twitter:hover {
  background-color: #00abf0;
}
.social-icon-new.youtube:hover {
  background-color: #e52d28;
}
.social-icon-new.gplus:hover {
  background-color: #dd4b39;
}
.social-icon-new.rss:hover {
  background-color: #ff9100;
}
