@import '../../settings.less';

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.preview-info {
  display: none !important;
}
[class*="col-"].left {
  margin-right: auto;
}
[class*="col-"].right {
  margin-left: auto;
}
[class*="col-"].center {
  margin-left: auto;
  margin-right: auto;
}
.menu.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.no-flexbox.flexboxtweener .menu.horizontal {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .menu.horizontal > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .menu.horizontal {
  display: block;
}
.no-flexbox.no-flexboxtweener .menu.horizontal:before,
.no-flexbox.no-flexboxtweener .menu.horizontal:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .menu.horizontal:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .menu.horizontal > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .menu.horizontal {
  -ms-flex-direction: row;
}
.menu.horizontal li {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  margin: 0 1em 0 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .menu.horizontal li {
  -ms-flex: 0 0 auto;
}
.menu.horizontal li:last-child {
  margin: 0;
}
.no-flexbox.flexboxtweener .menu.horizontal {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .menu.horizontal > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .menu.horizontal {
  display: block;
}
.no-flexbox.no-flexboxtweener .menu.horizontal:before,
.no-flexbox.no-flexboxtweener .menu.horizontal:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .menu.horizontal:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .menu.horizontal > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .menu.horizontal {
  -ms-flex-direction: row;
}
.menu.horizontal li {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  margin: 0 1em 0 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .menu.horizontal li {
  -ms-flex: 0 0 auto;
}
.menu.horizontal li:last-child {
  margin: 0;
}
.menu.horizontal .menu-item {
  margin: 0;
}
.menu.horizontal .menu-item a {
  display: inline-block;
  width: 100%;
  padding: 0.75em 1.25em 0.75em;
}
.menu.vertical {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener .menu.vertical {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .menu.vertical > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .menu.vertical {
  display: block;
}
.no-flexbox.no-flexboxtweener .menu.vertical:before,
.no-flexbox.no-flexboxtweener .menu.vertical:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .menu.vertical:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .menu.vertical > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .menu.vertical {
  -ms-flex-direction: column;
}
.menu.vertical li {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .menu.vertical li {
  -ms-flex: 1 1 100%;
}
.no-flexbox.no-flexboxtweener .menu.vertical li {
  width: 100%;
}
.menu.vertical li:last-child {
  margin: 0;
}
.no-flexbox.flexboxtweener .menu.vertical {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .menu.vertical > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .menu.vertical {
  display: block;
}
.no-flexbox.no-flexboxtweener .menu.vertical:before,
.no-flexbox.no-flexboxtweener .menu.vertical:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .menu.vertical:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .menu.vertical > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .menu.vertical {
  -ms-flex-direction: column;
}
.menu.vertical li {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .menu.vertical li {
  -ms-flex: 1 1 100%;
}
.no-flexbox.no-flexboxtweener .menu.vertical li {
  width: 100%;
}
.menu.vertical li:last-child {
  margin: 0;
}
.menu.dropdown {
  max-height: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu .menu-item.has-dropdown {
  position: relative;
}
.menu .menu-item.has-dropdown:hover .dropdown {
  max-height: 100vh;
  opacity: 1;
}
.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.no-flexbox.flexboxtweener .inline-list {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .inline-list > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .inline-list {
  display: block;
}
.no-flexbox.no-flexboxtweener .inline-list:before,
.no-flexbox.no-flexboxtweener .inline-list:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .inline-list:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .inline-list > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .inline-list {
  -ms-flex-direction: row;
}
.inline-list li {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  margin: 0 1em 0 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .inline-list li {
  -ms-flex: 0 0 auto;
}
.inline-list li:last-child {
  margin: 0;
}
.stack-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener .stack-list {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .stack-list > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .stack-list {
  display: block;
}
.no-flexbox.no-flexboxtweener .stack-list:before,
.no-flexbox.no-flexboxtweener .stack-list:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .stack-list:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .stack-list > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener .stack-list {
  -ms-flex-direction: column;
}
.stack-list li {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
.no-flexbox.flexboxtweener .stack-list li {
  -ms-flex: 1 1 100%;
}
.no-flexbox.no-flexboxtweener .stack-list li {
  width: 100%;
}
.stack-list li:last-child {
  margin: 0;
}
#secondary-nav {
  display: block !important;
  width: 100%;
  position: relative;
  z-index: 6;
  background-color: #f2f2f2;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.25);
}
.new-header#secondary-nav {
  position: fixed;
  top: 0;
  left: 0;
}
#secondary-nav nav,
#secondary-nav #breadcrumbs {
  height: 100%;
}
#secondary-nav #secondary-nav-content {
  position: relative;
}
#secondary-nav #secondary-nav-right {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}
.no-flexbox.flexboxtweener #secondary-nav #secondary-nav-right {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #secondary-nav #secondary-nav-right > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #secondary-nav #secondary-nav-right {
  display: block;
}
.no-flexbox.no-flexboxtweener #secondary-nav #secondary-nav-right:before,
.no-flexbox.no-flexboxtweener #secondary-nav #secondary-nav-right:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #secondary-nav #secondary-nav-right:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #secondary-nav #secondary-nav-right > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #secondary-nav #secondary-nav-right {
  -ms-flex-pack: end;
}
.no-flexbox.flexboxtweener #secondary-nav #secondary-nav-right {
  -ms-flex-align: center;
}
@media only screen and (max-width: 979px) {
  .search-active#secondary-nav #secondary-nav-right {
    background-color: #f2f2f2;
  }
}
#secondary-nav #secondary-nav-title {
  opacity: 0;
  margin-left: -60px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#secondary-nav #secondary-nav-title img {
  width: 60px;
  height: 60px;
}
@media only screen and (max-width: 767px) {
  .search-active#secondary-nav #secondary-nav-title {
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  #secondary-nav #secondary-nav-title {
    margin-left: -90px;
  }
}
.new-header#secondary-nav #secondary-nav-title {
  opacity: 1;
  margin-left: 0;
}
#secondary-nav #primary-cta {
  width: 125px;
  opacity: 0;
  margin-right: -125px;
  color: transparent;
}
.new-header#secondary-nav #primary-cta {
  opacity: 1;
  margin-right: 0;
  color: #ffffff;
}
#secondary-nav #breadcrumbs .menu-item a {
  font-size: 12px;
  color: #999999;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#secondary-nav #breadcrumbs .menu-item.current-page > a {
  color: #333333;
}
#secondary-nav #breadcrumbs > .menu-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.no-flexbox.flexboxtweener #secondary-nav #breadcrumbs > .menu-item {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #secondary-nav #breadcrumbs > .menu-item > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #secondary-nav #breadcrumbs > .menu-item {
  display: block;
}
.no-flexbox.no-flexboxtweener #secondary-nav #breadcrumbs > .menu-item:before,
.no-flexbox.no-flexboxtweener #secondary-nav #breadcrumbs > .menu-item:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #secondary-nav #breadcrumbs > .menu-item:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #secondary-nav #breadcrumbs > .menu-item > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #secondary-nav #breadcrumbs > .menu-item {
  -ms-flex-align: center;
}
#secondary-nav #breadcrumbs > .menu-item > a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#secondary-nav #breadcrumbs > .menu-item:after {
  content: "\00BB";
  display: inline-block;
  width: 8px;
  height: 17px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  line-height: 100%;
  color: #cccccc;
}
#secondary-nav #breadcrumbs > .menu-item:last-child:after {
  content: none;
}
@media only screen and (max-width: 767px) {
  #secondary-nav #breadcrumbs > .menu-item:not(.current-page) {
    display: none;
  }
}
#secondary-nav #breadcrumbs .menu.dropdown {
  top: 60px;
  background-color: rgba(0, 0, 0, 0.7);
}
#secondary-nav #breadcrumbs .menu.dropdown .menu-item.current-section a {
  color: #333333;
}
#secondary-nav #breadcrumbs .menu.dropdown .menu-item a:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  margin-top: 5px;
  background-color: #d9232e;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#secondary-nav #breadcrumbs .menu.dropdown .menu-item:hover a,
#secondary-nav #breadcrumbs .menu.dropdown .menu-item:active a {
  background-color: #000000;
  color: #ffffff;
}
#secondary-nav #breadcrumbs .menu.dropdown .menu-item:hover a:after,
#secondary-nav #breadcrumbs .menu.dropdown .menu-item:active a:after {
  width: 25px;
}
#section-search {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}
.no-flexbox.flexboxtweener #section-search {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #section-search > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #section-search {
  display: block;
}
.no-flexbox.no-flexboxtweener #section-search:before,
.no-flexbox.no-flexboxtweener #section-search:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #section-search:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #section-search > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #section-search {
  -ms-flex: 1 1 100%;
}
.no-flexbox.no-flexboxtweener #section-search {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #secondary-nav.new-header #section-search {
    margin-right: 1em;
  }
}
@media only screen and (max-width: 979px) {
  #section-search.active {
    margin-right: 0;
  }
}
#section-search-form {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 0;
}
.no-flexbox.flexboxtweener #section-search-form {
  -ms-flex: 1 1 100%;
}
.no-flexbox.no-flexboxtweener #section-search-form {
  width: 100%;
}
#section-search-form .input-group-field {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.no-flexbox.flexboxtweener #section-search-form .input-group-field {
  -ms-flex-pack: end;
}
#section-search-input {
  width: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  border: 0;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#section-search.active #section-search-input {
  width: 100%;
}
@media only screen and (min-width: 980px) {
  #section-search.active #section-search-input {
    width: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  #section-search.active #section-search-input {
    width: 250px;
  }
}
@media only screen and (max-width: 979px) {
  #section-search.active #section-search-input {
    background-color: #f2f2f2;
  }
  #section-search.active #section-search-input:focus {
    background-color: #f2f2f2;
  }
}
#section-search-trigger,
#section-search-close {
  color: #999999;
}
#section-search-submit {
  color: #d9232e;
}
