p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
#lead-gen-form a:not(.button) {
  color: #377ABD;
  text-decoration: none;
}
#lead-gen-form a:not(.button):hover {
  color: #4EA2F6;
}
#page-hero.overlap-section-below,
#hero.overlap-section-below,
section.overlap-section-below {
  padding-bottom: 200px;
}
#page-hero.overlap-section-below + section,
#hero.overlap-section-below + section,
section.overlap-section-below + section {
  position: relative;
  z-index: 5;
  margin-top: -200px;
}
#page-hero.overlap-section-below.small-overlap,
#hero.overlap-section-below.small-overlap,
section.overlap-section-below.small-overlap {
  padding-bottom: 100px;
}
#page-hero.overlap-section-below.small-overlap + section,
#hero.overlap-section-below.small-overlap + section,
section.overlap-section-below.small-overlap + section {
  margin-top: -100px;
}
#page-hero.overlap-section-below.medium-overlap,
#hero.overlap-section-below.medium-overlap,
section.overlap-section-below.medium-overlap {
  padding-bottom: 150px;
}
#page-hero.overlap-section-below.medium-overlap + section,
#hero.overlap-section-below.medium-overlap + section,
section.overlap-section-below.medium-overlap + section {
  margin-top: -150px;
}
@media only screen and (min-width: 768px) {
  #page-hero.overlap-section-below,
  #hero.overlap-section-below,
  section.overlap-section-below {
    padding-bottom: 300px;
  }
  #page-hero.overlap-section-below + section,
  #hero.overlap-section-below + section,
  section.overlap-section-below + section {
    margin-top: -300px;
  }
  #page-hero.overlap-section-below.small-overlap,
  #hero.overlap-section-below.small-overlap,
  section.overlap-section-below.small-overlap {
    padding-bottom: 150px;
  }
  #page-hero.overlap-section-below.small-overlap + section,
  #hero.overlap-section-below.small-overlap + section,
  section.overlap-section-below.small-overlap + section {
    margin-top: -150px;
  }
  #page-hero.overlap-section-below.medium-overlap,
  #hero.overlap-section-below.medium-overlap,
  section.overlap-section-below.medium-overlap {
    padding-bottom: 200px;
  }
  #page-hero.overlap-section-below.medium-overlap + section,
  #hero.overlap-section-below.medium-overlap + section,
  section.overlap-section-below.medium-overlap + section {
    margin-top: -200px;
  }
}
.in-between-card.flex-row {
  position: relative;
  z-index: 5;
}
.in-between-card.flex-row .card {
  position: relative;
  z-index: 5;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .in-between-card.flex-row {
    margin-top: -150px;
    margin-bottom: 60px;
  }
  .in-between-card.flex-row .card {
    padding: 15px;
  }
}
@media only screen and (min-width: 768px) {
  section.above-card {
    padding-bottom: 150px!important;
    position: relative;
    z-index: 4;
  }
}
section.below-card {
  overflow: visible!important;
}
.iframe-wrapper {
  position: relative;
}
.iframe-wrapper:before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.iframe-wrapper > iframe,
.iframe-wrapper .video-embed,
.iframe-wrapper > object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.iframe-wrapper.document:before {
  padding-top: 117.64705882%;
}
@media only screen and (min-width: 768px) {
  .iframe-wrapper.document {
    height: 90vh;
  }
}
