h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#legal-documents {
  background-color: #f2f2f2;
}
.legal-document p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
.legal-document-name {
  font-weight: 400;
}
.legal-document-category {
  margin-top: -10px;
  font-weight: 600;
  color: #999999;
}
.legal-document-date {
  margin-top: -20px;
  color: #999999;
}
.legal-document-description {
  font-weight: 300;
}
div.document-toggle {
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  height: 39px;
}
div.document-toggle .toggle-button {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}
div.document-toggle .toggle-button.active {
  background-color: #d9232e;
  color: white;
}
