@import '../../settings.less';

.button {font-weight:600;}



//new components
// @import '../../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../../_new-components/components-and-expansions/background-color-filters.less';
@import '../../_new-components/components-and-expansions/blockquote.less';
@import '../../_new-components/components-and-expansions/button-with-flag.less';
@import '../../_new-components/components-and-expansions/device-mockups-new-plus-options.less';
@import '../../_new-components/components-and-expansions/hypercard-graphic.less';
// @import '../../_new-components/components-and-expansions/number-group.less';
@import '../../_new-components/components-and-expansions/offpage-image.less';
// @import '../../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
// @import '../../_new-components/components-and-expansions/stacked-icons.less';
// @import '../../_new-components/components-and-expansions/triangle-group.less';
// @import '../../_new-components/components-and-expansions/vertical-diagram.less';
// @import '../../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
// @import '../../_new-components/resets-and-fixes/form-spacing.less';
@import '../../_new-components/resets-and-fixes/related-items.less';
// @import '../../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
// @import '../../_new-components/sections-and-heros/hero-banner-single-angle.less';
// @import '../../_new-components/sections-and-heros/section-content-between.less';

//new sliders
// @import '../../_new-components/sliders/center-mode-image.less';
@import '../../_new-components/sliders/customer-success-logo-video.less';
// @import '../../_new-components/sliders/multi-item-nav.less';
// @import '../../_new-components/sliders/photos.less';






//for the new homepage
.NewHomepage {
	#page-hero {
		.text-content-row {
			position:relative;
			padding-top:80px; padding-bottom:80px;
			color:@white;
			.background-image {
				position:absolute; z-index:-1;
				height:100%; width:100vw;
				top:0; left:50%;
				.translateX(-50%);
			}
		}
		.device-row {
			position:relative; z-index:2;
			@media @medium {margin-top:-80px;}
			.stacked-mockups {
				padding-bottom:24%;
				.device-mockup {
					position:absolute; z-index:0;
					top:50%; left:50%;
					.translate(-50%, -50%);
					&.isometric-macbook-pro {
						width:63%;
						margin-top:-36%;
						margin-left:20%;
					}
					&.isometric-ipad-tilted {
						z-index:1;
						width:35%;
						margin-top:-5%;
						margin-left:47%;
					}
					&.isometric-iphone {
						width:30%;
						margin-top:3%;
						margin-left:5%;
					}
					&.isometric-screenshot-landscape {
						position:relative;
						width:60%;
						top:auto; left:auto;
						.translate(0,0);
						margin-left:-6%;
					}
					&.isometric-screenshot-portrait {
						z-index:1;
						width:60%;
						margin-top:11.5%;
						margin-left:-57%;
					}
				}

				@media @xlarge {
					padding-bottom:30%;
					.device-mockup {
						&.isometric-macbook-pro {
							width:75%;
							margin-top:-38%;
							margin-left:30%;
						}
						&.isometric-ipad-tilted {
							width:45%;
							margin-top:-1%;
							margin-left:65%;
						}
						&.isometric-iphone {
							width:38%;
							margin-top:5%;
							margin-left:5%;
						}
						&.isometric-screenshot-landscape {
							width:75%;
							margin-left:-18%;
						}
						&.isometric-screenshot-portrait {
							width:75%;
							margin-top:13%;
							margin-left:-63%;
						}
					}
				}//end x-large special
			}
		}
	}
	#customer-logos {
		margin-top:-20px;
		@media @medium {margin-top:-120px;}
		@media @large {margin-top:-160px;}
		@media @xlarge {margin-top:-200px;}
	}
	#isometric-diagram {
		position:relative;
		padding-bottom:57%;
		//border:1px solid red;

		.diagram-item {
			position:absolute; z-index:1;
			opacity:0;
			//border:1px solid blue;
			.single-transition;
		}

		.m-icon {
			opacity:1!important; z-index:2;
			width:21%;
			box-shadow:5px 5px 10px fade(@pure-black, 30%);
			.transform(rotateX(54.7deg) rotateZ(45deg));
			.logo {max-width:60%; max-height:60%;}
		}
		.echo-dot-comp {
			width:27%;
			//border:1px solid blue;
			&:before {
				content:'';
				padding-top:120%;
				display:block; position:relative;
			}
			.speech-bubble {
				position:absolute;
				top:0; left:35%;
				height:18%; width:70%;
				.transform(rotateX(54.7deg) rotateZ(45deg) skew(45deg));
				.transform-origin(top, left);
                background-color:darken(@light-gray, 5%);
				box-shadow:10px 10px 15px fade(@pure-black, 30%);

                &:before {
					content:'';
					position:absolute;
                    border-bottom-color:darken(@light-gray, 5%);
                    top:100%; left:15%;
                    border-left:0 solid transparent;
                    border-top:18px solid darken(@light-gray, 5%);
                    border-right:18px solid transparent;
                }
				&.blue {
                	background-color:@blue;
					top:30%; left:51%;
					&:before {border-top-color:@blue;}
				}
			}
			.device {
				position:absolute;
				width:68%;
				bottom:0; left:0;
				&:after {
	                content:'';
	                position:absolute; z-index:0;
	                border:1px solid red;
	                height:69%; width:100%;
	                bottom:0;
	                left:0;
	                border-radius:50%;
	                background-color:fade(@pure-black, 30%);
	                box-shadow:15px 15px 20px fade(@pure-black, 30%);
				}
			}
		}
		.card-device-comp {
			width:42%;
			.hypercard-img {
				position:absolute; z-index:2;
				top:2%; left:28%;
				width:23%;
				.transform-origin(top, left);
				.transform(rotateX(54.7deg) rotateZ(45deg) skew(45deg));
				box-shadow:10px 10px 15px fade(@pure-black, 30%);
				&:nth-child(2) {top:30%; left:50%;}
				&:nth-child(3) {top:10%; left:75%;}
			}
			.device-mockup {
				position:relative;
				z-index:1;
				width:100%;
			}
		}
		.isometric-ipad-tilted {
			position:absolute;
			width:25%;
			top:0; left:50%;
		}
		.isometric-ipad-portrait {
			position:absolute;
			width:40%;
			top:0; left:50%;
		}
		.isometric-macbook-pro {
			position:absolute;
			width:30%;
			bottom:0; right:0;
		}
		.isometric-mac-monitor {
			position:absolute;
			width:22.6%;
			top:0; left:0;
		}
		.isometric-iphone {
			position:absolute;
			width:25%;
			top:0; left:0;
		}
		.diagram-lines {
			position:absolute; z-index:0;
			.transform(rotateX(54.7deg) rotateZ(45deg));
			width:44%;
			//border:1px solid green;
			&:before {
				content:'';
				display:block;
				width:100%;
				padding-top:100%;
			}
			.diagram-line {
				position:absolute;
				width:6px; height:50%;
				.transform-origin(bottom, left);
				background-color:@iron;
				opacity:0;
				&.left-root {
					.transform(rotate(-90deg));
					bottom:0; left:50%;
				}
				&.top-root {
					bottom:0; left:50%;
				}
				&.right-root {
					.transform(rotate(90deg));
					margin-bottom:6px;
					bottom:0; left:50%;
				}
				&.top-bar-left {
					.transform(rotate(-90deg));
					bottom:50%; left:50%;
				}
				&.top-bar-right {
					.transform(rotate(90deg));
					margin-bottom:6px;
					bottom:50%; left:50%;
				}
				&.top-fork-left {
					bottom:50%; left:0;
				}
				&.top-fork-center {
					bottom:50%; left:50%;
				}
				&.top-fork-right {
					bottom:50%; right:0;
				}
			}
		}
	}
	#top-benefits {
		&.hyperintelligence {
			// #isometric-diagram {
			// 	background:no-repeat center url('/getmedia/98b4b772-723e-48ca-899f-69df8cdb8d26/_hyper-guide') transparent;
			// 	background-size:cover;
			// }
			.diagram-item.hyper {opacity:1;}
			.diagram-lines {
				bottom:-6.5%; left:24%;
				.diagram-line {
					&.left-root,
					&.top-root,
					&.top-bar-left,
					&.top-bar-right,
					&.top-fork-left,
					&.top-fork-right {opacity:1;}
				}
			}
			.m-icon                      {bottom:-3%; left:20%;}
			.echo-dot-comp               {top:16%; left:0;}
			.isometric-ipad-tilted.hyper {top:0; left:29%;}
			.card-device-comp            {top:11%; right:0;}
		}
		&.mobility {
			// #isometric-diagram {
			// 	background:no-repeat center url('/getmedia/5875cac8-70c1-433b-8198-0c24881d877b/_mobile-guide') transparent;
			// 	background-size:cover;
			// }
			.diagram-item.mobile {opacity:1;}
			.diagram-lines {
				width:50%;
				bottom:-15.5%; left:11%;
				.diagram-line {
					&.top-root,
					&.top-bar-left,
					&.top-bar-right,
					&.top-fork-left,
					&.top-fork-center,
					&.top-fork-right {opacity:1;}
				}
			}
			.m-icon                       {bottom:-3%; left:13%;}
			.isometric-ipad-tilted.mobile {top:0; left:16%;}
			.isometric-iphone             {top:41.5%; left:41.5%;}
			.isometric-ipad-portrait      {top:47.5%; left:53.5%;}
		}
		&.federated-analytics {
			// #isometric-diagram {
			// 	background:no-repeat center url('/getmedia/af72876d-97d8-4270-b5ea-cfe01a2828f4/_federated-guide') transparent;
			// 	background-size:cover;
			// }
			.diagram-item.federated {opacity:1;}
			.diagram-lines {
				bottom:15%; left:43%;
				.diagram-line {
					&.top-root,
					&.left-root,
					&.right-root {opacity:1;}
				}
			}
			.m-icon                                     {bottom:19%; left:39%;}
			.isometric-macbook-pro.federated.left-side  {top:0; left:13%; bottom:auto; right:auto;}
			.isometric-mac-monitor                      {top:0; left:51.5%;}
			.isometric-macbook-pro.federated.right-side {bottom:0; right:12.5%;}
		}
	}
}
