@import '../../settings.less';

.button {font-weight:600;}

//add components
@import '../../_new-components/background-color-filters.less';
@import '../../_new-components/blockquote.less';
@import '../../_new-components/customer-success-logo-video-slider.less';
@import '../../_new-components/new-device-mockups.less';
@import '../../_new-components/offpage-image.less';
@import '../../_new-components/related-items-reset.less';





//new components
.button.new-item-button {
	padding:7px 40px 7px 0;
	background-color:fade(@pure-black, 70%);
	box-shadow:1px 1px 2px fade(@pure-black, 70%);

	font-size:16px; line-height:18px;
	font-weight:600;
	text-transform:none;
	letter-spacing:normal;
	&:hover {background-color:fade(@light-red, 70%);}

	> span {
		padding:5px 10px;
		.translate(-5px, ~"calc(-1em - 5px)");
		margin-right:10px;
		background-color:@red;
		box-shadow:1px 1px 2px fade(@pure-black, 70%);

		font-size:12px; line-height:12px;
		text-transform:uppercase;
		letter-spacing:0.2em;
	}
}





//for the new homepage
.NewHomepage {
	#page-hero {
		.text-content-row {
			position:relative;
			padding-top:80px; padding-bottom:80px;
			color:@white;
			.background-image {
				position:absolute; z-index:-1;
				height:100%; width:100vw;
				top:0; left:50%;
				.translateX(-50%);
				&:after {
					//display:none;
					background-color:fade(@pure-black, 20%);
				}
				&:before {
					content:'';
					position:absolute; z-index:1;
					bottom:0; left:0;
					height:100%; width:100%;
					background: -moz-linear-gradient(top, fade(@red, 0%) 10%, fade(@red, 85%) 100%);
					background: -webkit-linear-gradient(top, fade(@red, 0%) 10%, fade(@red, 85%) 100%);
					background: linear-gradient(to bottom, fade(@red, 0%) 10%, fade(@red, 85%) 100%);
				}
			}
		}
		.device-row {
			position:relative; z-index:2;
			@media @medium {margin-top:-80px;}
			.stacked-mockups {
				padding-bottom:24%;
				.device-mockup {
					position:absolute; z-index:0;
					top:50%; left:50%;
					.translate(-50%, -50%);
					&.isometric-macbook-pro {
						width:63%;
						margin-top:-36%;
						margin-left:20%;
					}
					&.isometric-ipad-tilted {
						z-index:1;
						width:35%;
						margin-top:-5%;
						margin-left:47%;
					}
					&.isometric-iphone {
						width:30%;
						margin-top:3%;
						margin-left:5%;
					}
					&.isometric-screenshot-landscape {
						position:relative;
						width:60%;
						top:auto; left:auto;
						.translate(0,0);
						margin-left:-6%;
					}
					&.isometric-screenshot-portrait {
						z-index:1;
						width:60%;
						margin-top:11.5%;
						margin-left:-57%;
					}
				}

				// @media @xlarge {
				// 	padding-bottom:30%;
				// 	.device-mockup {
				// 		&.isometric-macbook-pro {
				// 			width:75%;
				// 			margin-top:-38%;
				// 			margin-left:30%;
				// 		}
				// 		&.isometric-ipad-tilted {
				// 			width:45%;
				// 			margin-top:-1%;
				// 			margin-left:65%;
				// 		}
				// 		&.isometric-iphone {
				// 			width:38%;
				// 			margin-top:5%;
				// 			margin-left:5%;
				// 		}
				// 		&.isometric-screenshot-landscape {
				// 			width:75%;
				// 			margin-left:-18%;
				// 		}
				// 		&.isometric-screenshot-portrait {
				// 			width:75%;
				// 			margin-top:13%;
				// 			margin-left:-63%;
				// 		}
				// 	}
				// }//end x-large special
			}
		}
	}
	#customer-logos {
		margin-top:-20px;
		@media @medium {margin-top:-120px;}
		@media @large {margin-top:-150px;}
	}

	.m-icon {
		position:relative; z-index:2;
		box-shadow:5px 5px 10px fade(@pure-black, 30%);
		.transform(rotateX(54.7deg) rotateZ(45deg));
		.logo {max-width:60%; max-height:60%;}
	}
	#isometric-diagram {
		position:relative;
		padding-bottom:63%;
		//border:1px solid red;
		.middle-section {
			position:absolute;
			width:24%;
			bottom:-3%; left:18%;
		}
		.left-section {
			position:absolute;
			//border:1px solid blue;
			left:0; bottom:32%;
			width:25%;
			padding-top:35%;

			.speech-bubble {
				position:absolute;
				top:0; left:30%;
				height:18%; width:75%;
				.transform(rotateX(54.7deg) rotateZ(45deg) skew(45deg));
				.transform-origin(top, left);
                background-color:darken(@light-gray, 5%);

                &:before {
					content:'';
					position:absolute;
                    border-bottom-color:darken(@light-gray, 5%);
                    top:100%; left:15%;
                    border-left:0 solid transparent;
                    border-top:18px solid darken(@light-gray, 5%);
                    border-right:18px solid transparent;
                }
				&.blue {
                	background-color:@blue;
					top:30%; left:47%;
					&:before {border-top-color:@blue;}
				}
			}
			.echo-dot {
				position:absolute;
				width:65%;
				bottom:0; left:0;
				.device {position:relative; z-index:1;}
				&:after {
	                content:'';
	                position:absolute; z-index:0;
	                //border:1px solid red;
	                height:69%; width:100%;
	                bottom:0;
	                left:0;
	                border-radius:50%;
	                background-color:fade(@pure-black, 30%);
	                box-shadow:15px 15px 20px fade(@pure-black, 30%);
				}
			}
		}
		.top-section {
			position:absolute;
			bottom:14%; right:0;
			width:65%;
			padding-top:54%;
			.isometric-ipad-tilted {
				position:absolute;
				width:35%;
				top:0; left:0;
			}
			.isometric-macbook-pro {
				position:absolute;
				width:60%;
				bottom:0; right:0;
			}
		}
		.diagram-lines {
			position:absolute; z-index:-1;
			.transform(rotateX(54.7deg) rotateZ(45deg));
			width:50%;
			bottom:-6%; left:23%;
			.diagram-line {
				position:absolute;
				width:3px; height:50%;
				background-color:@iron;
				&.left-root {
					.transform(rotate(90deg));
					.transform-origin(bottom, left);
					bottom:0; left:0;
				}
				&.top-root {
					.transform-origin(bottom, left);
					bottom:0; left:50%;
				}
				&.top-bar {
					height:100%;
					.transform(rotate(90deg));
					.transform-origin(bottom, left);
					bottom:50%; left:0;
				}
				&.top-fork-left {
					top:0; left:0;
				}
				&.top-fork-right {
					top:0; right:0;
				}
			}
			&:before {
				content:'';
				display:block;
				width:100%;
				padding-top:100%;
			}
		}
	}
}
