/* JUST FOR THE SAMPLE */
header, nav, .top-banner {display:none!important;}

/* NEW BASE OVERRIDES */
#container {background-color:#ffffff;}
body {position:relative; background-color:#333333;}
.CMS-preview-mode #primary-menu,
.CMS-preview-mode.menu-opened #header {top:110px;}
.cms-bootstrap #primary-menu,
.cms-bootstrap.menu-opened #header {top:110px;}
.menu-opened {position:relative; overflow:hidden; padding-top:60px;}
.menu-opened main {height:calc(100% - 60px); overflow:hidden;}

/* HEADER AND NAV STYLES */
#header {
  display:block; position:relative; z-index:4999;
  overflow:hidden;
  width:100%; height:60px;
  background-color:#ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  user-select: none;
}
#header .header-wrapper {
    display: -webkit-flex;
  display: flex;
    -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
    -webkit-justify-content: flex-start;
  justify-content: flex-start;
    -webkit-align-items: center;
  align-items: center;
  margin-left: auto; margin-right: auto;
  max-width: none;
}
#header .logo-col {
  position:relative;
    -webkit-flex: 1 1 1px !important;
  flex: 1 1 1px !important;
  width:100%;
}
#header .logo-col .logo-link {position:relative; z-index:2; display:block; padding-left:10px;}
#header .logo-col .logo-img {
  display:inline-block; vertical-align:middle;
  max-width:180px;
  fill-rule: evenodd;
}
#header .tagline,
#header .breadcrumb,
#header .primary-menu-button .text {
  font-family:myriad-pro,'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style:normal; font-weight:400;
  font-size:14px; line-height:20px;
  text-transform:uppercase; letter-spacing:0.1em;
}
#header.trial-col, #header.button-col {
    -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#header .tagline,
#header .trial-col,
#header .breadcrumb {display:none;}
#header .button-col {margin-left:auto;}
#header .button-col .primary-menu-button {
  display:block; position:relative;
  cursor:pointer;
  height:60px; width:100px;
}
#header .primary-menu-button .text {
  display:block; position:absolute;
  top:20px; left:15px;
  color:#777777;
}
#header .primary-menu-button .menu-toggle {
  display:block; position:absolute;
  right:10px; top:50%; margin-top:-7px;
  width:24px; height:14px;
}
#header .primary-menu-button .menu-toggle .line {
  display:block; position:absolute;
  height:2px; width:100%;
  top:50%; margin-top:-1px;
  left:50%; margin-left:-12px;
  transform-origin: center center;
}
#header .primary-menu-button .menu-toggle .line.one {margin-top:-6px;}
#header .primary-menu-button .menu-toggle .line.three {margin-top:4px;}


/* ANIMATIONS */
#header {
  background-color:#ffffff;
    -webkit-transition: all 0.2s ease-out 0.5s;
  transition:           all 0.2s ease-out 0.5s;
}
.menu-opened #header {
  position:fixed; background-color:transparent;
  top:0; left:0;
  transition-delay:0s; -webkit-transition-delay:0s;
}
#header .logo-col .logo-img {
  fill: #D9232E;
    -webkit-transition: fill 0.2s ease-out 0.2s;
  transition:           fill 0.2s ease-out 0.2s;
}
.menu-opened #header .logo-col .logo-img {
  fill:#ffffff;
    -webkit-transition: fill 0.2s ease-out 0s;
  transition:           fill 0.2s ease-out 0s;
}
#header .button-col .primary-menu-button .text.closed {
  opacity:1; transform:translateY(0); color:#777777;
    -webkit-transition: opacity 0.2s ease-out 0.5s, transform 0.2s ease-out 0.5s, color 0.2s ease-out 0s;
  transition:           opacity 0.2s ease-out 0.5s, transform 0.2s ease-out 0.5s, color 0.2s ease-out 0s;
}
.menu-opened #header .button-col .primary-menu-button .text.closed {
  opacity:0; transform:translateY(-10px);
    -webkit-transition: all 0.2s ease-out 0s;
  transition:           all 0.2s ease-out 0s;
}
#header .button-col .primary-menu-button .text.open {
  opacity:0; transform:translateY(10px); color:#ffffff;
    -webkit-transition: all 0.2s ease-out 0s;
  transition:           all 0.2s ease-out 0s;
}
.menu-opened #header .button-col .primary-menu-button .text.open {
  opacity:1; transform:translateY(0);
    -webkit-transition: all 0.2s ease-out 0.7s;
  transition:           all 0.2s ease-out 0.7s;
}
#header .button-col .primary-menu-button .menu-toggle .line {
  background-color:#555555;
  -webkit-transition:background 0.2s ease-out 0s,
                     transform 0.4s ease-out 0.5s,
                     opacity 0.4s ease-out 0.5s,
                     margin 0.2s ease-out 0.5s;
  transition:        background 0.2s ease-out 0s,
                     transform 0.4s ease-out 0.5s,
                     opacity 0.4s ease-out 0.5s,
                     margin 0.2s ease-out 0.5s;
}
#header .button-col .primary-menu-button .menu-toggle .line.two {
  -webkit-transition:background 0.2s ease-out 0s,
                     transform 0.4s ease-out 0.3s,
                     opacity 0.4s ease-out 0.5s,
                     margin 0.2s ease-out 0.5s;
  transition:        background 0.2s ease-out 0s,
                     transform 0.4s ease-out 0.3s,
                     opacity 0.4s ease-out 0.5s,
                     margin 0.2s ease-out 0.5s;
}
.menu-opened #header .button-col .primary-menu-button .menu-toggle .line {background-color:#ffffff;}
.menu-opened #header .button-col .primary-menu-button .menu-toggle .line.one {
  transform:rotate(45deg); margin-top:-1px;
}
.menu-opened #header .button-col .primary-menu-button .menu-toggle .line.two {
  opacity:0; transform:translateX(25px);
}
.menu-opened #header .button-col .primary-menu-button .menu-toggle .line.three {
  transform:rotate(-45deg); margin-top:-1px;
}




#primary-menu {
  display:block; position:fixed;
  overflow:hidden; /*-webkit-overflow-scrolling:touch;*/
  width:100%; height:100%;
  top:0; left:0; bottom:0; right:0;
  font-family:myriad-pro,'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-style:normal; font-weight:300;
  color:#ffffff;
}
#primary-menu .menu-wrapper {
  position:relative; z-index:2;
  overflow:auto;
  margin-top:60px; color:#ffffff;
  height:calc(100% - 60px);
}
#primary-menu .menu-body {
    display: -webkit-flex;
  display: flex;
    -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
    -webkit-justify-content: flex-start;
  justify-content: flex-start;
    -webkit-align-items: center;
  align-items: center;
  margin-left: auto; margin-right: auto;
}
#primary-menu .selector-col {
    -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#primary-menu hr {opacity:0.4;}
#primary-menu .section-link {padding-bottom:10px;}
#primary-menu .section-title {
  display:block; position:relative;
  cursor:pointer;
  font-size:22px; line-height:28px;
  padding:10px 15px 0 40px;
}
#primary-menu .section-title:before {
    content: '\e900';
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:block; position:absolute;
    top:19px; left:15px;
    font-size:12px; line-height:12px;
}
#primary-menu .section-title > i {font-size:24px; margin-right:10px; color:#ffffff;}
#primary-menu .section-title:after {
  display:block; position:absolute;
  content:'';
  top:40px; left:40px;
  height:2px;
  background-color:#ffffff;
}
#primary-menu .section-link.red .section-title:after,
#primary-menu .section-link.red .sub-link:after {background-color:#D9232E;}
#primary-menu .section-link.orange .section-title:after,
#primary-menu .section-link.orange .sub-link:after {background-color:#FF9100;}
#primary-menu .section-link.green .section-title:after,
#primary-menu .section-link.green .sub-link:after {background-color:#68AA00;}
#primary-menu .section-link.blue .section-title:after,
#primary-menu .section-link.blue .sub-link:after {background-color:#4789A3;}
#primary-menu .section-link.navy .section-title:after,
#primary-menu .section-link.navy .sub-link:after {background-color:#11566F;}
#primary-menu .icon-link .section-title:after {display:none;}

#primary-menu .section-title .section-summary {
  display:block; position:relative;
  font-size:10px; line-height:15px; font-weight:400;
  text-transform:uppercase; letter-spacing:0.1em;
}
#primary-menu .section-sub-menu {
    display:-webkit-flex;
  display:flex;
    -webkit-flex:0 1 auto;
  flex:0 1 auto;
    -webkit-flex-direction:row;
  flex-direction:row;
    -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
    -webkit-justify-content:flex-start;
  justify-content:flex-start;
    -webkit-align-items:flex-start;
  align-items:flex-start;
  margin-left:auto; margin-right:auto;
  overflow:hidden;
  padding:0px 40px;
}
#primary-menu .sub-menu-col {
  width: 100%;
    -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#primary-menu .section-sub-menu .sub-link {
  display:block; position:relative;
  font-size:18px; line-height:24px;
  color:#ffffff;
  opacity:0.9;
  padding-bottom:10px; padding-top:10px;
  border-top:1px solid rgba(255,255,255,0.2);
}
#primary-menu .section-sub-menu .sub-link.folder-node {
  display:inline-block;
  font-size:14px; line-height:1em; font-weight:400;
  text-transform:uppercase; letter-spacing:0.1em;
  opacity:1;
  border:1px solid #999999;
  padding:5px 10px; margin:15px 0;
}
#primary-menu .section-sub-menu .sub-link.folder-node:after {display:none;}
#primary-menu .icon-link .section-sub-menu {padding:0 20px;}
#primary-menu .icon-link .section-title {padding-left:15px;}
#primary-menu .icon-link .section-title:before {display:none;}
#primary-menu .icon-link .sub-menu-col {padding:20px 0;}
#primary-menu .section-sub-menu.search-col {
    -webkit-align-items: center;
  align-items: center;
}
#primary-menu .search-col .sub-menu-col {
    -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#primary-menu .search-col label {margin-bottom:5px;}
#primary-menu .search-col [type="search"] {
  border-width:1px;
  background-color:transparent;
  background-image: url(/Strategy/media/images/common/icons/page-body/svg/magnifying-glass_MEDIUM.svg);
  font-weight:300;
  color:#ffffff;
  font-size:16px; line-height:20px;
}
#primary-menu .search-col :-moz-placeholder {color:#999999;}
#primary-menu .search-col ::-moz-placeholder {color:#999999;}
#primary-menu .search-col :-ms-input-placeholder {color:#999999;}
#primary-menu .search-col ::-webkit-input-placeholder {color:#999999;}
#primary-menu .search-col [type="search"]:focus {padding-left:.75em; background-color:rgba(0,0,0,0.2);}
#primary-menu .contact-us-col [type='text'],
#primary-menu .contact-us-col [type='email'],
#primary-menu .contact-us-col textarea {font-size:16px; line-height:20px;}

#primary-menu .menu-footer {
    -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top:20px;
}
#primary-menu .menu-footer-wrapper {
    display: -webkit-flex;
  display: flex;
    -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
    -webkit-flex-direction: row;
  flex-direction: row;
    -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
    -webkit-justify-content: center;
  justify-content: center;
    -webkit-align-items: center;
  align-items: center;
  margin-left: auto; margin-right: auto;
  border-top:1px solid rgba(255,255,255,0.4);
  padding:20px 15px;
}
#primary-menu .menu-footer-col {
  width: 100%;
    -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
#primary-menu .menu-footer .free-trial-button {display:block; margin-bottom:15px; font-size:16px; line-height:22px;}
#primary-menu .menu-footer .footer-link {
  display:block; position:relative;
  padding:10px 0;
  font-size:16px; line-height:22px;
  text-transform:uppercase; letter-spacing:0.1em;
  color:#ffffff;
  opacity:0.7;
}
#primary-menu .menu-footer .footer-link:after {
  display:block; position:absolute;
  content:'';
  right:0; bottom:0;
  height:1px; width:100%;
  background-color:#ffffff;
  opacity:.5;
}
#primary-menu .menu-footer .social-wrapper {
  display:block; position:relative;
  vertical-align:top;
  padding:0; margin:15px 0 0 0;
  text-align:left;
}
#primary-menu .menu-footer .social-wrapper .icon {
  display: inline-block; position: relative;
  vertical-align: middle;
  height:30px;
  padding:0 15px 0 0; margin:0;
  color: #FFFFFF;
  opacity: .7;
  font-size:30px;
}
#primary-menu .menu-footer .social-wrapper .icon:before {font-size:1em;}
#primary-menu .menu-footer .countries-col {margin-top:20px;}
#primary-menu .menu-footer .countries-col .dropup.dropup-countries .dropdown-toggle {background-color:#777777;}
#primary-menu .menu-footer .countries-col .dropup.dropup-countries .dropdown-menu {background-color:#888888;}
#primary-menu .menu-footer .countries-col .dropup.dropup-countries.open .dropdown-menu {max-height:350px;}

#primary-menu .primary-menu-background {
  display:block; position:absolute; z-index:1;
  width:100%; height:100%;
  top:0; left:0;
}
#primary-menu .primary-menu-background:before,
#primary-menu .primary-menu-background:after {
  display:block; position:absolute; z-index:1;
  content:'';
  height:100%;
  top:0; bottom:0;
}
#primary-menu .primary-menu-background:before {
  left:0; top:0;
  width:100%; height:60px;
  background-color:#333333;
  border-bottom:1px solid rgba(255,255,255,0.5);
}
#primary-menu .primary-menu-background:after {
  left:0; top:60px;
  width:100%; height:calc(100% - 60px);
  background: #555555;
}



/*  ANIMATIONS */
#primary-menu {
  z-index:-2;
    -webkit-transition: z-index 1s step-end;
  transition:           z-index 1s step-end;
}
.menu-opened #primary-menu {
  z-index:4998;
    -webkit-transition: z-index 0s step-start;
  transition:           z-index 0s step-start;
}
#primary-menu .primary-menu-background {
  opacity:0; transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in 0.2s;
  transition:           all 0.3s ease-in 0.2s;
}
.menu-opened #primary-menu .primary-menu-background {opacity:1; transform: translateY(0);}
#primary-menu .selector-col {
  opacity:0; transform:translateY(-30px);
    -webkit-transition: all 0.4s ease-in 0s;
  transition:           all 0.4s ease-in 0s;
}
.menu-opened #primary-menu .selector-col {opacity:1; transform:translateY(0); transition-delay:0.4s;}
#primary-menu .section-link {
  border:0px solid rgba(0,0,0,0.0);
  background-color:transparent;
    -webkit-transition: all 0.2s ease-in 0s;
  transition:           all 0.2s ease-in 0s;
}
#primary-menu .section-link.active {
  background-color:#333333;
  border-top:1px solid rgba(0,0,0,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
}
#primary-menu .section-title {
  opacity:0.7;
    -webkit-transition: opacity 0.2s ease-out 0s;
  transition:           opacity 0.2s ease-out 0s;
}
#primary-menu .section-link.active .section-title {opacity:1;}
#primary-menu .section-title:before {
    -webkit-transition: transform 0.2s ease-in 0s;
  transition:           transform 0.2s ease-in 0s;
}
#primary-menu .section-link.active .section-title:before {transform:rotate(90deg);}
#primary-menu .section-title:after {
  width:0;
    -webkit-transition: width 0.2s ease-in 0s;
  transition:           width 0.2s ease-in 0s;
}
#primary-menu .section-link.active .section-title:after {width:50px;}
#primary-menu .section-title .section-summary {
  opacity:0; max-height:0px; overflow:hidden;
    -webkit-transition: all 0.2s ease-in 0s;
  transition:           all 0.2s ease-in 0s;
}
#primary-menu .section-link.active .section-title .section-summary {
  opacity:1; padding-top:10px; padding-bottom:15px; max-height:100px;
}
#primary-menu .section-sub-menu {
  opacity:0; max-height:0;
    -webkit-transition: all 0.2s ease-in 0s;
  transition:           all 0.2s ease-in 0s;
}
#primary-menu .section-link.active .section-sub-menu {opacity:1; max-height:2000px;}
#primary-menu .menu-footer {
  opacity:0; transform:translateY(-30px);
    -webkit-transition: all 0.2s ease-out 0s;
  transition:           all 0.2s ease-out 0s;
}
.menu-opened #primary-menu .menu-footer {
  opacity:1; transform:translateY(0);
    -webkit-transition: all 0.2s ease-out 0.7s;
  transition:           all 0.2s ease-out 0.7s;
}










/*=======================================================================
=            Increasing resolution Media Queries           =
==========================================================================*/


/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .CMS-preview-mode #primary-menu,
  .CMS-preview-mode.menu-opened #header {top:29px;}
  /* HEADER AND NAV STYLES */
  #header .header-wrapper {max-width:768px;}
  #header .logo-col .logo-link {display:block; padding-left:15px;}
  #header .tagline {
    display:inline-block; vertical-align:middle;
    margin:3px 0 0 10px;
    color:#777777;
  }
  #header .breadcrumb {
    position:absolute; display:inline-block;
    left:240px; top:50%;
    margin:-8px 0 0 0; padding:0;
    font-weight:400;
    font-size:14px; line-height:1em;
    color:#ffffff;
  }
  #header .breadcrumb .page-name {display:inline-block; vertical-align:middle;}
  #header .breadcrumb .divider {display:inline-block; vertical-align:middle; margin:2px 5px 0 3px;}
  #header .trial-col, #header .button-col {
    display:flex;
      -webkit-flex:0 0 auto;
    flex:0 0 auto;
    max-width:none;
    width:auto;
  }
  #header .trial-col {margin-left:auto;}
  #header .button.header-link {border:none; font-size:14px; line-height:20px; letter-spacing: .1em;}
  #header .button-col {margin-left:auto;}

  /*ANIMATIONS*/
  body.menu-opened {overflow:hidden;}
  #header .tagline {
    opacity:1; transform:translateX(0);
      -webkit-transition: all 0.2s ease-out 0.5s;
    transition:           all 0.2s ease-out 0.5s;
  }
  .menu-opened #header .tagline {
    opacity:0; transform:translateX(-30px);
      -webkit-transition: all 0.2s ease-out 0s;
    transition:           all 0.2s ease-out 0s;
  }
  #header .breadcrumb {
    opacity:0; transform:translateX(-30px); z-index:1;
      -webkit-transition: all 0.2s ease-out 0s;
    transition:           all 0.2s ease-out 0s;
  }
  .menu-opened #header .breadcrumb {
    opacity:1; transform:translateX(0); z-index:2;
      -webkit-transition: all 0.2s ease-out 0.5s;
    transition:           all 0.2s ease-out 0.5s;
  }
  #header .trial-col {
    z-index:1; opacity:1;
      -webkit-transition: z-index 1s step-end, opacity 0.2s ease-out 0.5s;
    transition:           z-index 1s step-end, opacity 0.2s ease-out 0.5s;
  }
  .menu-opened #header .trial-col {
    z-index:-2; opacity:0;
      -webkit-transition: z-index 0s step-start, opacity 0.2s ease-out 0s, transform 0.2s ease-out 0s;
    transition:           z-index 0s step-start, opacity 0.2s ease-out 0s, transform 0.2s ease-out 0s;
  }
  #header .button-col .primary-menu-button:hover .text.closed {color:#d9232e;}
  #header .button-col .primary-menu-button:hover .menu-toggle .line,
  .menu-opened #header .primary-menu-button:hover .menu-toggle .line {background-color:#D9232E;}




  #primary-menu .menu-wrapper .menu-body {min-height:100%; max-width:768px;}
  #primary-menu .selector-col {
    position:relative;
      -webkit-flex:0 0 213px;
    flex:0 0 213px;
    padding:0 30px 0 10px;
    max-width:213px;
  }
  #primary-menu .section-link {padding:1vh 0;}
  #primary-menu .section-link.active {background-color:transparent; border:none;}

  #primary-menu .section-title {font-size:26px; line-height:32px; padding:0;}
  #primary-menu .section-title:before {display:none;}
  #primary-menu .section-title:after {left:0; top:36px;}

  #primary-menu .section-sub-menu {
    position:absolute;
    width:calc(768px - 100% - 30px);
    left:calc(100% + 30px); top:0;
    padding:1vh 0 0 0;
  }
  #primary-menu .section-sub-menu .sub-menu-col {
        -webkit-flex: 1 1 1px;
    flex: 1 1 1px;
    max-width: none;
    width:100%;
    padding-right:15%;
  }
  #primary-menu .section-sub-menu .sub-menu-col:last-child {padding-right:15px;}
  #primary-menu .section-sub-menu .sub-link {padding:0.6vh 0; border:none;}
  #primary-menu .sub-link:after {
    display:block; position:relative;
    content:'';
    margin-top:3px;
    height:2px;
    background-color:#D9232E;
  }

  #primary-menu .icon-link .section-sub-menu {padding:0;}
  #primary-menu .icon-link .section-title {padding-left:0;}
  #primary-menu .icon-link .sub-menu-col {padding:0 15px 0 0;}
  #primary-menu .icon-link .sub-menu-col:last-child {padding-left:15px;}
  #primary-menu .search-col {height:100%;}
  #primary-menu .search-col [type="search"] {
    border-width:0 0 1px 0;
    padding-left:0;
    font-size:22px; line-height:28px;
  }
  #primary-menu .search-col [type="search"]:focus {padding-left:.75em; background-color:rgba(0,0,0,0.2);}
  #primary-menu .contact-us-col #send-message .col-md-6 {padding-left:7.5px;}
  #primary-menu .contact-us-col #send-message .col-md-6:first-child {padding-right:7.5px; padding-left:0;}
  #primary-menu .contact-us-col [type='text'],
  #primary-menu .contact-us-col [type='email'],
  #primary-menu .contact-us-col textarea {
    padding:5px; margin-bottom:5px;
    font-size:12px; line-height:15px;
  }

  #primary-menu .menu-footer {padding-left:243px;}
  #primary-menu .menu-footer-wrapper {padding:20px 0;}
  #primary-menu .menu-footer .free-trial-button {
    display:inline-block;
    margin-bottom:0; margin-right:10px;
     min-width:100px;
    font-size:14px;
  }
  #primary-menu .menu-footer .footer-link {
    display:inline-block; vertical-align:middle;
    padding:0 10px 0 11px;
    font-size:14px;
  }
  #primary-menu .menu-footer .footer-link:after {
    display:block; position:absolute;
    content:'';
    right:0; top:50%;
    margin-top:-8px;
    height:16px; width:1px;
    background-color:#ffffff;
    opacity:.5;
  }
  #primary-menu .menu-footer .social-wrapper {display:inline-block; vertical-align:middle; margin-left:10px;}
  #primary-menu .menu-footer .social-wrapper .icon {font-size:15px; padding-right:10px;}
  #primary-menu .menu-footer .countries-col .dropup.dropup-countries .dropdown-menu {background-color:#555555;}

  #primary-menu .primary-menu-background:before,
  #primary-menu .primary-menu-background:after {height:100%; width:auto; top:0; bottom:0;}
  #primary-menu .primary-menu-background:before {
    left:0; right:50%;
    margin-right:170px;
    background-color:rgba(0,0,0,0.90);
    border-right:1px solid rgba(255,255,255,0.5);
    border-bottom:none;
  }
  #primary-menu .primary-menu-background:after {
    right:0; left:50%;
    margin-left:-170px;
    opacity:0.95;
    background: #333333;
    background: -moz-linear-gradient(45deg,  #222222 0%, #333333 50%, #444444 100%);
    background: -webkit-linear-gradient(45deg,  #222222 0%,#333333 50%,#444444 100%);
    background: linear-gradient(45deg,  #222222 0%,#333333 50%,#444444 100%);
    filter:
      progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=1 );
  }

  /* ANIMATIONS */
  #primary-menu .section-link:hover .section-title {opacity:1;}
  #primary-menu .section-title:hover:after {width:50px;}
  #primary-menu .section-link.active .section-title .section-summary {padding-top:15px; padding-bottom:0;}
  #primary-menu .sub-menu-col {
    opacity:0; z-index:-1; transform:translateX(-60px);
      -webkit-transition: all 0.2s ease-in 0.2s;
    transition:           all 0.2s ease-in 0.2s;
  }
  #primary-menu .section-link.active .sub-menu-col {
    opacity:1; z-index:3; transform:translateX(0);
      -webkit-transition: all 0.2s ease-in 0.5s;
    transition:           all 0.2s ease-in 0.5s;
  }
  #primary-menu .section-link.active .sub-menu-col:nth-of-type(2) {transition-delay:0.6s;}
  #primary-menu .section-link.active .sub-menu-col:nth-of-type(3) {transition-delay:0.7s;}
  #primary-menu .section-link.active .sub-menu-col:nth-of-type(4) {transition-delay:0.8s;}
  #primary-menu .section-sub-menu,
  #primary-menu .section-link.active .section-sub-menu {max-height:none;}
  #primary-menu .section-sub-menu .sub-link {
    opacity:0.5;
      -webkit-transition: opacity 0.2s ease-out 0s;
    transition:           opacity 0.2s ease-out 0s;
  }
  #primary-menu .section-sub-menu .sub-link:hover {opacity:1;}
  #primary-menu .sub-link:after {
    width:0px;
      -webkit-transition: width 0.2s ease-in 0s;
    transition:           width 0.2s ease-in 0s;
  }
  #primary-menu .sub-link:hover:after {width:35px;}
  #primary-menu .menu-footer .footer-link,
  #primary-menu .menu-footer .icon {
    opacity:0.4;
      -webkit-transition: opacity 0.2s ease-out 0s;
    transition:           opacity 0.2s ease-out 0s;
  }
  #primary-menu .menu-footer .footer-link:hover,
  #primary-menu .menu-footer .icon:hover {opacity:1;}
  #primary-menu .menu-footer .footer-link:hover:after {opacity:0.4;}

}







/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
  /* HEADER AND NAV STYLES */
  #header .header-wrapper {max-width:980px;}
  #header .logo-col .logo-img {max-width:220px;}
  #header .breadcrumb {font-size:16px; left:295px; margin-top:-9px;}

  #primary-menu .menu-wrapper .menu-body {max-width:980px;}
  #primary-menu .selector-col {
      -webkit-flex:0 0 265px;
    flex:0 0 265px;
    max-width:265px;
  }
  #primary-menu .section-title {font-size:32px; line-height:37px;}
  #primary-menu .section-title:after {top:42px;}
  #primary-menu .section-title .section-summary {font-size:12px; line-height:15px;}
  #primary-menu .section-sub-menu .sub-link {font-size:20px; line-height:25px;}
  #primary-menu .section-sub-menu {width:calc(980px - 100% - 30px);}
  #primary-menu .contact-us-col .sub-menu-col:first-child {
      -webkit-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  #primary-menu .contact-us-col [type='text'],
  #primary-menu .contact-us-col [type='email'],
  #primary-menu .contact-us-col textarea {padding:.75em; font-size:14px; line-height:20px;}
  #primary-menu .menu-footer {padding-left:295px;}
  #primary-menu .menu-footer-col.countries-col {
    display:flex;
      -webkit-flex:0 0 auto;
    flex:0 0 auto;
    max-width:none;
    width:auto;
    margin-left:auto;
  }
  #primary-menu .menu-footer-col {
      -webkit-flex: 1 1 1px;
    flex: 1 1 1px;
    max-width: none;
    width:100%;
  }
  #primary-menu .menu-footer .countries-col {margin-top:0;}
  #primary-menu .menu-footer .free-trial-button {min-width:20px;font-size:14px;}
  #primary-menu .menu-footer .footer-link {padding:0 10px 0 11px; font-size:12px;}
  #primary-menu .menu-footer .social-wrapper .icon {font-size:12px;}
  #primary-menu .primary-menu-background:before {margin-right:225px;}
  #primary-menu .primary-menu-background:after {margin-left:-225px;}

}






/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* HEADER AND NAV STYLES */
  #header .header-wrapper {max-width:1200px;}
  #header .breadcrumb {left:295px;}
  #primary-menu .menu-wrapper .menu-body {max-width:1200px;}
  #primary-menu .section-title {font-size:36px; line-height:42px;}
  #primary-menu .section-title:after {top:47px;}
  #primary-menu .section-title .section-summary {font-size:14px; line-height:18px;}
  #primary-menu .section-sub-menu .sub-link {font-size:22px; line-height:28px;}
  #primary-menu .section-sub-menu {width:calc(1200px - 100% - 30px);}
  #primary-menu .icon-link .sub-menu-col {padding-right:15%;}
  #primary-menu .menu-footer .free-trial-button {min-width:150px;}
  #primary-menu .menu-footer .footer-link {font-size:14px;}
  #primary-menu .menu-footer .social-wrapper .icon {font-size:15px;}
  #primary-menu .primary-menu-background:before {margin-right:335px;}
  #primary-menu .primary-menu-background:after {margin-left:-335px;}
}
