.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#container {
  background-color: #FFFFFF;
}
body {
  position: relative;
}
.CMS-preview-mode #primary-menu,
.CMS-preview-mode.menu-opened #header {
  top: 47px;
}
@media only screen and (min-width: 768px) {
  .CMS-preview-mode #primary-menu,
  .CMS-preview-mode.menu-opened #header {
    top: 29px;
  }
}
.CMS-preview-mode #primary-menu {
  height: calc(100% - 47px);
}
@media only screen and (min-width: 768px) {
  .CMS-preview-mode #primary-menu {
    height: calc(100% - 47px + 18px);
  }
}
.cms-bootstrap #primary-menu,
.cms-bootstrap.menu-opened #header {
  top: 110px;
}
.cms-bootstrap #primary-menu {
  height: calc(100% - 110px);
}
body.menu-opened {
  overflow: hidden;
  padding-top: 60px;
}
#header {
  display: block;
  z-index: 900;
  overflow: hidden;
  width: 100%;
  height: 60px;
  background-color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  -webkit-transition: all 0.2s ease-out 0.2s;
  transition: all 0.2s ease-out 0.2s;
}
.menu-opened #header {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#header .header-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #header .header-wrapper {
    max-width: 768px;
  }
}
@media only screen and (min-width: 980px) {
  #header .header-wrapper {
    max-width: 980px;
  }
}
@media only screen and (min-width: 1200px) {
  #header .header-wrapper {
    max-width: 1200px;
  }
}
#header .trial-button,
#header .primary-menu-button,
#header .logo-col {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}
#header .logo-col {
  position: relative;
  margin-right: auto;
}
#header .logo-col .logo-link {
  display: block;
  position: relative;
  z-index: 2;
  padding-left: 15px;
}
#header .logo-col .logo-link .logo-img {
  display: block;
  width: 180px;
  fill-rule: evenodd;
  fill: #D9232E;
  -webkit-transition: all 0.2s ease-out 0.2s;
  transition: all 0.2s ease-out 0.2s;
}
@media only screen and (min-width: 980px) {
  #header .logo-col .logo-link .logo-img {
    width: 220px;
  }
}
.menu-opened #header .logo-col .logo-link .logo-img {
  fill: #FFFFFF;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#header .logo-col .tagline {
  display: none;
}
@media only screen and (min-width: 768px) {
  #header .logo-col .tagline {
    position: absolute;
    display: inline-block;
    z-index: 1;
    width: auto;
    left: calc(100% + 15px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    white-space: nowrap;
    cursor: default;
    color: #777777;
    opacity: 1;
    -webkit-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s;
  }
  .menu-opened #header .logo-col .tagline {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
}
#header .trial-button {
  margin: 0px!important;
  border: none!important;
}
@media only screen and (min-width: 768px) {
  #header .trial-button {
    -webkit-transition: all 0.2s ease-out 0.2s;
    transition: all 0.2s ease-out 0.2s;
  }
  .menu-opened #header .trial-button {
    background-color: #D9232E;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-out 0.3s;
    transition: all 0.2s ease-out 0.3s;
  }
  .menu-opened #header .trial-button:hover {
    background-color: #df3741;
  }
}
#header .primary-menu-button {
  position: relative;
  cursor: pointer;
  height: 60px;
  width: 100px;
}
@media only screen and (min-width: 768px) {
  #header .primary-menu-button:hover .text.closed {
    color: #D9232E;
  }
  #header .primary-menu-button:hover .menu-toggle .line,
  .menu-opened #header .primary-menu-button:hover .menu-toggle .line {
    background-color: #D9232E;
  }
}
#header .primary-menu-button .text {
  display: block;
  position: absolute;
  top: 20px;
  left: 15px;
  color: #777777;
}
#header .primary-menu-button .text.closed {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  color: #777777;
  -webkit-transition: opacity 0.2s ease-out 0.5s, transform 0.2s ease-out 0.5s, color 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0.5s, transform 0.2s ease-out 0.5s, color 0.2s ease-out 0s;
}
.menu-opened #header .primary-menu-button .text.closed {
  opacity: 0;
  transform: translateY(-10px);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#header .primary-menu-button .text.opened {
  opacity: 0;
  transform: translateY(10px);
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu-opened #header .primary-menu-button .text.opened {
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: all 0.2s ease-out 0.7s;
  transition: all 0.2s ease-out 0.7s;
}
#header .primary-menu-button .menu-toggle {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
  width: 24px;
  height: 14px;
}
#header .primary-menu-button .menu-toggle .line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -12px;
  transform-origin: center center;
  background-color: #555555;
  -webkit-transition: background 0.2s ease-out 0s, transform 0.4s ease-out 0.5s, opacity 0.4s ease-out 0.5s, margin 0.2s ease-out 0.5s;
  transition: background 0.2s ease-out 0s, transform 0.4s ease-out 0.5s, opacity 0.4s ease-out 0.5s, margin 0.2s ease-out 0.5s;
}
#header .primary-menu-button .menu-toggle .line.one {
  margin-top: -6px;
}
#header .primary-menu-button .menu-toggle .line.three {
  margin-top: 4px;
}
#header .primary-menu-button .menu-toggle .line.two {
  -webkit-transition: background 0.2s ease-out 0s, transform 0.4s ease-out 0.3s, opacity 0.4s ease-out 0.5s, margin 0.2s ease-out 0.5s;
  transition: background 0.2s ease-out 0s, transform 0.4s ease-out 0.3s, opacity 0.4s ease-out 0.5s, margin 0.2s ease-out 0.5s;
}
.menu-opened #header .primary-menu-button .menu-toggle .line {
  background-color: #FFFFFF;
}
.menu-opened #header .primary-menu-button .menu-toggle .line.one {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -1px;
}
.menu-opened #header .primary-menu-button .menu-toggle .line.two {
  opacity: 0;
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}
.menu-opened #header .primary-menu-button .menu-toggle .line.three {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1px;
}
@media only screen and (max-width: 767px) {
  #header .logo-col .tagline,
  #header .trial-button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  body.menu-opened {
    overflow: hidden;
  }
}
#primary-menu {
  display: block;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  color: #FFFFFF;
  z-index: -2;
  opacity: 0;
  -webkit-transition: z-index 0.5s step-end, opacity 0.5s step-end 0s;
  transition: z-index 0.5s step-end, opacity 0.5s step-end 0s;
}
.menu-opened #primary-menu {
  z-index: 899;
  opacity: 1;
  -webkit-transition: z-index 0s step-start, opacity 0s step-start;
  transition: z-index 0s step-start, opacity 0s step-start;
}
@media only screen and (min-width: 768px) {
  #primary-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  #primary-menu .node-navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: none;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
    overflow-y: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
    max-width: 768px;
  }
}
@media only screen and (min-width: 980px) {
  #primary-menu .node-navigation {
    max-width: 980px;
  }
}
@media only screen and (min-width: 1200px) {
  #primary-menu .node-navigation {
    max-width: 1200px;
  }
}
#primary-menu .node-panel {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  position: relative;
  width: 30%;
  padding-top: 60px;
  opacity: 0;
  -webkit-transform: translateX(-10%);
  transform: translateX(-10%);
  -webkit-transition: opacity 0.2s ease-in 0s, transform 0.3s ease-out 0s;
  transition: opacity 0.2s ease-in 0s, transform 0.3s ease-out 0s;
}
#primary-menu .node-panel.level-1 {
  padding-top: 80px;
}
.menu-opened #primary-menu .node-panel {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 0.3s ease-in 0.3s, transform 0.3s ease-in 0.3s;
  transition: opacity 0.3s ease-in 0.3s, transform 0.3s ease-in 0.3s;
}
#primary-menu .node-panel:after {
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4d4d4d;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0s ease-in 0s, background-color 0.2s ease-out 0s;
  transition: opacity 0s ease-in 0s, background-color 0.2s ease-out 0s;
}
.menu-opened #primary-menu .node-panel:after {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in 0.5s, background-color 0.2s ease-out 0s;
  transition: opacity 0.2s ease-in 0.5s, background-color 0.2s ease-out 0s;
}
#primary-menu .node-panel.level-2 {
  z-index: -2;
}
#primary-menu .node-panel.level-2:after {
  background-color: #404040;
}
#primary-menu .node-panel.level-3 {
  z-index: -3;
}
#primary-menu .node-panel.level-3:after {
  background-color: #333333;
  box-shadow: none;
}
#primary-menu .node-panel .node-label {
  position: relative;
  overflow: hidden;
  padding: 30px 30px 15px 30px;
  color: #CCCCCC;
  line-height: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  white-space: nowrap;
}
#primary-menu .node-panel .node-label:after {
  display: block;
  position: relative;
  content: '';
  height: 3px;
  width: 50px;
  margin-top: 15px;
  background-color: #CCCCCC;
}
#primary-menu .node-panel .red.parent-node .node-label:after {
  background-color: #D9232E;
}
#primary-menu .node-panel .orange.parent-node .node-label:after {
  background-color: #FF9100;
}
#primary-menu .node-panel .green.parent-node .node-label:after {
  background-color: #68AA00;
}
#primary-menu .node-panel .blue.parent-node .node-label:after {
  background-color: #4789A3;
}
#primary-menu .node-panel .navy-blue.parent-node .node-label:after {
  background-color: #11566F;
}
#primary-menu .node-panel .sub-link {
  display: block;
  position: relative;
  cursor: pointer;
  color: #FFFFFF;
  padding: 0.7vh 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#primary-menu .node-panel .sub-link:hover {
  opacity: 1;
}
#primary-menu .node-panel.level-1 > .parent-node > .sub-link {
  font-size: 40px;
  line-height: 1em;
  padding: 1.2vh 50px 1.2vh 15px;
}
#primary-menu .node-panel.level-1 > .parent-node > .sub-link .section-summary {
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  max-height: 0;
  opacity: 0;
  padding-top: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#primary-menu .node-panel.level-1 > .parent-node.active > .sub-link .section-summary {
  max-height: 100%;
  opacity: 1;
  padding-top: 5px;
}
#primary-menu .node-panel.level-2,
#primary-menu .node-panel.level-3 {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
}
#primary-menu .node-panel.level-2 .sub-link,
#primary-menu .node-panel.level-3 .sub-link {
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#primary-menu .node-panel.level-2 .sub-link:hover,
#primary-menu .node-panel.level-3 .sub-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
#primary-menu .node-panel.level-2 {
  width: 75%;
}
#primary-menu .node-panel.level-2 .parent-node.active > .sub-link {
  background-color: #4d4d4d;
}
#primary-menu .node-panel.level-2 .parent-node.active > .sub-link:after {
  border-left-color: #4d4d4d;
}
#primary-menu .node-panel .red.parent-node .parent-node.active > .sub-link {
  background-color: #D9232E;
}
#primary-menu .node-panel .red.parent-node .parent-node.active > .sub-link:after {
  border-left-color: #D9232E;
}
#primary-menu .node-panel .orange.parent-node .parent-node.active > .sub-link {
  background-color: #FF9100;
}
#primary-menu .node-panel .orange.parent-node .parent-node.active > .sub-link:after {
  border-left-color: #FF9100;
}
#primary-menu .node-panel .green.parent-node .parent-node.active > .sub-link {
  background-color: #68AA00;
}
#primary-menu .node-panel .green.parent-node .parent-node.active > .sub-link:after {
  border-left-color: #68AA00;
}
#primary-menu .node-panel .blue.parent-node .parent-node.active > .sub-link {
  background-color: #4789A3;
}
#primary-menu .node-panel .blue.parent-node .parent-node.active > .sub-link:after {
  border-left-color: #4789A3;
}
#primary-menu .node-panel .navy-blue.parent-node .parent-node.active > .sub-link {
  background-color: #11566F;
}
#primary-menu .node-panel .navy-blue.parent-node .parent-node.active > .sub-link:after {
  border-left-color: #11566F;
}
#primary-menu .node-panel.level-3 {
  width: 100%;
}
#primary-menu .node-panel .search-col .node-panel.level-2,
#primary-menu .node-panel .contact-col .node-panel.level-2 {
  width: calc(1200px - 100%);
}
#primary-menu .node-panel .search-col .node-panel.level-2:after,
#primary-menu .node-panel .contact-col .node-panel.level-2:after {
  background: #333333;
  box-shadow: none;
}
#primary-menu .node-panel .search-col .search-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 30px;
  height: calc(100% - 50vh);
}
#primary-menu .node-panel .search-col .input-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#primary-menu .node-panel .search-col .input-group .input-group-label {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  width: 100%;
  margin-bottom: 5px;
}
#primary-menu .node-panel .search-col .input-group .input-group-field > [type='search'] {
  margin-top: 0;
  color: #CCCCCC;
  background-color: transparent;
  background-image: url(/getmedia/bd1e9ace-a8ed-470d-923f-372d4ef057e3/magnifying-glass_MEDIUM);
  padding: 0;
  border-width: 0 0 1px 0;
}
#primary-menu .node-panel .search-col .input-group .input-group-field > [type='search']:focus {
  padding: 1em 3em 1em 1em;
  background-color: #1a1a1a;
}
#primary-menu .node-panel .contact-col .contact-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1vh 15px;
}
#primary-menu .node-panel .parent-node {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  width: 100%;
}
#primary-menu .node-panel .parent-node > .node-panel {
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height: 0;
  -webkit-transition: all 0.2s ease-out 0s, max-height 0.2s step-end;
  transition: all 0.2s ease-out 0s, max-height 0.2s step-end;
}
#primary-menu .node-panel .parent-node.active > .node-panel {
  display: table;
  opacity: 1;
  overflow: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  max-height: 100%;
  -webkit-transition: all 0.2s ease-out 0.2s, max-height 0.2s step-start;
  transition: all 0.2s ease-out 0.2s, max-height 0.2s step-start;
}
#primary-menu .node-panel .parent-node.active > .sub-link {
  opacity: 1;
}
#primary-menu .node-panel .parent-node > .sub-link:after {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 15px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #FFFFFF;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#primary-menu .node-panel .parent-node > .sub-link:hover:after {
  opacity: 1;
}
#primary-menu .node-panel .parent-node.active > .sub-link:after {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  opacity: 1;
  -webkit-transform: translate(25px, -50%);
  transform: translate(25px, -50%);
}
#primary-menu .node-panel.level-1 > .parent-node > .sub-link:after {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
}
#primary-menu .node-panel.level-1 > .parent-node.active > .sub-link:after {
  border-top-width: 15px;
  border-bottom-width: 15px;
  border-left-width: 15px;
  border-left-color: #4d4d4d;
  -webkit-transform: translate(30px, -50%);
  transform: translate(30px, -50%);
}
#primary-menu .node-panel.level-1 > .parent-node.red.active > .sub-link:after {
  border-left-color: #D9232E;
}
#primary-menu .node-panel.level-1 > .parent-node.orange.active > .sub-link:after {
  border-left-color: #FF9100;
}
#primary-menu .node-panel.level-1 > .parent-node.green.active > .sub-link:after {
  border-left-color: #68AA00;
}
#primary-menu .node-panel.level-1 > .parent-node.blue.active > .sub-link:after {
  border-left-color: #4789A3;
}
#primary-menu .node-panel.level-1 > .parent-node.navy-blue.active > .sub-link:after {
  border-left-color: #11566F;
}
#primary-menu .menu-footer {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  position: relative;
  z-index: 3;
  width: 100%;
  padding: 0 20px 20px 20px;
  margin-top: auto;
  text-align: left;
}
#primary-menu .menu-footer .line {
  margin-bottom: 0;
  opacity: 0.7;
}
#primary-menu .menu-footer .quick-links {
  display: block;
  margin-bottom: 15px;
}
#primary-menu .menu-footer .quick-links .footer-link {
  display: inline-block;
  position: relative;
  font-weight: 400;
  padding: 10px 9px 10px 5px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1em;
}
#primary-menu .menu-footer .quick-links .footer-link:first-child {
  padding-left: 0;
}
#primary-menu .menu-footer .quick-links .footer-link:last-child {
  padding-right: 10px;
}
#primary-menu .menu-footer .quick-links .footer-link:last-child:after {
  display: none;
}
#primary-menu .menu-footer .quick-links .footer-link:hover {
  color: #ffffff;
}
#primary-menu .menu-footer .quick-links .footer-link:after {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 0;
  height: 40%;
  width: 1px;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.7;
}
#primary-menu .menu-footer .social-links {
  display: inline-block;
}
#primary-menu .menu-footer .social-links .icon {
  padding: 10px 3px;
}
#primary-menu .menu-footer .dropup {
  text-align: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#primary-menu .menu-footer .dropup:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
#primary-menu .menu-footer .dropup.open {
  background-color: rgba(0, 0, 0, 0.3);
}
#primary-menu .menu-footer .dropup .dropdown-toggle {
  color: #FFFFFF;
  width: 100%;
  background-color: transparent!important;
}
#primary-menu .menu-footer .dropup .dropdown-menu {
  background-color: #262626;
}
#primary-menu .primary-menu-background {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#primary-menu .primary-menu-background:after,
#primary-menu .primary-menu-background:before {
  position: absolute;
  z-index: 0;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
#primary-menu .primary-menu-background:after {
  right: 50%;
  background-color: #4d4d4d;
  opacity: 0;
  -webkit-transform: translateX(calc(-240px + -20%));
  transform: translateX(calc(-240px + -20%));
  -webkit-transition: opacity 0.2s ease-in 0.2s, transform 0.2s ease-out 0.2s, background-color 0.2s ease-out 0s;
  transition: opacity 0.2s ease-in 0.2s, transform 0.2s ease-out 0.2s, background-color 0.2s ease-out 0s;
}
.menu-opened #primary-menu .primary-menu-background:after {
  opacity: 1;
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -webkit-transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s, background-color 0.2s ease-out 0s;
  transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s, background-color 0.2s ease-out 0s;
}
#primary-menu .primary-menu-background:before {
  left: 50%;
  background-color: #333333;
  opacity: 0;
  -webkit-transform: translateX(calc(-240px + 20%));
  transform: translateX(calc(-240px + 20%));
  -webkit-transition: opacity 0.2s ease-in 0.2s, transform 0.3s ease-out 0.2s;
  transition: opacity 0.2s ease-in 0.2s, transform 0.3s ease-out 0.2s;
}
.menu-opened #primary-menu .primary-menu-background:before {
  opacity: 1;
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -webkit-transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;
  transition: opacity 0.3s ease-in 0s, transform 0.3s ease-in 0s;
}
#primary-menu.red .node-panel.level-1:after {
  background-color: #D9232E;
}
#primary-menu.red .menu-footer .dropup .dropdown-menu {
  background-color: #81151b;
}
#primary-menu.red .primary-menu-background:after {
  background-color: #D9232E;
}
#primary-menu.orange .node-panel.level-1:after {
  background-color: #FF9100;
}
#primary-menu.orange .menu-footer .dropup .dropdown-menu {
  background-color: #995700;
}
#primary-menu.orange .primary-menu-background:after {
  background-color: #FF9100;
}
#primary-menu.green .node-panel.level-1:after {
  background-color: #68AA00;
}
#primary-menu.green .menu-footer .dropup .dropdown-menu {
  background-color: #497700;
}
#primary-menu.green .primary-menu-background:after {
  background-color: #68AA00;
}
#primary-menu.blue .node-panel.level-1:after {
  background-color: #4789A3;
}
#primary-menu.blue .menu-footer .dropup .dropdown-menu {
  background-color: #284d5c;
}
#primary-menu.blue .primary-menu-background:after {
  background-color: #4789A3;
}
#primary-menu.navy-blue .node-panel.level-1:after {
  background-color: #11566F;
}
#primary-menu.navy-blue .menu-footer .dropup .dropdown-menu {
  background-color: #0a3443;
}
#primary-menu.navy-blue .primary-menu-background:after {
  background-color: #11566F;
}
