.number-group {
  position: relative;
  z-index: 1;
  padding: 15px 0 5px 30px;
}
.number-group:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
  top: 0px;
  left: 0px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.3;
}
@media only screen and (min-width: 768px) {
  .number-group {
    padding-top: 30px;
    padding-left: 50px;
  }
  .number-group:before {
    font-size: 120px;
    line-height: 120px;
  }
}
.number-group.one:before {
  content: '1.';
}
.number-group.two:before {
  content: '2.';
}
.number-group.three:before {
  content: '3.';
}
.number-group.four:before {
  content: '4.';
}
.number-group.five:before {
  content: '5.';
}
#hero {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  min-height: 500px;
  height: 100vh;
  max-height: 900px;
}
#scroll-content {
  color: #FFFFFF;
  background: #333333;
  background: -webkit-linear-gradient(45deg, #666666, #000000);
  background: linear-gradient(45deg, #666666, #000000);
  background-attachment: fixed;
}
#intelligence-map {
  z-index: 4;
  padding: 0;
}
#intelligence-map > .flex-row {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#intelligence-map.ext-forces,
#intelligence-map.ent-assets,
#intelligence-map.int-platform,
#intelligence-map.int-center,
#intelligence-map.int-architecture,
#intelligence-map.int-program {
  top: 50%!important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.7s ease-out 0s;
  transition: all 0.7s ease-out 0s;
}
#intelligence-map.sticky-mode.int-applications {
  top: 50%!important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  #intelligence-map.ext-forces > .flex-row,
  #intelligence-map.ent-assets > .flex-row,
  #intelligence-map.int-platform > .flex-row,
  #intelligence-map.int-center > .flex-row,
  #intelligence-map.int-architecture > .flex-row,
  #intelligence-map.int-program > .flex-row,
  #intelligence-map.int-applications > .flex-row {
    max-width: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
@media only screen and (min-width: 1200px) {
  #intelligence-map.ext-forces > .flex-row,
  #intelligence-map.ent-assets > .flex-row,
  #intelligence-map.int-platform > .flex-row,
  #intelligence-map.int-center > .flex-row,
  #intelligence-map.int-architecture > .flex-row,
  #intelligence-map.int-program > .flex-row,
  #intelligence-map.int-applications > .flex-row {
    max-width: 700px;
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
}
#intelligence-map .map-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin: 25px;
  background-color: #999999;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
#intelligence-map .map-section .map-section-title {
  display: block;
  width: 100%;
  max-height: 100vh;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
#intelligence-map .map-section .revealed-content {
  display: block;
  width: 100%;
  max-height: 0;
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
#intelligence-map .map-section.ext-forces {
  background-color: #11566F;
}
#intelligence-map .map-section.ext-forces .icon-list-title {
  background-color: #11566F;
}
#intelligence-map .map-section.ext-forces .icon {
  color: #11566F;
}
#intelligence-map .map-section.ent-assets {
  background-color: #4789A3;
}
#intelligence-map .map-section.ent-assets .icon-list-title {
  background-color: #4789A3;
}
#intelligence-map .map-section.ent-assets .icon {
  color: #4789A3;
}
#intelligence-map .map-section.int-platform {
  background-color: #D9232E;
}
#intelligence-map .map-section.int-platform .icon-list-title {
  background-color: #D9232E;
}
#intelligence-map .map-section.int-platform .icon {
  color: #D9232E;
}
#intelligence-map .map-section.int-center {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-center .icon-list-title {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-center .icon {
  color: #FF9100;
}
#intelligence-map .map-section.int-architecture {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-architecture .icon-list-title {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-architecture .icon {
  color: #FF9100;
}
#intelligence-map .map-section.int-program {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-program .icon-list-title {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-program .icon {
  color: #FF9100;
}
#intelligence-map .map-section.int-applications {
  background-color: #68AA00;
}
#intelligence-map .map-section.int-applications .icon-list-title {
  background-color: #68AA00;
}
#intelligence-map .map-section.int-applications .icon {
  color: #68AA00;
}
#intelligence-map .icon-list .icon-list-title {
  display: block;
  padding: 10px;
  background-color: #333333;
  color: #FFFFFF;
}
#intelligence-map .icon-list .icon-group {
  list-style: none;
  padding: 15px;
}
#intelligence-map .icon-list .icon-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
}
#intelligence-map .icon-list .icon-group > li > img {
  margin: 0 10px 0 0;
}
#intelligence-map .middle-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 5 1 1px;
  flex: 5 1 1px;
  max-width: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .middle-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
#intelligence-map .middle-row > .map-section {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  width: 100%;
  margin-bottom: 0;
}
#intelligence-map .middle-row > .map-section:last-child {
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .middle-row > .map-section {
    margin-top: 0;
    margin-bottom: 25px;
  }
  #intelligence-map .middle-row > .map-section:last-child {
    margin-top: 25px;
  }
}
#intelligence-map .int-techniques {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(100% + (25px * 2));
}
#intelligence-map .int-techniques > .map-section {
  margin-bottom: 0;
  margin-right: 0;
}
#intelligence-map .int-techniques > .map-section:last-child {
  margin-right: 25px;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .int-techniques > .map-section {
    margin-bottom: 25px;
    margin-top: 0;
  }
}
#intelligence-map.ext-forces .map-section:not(.ext-forces) {
  background-color: #999999;
  opacity: 0.6;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.ext-forces .map-section.ext-forces {
  -webkit-flex: 3 1 1px;
  flex: 3 1 1px;
  max-width: none;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF;
  color: #777777;
}
#intelligence-map.ext-forces .map-section.ext-forces .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.ext-forces .map-section.ext-forces .revealed-content {
  max-height: 100vh;
  opacity: 1;
}
#intelligence-map.ext-forces .middle-row {
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  -webkit-justify-content: center;
  justify-content: center;
}
#intelligence-map.ext-forces .middle-row > .map-section {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
}
#intelligence-map.ext-forces .int-techniques {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
#intelligence-map.ext-forces .int-techniques > .map-section {
  margin: 0;
}
#intelligence-map.ext-forces .int-techniques > .map-section:last-child {
  margin-bottom: 25px;
}
#intelligence-map.ent-assets .map-section:not(.ent-assets) {
  background-color: #999999;
  opacity: 0.6;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.ent-assets .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 50px;
}
#intelligence-map.ent-assets .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.ent-assets .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.ent-assets .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.ent-assets .map-section.ent-assets {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF;
  color: #777777;
}
#intelligence-map.ent-assets .map-section.ent-assets .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.ent-assets .map-section.ent-assets .revealed-content {
  max-height: 100vh;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list .icon-list-title {
  width: 100%;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list.data,
#intelligence-map.ent-assets .map-section.ent-assets .icon-list.services {
  width: 100%;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list.apps {
  border-right: 1px solid #FFFFFF;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list .icon-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 5px 0 0 0;
  width: calc(100% - 10px);
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list .icon-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  padding: 5px;
  text-align: center;
}
#intelligence-map.ent-assets .map-section.ent-assets .icon-list .icon-group > li > img {
  margin: 0 0 10px 0;
}
#intelligence-map.ent-assets .middle-row {
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
.scroll-details-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  height: 100vh;
  max-height: 100vh;
}
#customers {
  position: relative;
  z-index: 5;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    -moz-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    animation: opacity-reveal 0.3s ease-out 0s normal forwards;
  }
}
@-moz-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-diagonal-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-slide-diagonal-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-slide-diagonal-down {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
