@import '../settings.less';



//new components
@import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
// @import '../_new-components/components-and-expansions/button-with-flag.less';
// @import '../_new-components/components-and-expansions/device-mockups-new-plus-options.less';
// @import '../_new-components/components-and-expansions/hypercard-graphic.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
// @import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
// @import '../_new-components/components-and-expansions/stacked-icons.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
// @import '../_new-components/components-and-expansions/vertical-diagram.less';
// @import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/form-spacing.less';
@import '../_new-components/resets-and-fixes/related-items.less';
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
// @import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
// @import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
// @import '../_new-components/sliders/center-mode-image.less';
// @import '../_new-components/sliders/customer-success-logo-video.less';
// @import '../_new-components/sliders/multi-item-nav.less';
@import '../_new-components/sliders/photos.less';




//new custom components

.stretch-img {
    @media @small-only {min-height:350px; margin-top:-40px;}
    @media @medium {
        position:absolute;
        top:0; bottom:0;
        &.right {right:0;}
        &.left {right:0;}
    }
}

//#academics-overview #hero.background-image { background-image: url('/getmedia/fe9ad21a-1f9a-4682-89ff-56fadff6a3ed/higher-education'); }



// OTHER / INDIVIDUAL PAGE STUFF

// #hero.background-image {
//     // default hero banner images for academics landing pages
//     .academics.students & { background-image: url('/getmedia/4789f7ca-6699-4c17-b7fa-ae092e9de135/students'); }
//     .academics.instructors & { background-image: url('/getmedia/3452a3b2-0530-426c-b6d0-08f8230c934b/instructors'); }
// }

.Academics.Students {
    #page-hero {
        padding:60px 0;
        background-color:transparent;
        h1, .line {display:none;}
    }
}






//KEYFRAMES FOR EVERYTHING
@import '../_new-components/components-and-expansions/keyframes-basic-animate-on-scroll.less';
