@import '../settings.less';


//reusable component styles
@import '../_new-components/anchor-link-grid.less';
@import '../_new-components/background-color-filters.less';
@import '../_new-components/blockquote.less';
// @import '../_new-components/center-mode-image-slider.less';
// @import '../_new-components/customer-success-logo-video-slider.less';
// @import '../_new-components/content-between-sections.less';
// @import '../_new-components/hypercard-graphic.less';
// @import '../_new-components/multi-item-slider-nav.less';
@import '../_new-components/form-hero-spacing-fix.less';
@import '../_new-components/number-group.less';
@import '../_new-components/offpage-image.less';
// @import '../_new-components/popup-window-multiple-sizes.less';
@import '../_new-components/related-items-reset.less';
@import '../_new-components/triangle-group.less';
@import '../_new-components/vertical-panelstack.less';




//new custom components

.stretch-img {
    @media @small-only {min-height:350px; margin-top:-40px;}
    @media @medium {
        position:absolute;
        top:0; bottom:0;
        &.right {right:0;}
        &.left {right:0;}
    }
}

#academics-overview #hero.background-image { background-image: url('/getmedia/fe9ad21a-1f9a-4682-89ff-56fadff6a3ed/higher-education'); }



// OTHER / INDIVIDUAL PAGE STUFF

// #hero.background-image {
//     // default hero banner images for academics landing pages
//     .academics.students & { background-image: url('/getmedia/4789f7ca-6699-4c17-b7fa-ae092e9de135/students'); }
//     .academics.instructors & { background-image: url('/getmedia/3452a3b2-0530-426c-b6d0-08f8230c934b/instructors'); }
// }

.Academics.Students {
    #step1 {
        background-color:transparent;
        @media @medium-only {
            .form-col {.flex(0,0,auto);}
        }
        @media @xlarge {
            .text-col {
                .flex(0, 0, 58.33333333%);
            }
        }
    }
}






//KEYFRAMES FOR EVERYTHING
@import '../_new-components/basic-animate-on-scroll-keyframes.less';
