@media only screen and (max-width: 767px) {
  .stretch-img {
    min-height: 350px;
    margin-top: -40px;
  }
}
@media only screen and (min-width: 768px) {
  .stretch-img {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .stretch-img.right {
    right: 0;
  }
  .stretch-img.left {
    right: 0;
  }
}
#academics-overview #hero.background-image {
  background-image: url('/getmedia/fe9ad21a-1f9a-4682-89ff-56fadff6a3ed/higher-education');
}
.dashboard.card {
  border: 0;
}
.webcast-title,
.dashboard-title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}
.webcast-description,
.dashboard-description {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #999999;
}
.webcast-date-time {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.webcast-type {
  padding: 10px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
