@media only screen and (max-width: 767px) {
  .stretch-img {
    min-height: 350px;
    margin-top: -40px;
  }
}
@media only screen and (min-width: 768px) {
  .stretch-img {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .stretch-img.right {
    right: 0;
  }
  .stretch-img.left {
    right: 0;
  }
}
#academics-overview #hero.background-image {
  background-image: url('/getmedia/fe9ad21a-1f9a-4682-89ff-56fadff6a3ed/higher-education');
}
