h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.partner #hero.background-image {
  background-image: url('/getmedia/f7467b6a-e8f0-46bb-85cf-de71b8a35b7b/businesspeople-looking-at-mobile-device');
}
#become-a-partner.background-image {
  background-image: url('/Strategy/media/images/common/banners/partners.jpg');
}
.accordion-trigger {
  position: relative;
  padding-right: 3em;
  text-align: left;
}
.accordion-trigger:after {
  content: '\ea91';
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.25em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordion-trigger.activated:after {
  content: '\e9ad';
}
#partner-resources-trigger {
  position: absolute;
  left: 15px;
  bottom: -40px;
}
@media only screen and (min-width: 768px) {
  #partner-resources-trigger {
    left: 50%;
    bottom: -80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources-trigger {
    bottom: -120px;
  }
}
#partner-resources {
  max-height: 0px;
  padding: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#partner-resources.expanded {
  max-height: 1500px;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    max-height: 1000px;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    max-height: 750px;
  }
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    padding: 60px 0;
  }
}
#featured-partners .partner-logo {
  max-width: 60%;
  max-height: 100px;
}
#partner-logos .partner-logo {
  max-width: 90%;
  max-height: 100px;
}
#companies-list .partner.card [class*="-details"] {
  display: none;
}
#companies-list .partner.card [class*="-logo"] {
  max-width: 65%;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gridder.cards {
  display: block;
}
.gridder.cards .gridder-list {
  width: 100%;
}
.gridder.cards .gridder-list .card {
  cursor: pointer;
}
.gridder.cards.hasSelectedItem .gridder-list .card {
  opacity: .5;
}
.gridder.cards.hasSelectedItem .gridder-list .card:hover {
  opacity: 1;
}
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .gridder-padding {
    padding: 30px;
  }
}
.gridder-navigation {
  display: -webkit-inline-flex;
  display: inline-flex;
  float: right;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #999999;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #cccccc;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
[class*="-details"] {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
[class*="-details"] .grid-item {
  -webkit-flex-direction: column;
  flex-direction: column;
}
[class*="-details"] [class*="-name"] {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
[class*="-details"] [class*="-description"] {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: .01em;
}
[class*="-details"] [class*="-category-header"] {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
[class*="-details"] [class*="-category-tags"] {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: .05em;
  color: #999999;
}
.partnership-logos {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  color: #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .partnership-logos {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.partnership-logos [class*="logo"] {
  max-width: 250px;
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .partnership-logos [class*="logo"] {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 980px) {
  .partnership-logos [class*="logo"] {
    max-width: 300px;
  }
}
.oem.page #platform .accordion .toggler {
  padding: 15px 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.oem.page #platform .accordion .toggler:before {
  display: inline-block;
  position: relative;
  content: '';
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  background-color: transparent;
  margin-top: 0;
  left: auto;
  top: auto;
}
.oem.page #platform .accordion .toggler:after {
  display: none;
}
.oem.page #platform .accordion .toggler.expanded {
  background-color: #D9232E;
  color: #FFFFFF;
}
.oem.page #platform .accordion .toggler.expanded:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top-color: #FFFFFF;
}
.oem.page #platform .accordion .element {
  padding: 15px 20px;
}
@media only screen and (min-width: 768px) {
  .oem.page #platform .panelstack.vertical-panelstack {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #f2f2f2;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav,
  .oem.page #platform .panelstack.vertical-panelstack .panel-content {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    float: none;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav {
    z-index: 1;
    padding-bottom: 0;
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem {
    width: 100%;
    border: none;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a {
    color: #FFFFFF;
    padding: 15px 40px 15px 20px;
    opacity: 0.5;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:after {
    display: none;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a {
    opacity: 1;
    background-color: #D9232E;
    color: #FFFFFF;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a:before {
    opacity: 1;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: #D9232E;
    -webkit-transform: translate(25px, -50%);
    transform: translate(25px, -50%);
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-content {
    z-index: 0;
    width: 60%;
    border: none;
    opacity: 0;
    -webkit-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    padding: 30px;
  }
}
@media only screen and (min-width: 980px) {
  .oem.page #platform .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .oem.page #platform .panelstack.vertical-panelstack .panel-content {
    width: 70%;
    padding: 30px 50px;
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.company.page blockquote {
  position: relative;
  margin: 0;
  padding-left: 2.5em;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 300;
  font-size: 16px;
}
.company.page blockquote:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.25em;
  left: -5em;
  border-left: 2.5em solid transparent;
  border-top: 2.5em solid transparent;
  border-right: 2.5em solid #FFFFFF;
}
.company.page blockquote footer {
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
}
