.Partners #hero.background-image {
  background-image: url('/getmedia/f7467b6a-e8f0-46bb-85cf-de71b8a35b7b/businesspeople-looking-at-mobile-device');
}
#become-a-partner.background-image {
  background-image: url('/Strategy/media/images/common/banners/partners.jpg');
}
.accordion-trigger {
  position: relative;
  padding-right: 3em;
  text-align: left;
}
.accordion-trigger:after {
  content: '\ea91';
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.25em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordion-trigger.activated:after {
  content: '\e9ad';
}
#partner-resources-trigger {
  position: absolute;
  left: 15px;
  bottom: -40px;
}
@media only screen and (min-width: 768px) {
  #partner-resources-trigger {
    left: 50%;
    bottom: -80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources-trigger {
    bottom: -120px;
  }
}
#partner-resources {
  max-height: 0px;
  padding: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#partner-resources.expanded {
  max-height: 1500px;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    max-height: 1000px;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    max-height: 750px;
  }
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    padding: 60px 0;
  }
}
#featured-partners .partner-logo {
  max-width: 60%;
  max-height: 100px;
  margin: 0 auto;
}
#partner-logos .partner-logo {
  max-width: 90%;
  max-height: 100px;
}
.Gecko .List.Page .company.card {
  display: block !important;
}
.List.Page .company.card .card-content:first-child {
  border-bottom: 1px solid #CCCCCC;
}
.List.Page .company.card .company-details {
  display: none;
}
.CompanyStory.Page h2.company-headline {
  margin-bottom: 20px;
  font-weight: 400;
  color: #D9232E;
}
.CompanyStory.Page #company-pitch {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}
.CompanyStory.Page #company-pitch p {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}
.CompanyStory.Page .card.company-solution .company-solution-title {
  font-weight: 400;
}
.CompanyStory.Page .card.company-solution .company-solution-description {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}
.company-details {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.company-details .grid-item {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.company-details .company-name {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.company-details .company-description {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: .01em;
}
.company-details .company-category-header {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.company-details .company-category-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: .05em;
  color: #777777;
}
.company-logo {
  max-width: 250px;
}
@media only screen and (min-width: 980px) {
  .company-logo {
    max-width: 300px;
  }
}
.OEM.Page #platform .accordion .toggler {
  padding: 15px 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.OEM.Page #platform .accordion .toggler:before {
  display: inline-block;
  position: relative;
  content: '';
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  background-color: transparent;
  margin-top: 0;
  left: auto;
  top: auto;
}
.OEM.Page #platform .accordion .toggler:after {
  display: none;
}
.OEM.Page #platform .accordion .toggler.expanded {
  background-color: #D9232E;
  color: #FFFFFF;
}
.OEM.Page #platform .accordion .toggler.expanded:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top-color: #FFFFFF;
}
.OEM.Page #platform .accordion .element {
  padding: 15px 20px;
}
@media only screen and (min-width: 768px) {
  .OEM.Page #platform .panelstack.vertical-panelstack {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #f2f2f2;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav,
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-content {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    float: none;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav {
    z-index: 1;
    padding-bottom: 0;
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem {
    width: 100%;
    border: none;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a {
    color: #FFFFFF;
    padding: 15px 40px 15px 20px;
    opacity: 0.5;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:after {
    display: none;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a {
    opacity: 1;
    background-color: #D9232E;
    color: #FFFFFF;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a:before {
    opacity: 1;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: #D9232E;
    -webkit-transform: translate(25px, -50%);
    transform: translate(25px, -50%);
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-content {
    z-index: 0;
    width: 60%;
    border: none;
    opacity: 0;
    -webkit-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    padding: 30px;
  }
}
@media only screen and (min-width: 980px) {
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .OEM.Page #platform .panelstack.vertical-panelstack .panel-content {
    width: 70%;
    padding: 30px 50px;
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.CompanyStory.Page blockquote {
  position: relative;
  margin: 0;
  padding-left: 2.5em;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.4;
  font-weight: 300;
}
.CompanyStory.Page blockquote:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.25em;
  left: -5em;
  border-left: 2.5em solid transparent;
  border-top: 2.5em solid transparent;
  border-right: 2.5em solid #FFFFFF;
}
.CompanyStory.Page blockquote footer {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
