@import '../../settings.less';

section {overflow:hidden;}

.cards .card {
	font-family:@myriad-pro;

	.card-header>*:not(.card-corner) {font-weight:600;}
	.card-title {font-weight:400;}
	.card-details {
		font-size:14px; line-height:14px;
		font-weight:400;
		.uppercase;

		> span {
			display:block;
			margin-top:5px;
			&:first-child {font-weight:600; margin-top:0;}
		}
	}
	.card-description {
		font-size:16px; line-height:21px;
		color:@dark-gray;
		font-weight:400;
	}

	//styles for a horizontal card
	@media @medium {
		&.horizontal {
			.flex-direction(row);
			.align-items(center);

			> .card-content {
				max-width:50%;
				&:first-child {
					.align-self(stretch);
					.display(flex);
					.background-image {width:100%;}
				}
			}
		}
	}

	//styles for featured card
	&.featured {
		overflow:hidden;
		&:before {
			content:"Featured";
			position:absolute; z-index:3;
			display:block;
			width:200px;
			top:20px; right:-70px;
			padding:5px 10px;
			background-color:@black;
			box-shadow:1px 1px 5px fade(@pure-black, 40%);
			.rotation(45deg);

			font-family:@myriad-pro;
			font-size:12px; line-height:12px;
			color:@white;
			font-weight:600;
			.uppercase;
			text-align:center;
		}
		&.component-red:before       {background-color:@red;}
		&.component-orange:before    {background-color:@orange;}
		&.component-green:before     {background-color:@green;}
		&.component-blue:before      {background-color:@blue;}
		&.component-navy-blue:before {background-color:@navy-blue;}
	}
}
