section {
  overflow: hidden;
}
.cards .card {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cards .card .card-header > *:not(.card-corner) {
  font-weight: 600;
}
.cards .card .card-title {
  font-weight: 400;
}
.cards .card .card-details {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.cards .card .card-details > span {
  display: block;
  margin-top: 5px;
}
.cards .card .card-details > span:first-child {
  font-weight: 600;
  margin-top: 0;
}
.cards .card .card-description {
  font-size: 16px;
  line-height: 21px;
  color: #777777;
  font-weight: 400;
}
.cards .card.featured-1:before {
  content: "Featured";
  position: absolute;
  z-index: 3;
  display: inline-block;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #333333;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.cards .card.featured-2 {
  overflow: hidden;
}
.cards .card.featured-2:before {
  content: "Featured";
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
.cards .card.featured-2 .card-header.positioned {
  top: 22px;
}
.cards .card.featured-3 {
  overflow: hidden;
}
.cards .card.featured-3:before {
  content: "Featured";
  position: absolute;
  z-index: 3;
  display: block;
  width: 200px;
  top: 20px;
  right: -70px;
  padding: 5px 10px;
  background-color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
.cards .card.featured-4 {
  overflow: visible;
}
.cards .card.featured-4:before {
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea5e";
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  z-index: 3;
  display: inline-block;
  top: -5px;
  right: 10px;
  padding: 10px 7px;
  background-color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}
.cards .card.component-red:before {
  background-color: #D9232E;
}
.cards .card.component-orange:before {
  background-color: #FF9100;
}
.cards .card.component-green:before {
  background-color: #68AA00;
}
.cards .card.component-blue:before {
  background-color: #4789A3;
}
.cards .card.component-navy-blue:before {
  background-color: #11566F;
}
