section {
  overflow: hidden;
}
.cards .card {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cards .card .card-header > *:not(.card-corner) {
  font-weight: 600;
}
.cards .card .card-title {
  font-weight: 400;
}
.cards .card .card-details {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.cards .card .card-details > span {
  display: block;
  margin-top: 5px;
}
.cards .card .card-details > span:first-child {
  font-weight: 600;
  margin-top: 0;
}
.cards .card .card-description {
  font-size: 16px;
  line-height: 21px;
  color: #777777;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .cards .card.horizontal {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  .cards .card.horizontal > .card-content {
    max-width: 50%;
  }
  .cards .card.horizontal > .card-content:first-child {
    -webkit-align-self: stretch;
    align-self: stretch;
    display: -webkit-flex;
    display: flex;
  }
  .cards .card.horizontal > .card-content:first-child .background-image {
    width: 100%;
  }
}
.cards .card.featured {
  overflow: hidden;
}
.cards .card.featured:before {
  content: "Featured";
  position: absolute;
  z-index: 3;
  display: block;
  width: 200px;
  top: 20px;
  right: -70px;
  padding: 5px 10px;
  background-color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
.cards .card.featured.component-red:before {
  background-color: #D9232E;
}
.cards .card.featured.component-orange:before {
  background-color: #FF9100;
}
.cards .card.featured.component-green:before {
  background-color: #68AA00;
}
.cards .card.featured.component-blue:before {
  background-color: #4789A3;
}
.cards .card.featured.component-navy-blue:before {
  background-color: #11566F;
}
