@import '../settings.less';

main, section {overflow:hidden;}

//new components
@import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
// @import '../_new-components/components-and-expansions/blockquote.less';
// @import '../_new-components/components-and-expansions/button-with-flag.less';
// @import '../_new-components/components-and-expansions/hypercard-graphic.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
// @import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
@import '../_new-components/components-and-expansions/stacked-icons.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
// @import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
// @import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
// @import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
// @import '../_new-components/sliders/multi-item-nav.less';
// @import '../_new-components/sliders/customer-success-logo-video.less';
// @import '../_new-components/sliders/photos.less';





//add the ability to have a no-background image resource thumbnail (used in hero banners)
.resource-thumbnail.transparent:after {background-color:transparent;}

.component {
    &-red {
        .text-block {background-color:@red;}
    }
    &-orange {
        .text-block {background-color:@orange;}
    }
    &-green {
        .text-block {background-color:@green;}
    }
    &-blue {
        .text-block {background-color:@blue;}
    }
    &-navy-blue {
        .text-block {background-color:@navy-blue;}
    }
}


.phase-counter {
    display:block; position:relative;
    padding:25px 0 10px 0;

    font-family:@myriad-pro;
    color:@dark-gray;
    font-size:15px; line-height:1;
    .uppercase;
    font-weight:600;

    .counter-bar {
        position:absolute;
        display:block;
        top:0; left:75px;
        height:10px; width:75px;
        background-color:@light-gray;
        &:before, &:after {
            content:'';
            display:block; position:absolute;
            top:0;
            height:10px; width:75px;
            background-color:@light-gray;
        }
        &:before {right:100%;}
        &:after {left:100%;}
    }
    &.one .counter-bar:before{background-color:@black;}
    &.two .counter-bar{background-color:@black;}
    &.three .counter-bar:after{background-color:@black;}
}






//INDIVIDUAL PAGE STYLES

.FeaturesAndChanges {
    .panelstack.vertical-panelstack {
        @media @medium {
            .panel-nav {width:30%;}
            .panel-content {padding:30px; width:70%;}
        }
        @media @large {
            .panel-nav {width:20%;}
            .panel-content {width:80%;}
        }
    }
    ul.split-lg {
        @media @large {
            .display(flex);
            .flex-direction(row);
            .flex-wrap(wrap);
            .justify-content(space-between);
            padding:0;
            > li {
                .flex(0,0,50%);
                max-width:~"calc(50% - 15px)";
                padding:5px 0 5px 20px;
                &:before {left:0;}
            }
        }
    }
    #features {
        .panelstack.vertical-panelstack {
            @media @medium {
                .panel-content {
                    padding:0;
                    > .flex-row {padding:30px;}
                }
            }
        }
    }
}



.HowToUpgrade {
    #hero {
        .single-transition();
        &[data-selected="red"] {background-color:@red;}
        &[data-selected="orange"] {background-color:@orange;}
        &[data-selected="blue"] {background-color:@blue;}
        &[data-selected="green"] {background-color:@green;}
        &[data-selected="navy-blue"] {background-color:@navy-blue;}
    }
    //for the panel-switch in the hero
    .path-panel {
        overflow:hidden;
        max-height:0;
        padding:0;
        opacity:0;
        .animation(fade-slide-down 0.3s ease-out 0.2s normal forwards);
        .single-transition;
        &.current {.animation(fade-slide-up 0.3s ease-out 0.2s normal forwards); max-height:5000px; padding:60px 0;}
        .element {padding:10px 0 20px 25px;}
    }
    .path-box {
        position:relative;
        .flex(0, 1, auto);
        .display(flex);
        .flex-direction(column);
        .flex-wrap(wrap);
        .align-items(flex-start);

        width: 100%;
        position: relative;
        background-color: fade(@pure-black, 40%);
        border: 3px solid transparent;
        margin-left:50px;
        @media @medium {margin-left:0;}
        .single-transition;

    	font-family:@myriad-pro;
    	font-size:16px;
        text-align:center;

        .text-block {color:@white;}

        .description {
            font-size:16px; line-height:1.5em;
            .uppercase;
            font-weight:600;
        }

        ul {
            padding-left:0;
            list-style:none;
            font-size:18px; line-height:1.2em;
        }

        section,
        footer {
            .flex(0, 1, auto);
            width: 100%;
            padding:20px;
        }
        footer {
            margin-top:auto;
            .single-transition;
            .button {width:80%;}
        }

        &:after {
            content:'';
            position:absolute;
            height:0px; width:0px;
            left:-100px; top:50%;
            margin-top:-50px;
            border:50px solid transparent;
            .single-transition;
            @media @medium {
                left:50%; top:~"calc(100% + 30px)";
                margin-left:-50px;
                margin-top:0;
            }
            @media @large {
                top:~"calc(100% + 70px)";
            }
        }

        &:hover {cursor:pointer;}

        &.current {
            background-color:fade(@pure-black, 70%);
            &:after {
                border-left-color:@white;
                left:-70px;
                @media @medium {
                    left:50%; top:~"calc(100% + 2px)";
                    border-left-color:transparent;
                    border-bottom-color:@white;
                }
                @media @large {
                    top:~"calc(100% + 40px)";
                }
            }
            &.component-red    {border:3px solid @red;}
            &.component-blue   {border:3px solid @blue;}
            &.component-orange {border:3px solid @orange;}
        }
    }
    #self-service-upgrade {
        .phase-counter {
            color:@orange;
            &.one .counter-bar:before{background-color:@orange;}
            &.two .counter-bar{background-color:@orange;}
            &.three .counter-bar:after{background-color:@orange;}
        }
    }
    #upgrade-advisory {
        .phase-counter {
            color:@blue;
            &.one .counter-bar:before{background-color:@blue;}
            &.two .counter-bar{background-color:@blue;}
            &.three .counter-bar:after{background-color:@blue;}
        }
    }
    #upgrade-advisory-form {
        > .flex-row {.justify-content(space-between);}
        .text-col {
            h1.text-large {font-size:40px; line-height:45px;}
            @media @xlarge-only {.flex(0, 0, 50%);}
        }
        #lead-gen-form {
            //background-color:@white;
            box-shadow: 3px 3px 7px fade(@pure-black, 50%);
        }
    }
}






//KEYFRAMES FOR EVERYTHING
@import '../_new-components/components-and-expansions/keyframes-basic-animate-on-scroll.less';
