p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
#lead-gen-form a {
  color: #377ABD;
  text-decoration: none;
}
#lead-gen-form a:hover {
  color: #4EA2F6;
}
main,
section {
  overflow: hidden;
}
.icon-link-grid {
  background-color: transparent!important;
}
.icon-link-grid .grid-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.icon-link-grid .grid-item > .icon,
.icon-link-grid .grid-item > span {
  z-index: 1;
}
.icon-link-grid .grid-item .icon {
  margin-right: 10px;
}
.icon-link-grid .grid-item:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.icon-link-grid .grid-item:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: transparent;
}
.icon-link-grid .grid-item.red:before {
  background-color: #D9232E;
}
.icon-link-grid .grid-item.orange:before {
  background-color: #FF9100;
}
.icon-link-grid .grid-item.green:before {
  background-color: #68AA00;
}
.icon-link-grid .grid-item.blue:before {
  background-color: #4789A3;
}
.icon-link-grid .grid-item.navy-blue:before {
  background-color: #11566F;
}
.icon-link-grid .grid-item:hover {
  padding-left: 20px;
  padding-right: 10px;
}
.icon-link-grid .grid-item:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.icon-link-grid .grid-item:hover.red .icon {
  color: #D9232E;
}
.icon-link-grid .grid-item:hover.orange .icon {
  color: #FF9100;
}
.icon-link-grid .grid-item:hover.green .icon {
  color: #68AA00;
}
.icon-link-grid .grid-item:hover.blue .icon {
  color: #4789A3;
}
.icon-link-grid .grid-item:hover.navy-blue .icon {
  color: #11566F;
}
.icon-link-grid.light .grid-item {
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.light .grid-item:hover:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-link-grid.dark .grid-item {
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.dark .grid-item:hover:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.icon-link-grid.background-white > .grid-item {
  background-color: #FFFFFF;
}
.icon-link-grid.background-light-gray > .grid-item {
  background-color: #f2f2f2;
}
.icon-link-grid.background-gray > .grid-item {
  background-color: #999999;
}
.icon-link-grid.background-dark-gray > .grid-item {
  background-color: #777777;
}
.icon-link-grid.background-black > .grid-item {
  background-color: #333333;
}
.icon-link-grid.background-red > .grid-item {
  background-color: #D9232E;
}
.icon-link-grid.background-orange > .grid-item {
  background-color: #FF9100;
}
.icon-link-grid.background-green > .grid-item {
  background-color: #68AA00;
}
.icon-link-grid.background-blue > .grid-item {
  background-color: #4789A3;
}
.icon-link-grid.background-navy-blue > .grid-item {
  background-color: #11566F;
}
.icon-link-grid.background-trans-black > .grid-item {
  background-color: rgba(0, 0, 0, 0.7);
}
.icon-link-grid.background-trans-white > .grid-item {
  background-color: rgba(255, 255, 255, 0.7);
}
.filter-red {
  background-color: #D9232E;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-red:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(217, 35, 46, 0.7);
}
.filter-orange {
  background-color: #FF9100;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-orange:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 145, 0, 0.7);
}
.filter-green {
  background-color: #68AA00;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-green:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 170, 0, 0.7);
}
.filter-blue {
  background-color: #4789A3;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(71, 137, 163, 0.7);
}
.filter-navy-blue {
  background-color: #11566F;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-navy-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 86, 111, 0.7);
}
.gradient-overlay-red:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
}
.gradient-overlay-orange:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
}
.gradient-overlay-green:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
}
.gradient-overlay-blue:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
}
.gradient-overlay-navy-blue:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
}
.gradient-overlay-black:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
.number-group {
  position: relative;
  z-index: 1;
  padding: 15px 0 5px 30px;
  min-height: 50px;
}
.number-group:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
  top: 0px;
  left: 0px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .number-group {
    padding-top: 30px;
    padding-left: 50px;
    min-height: 100px;
  }
  .number-group:before {
    font-size: 120px;
    line-height: 120px;
  }
}
.number-group.one:before {
  content: '1.';
}
.number-group.two:before {
  content: '2.';
}
.number-group.three:before {
  content: '3.';
}
.number-group.four:before {
  content: '4.';
}
.number-group.five:before {
  content: '5.';
}
.number-group.small {
  padding: 10px 0 5px 20px;
}
.number-group.small:before {
  font-size: 40px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .number-group.small:before {
    font-size: 60px;
    line-height: 60px;
  }
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
.offpage-image.centered {
  margin-left: -25%;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left {
    margin-right: 5%;
  }
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right {
    margin-left: 5%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.z-2 {
  position: relative;
  z-index: 2;
}
.z-3 {
  position: relative;
  z-index: 3;
}
.stacked-icons {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.stacked-icons .icon:not(.icon-block) {
  position: relative;
  z-index: 0;
  padding-bottom: 7px;
  padding-right: 7px;
}
.stacked-icons .icon:not(.icon-block).medium {
  padding-bottom: 12px;
  padding-right: 12px;
}
.stacked-icons .icon:not(.icon-block).large {
  padding-bottom: 17px;
  padding-right: 17px;
}
.stacked-icons .icon.icon-block {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 27px;
  width: 27px;
}
.stacked-icons .icon.icon-block.medium {
  height: 50px;
  width: 50px;
}
.stacked-icons .icon.icon-block.large {
  height: 80px;
  width: 80px;
}
.triangle-group {
  position: relative;
  padding: 5px 0 5px 20px;
}
.triangle-group:before {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #D9232E;
  border-top: 10px solid transparent;
}
@media only screen and (min-width: 768px) {
  .triangle-group {
    padding-left: 25px;
  }
  .triangle-group:before {
    left: -15px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 15px;
  }
}
.triangle-group.large {
  padding: 5px 0 5px 30px;
}
.triangle-group.large:before {
  top: 5px;
  left: -20px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-width: 20px;
}
@media only screen and (min-width: 768px) {
  .triangle-group.large {
    padding-left: 40px;
  }
  .triangle-group.large:before {
    left: -25px;
    border-left-width: 25px;
    border-right-width: 25px;
    border-top-width: 25px;
  }
}
.page-red .triangle-group:before {
  border-right-color: #D9232E;
}
.page-orange .triangle-group:before {
  border-right-color: #FF9100;
}
.page-green .triangle-group:before {
  border-right-color: #68AA00;
}
.page-blue .triangle-group:before {
  border-right-color: #4789A3;
}
.page-navy-blue .triangle-group:before {
  border-right-color: #11566F;
}
.page-black .triangle-group:before {
  border-right-color: #333333;
}
.page-gray .triangle-group:before {
  border-right-color: #999999;
}
.page-white .triangle-group:before {
  border-right-color: #FFFFFF;
}
.component-red .triangle-group:before {
  border-right-color: #D9232E;
}
.component-orange .triangle-group:before {
  border-right-color: #FF9100;
}
.component-green .triangle-group:before {
  border-right-color: #68AA00;
}
.component-blue .triangle-group:before {
  border-right-color: #4789A3;
}
.component-navy-blue .triangle-group:before {
  border-right-color: #11566F;
}
.component-black .triangle-group:before {
  border-right-color: #333333;
}
.component-gray .triangle-group:before {
  border-right-color: #999999;
}
.component-white .triangle-group:before {
  border-right-color: #FFFFFF;
}
.triangle-group.red:before {
  border-right-color: #D9232E;
}
.triangle-group.orange:before {
  border-right-color: #FF9100;
}
.triangle-group.green:before {
  border-right-color: #68AA00;
}
.triangle-group.blue:before {
  border-right-color: #4789A3;
}
.triangle-group.navy-blue:before {
  border-right-color: #11566F;
}
.triangle-group.white:before {
  border-right-color: #FFFFFF;
}
.triangle-group.light-gray:before {
  border-right-color: #f2f2f2;
}
.triangle-group.gray:before {
  border-right-color: #999999;
}
.triangle-group.dark-gray:before {
  border-right-color: #777777;
}
.triangle-group.black:before {
  border-right-color: #333333;
}
@media only screen and (max-width: 767px) {
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a .icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .panelstack.vertical-panelstack {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack .panel-nav {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    float: none;
  }
  .panelstack.vertical-panelstack .panel-nav {
    z-index: 1;
    padding-bottom: 0;
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem {
    width: 100%;
    border: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    color: #FFFFFF;
    padding: 15px 40px 15px 20px;
    opacity: 0.5;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a .icon {
    margin: 0 15px 0 0;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:after {
    display: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a {
    opacity: 1;
    background-color: #D9232E;
    color: #FFFFFF;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a:before {
    opacity: 1;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: #D9232E;
    -webkit-transform: translate(25px, -50%);
    transform: translate(25px, -50%);
  }
  .panelstack.vertical-panelstack .panel-content {
    z-index: 0;
    width: 60%;
    border: none;
    opacity: 0;
    -webkit-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    padding: 30px;
  }
  .panelstack.vertical-panelstack .panel-content .video-wrapper {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-out 0s;
    transition: opacity 0.5s ease-out 0s;
  }
  .panelstack.vertical-panelstack .panel-content.hide .video-wrapper {
    opacity: 0;
    -webkit-transition: opacity 2.5s ease-out 1s;
    transition: opacity 2.5s ease-out 1s;
  }
  .panelstack.vertical-panelstack.component-red .panel-nav .panel-nav-elem.active-panel > a,
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #D9232E;
  }
  .panelstack.vertical-panelstack.component-red .panel-nav .panel-nav-elem.active-panel > a:before,
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #D9232E;
  }
  .panelstack.vertical-panelstack.component-orange .panel-nav .panel-nav-elem.active-panel > a,
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #FF9100;
  }
  .panelstack.vertical-panelstack.component-orange .panel-nav .panel-nav-elem.active-panel > a:before,
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #FF9100;
  }
  .panelstack.vertical-panelstack.component-green .panel-nav .panel-nav-elem.active-panel > a,
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #68AA00;
  }
  .panelstack.vertical-panelstack.component-green .panel-nav .panel-nav-elem.active-panel > a:before,
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #68AA00;
  }
  .panelstack.vertical-panelstack.component-blue .panel-nav .panel-nav-elem.active-panel > a,
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #4789A3;
  }
  .panelstack.vertical-panelstack.component-blue .panel-nav .panel-nav-elem.active-panel > a:before,
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #4789A3;
  }
  .panelstack.vertical-panelstack.component-navy-blue .panel-nav .panel-nav-elem.active-panel > a,
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #11566F;
  }
  .panelstack.vertical-panelstack.component-navy-blue .panel-nav .panel-nav-elem.active-panel > a:before,
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #11566F;
  }
}
@media only screen and (min-width: 980px) {
  .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .panelstack.vertical-panelstack .panel-content {
    width: 70%;
    padding: 30px 50px;
  }
}
.resource-thumbnail.transparent:after {
  background-color: transparent;
}
.component-red .text-block {
  background-color: #D9232E;
}
.component-orange .text-block {
  background-color: #FF9100;
}
.component-green .text-block {
  background-color: #68AA00;
}
.component-blue .text-block {
  background-color: #4789A3;
}
.component-navy-blue .text-block {
  background-color: #11566F;
}
.phase-counter {
  display: block;
  position: relative;
  padding: 25px 0 10px 0;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #777777;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.phase-counter .counter-bar {
  position: absolute;
  display: block;
  top: 0;
  left: 75px;
  height: 10px;
  width: 75px;
  background-color: #f2f2f2;
}
.phase-counter .counter-bar:before,
.phase-counter .counter-bar:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 10px;
  width: 75px;
  background-color: #f2f2f2;
}
.phase-counter .counter-bar:before {
  right: 100%;
}
.phase-counter .counter-bar:after {
  left: 100%;
}
.phase-counter.one .counter-bar:before {
  background-color: #333333;
}
.phase-counter.two .counter-bar {
  background-color: #333333;
}
.phase-counter.three .counter-bar:after {
  background-color: #333333;
}
@media only screen and (min-width: 768px) {
  .FeaturesAndChanges .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .FeaturesAndChanges .panelstack.vertical-panelstack .panel-content {
    padding: 30px;
    width: 70%;
  }
}
@media only screen and (min-width: 980px) {
  .FeaturesAndChanges .panelstack.vertical-panelstack .panel-nav {
    width: 20%;
  }
  .FeaturesAndChanges .panelstack.vertical-panelstack .panel-content {
    width: 80%;
  }
}
@media only screen and (min-width: 980px) {
  .FeaturesAndChanges ul.split-lg {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 0;
  }
  .FeaturesAndChanges ul.split-lg > li {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    max-width: calc(50% - 15px);
    padding: 5px 0 5px 20px;
  }
  .FeaturesAndChanges ul.split-lg > li:before {
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .FeaturesAndChanges #features .panelstack.vertical-panelstack .panel-content {
    padding: 0;
  }
  .FeaturesAndChanges #features .panelstack.vertical-panelstack .panel-content > .flex-row {
    padding: 30px;
  }
}
.HowToUpgrade #hero {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.HowToUpgrade #hero[data-selected="red"] {
  background-color: #D9232E;
}
.HowToUpgrade #hero[data-selected="orange"] {
  background-color: #FF9100;
}
.HowToUpgrade #hero[data-selected="blue"] {
  background-color: #4789A3;
}
.HowToUpgrade #hero[data-selected="green"] {
  background-color: #68AA00;
}
.HowToUpgrade #hero[data-selected="navy-blue"] {
  background-color: #11566F;
}
.HowToUpgrade .path-panel {
  overflow: hidden;
  max-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-animation: fade-slide-down 0.3s ease-out 0.2s normal forwards;
  animation: fade-slide-down 0.3s ease-out 0.2s normal forwards;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.HowToUpgrade .path-panel.current {
  -webkit-animation: fade-slide-up 0.3s ease-out 0.2s normal forwards;
  animation: fade-slide-up 0.3s ease-out 0.2s normal forwards;
  max-height: 5000px;
  padding: 60px 0;
}
.HowToUpgrade .path-panel .element {
  padding: 10px 0 20px 25px;
}
.HowToUpgrade .path-box {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid transparent;
  margin-left: 50px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .HowToUpgrade .path-box {
    margin-left: 0;
  }
}
.HowToUpgrade .path-box .text-block {
  color: #FFFFFF;
}
.HowToUpgrade .path-box .description {
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.HowToUpgrade .path-box ul {
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.2em;
}
.HowToUpgrade .path-box section,
.HowToUpgrade .path-box footer {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  width: 100%;
  padding: 20px;
}
.HowToUpgrade .path-box footer {
  margin-top: auto;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.HowToUpgrade .path-box footer .button {
  width: 80%;
}
.HowToUpgrade .path-box:after {
  content: '';
  position: absolute;
  height: 0px;
  width: 0px;
  left: -100px;
  top: 50%;
  margin-top: -50px;
  border: 50px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media only screen and (min-width: 768px) {
  .HowToUpgrade .path-box:after {
    left: 50%;
    top: calc(100% + 30px);
    margin-left: -50px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 980px) {
  .HowToUpgrade .path-box:after {
    top: calc(100% + 70px);
  }
}
.HowToUpgrade .path-box:hover {
  cursor: pointer;
}
.HowToUpgrade .path-box.current {
  background-color: rgba(0, 0, 0, 0.7);
}
.HowToUpgrade .path-box.current:after {
  border-left-color: #FFFFFF;
  left: -70px;
}
@media only screen and (min-width: 768px) {
  .HowToUpgrade .path-box.current:after {
    left: 50%;
    top: calc(100% + 2px);
    border-left-color: transparent;
    border-bottom-color: #FFFFFF;
  }
}
@media only screen and (min-width: 980px) {
  .HowToUpgrade .path-box.current:after {
    top: calc(100% + 40px);
  }
}
.HowToUpgrade .path-box.current.component-red {
  border: 3px solid #D9232E;
}
.HowToUpgrade .path-box.current.component-blue {
  border: 3px solid #4789A3;
}
.HowToUpgrade .path-box.current.component-orange {
  border: 3px solid #FF9100;
}
.HowToUpgrade #self-service-upgrade .phase-counter {
  color: #FF9100;
}
.HowToUpgrade #self-service-upgrade .phase-counter.one .counter-bar:before {
  background-color: #FF9100;
}
.HowToUpgrade #self-service-upgrade .phase-counter.two .counter-bar {
  background-color: #FF9100;
}
.HowToUpgrade #self-service-upgrade .phase-counter.three .counter-bar:after {
  background-color: #FF9100;
}
.HowToUpgrade #upgrade-advisory .phase-counter {
  color: #4789A3;
}
.HowToUpgrade #upgrade-advisory .phase-counter.one .counter-bar:before {
  background-color: #4789A3;
}
.HowToUpgrade #upgrade-advisory .phase-counter.two .counter-bar {
  background-color: #4789A3;
}
.HowToUpgrade #upgrade-advisory .phase-counter.three .counter-bar:after {
  background-color: #4789A3;
}
.HowToUpgrade #upgrade-advisory-form > .flex-row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.HowToUpgrade #upgrade-advisory-form .text-col h1.text-large {
  font-size: 40px;
  line-height: 45px;
}
@media only screen and (min-width: 1200px) {
  .HowToUpgrade #upgrade-advisory-form .text-col {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.HowToUpgrade #upgrade-advisory-form #lead-gen-form {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: fade-in 0.3s ease-out 0s normal forwards;
    animation: fade-in 0.3s ease-out 0s normal forwards;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
