#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#press-center #hero.background-image {
  background-image: url('/getmedia/cd722862-2349-4c56-85f1-1ce7feb2314c/press');
}
#press-center .company-name {
  display: block;
  max-width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#press-center .company-logo {
  max-width: 75%;
  max-height: 125px;
}
#press-center .publication {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#press-center .publication-title {
  font-weight: 400;
}
#press-center .publication-byline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#press-center .publication-organization {
  font-weight: 400;
}
