h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#press-center #hero.background-image {
  background-image: url('/getmedia/cd722862-2349-4c56-85f1-1ce7feb2314c/press');
}
#press-center .company-name {
  display: block;
  max-width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#press-center .company-logo {
  max-width: 75%;
  max-height: 125px;
}
#press-center .publication {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#press-center .publication-title {
  font-weight: 400;
}
#press-center .publication-byline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#press-center .publication-organization {
  font-weight: 400;
}
