@import '../settings.less';
@import '../overrides.less';



#press-center {
    
    #hero.background-image { background-image: url('/Strategy/media/images/common/banners/press.jpg'); }
    
    .company-name {
        display: block;
        max-width: 65%;
        text-align: center;
        .margin-x(auto);
    }
    .company-logo {
        max-width: 75%;
        max-height: 125px;
    }
    .press-center-title {
        font-weight: @normal;
    }
    .news-item-organization {
        font-weight: @normal;
    }
}