p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
#lead-gen-form a:not(.button) {
  color: #377ABD;
  text-decoration: none;
}
#lead-gen-form a:not(.button):hover {
  color: #4EA2F6;
}
.video-wrapper.portrait-size {
  position: relative;
  padding-top: 0;
  max-width: 350px;
  margin: 0 auto;
}
.video-wrapper.portrait-size:before {
  content: '';
  display: block;
  padding-top: 177.8%;
}
#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#press-center #hero.background-image {
  background-image: url('/getmedia/cd722862-2349-4c56-85f1-1ce7feb2314c/press');
}
#press-center .company-name {
  display: block;
  max-width: 65%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#press-center .company-logo {
  max-width: 75%;
  max-height: 125px;
}
#press-center .publication {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#press-center .publication-title {
  font-weight: 400;
}
#press-center .publication-byline {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#press-center .publication-organization {
  font-weight: 400;
}
.Publication.Single #page-hero {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .Publication.Single #page-hero {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 980px) {
  .Publication.Single #page-hero {
    padding: 60px 0;
  }
}
.Publication.Single #page-hero .date {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #f2f2f2;
}
.Publication.Single article.publication section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Publication.Single article.publication p,
.Publication.Single article.publication li {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.Publication.Single article.publication a {
  font-weight: 400;
}
.Publication.Single article.publication strong {
  font-weight: 600;
}
.Publication.Single article.publication em {
  font-weight: 300;
}
.Publication.Single article.publication .source {
  font-weight: 600;
}
.Publication.Single article.publication .source a {
  font-weight: 600;
}
.Publication.Single article.publication #bwbodyimg {
  margin-bottom: 20px;
}
.Publication.Single article.publication #bwbodyimg p {
  font-size: 14px;
  font-weight: 400;
}
.Publication.Single article.publication .bw-release-table-js {
  margin-bottom: 40px;
}
.Publication.Single article.publication table {
  border: none;
  table-layout: auto;
  border-collapse: separate;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  /*borders*/
  /*table cell paddings*/
}
.Publication.Single article.publication table td,
.Publication.Single article.publication table td p {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
.Publication.Single article.publication table td {
  padding: 2px 5px;
}
.Publication.Single article.publication table td:empty {
  margin: 0;
  padding: 0;
}
.Publication.Single article.publication table .bwalignc {
  text-align: center;
}
.Publication.Single article.publication table .bwalignl {
  text-align: left;
}
.Publication.Single article.publication table .bwalignr {
  text-align: right;
}
.Publication.Single article.publication table .bwvertalignt {
  vertical-align: top;
}
.Publication.Single article.publication table .bwvertalignm {
  vertical-align: middle;
}
.Publication.Single article.publication table .bwvertalignb {
  vertical-align: bottom;
}
.Publication.Single article.publication table .bwtxtalign {
  text-align: left;
  vertical-align: bottom;
}
.Publication.Single article.publication table .bwnowrap {
  white-space: nowrap;
}
.Publication.Single article.publication table .bwsinglebottom {
  border-bottom: solid #333333 1px;
}
.Publication.Single article.publication table .bwdoublebottom {
  border-bottom: double #333333 3px;
}
.Publication.Single article.publication table .bwsingletop {
  border-top: solid #333333 1px;
}
.Publication.Single article.publication table .bwdoubletop {
  border-top: double #333333 3px;
}
.Publication.Single article.publication table .bwtopsingle {
  border-top: solid #333333 1pt;
}
.Publication.Single article.publication table .bwtopdouble {
  border-top: double #333333 2.25pt;
}
.Publication.Single article.publication table .bwbottomsingle {
  border-bottom: solid #333333 1pt;
}
.Publication.Single article.publication table .bwbottomdouble {
  border-bottom: double #333333 2.25pt;
}
.Publication.Single article.publication table .bwleftsingle {
  border-left: solid #333333 1pt;
}
.Publication.Single article.publication table .bwleftdouble {
  border-left: double #333333 2.25pt;
}
.Publication.Single article.publication table .bwrightsingle {
  border-right: solid #333333 1pt;
}
.Publication.Single article.publication table .bwrightdouble {
  border-right: double #333333 2.25pt;
}
.Publication.Single article.publication table .bwpadl0 {
  padding-left: 0.0px !important;
}
.Publication.Single article.publication table .bwpadl1 {
  padding-left: 5.0px !important;
}
.Publication.Single article.publication table .bwpadl2 {
  padding-left: 10.0px !important;
}
.Publication.Single article.publication table .bwpadl4 {
  padding-left: 20.0px !important;
}
.Publication.Single article.publication table .bwpadr0 {
  padding-right: 0.0px !important;
}
.Publication.Single article.publication table .bwpadr1 {
  padding-right: 5.0px !important;
}
.Publication.Single article.publication table .bwpadr2 {
  padding-right: 10.0px !important;
}
.Publication.Single article.publication table .bwpadt1 {
  padding-top: 10.0px;
}
.Publication.Single article.publication table .bwpadb1 {
  padding-bottom: 2.0px;
}
.Publication.Single article.publication table .bwpadb2 {
  padding-bottom: 3.0px;
}
.Publication.Single article.publication table .bwpadb3 {
  padding-bottom: 4.0px;
}
