.hypercard-img {
  border-radius: 10%/6%;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.ai-title,
.ai-subtitle {
  display: none;
}
#hero {
  overflow: hidden;
}
#hero > .flex-row {
  position: relative;
  z-index: 2;
}
#hero.hyperintelligence {
  position: relative;
  padding-bottom: 150px;
  z-index: 1;
}
#hero.hyperintelligence .title {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 1s normal forwards;
  animation: fade-slide-down 0.5s ease-out 1s normal forwards;
}
#hero.hyperintelligence .subtitle {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 1.4s normal forwards;
  animation: fade-slide-down 0.5s ease-out 1.4s normal forwards;
}
#hero.hyperintelligence .button {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 1.8s normal forwards;
  animation: fade-slide-down 0.5s ease-out 1.8s normal forwards;
}
#hero.hyperintelligence .revolving-panels {
  opacity: 0;
  -webkit-animation: revolving-panel-intro 3s ease-out 2s normal forwards;
  animation: revolving-panel-intro 3s ease-out 2s normal forwards;
}
#hero.hyperintelligence:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
}
#hero.hyperintelligence .content-col {
  padding-top: 60px;
}
@media only screen and (min-width: 768px) {
  #hero.hyperintelligence .content-col {
    padding-top: 15px;
  }
}
#hero.hyperintelligence .title > span {
  display: block;
  margin-bottom: 5px;
  font-size: .6em;
  line-height: 1;
}
#hero.hyperintelligence .revolving-panels {
  position: relative;
  padding: 0 0 70px 60px;
  width: 150%;
  margin-bottom: -100px;
}
#hero.hyperintelligence .revolving-panels .screen {
  display: block;
  z-index: 1;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
#hero.hyperintelligence .revolving-panels .screen .screenshot {
  max-width: none;
  width: 100%;
}
#hero.hyperintelligence .revolving-panels .screen .cursor {
  position: absolute;
  z-index: 2;
  width: 15px;
  top: 50%;
  left: 50%;
}
#hero.hyperintelligence .revolving-panels .screen .hypercard-img {
  opacity: 0;
  position: absolute;
  width: 25%;
}
#hero.hyperintelligence .revolving-panels .rev-panel {
  position: absolute;
  z-index: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  -webkit-animation: card-stack-cycle 12s linear 0s normal infinite;
  animation: card-stack-cycle 12s linear 0s normal infinite;
}
#hero.hyperintelligence .revolving-panels .rev-panel:first-child {
  position: relative;
  width: 100%;
}
#hero.hyperintelligence .revolving-panels .rev-panel .hypercard-img {
  -webkit-animation: hero-card-appear 12s linear 0s normal infinite;
  animation: hero-card-appear 12s linear 0s normal infinite;
}
#hero.hyperintelligence .revolving-panels .rev-panel.website .hypercard-img {
  top: 22%;
  left: 21%;
  -webkit-animation-delay: -6s !important;
  animation-delay: -6s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.website .cursor {
  -webkit-animation: hero-cursor-website 12s linear -6s normal infinite;
  animation: hero-cursor-website 12s linear -6s normal infinite;
}
#hero.hyperintelligence .revolving-panels .rev-panel.enterprise-systems {
  -webkit-animation-delay: -3s !important;
  animation-delay: -3s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.enterprise-systems .hypercard-img {
  top: 22%;
  left: 21%;
  -webkit-animation-delay: -9s !important;
  animation-delay: -9s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.enterprise-systems .cursor {
  -webkit-animation: hero-cursor-enterprise-systems 12s linear -9s normal infinite;
  animation: hero-cursor-enterprise-systems 12s linear -9s normal infinite;
}
#hero.hyperintelligence .revolving-panels .rev-panel.productivity-apps {
  -webkit-animation-delay: -6s !important;
  animation-delay: -6s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.productivity-apps .hypercard-img {
  top: 20%;
  left: 9%;
  -webkit-animation-delay: -12s !important;
  animation-delay: -12s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.productivity-apps .cursor {
  -webkit-animation: hero-cursor-productivity-apps 12s linear -12s normal infinite;
  animation: hero-cursor-productivity-apps 12s linear -12s normal infinite;
}
#hero.hyperintelligence .revolving-panels .rev-panel.email {
  -webkit-animation-delay: -9s !important;
  animation-delay: -9s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.email .hypercard-img {
  top: 22%;
  left: 19%;
  -webkit-animation-delay: -15s !important;
  animation-delay: -15s !important;
}
#hero.hyperintelligence .revolving-panels .rev-panel.email .cursor {
  -webkit-animation: hero-cursor-email 12s linear -15s normal infinite;
  animation: hero-cursor-email 12s linear -15s normal infinite;
}
#explore-product .link-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
#explore-product .link-block > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
#explore-product .link-block .line {
  width: 70px;
  height: 5px;
}
@media only screen and (min-width: 768px) {
  #explore-product .link-block {
    min-height: 50vh;
    max-height: 700px;
  }
}
@media only screen and (min-width: 768px) {
  #explore-product .overlay-black:after {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  #explore-product .overlay-black:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
#customers .ratio {
  overflow: hidden;
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-diagonal-down-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20%, -10%);
    transform: translate(20%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-diagonal-down-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20%, -10%);
    transform: translate(20%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-diagonal-up-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 30%);
    transform: translate(10%, 30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-diagonal-up-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 30%);
    transform: translate(10%, 30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes revolving-panel-intro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%) perspective(1000px) rotateY(-10deg);
    transform: translateX(-10%) perspective(1000px) rotateY(-10deg);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-10%) perspective(1000px) rotateY(-20deg);
    transform: translateX(-10%) perspective(1000px) rotateY(-20deg);
  }
}
@keyframes revolving-panel-intro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%) perspective(1000px) rotateY(-10deg);
    transform: translateX(-10%) perspective(1000px) rotateY(-10deg);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(-10%) perspective(1000px) rotateY(-20deg);
    transform: translateX(-10%) perspective(1000px) rotateY(-20deg);
  }
}
@-webkit-keyframes card-stack-cycle {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 0;
  }
  5% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
    opacity: 1;
    z-index: 0;
  }
  25% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
    opacity: 1;
    z-index: 1;
  }
  30% {
    -webkit-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
    opacity: 1;
    z-index: 1;
  }
  50% {
    -webkit-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
    opacity: 1;
    z-index: 2;
  }
  55% {
    -webkit-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
    opacity: 1;
    z-index: 2;
  }
  75% {
    -webkit-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
    opacity: 1;
    z-index: 3;
  }
  80% {
    -webkit-transform: translate(-60px, 80px);
    transform: translate(-60px, 80px);
    opacity: 0;
    z-index: 3;
  }
  95% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
    z-index: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 0;
  }
}
@keyframes card-stack-cycle {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 0;
  }
  5% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
    opacity: 1;
    z-index: 0;
  }
  25% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
    opacity: 1;
    z-index: 1;
  }
  30% {
    -webkit-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
    opacity: 1;
    z-index: 1;
  }
  50% {
    -webkit-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
    opacity: 1;
    z-index: 2;
  }
  55% {
    -webkit-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
    opacity: 1;
    z-index: 2;
  }
  75% {
    -webkit-transform: translate(-60px, 60px);
    transform: translate(-60px, 60px);
    opacity: 1;
    z-index: 3;
  }
  80% {
    -webkit-transform: translate(-60px, 80px);
    transform: translate(-60px, 80px);
    opacity: 0;
    z-index: 3;
  }
  95% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
    z-index: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    z-index: 0;
  }
}
@-webkit-keyframes hero-cursor-website {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 16%;
    left: 27%;
  }
  50% {
    top: 16%;
    left: 27%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@keyframes hero-cursor-website {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 16%;
    left: 27%;
  }
  50% {
    top: 16%;
    left: 27%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@-webkit-keyframes hero-cursor-email {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 46%;
    left: 48%;
  }
  50% {
    top: 46%;
    left: 48%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@keyframes hero-cursor-email {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 46%;
    left: 48%;
  }
  50% {
    top: 46%;
    left: 48%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@-webkit-keyframes hero-cursor-enterprise-systems {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 18%;
    left: 27%;
  }
  50% {
    top: 18%;
    left: 27%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@keyframes hero-cursor-enterprise-systems {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 18%;
    left: 27%;
  }
  50% {
    top: 18%;
    left: 27%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@-webkit-keyframes hero-cursor-productivity-apps {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 63%;
    left: 5%;
  }
  50% {
    top: 63%;
    left: 5%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@keyframes hero-cursor-productivity-apps {
  0% {
    top: 50%;
    left: 50%;
  }
  4% {
    top: 63%;
    left: 5%;
  }
  50% {
    top: 63%;
    left: 5%;
  }
  55% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
@-webkit-keyframes hero-card-appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  4.5% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  6.5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  52% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}
@keyframes hero-card-appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  4.5% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  6.5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  52% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
}
