@import '../settings.less';

//ICON PLUS CTA TEXT COMBO IN HERO BANNER. MAYBE FOR GLOBAL LATER?
.icon-cta {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	padding:@base-spacing;
	color:@black;
	.box-shadow(1px 1px 5px fade(@pure-black, 0%));
	.transition;
	.icon {
		color:@red;
		font-size:50px;
		@media @large {font-size:75px;}
	}
	.cta-text {
		display:block;
		font-family:@myriad-pro;
		font-size:14px; line-height:1em;
		font-weight:400;
		.uppercase;
		margin-top:15px;
	}
	@media @medium {
		padding:@base-spacing @base-spacing * 1.5;
		margin-right:@base-spacing;
		&:last-child {margin-right:0;}
		&:hover {
			color:@red;
		}
	}
	@media @large {padding:@base-spacing @base-spacing * 2;}
	&.white {
		color:@white;
		.box-shadow(1px 1px 5px fade(@pure-black, 0%));
		.icon {color:@white;}
		&:hover {color:@white; background-color:fade(@red, 50%); .box-shadow(1px 1px 5px fade(@pure-black, 50%));}
	}
}

.background-fixed {
	background-attachment:fixed;
	.ipad &, .iphone &, .android & {background-attachment: scroll;}
}





//HERO BANNER STYLES
#hero {
	overflow:hidden;
	background-image: url(/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk);
	@media @medium {.icon-cta {max-width:~"calc(33.3% - 24px)";}}

	//animations after loading
	.title {     opacity:0; .animation(fade-slide-down 0.5s ease-out 0.7s normal forwards);}
	.subtitle {  opacity:0; .animation(fade-slide-down 0.5s ease-out 0.9s normal forwards);}
	.icon-cta {  opacity:0; .animation(fade-slide-up 0.5s ease-out 1.2s normal forwards);}

}
.keyframes(fade-slide-up;{
    0%{opacity:0; .translateY(20%);}
    100%{opacity:1; .translateY(0);}
});
.keyframes(fade-slide-down;{
    0%{opacity:0; .translateY(-20%);}
    100%{opacity:1; .translateY(0);}
});




#whats-new {
	.slick-arrow {
	    top: 50%;
	    .translateY(-50%);
	}
	.slick-slide {
		.align-items(stretch);
	}
	.cards .card {
		border:none;
		.card-header {
			background-color:@pure-black;
			.card-image {
				min-width:100%;
			}
			&:after {background-color:fade(@pure-black, 10%); .transition;}
		}
		@media @medium {
			&:hover {
				border:none;
				.button {background-color:@red;}
				.card-header:after {background-color:fade(@pure-black, 0%);}
			}
		}
	}
}



//2x2 BLOCK OF PRODUCT LINKS
#explore-product {
	.link-block {
		.display(flex);
		.flex-direction(column);
		.align-items(center);
		.justify-content(center);
		border:1px solid @white;
		> p {margin:20px auto; max-width:500px;}
		.line {width:150px;}
		@media @medium {min-height:50vh;}
	}
	@media @medium {
		.overlay-black {
			&:after {background-color:fade(@pure-black, 60%); .transition;}
			&:hover:after {background-color:fade(@pure-black, 50%);}
		}
	}
}




//GRID OF CUSTOMER LOGOS
#customers {
	.ratio {overflow:hidden;}
}
