.icon-cta {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 20px;
  color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.icon-cta .icon {
  color: #D9232E;
  font-size: 50px;
}
@media only screen and (min-width: 980px) {
  .icon-cta .icon {
    font-size: 75px;
  }
}
.icon-cta .cta-text {
  display: block;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .icon-cta {
    padding: 20px 30px;
    margin-right: 20px;
  }
  .icon-cta:last-child {
    margin-right: 0;
  }
  .icon-cta:hover {
    color: #D9232E;
  }
}
@media only screen and (min-width: 980px) {
  .icon-cta {
    padding: 20px 40px;
  }
}
.icon-cta.white {
  color: #FFFFFF;
  background-color: rgba(217, 35, 46, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.icon-cta.white .icon {
  color: #FFFFFF;
}
.icon-cta.white:hover {
  color: #FFFFFF;
}
.background-fixed {
  background-attachment: fixed;
}
.ipad .background-fixed,
.iphone .background-fixed,
.android .background-fixed {
  background-attachment: scroll;
}
#hero {
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #hero .icon-cta {
    max-width: calc(33.3% - 24px);
  }
}
#hero .world-lockup {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.5s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.5s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.5s normal forwards;
}
#hero .title {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
}
#hero .subtitle {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
}
#hero .customer-speaker-logos {
  opacity: 0;
  -webkit-animation: fade-slide-up 0.5s ease-out 1s normal forwards;
  -moz-animation: fade-slide-up 0.5s ease-out 1s normal forwards;
  animation: fade-slide-up 0.5s ease-out 1s normal forwards;
}
#hero .icon-cta {
  opacity: 0;
  -webkit-animation: fade-slide-up 0.5s ease-out 1.2s normal forwards;
  -moz-animation: fade-slide-up 0.5s ease-out 1.2s normal forwards;
  animation: fade-slide-up 0.5s ease-out 1.2s normal forwards;
}
#hero.world2017-hero {
  display: block;
  background-color: #FFFFFF;
  background-image: none;
}
@media only screen and (min-width: 768px) {
  #hero.world2017-hero {
    padding: 40px 0;
  }
}
@media only screen and (min-width: 980px) {
  #hero.world2017-hero {
    padding: 80px 0;
  }
}
#hero.world2017-hero > div {
  position: relative;
  z-index: 1;
}
#hero.world2017-hero:before,
#hero.world2017-hero:after {
  display: block;
  position: absolute;
  z-index: 0;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#hero.world2017-hero:before {
  top: 0;
  left: -150px;
  width: 300px;
  height: 153.87596899px;
  background-image: url(/getmedia/44b5c5c0-d4cb-484e-897b-c3b867c2e4d8/banner-patterns_banner-left-corner);
}
@media only screen and (min-width: 768px) {
  #hero.world2017-hero:before {
    right: 62%;
    left: auto;
    width: 500px;
    height: 256.45994832px;
  }
}
@media only screen and (min-width: 980px) {
  #hero.world2017-hero:before {
    width: 774px;
    height: 397px;
  }
}
#hero.world2017-hero:after {
  bottom: 0;
  left: 50%;
  width: 300px;
  height: 155.75342466px;
  background-image: url(/getmedia/8deb0886-f7bf-4cca-90a9-957c9523cf96/banner-patterns_banner-right-corner);
}
@media only screen and (min-width: 768px) {
  #hero.world2017-hero:after {
    left: 70%;
    width: 500px;
    height: 259.5890411px;
  }
}
@media only screen and (min-width: 980px) {
  #hero.world2017-hero:after {
    left: 63%;
    width: 730px;
    height: 379px;
  }
}
#hero.world2017-hero .world-lockup {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  #hero.world2017-hero .world-lockup {
    margin-top: 30px;
  }
}
#hero.world2017-hero .world-lockup .world-logo {
  margin-left: 0;
  width: 70px;
  margin-right: 20px;
}
@media only screen and (min-width: 980px) {
  #hero.world2017-hero .world-lockup .world-logo {
    width: 90px;
  }
}
#hero.world2017-hero .world-lockup .text-content {
  border-left: 5px solid #D9232E;
  padding-left: 15px;
}
#hero.world2017-hero .world-lockup .text-content > h3 {
  font-size: 18px;
  margin: 0px;
  padding-bottom: 5px;
}
#hero.world2017-hero .world-lockup .text-content > p {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
#hero.world2017-hero .customer-speaker-logos .grid-item {
  padding: 5px;
  margin-right: 3px;
}
@media only screen and (min-width: 768px) {
  #hero.world2017-hero .customer-speaker-logos .grid-item {
    padding: 7.5px;
  }
}
#hero.world2017-hero .customer-speaker-logos .ratio {
  background-color: #f2f2f2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #f2f2f2;
}
#hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #777777;
  text-align: center;
  font-size: 14px;
  line-height: 1.1em;
}
#hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-small {
  font-size: 12px;
}
#hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-tiny {
  font-size: 10px;
}
@media only screen and (min-width: 768px) {
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo {
    font-size: 26px;
  }
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-small {
    font-size: 20px;
  }
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-tiny {
    font-size: 18px;
  }
}
@media only screen and (min-width: 980px) {
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo {
    font-size: 30px;
  }
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-small {
    font-size: 22px;
  }
  #hero.world2017-hero .customer-speaker-logos .ratio .logo.text-logo.text-tiny {
    font-size: 20px;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#whats-new .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#whats-new .slick-slide {
  -webkit-align-items: stretch;
  align-items: stretch;
}
.no-flexbox.flexboxtweener #whats-new .slick-slide {
  -ms-flex-align: stretch;
}
#whats-new .cards .card {
  border: none;
}
#whats-new .cards .card .card-header {
  background-color: #000000;
}
#whats-new .cards .card .card-header .card-image {
  min-width: 100%;
}
#whats-new .cards .card .card-header:after {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #whats-new .cards .card:hover {
    border: none;
  }
  #whats-new .cards .card:hover .button {
    background-color: #D9232E;
  }
  #whats-new .cards .card:hover .card-header:after {
    background-color: rgba(0, 0, 0, 0);
  }
}
#explore-product .link-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
.no-flexbox.flexboxtweener #explore-product .link-block {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #explore-product .link-block > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #explore-product .link-block {
  display: block;
}
.no-flexbox.no-flexboxtweener #explore-product .link-block:before,
.no-flexbox.no-flexboxtweener #explore-product .link-block:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #explore-product .link-block:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #explore-product .link-block > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #explore-product .link-block {
  -ms-flex-direction: column;
}
.no-flexbox.flexboxtweener #explore-product .link-block {
  -ms-flex-align: center;
}
.no-flexbox.flexboxtweener #explore-product .link-block {
  -ms-flex-pack: center;
}
#explore-product .link-block > p {
  margin: 20px auto;
  max-width: 500px;
}
#explore-product .link-block .line {
  width: 150px;
}
@media only screen and (min-width: 768px) {
  #explore-product .link-block {
    min-height: 50vh;
  }
}
@media only screen and (min-width: 768px) {
  #explore-product .overlay-black:after {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  #explore-product .overlay-black:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
#customers .ratio {
  overflow: hidden;
}
