.icon-cta {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 1.43rem;
  color: #333333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.icon-cta .icon {
  color: #D9232E;
  font-size: 50px;
}
@media only screen and (min-width: 980px) {
  .icon-cta .icon {
    font-size: 75px;
  }
}
.icon-cta .cta-text {
  display: block;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .icon-cta {
    padding: 1.43rem 2.145rem;
    margin-right: 1.43rem;
  }
  .icon-cta:last-child {
    margin-right: 0;
  }
  .icon-cta:hover {
    color: #D9232E;
  }
}
@media only screen and (min-width: 980px) {
  .icon-cta {
    padding: 1.43rem 2.86rem;
  }
}
.icon-cta.white {
  color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
}
.icon-cta.white .icon {
  color: #FFFFFF;
}
.icon-cta.white:hover {
  color: #FFFFFF;
  background-color: rgba(217, 35, 46, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.background-fixed {
  background-attachment: fixed;
}
.ipad .background-fixed,
.iphone .background-fixed,
.android .background-fixed {
  background-attachment: scroll;
}
#hero {
  overflow: hidden;
}
#hero.background-image {
  background-image: url(/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk);
}
@media only screen and (min-width: 768px) {
  #hero .icon-cta {
    max-width: calc(33.3% - 24px);
  }
}
#hero .title {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.7s normal forwards;
}
#hero .line {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.8s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.8s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.8s normal forwards;
}
#hero .subtitle {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
  animation: fade-slide-down 0.5s ease-out 0.9s normal forwards;
}
#hero .button {
  opacity: 0;
  -webkit-animation: fade-slide-down 0.5s ease-out 1s normal forwards;
  -moz-animation: fade-slide-down 0.5s ease-out 1s normal forwards;
  animation: fade-slide-down 0.5s ease-out 1s normal forwards;
}
#hero .device-row {
  opacity: 0;
  -webkit-animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
  -moz-animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
  animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
}
#hero > .flex-row {
  position: relative;
  z-index: 2;
}
#hero .banner-background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
}
#hero .device-row {
  position: relative;
  height: 250px;
  margin-top: 30px;
}
#hero .device-row .device-mockup {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, 20px);
  transform: translate(-50%, 20px);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
#hero .device-row .macbook-pro {
  width: 85%;
}
#hero .device-row .ipad {
  width: 70%;
}
#hero .device-row .iphone {
  width: 30%;
}
#hero.first .banner-background.first {
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out 0s;
  transition: opacity 0.5s ease-out 0s;
}
#hero.first .device-row .device-mockup.first {
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
}
#hero.second .banner-background.second {
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out 0s;
  transition: opacity 0.5s ease-out 0s;
}
#hero.second .device-row .device-mockup.second {
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
}
#hero.third .banner-background.third {
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease-out 0s;
  transition: opacity 0.5s ease-out 0s;
}
#hero.third .device-row .device-mockup.third {
  opacity: 1;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s cubic-bezier(0.74, 0.01, 0.68, 1.24) 0.3s;
}
#hero.static-version {
  position: relative;
  overflow: hidden;
}
#hero.static-version .device-mockup {
  opacity: 0;
  -webkit-animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
  -moz-animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
  animation: fade-slide-up 0.7s cubic-bezier(0.74, 0.01, 0.68, 1.24) 1.4s normal forwards;
}
#hero.static-version .device-mockup.ipad {
  -webkit-animation-delay: 1.6s !important;
  -moz-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}
#hero.static-version .device-mockup.iphone {
  -webkit-animation-delay: 1.8s !important;
  -moz-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}
#hero.static-version .angle.top {
  opacity: 0;
  -webkit-animation: fade-diagonal-down-left 0.3s ease-out 1.6s normal forwards;
  -moz-animation: fade-diagonal-down-left 0.3s ease-out 1.6s normal forwards;
  animation: fade-diagonal-down-left 0.3s ease-out 1.6s normal forwards;
}
#hero.static-version .angle.bottom {
  opacity: 0;
  -webkit-animation: fade-diagonal-up-left 0.4s ease-out 1.8s normal forwards;
  -moz-animation: fade-diagonal-up-left 0.4s ease-out 1.8s normal forwards;
  animation: fade-diagonal-up-left 0.4s ease-out 1.8s normal forwards;
}
#hero.static-version .stacked-devices {
  position: relative;
  height: 250px;
  margin-top: 30px;
}
#hero.static-version .stacked-devices .device-mockup {
  position: absolute;
}
#hero.static-version .stacked-devices .macbook-pro {
  z-index: 3;
  width: 110%;
  top: 0;
  left: 50%;
  margin-left: -55%;
}
#hero.static-version .stacked-devices .ipad {
  z-index: 4;
  width: 60%;
  top: 40%;
  left: -15%;
}
#hero.static-version .stacked-devices .iphone {
  z-index: 5;
  width: 20%;
  top: 40%;
  right: 0;
}
@media only screen and (min-width: 768px) {
  #hero.static-version .stacked-devices .macbook-pro {
    width: 90%;
    margin-left: -45%;
  }
  #hero.static-version .stacked-devices .ipad {
    width: 55%;
    top: 55%;
    left: -7%;
  }
  #hero.static-version .stacked-devices .iphone {
    width: 20%;
    top: 40%;
    right: 2%;
  }
}
@media only screen and (min-width: 1200px) {
  #hero.static-version .stacked-devices .ipad {
    width: 50%;
    left: -3%;
  }
  #hero.static-version .stacked-devices .iphone {
    right: -3%;
  }
}
#hero.static-version .angle-wrapper {
  display: block;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#hero.static-version .angle-wrapper.red .angle {
  fill: #D9232E;
}
#hero.static-version .angle-wrapper.orange .angle {
  fill: #FF9100;
}
#hero.static-version .angle-wrapper.green .angle {
  fill: #68AA00;
}
#hero.static-version .angle-wrapper.blue .angle {
  fill: #4789A3;
}
#hero.static-version .angle-wrapper.navy-blue .angle {
  fill: #11566F;
}
#hero.static-version .angle.top {
  right: 0;
  top: 0;
  height: auto;
  width: 150%;
}
#hero.static-version .angle.bottom {
  right: 0;
  bottom: 0;
  height: auto;
  width: 150%;
}
#hero.static-version .angle {
  display: block;
  position: absolute;
  fill-rule: evenodd;
  fill: #000000;
  mix-blend-mode: multiply;
}
@media only screen and (min-width: 768px) {
  #hero.static-version .angle.top {
    height: 40%;
    width: auto;
  }
  #hero.static-version .angle.bottom {
    height: 105%;
    width: auto;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-diagonal-down-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20%, -10%);
    transform: translate(20%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-diagonal-down-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20%, -10%);
    transform: translate(20%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-diagonal-down-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(20%, -10%);
    transform: translate(20%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fade-diagonal-up-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 30%);
    transform: translate(10%, 30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-diagonal-up-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 30%);
    transform: translate(10%, 30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-diagonal-up-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10%, 30%);
    transform: translate(10%, 30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#whats-new .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#whats-new .slick-slide {
  -webkit-align-items: stretch;
  align-items: stretch;
}
#whats-new .cards .card {
  border: none;
}
@media only screen and (min-width: 980px) {
  #whats-new .cards .card:hover {
    border: none;
  }
}
#explore-product .link-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
}
#explore-product .link-block > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
#explore-product .link-block .line {
  width: 70px;
  height: 5px;
}
@media only screen and (min-width: 768px) {
  #explore-product .link-block {
    min-height: 50vh;
    max-height: 700px;
  }
}
@media only screen and (min-width: 768px) {
  #explore-product .overlay-black:after {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  #explore-product .overlay-black:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
#customers .ratio {
  overflow: hidden;
}
