@import '../settings.less';

//MAYBE FOR GLOBAL?
.icon-cta {
	display:inline-block;
	text-align:center;
	padding:@base-spacing @base-spacing * 2;
	color:@white;
	.icon {
		font-size:50px;
		@media @large {font-size:90px;}
	}
	.cta-text {
		display:block;
		font-family:@myriad-pro;
		font-size:14px; line-height:1em;
		.uppercase;
		margin-top:15px;
	}
	&:hover {color:@white;}
}

.background-fixed {
	background-attachment:fixed;
	.ipad &, .iphone &, .android & {background-attachment: scroll;}
}


//HERO BANNER STYLES
#hero {
	.display(flex);
	background-image: url(/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk);
	.flex-row {.align-items(center);}
}

//WHATS NEW CARDS BELOW THE BANNER
#whats-new {
	.cards .card {
		border:none;
		.card-header {
			background-color:@pure-black;
			.card-image {
				min-width:100%;
				@media @medium {
					opacity:0.8;
					.transition;
				}
			}
		}
		@media @medium {
			&:hover {
				border:none;
				.card-image {opacity:0.99;}
			}
		}
	}
}

//2x2 BLOCK OF PRODUCT LINKS
#explore-product {
	.link-block {
		.display(flex);
		.flex-direction(column);
		.align-items(center);
		.justify-content(center);
		border:1px solid @white;
		> p {margin:20px auto; max-width:500px;}
		.line {width:150px;}
		@media @medium {min-height:50vh;}
	}
	@media @medium {
		.overlay-black {
			&:after {background-color:fade(@pure-black, 60%); .transition;}
			&:hover:after {background-color:fade(@pure-black, 50%);}
		}
	}
}

//CUSTOMERS ROW
#customers {
	.logo {
		.position(absolute, 50%, 50%, null, null);
		max-height: calc(100% - 20px);
		max-width: calc(100% - 20px);
    	.translate(-50%,-50%);
	}
}
