@import '../settings.less';
@import '../overrides.less';



// hero banners

    // default hero banner
    .services #hero.background-image { background-image: url('/Strategy/media/images/common/banners/services.jpg'); }

    // custom hero banner for support page
    #customer-support #hero.background-image { background-image: url('/Strategy/media/images/common/banners/support.jpg'); }

    // banner for the older pages
    .services-banner {
        background: url(https://www.microstrategy.com/Strategy/media/images/support/support_top-banner-bkg.jpg) no-repeat center center #11566f;
        background-size: cover;
    }



// support

#customer-support {
    
    #support-packages thead th {
        .flex-direction(column);
        
        @media @small-only {
            padding: 20px 10px;
        }
        @media @medium-down {
            h3 { margin-bottom: 0; }
        }
    }
}

// for older pages

.support-quotes .banner {min-height: 390px;}
@media @medium { .support-quotes .banner {min-height: 170px;} }
@media @large { .support-quotes .banner {min-height: 150px;} }