h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
.h1.line-break,
.h2.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.services #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/services.jpg');
}
#customer-support #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/support.jpg');
}
.services-banner {
  background: url(https://www.microstrategy.com/Strategy/media/images/support/support_top-banner-bkg.jpg) no-repeat center center #11566f;
  background-size: cover;
}
#customer-support #support-packages thead th {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener #customer-support #support-packages thead th {
  -ms-flex-direction: column;
}
@media only screen and (max-width: 767px) {
  #customer-support #support-packages thead th {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 979px) {
  #customer-support #support-packages thead th h3 {
    margin-bottom: 0;
  }
}
.support-quotes .banner {
  min-height: 390px;
}
@media only screen and (min-width: 768px) {
  .support-quotes .banner {
    min-height: 170px;
  }
}
@media only screen and (min-width: 980px) {
  .support-quotes .banner {
    min-height: 150px;
  }
}
