h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
ul li {
  padding: 0;
}
.services #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/services.jpg');
}
#customer-support #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/support.jpg');
}
.services-banner {
  background: url(https://www.microstrategy.com/Strategy/media/images/support/support_top-banner-bkg.jpg) no-repeat center center #11566f;
  background-size: cover;
}
#customer-support #support-packages thead th {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener #customer-support #support-packages thead th {
  -ms-flex-direction: column;
}
@media only screen and (max-width: 767px) {
  #customer-support #support-packages thead th {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 979px) {
  #customer-support #support-packages thead th h3 {
    margin-bottom: 0;
  }
}
#bi-journey .journey-graph-mobile {
  position: relative;
}
#bi-journey .journey-graph-mobile .time-block {
  margin-left: 20px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-left: 2px dashed #999999;
}
#bi-journey .journey-graph-mobile .time-block .text-block {
  margin-bottom: 7.5px;
}
#bi-journey .journey-graph-mobile .time-block .stage-item {
  position: relative;
  overflow: visible;
  margin-left: -20px;
  font-weight: 600;
}
#bi-journey .journey-graph-mobile .time-block .stage-item:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: 15px;
  width: 15px;
  background-color: #D9232E;
  top: -15px;
  left: -29px;
  border-radius: 50%;
}
#bi-journey .journey-graph-mobile .time-block .stage-tag {
  margin-left: -20px;
}
#bi-journey .journey-graph-mobile:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 6px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #999999;
}
#bi-journey .journey-graph {
  position: relative;
  padding: 0 0 0 36px;
}
#bi-journey .journey-graph .axis-item {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 1em;
  font-weight: 600;
  margin: 0 5px 0 0;
}
#bi-journey .journey-graph .label {
  display: block;
  width: auto;
  padding: 10px 0;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #999999;
}
#bi-journey .journey-graph .y-axis-bar {
  position: relative;
}
#bi-journey .journey-graph .y-axis-bar .label.y-axis {
  position: absolute;
  top: 50%;
  left: -18px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
@media only screen and (min-width: 1200px) {
  #bi-journey .journey-graph .y-axis-bar .label.y-axis {
    left: 20px;
  }
}
#bi-journey .journey-graph .x-axis-bar {
  position: relative;
  overflow: visible;
  border-top: 2px dashed #999999;
}
#bi-journey .journey-graph .x-axis-bar .grid-item {
  position: relative;
  overflow: visible;
  text-align: center;
  color: #333333;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#bi-journey .journey-graph .x-axis-bar .grid-item:hover {
  background-color: #f2f2f2;
}
#bi-journey .journey-graph .x-axis-bar .grid-item:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  height: 15px;
  width: 15px;
  background-color: #D9232E;
  bottom: 100%;
  left: 50%;
  margin-bottom: -5.5px;
  margin-left: -7.5px;
  border-radius: 50%;
}
#bi-journey .journey-graph .x-axis-bar .grid-item .axis-item {
  color: #777777;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #bi-journey .journey-graph .x-axis-bar .grid-item .axis-item {
    font-size: 12px;
  }
}
#bi-journey .journey-graph .x-axis-bar .grid-item .icon {
  font-size: 20px;
  padding: 0;
  height: 20px;
  width: 20px;
}
#bi-journey .journey-graph .x-axis-bar .grid-item .icon:before {
  height: 20px;
  width: 20px;
}
#bi-journey .journey-graph .x-axis-bar:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  right: -16px;
  top: -16px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #999999;
}
#bi-journey .journey-graph .line.thick {
  height: 30px;
  display: block;
  width: auto;
  margin-top: 5px;
}
.bi-maturity-curve.white-popup {
  max-width: 1100px;
  width: 90%;
}
.bi-maturity-curve ul li {
  margin-bottom: 0;
}
.bi-maturity-curve .bi-maturity-curve-graph {
  position: relative;
}
.bi-maturity-curve .bi-maturity-curve-graph > .flex-row {
  width: auto;
}
.bi-maturity-curve .bi-maturity-curve-graph .label {
  display: block;
  width: auto;
  padding: 10px 0;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  color: #999999;
  text-align: center;
}
.bi-maturity-curve .bi-maturity-curve-graph .label.y-axis {
  position: absolute;
  top: 40%;
  left: 30px;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  transform: translateY(-50%) translateX(-50%) rotate(-90deg);
}
.bi-maturity-curve .bi-maturity-curve-graph .y-axis-bar {
  position: relative;
  overflow: hidden;
  border-left: 3px dashed #CCCCCC;
  padding: 40px 0 0 0;
  margin-left: 60px;
}
.bi-maturity-curve .bi-maturity-curve-graph .y-axis-bar .curve-graphic {
  position: absolute;
  z-index: 0;
  height: calc(100% - 40px);
  bottom: 20px;
  right: 43%;
}
.bi-maturity-curve .bi-maturity-curve-graph .y-axis-bar > div {
  position: relative;
  z-index: 1;
  color: #999999;
}
.bi-maturity-curve .bi-maturity-curve-graph .y-axis-bar > div.selected {
  color: #D9232E;
}
.bi-maturity-curve .bi-maturity-curve-graph .x-axis-bar {
  position: relative;
  border-top: 3px dashed #CCCCCC;
  margin: 0 0 0 60px;
}
.bi-maturity-curve .bi-maturity-curve-graph.full-details .y-axis-bar .curve-graphic {
  right: 53%;
}
.bi-maturity-curve .bi-maturity-curve-graph.full-details .y-axis-bar > div {
  color: #333333;
}
#ps-offerings #mix-wrapper {
  overflow: hidden;
}
#ps-offerings #mix-wrapper .grid-item {
  display: none;
  position: relative;
  z-index: 1;
}
#ps-offerings .mix-filters {
  position: relative;
}
#ps-offerings .mix-filters .filter {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #999999;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#ps-offerings .mix-filters .filter:hover {
  color: #333333;
}
#ps-offerings .mix-filters .filter.active {
  color: #FFFFFF;
  background-color: #333333;
}
#ps-offerings .mix-filters .filter.red:hover {
  color: #D9232E;
}
#ps-offerings .mix-filters .filter.red.active {
  color: #FFFFFF;
  background-color: #D9232E;
}
#ps-offerings .mix-filters .filter.orange:hover {
  color: #FF9100;
}
#ps-offerings .mix-filters .filter.orange.active {
  color: #FFFFFF;
  background-color: #FF9100;
}
#ps-offerings .mix-filters .filter.green:hover {
  color: #68AA00;
}
#ps-offerings .mix-filters .filter.green.active {
  color: #FFFFFF;
  background-color: #68AA00;
}
#ps-offerings .mix-filters .filter.blue:hover {
  color: #4789A3;
}
#ps-offerings .mix-filters .filter.blue.active {
  color: #FFFFFF;
  background-color: #4789A3;
}
#ps-offerings .mix-filters .filter.navy-blue:hover {
  color: #11566F;
}
#ps-offerings .mix-filters .filter.navy-blue.active {
  color: #FFFFFF;
  background-color: #11566F;
}
@media only screen and (min-width: 768px) {
  #ps-offerings .mix-filters .filter.active:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #333333;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  #ps-offerings .mix-filters .filter.red.active:before {
    border-top-color: #D9232E;
  }
  #ps-offerings .mix-filters .filter.orange.active:before {
    border-top-color: #FF9100;
  }
  #ps-offerings .mix-filters .filter.green.active:before {
    border-top-color: #68AA00;
  }
  #ps-offerings .mix-filters .filter.blue.active:before {
    border-top-color: #4789A3;
  }
  #ps-offerings .mix-filters .filter.navy-blue.active:before {
    border-top-color: #11566F;
  }
}
.support-quotes .banner {
  min-height: 390px;
}
@media only screen and (min-width: 768px) {
  .support-quotes .banner {
    min-height: 170px;
  }
}
@media only screen and (min-width: 980px) {
  .support-quotes .banner {
    min-height: 150px;
  }
}
