@import '../settings.less';
@import '../overrides.less';


    ul li {padding:0;}

// hero banners

    // default hero banner
    .services #hero.background-image { background-image: url('/Strategy/media/images/common/banners/services.jpg'); }

    // custom hero banner for support page
    #customer-support #hero.background-image { background-image: url('/Strategy/media/images/common/banners/support.jpg'); }

    // banner for the older pages
    .services-banner {
        background: url(https://www.microstrategy.com/Strategy/media/images/support/support_top-banner-bkg.jpg) no-repeat center center #11566f;
        background-size: cover;
    }



// support

#customer-support {

    #support-packages thead th {
        .flex-direction(column);

        @media @small-only {
            padding: 20px 10px;
        }
        @media @medium-down {
            h3 { margin-bottom: 0; }
        }
    }
}


// professional services
#bi-journey {
    .journey-graph-mobile {
        position:relative;
        .time-block {
            margin-left:20px; padding-left:40px; padding-bottom:40px;
            border-left:2px dashed @dark-gray;
            .text-block {margin-bottom:7.5px;}
            .stage-item {
                position:relative; overflow:visible;
                margin-left:-20px;
                font-weight:600;
                &:after {
                    content:'';
                    display:block; position:absolute; z-index:1;
                    height:15px; width:15px;
                    background-color:@red;
                    top:-15px; left:-29px;
                    .round;
                }
            }
            .stage-tag {margin-left:-20px;}
        }
        //arrow and the bottom of the dashed line
        &:before {
            content:'';
            display:block; position:absolute; z-index:1;
            left:6px; bottom:-10px;
            width:0; height:0;
            border-left:15px solid transparent;
            border-right:15px solid transparent;

            border-top:15px solid @dark-gray;
        }
    }//end mobile bi journey graph


    .journey-graph {
        position:relative;
        padding:0 0 0 36px;
        .axis-item {
            font-family:@myriad-pro;
            .uppercase;
            font-size:16px; line-height:1em;
            font-weight:600;
            margin:0 5px 0 0;
        }
        .label {
            display:block; width:auto;
            padding:10px 0;
            font-family:@myriad-pro;
            font-size:16px; line-height:1em;
            white-space:nowrap;
            .uppercase;
            font-weight:600;
            color:@dark-gray;
        }
        .y-axis-bar {
            position:relative;
            .label.y-axis {
                position:absolute; top:50%; left:-18px; .transform(translateX(-50%) translateY(-50%) rotate(-90deg));
                @media @xlarge {left:20px;}
            }
        }
        .x-axis-bar {
            position:relative; overflow:visible;
            border-top:2px dashed @dark-gray;
            .grid-item {
                position:relative; overflow:visible;
                text-align:center;
                color:@black;
                .transition;
                &:hover {background-color:@white-smoke;}
                &:after {
                    content:'';
                    display:block; position:absolute; z-index:1;
                    height:15px; width:15px;
                    background-color:@red;
                    bottom:100%; left:50%; margin-bottom:-5.5px; margin-left:-7.5px;
                    .round;
                }
                .axis-item {color:@monsoon; @media @medium-only {font-size:12px;}}
                .icon {
                    font-size:20px;
                    padding:0;
                    height:20px; width:20px;
                    &:before {height:20px; width:20px;}
                }
            }
            &:before {
                content:'';
                display:block; position:absolute; z-index:1;
                right:-16px; top:-16px;
                width:0; height:0;
                border-top:15px solid transparent;
                border-bottom:15px solid transparent;

                border-left:15px solid @dark-gray;
            }
        }
        .line.thick {height:30px; display:block; width:auto; margin-top:5px;}
    }//end desktop journey graph
}
//popups with the bi maturity curve graphic
.bi-maturity-curve {
    &.white-popup {max-width:1100px; width:90%;}
    ul li {margin-bottom:0;}

    .bi-maturity-curve-graph {
        position:relative;
        > .flex-row {width:auto;}
        .label {
            display:block; width:auto;
            padding:10px 0;
            font-family:@myriad-pro;
            font-size:16px; line-height:1em;
            white-space:nowrap;
            .uppercase;
            font-weight:600;
            color:@dark-gray;
            text-align:center;
            &.y-axis {
                position:absolute;
                top:40%; left:30px;
                .transform(translateY(-50%) translateX(-50%) rotate(-90deg));
            }
        }
        .y-axis-bar {
            position:relative; overflow:hidden;
            border-left:3px dashed @gray;
            padding:40px 0 0 0; margin-left:60px;
            .curve-graphic {
                position:absolute;
                height:~"calc(100% - 40px)";
                bottom:20px; right:43%;
            }
            > div {
                color:@dark-gray;
                &.selected {color:@red;}
            }
        }
        .x-axis-bar {position:relative; border-top:3px dashed @gray; margin:0 0 0 60px;}
    }
}



#ps-offerings {
    #mix-wrapper {
        overflow:hidden;
        .grid-item {display:none; position:relative; z-index:1;}
    }
    .mix-filters {
        position:relative;
        .filter {
            display:block; position:relative;
            cursor:pointer;
            background-color:@white-smoke;
            padding:10px; margin-bottom:10px;
            font-family:@myriad-pro;
            .uppercase;
            font-style:normal;
            font-size:18px; line-height:20px;
            color:@dark-gray;
            .transition;
            &:hover {color:@black;}
            &.active {color:@white; background-color:@black;}
            &.red {
                &:hover {color:@red;}
                &.active {color:@white; background-color:@red;}
            }
            &.orange {
                &:hover {color:@orange;}
                &.active {color:@white; background-color:@orange;}
            }
            &.green {
                &:hover {color:@green;}
                &.active {color:@white; background-color:@green;}
            }
            &.blue {
                &:hover {color:@blue;}
                &.active {color:@white; background-color:@blue;}
            }
            &.navy-blue {
                &:hover {color:@navy-blue;}
                &.active {color:@white; background-color:@navy-blue;}
            }
            @media @medium {
                &.active:before {
                    position:absolute; display:block;
                    content:"";
                    bottom:-10px; left:50%; margin-left:-5px;
                    width:0; height:0;
                    border-left:9px solid transparent;
                    border-right:9px solid transparent;
                    border-top:10px solid @black;
                    .transition;
                }
                &.red.active:before {border-top-color:@red;}
                &.orange.active:before {border-top-color:@orange;}
                &.green.active:before {border-top-color:@green;}
                &.blue.active:before {border-top-color:@blue;}
                &.navy-blue.active:before {border-top-color:@navy-blue;}
            }
        }
    }
}


// for older pages

.support-quotes .banner {min-height: 390px;}
@media @medium { .support-quotes .banner {min-height: 170px;} }
@media @large { .support-quotes .banner {min-height: 150px;} }
