.number-group {
  position: relative;
  z-index: 1;
  padding: 15px 0 5px 30px;
}
.number-group:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
  top: 0px;
  left: 0px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .number-group {
    padding-top: 30px;
    padding-left: 50px;
  }
  .number-group:before {
    font-size: 120px;
    line-height: 120px;
  }
}
.number-group.one:before {
  content: '1.';
}
.number-group.two:before {
  content: '2.';
}
.number-group.three:before {
  content: '3.';
}
.number-group.four:before {
  content: '4.';
}
.number-group.five:before {
  content: '5.';
}
.number-group.small {
  padding: 10px 0 5px 20px;
}
.number-group.small:before {
  font-size: 40px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .number-group.small:before {
    font-size: 60px;
    line-height: 60px;
  }
}
.icon-link-grid .grid-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.icon-link-grid .grid-item .icon {
  margin-right: 10px;
}
.icon-link-grid .grid-item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.icon-link-grid .grid-item.red:before {
  background-color: #D9232E;
}
.icon-link-grid .grid-item.orange:before {
  background-color: #FF9100;
}
.icon-link-grid .grid-item.green:before {
  background-color: #68AA00;
}
.icon-link-grid .grid-item.blue:before {
  background-color: #4789A3;
}
.icon-link-grid .grid-item.navy-blue:before {
  background-color: #11566F;
}
.icon-link-grid .grid-item:hover {
  padding-left: 20px;
  padding-right: 10px;
}
.icon-link-grid .grid-item:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.icon-link-grid .grid-item:hover.red .icon {
  color: #D9232E;
}
.icon-link-grid .grid-item:hover.orange .icon {
  color: #FF9100;
}
.icon-link-grid .grid-item:hover.green .icon {
  color: #68AA00;
}
.icon-link-grid .grid-item:hover.blue .icon {
  color: #4789A3;
}
.icon-link-grid .grid-item:hover.navy-blue .icon {
  color: #11566F;
}
.icon-link-grid.light .grid-item {
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.light .grid-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-link-grid.dark .grid-item {
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.dark .grid-item:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
blockquote {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  padding: 0;
  margin: 20px 40px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 26px;
    line-height: 35px;
  }
}
blockquote > span {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  blockquote > span {
    font-size: 18px;
  }
}
blockquote:before,
blockquote:after {
  content: '“';
  display: block;
  position: absolute;
  top: 0.2em;
  left: -50px;
  height: 56px;
  width: 68px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 250px;
  color: rgba(255, 255, 255, 0.5);
}
blockquote:after {
  content: '”';
  top: auto;
  left: auto;
  bottom: -0.2em;
  right: -35px;
}
.IntelligentEnterprise #vision .number-group {
  margin: 0;
  padding: 10px 20px 20px 50px;
  border-top: 3px solid #D9232E;
}
.IntelligentEnterprise #vision .number-group:before {
  left: 15px;
}
.IntelligentEnterprise .media-wrapper {
  position: relative;
  padding-bottom: 200px;
  height: 0;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.IntelligentEnterprise .media-wrapper .resource-thumbnail {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.IntelligentEnterprise .media-wrapper .resource-thumbnail:before {
  margin-top: -15px;
}
.IntelligentEnterprise .media-wrapper .resource-thumbnail .cta {
  margin-top: 50px;
  opacity: 1;
}
.IntelligentEnterprise .media-wrapper .resource-thumbnail:after {
  display: none;
}
.IntelligentEnterprise .media-wrapper .video-wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
}
.IntelligentEnterprise .media-wrapper.video-playing {
  padding-bottom: 56.25%;
}
.IntelligentEnterprise .media-wrapper.video-playing .resource-thumbnail {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.IntelligentEnterprise .media-wrapper.video-playing .video-wrapper {
  opacity: 1;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.IntelligentEnterprise #map #intelligence-map > .flex-row > .map-section,
.IntelligentEnterprise #map #intelligence-map .middle-row {
  width: 100%;
}
.IntelligentEnterprise #map #intelligence-map .map-section {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 768px) {
  .IntelligentEnterprise #map #intelligence-map:before,
  .IntelligentEnterprise #map #intelligence-map:after {
    display: none;
  }
  .IntelligentEnterprise #map #intelligence-map .map-section {
    font-size: 16px;
    margin: 10px;
    padding: 30px 15px;
  }
  .IntelligentEnterprise #map #intelligence-map .map-section.ext-forces {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
    width: 48px;
  }
  .IntelligentEnterprise #map #intelligence-map .map-section.ext-forces .map-section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    width: auto;
    -webkit-transform: translate(-50%) rotate(-90deg);
    transform: translate(-50%) rotate(-90deg);
  }
  .IntelligentEnterprise #map #intelligence-map .map-section.ext-forces:last-child .map-section-title {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg);
  }
  .IntelligentEnterprise #map #intelligence-map .middle-row {
    -webkit-flex: 1 1 1px;
    flex: 1 1 1px;
    max-width: none;
  }
  .IntelligentEnterprise #map #intelligence-map .middle-row .map-section {
    margin-top: 10px;
  }
  .IntelligentEnterprise #map #intelligence-map .middle-row > .map-section:first-child {
    margin-top: 0;
  }
  .IntelligentEnterprise #map #intelligence-map .int-techniques {
    width: 100%;
  }
  .IntelligentEnterprise #map #intelligence-map .int-techniques > .map-section {
    padding: 30px 10px;
    margin: 0;
    border-left: 1px solid #FFFFFF;
  }
  .IntelligentEnterprise #map #intelligence-map .int-techniques > .map-section:first-child {
    border: 0;
  }
}
.ExploreTheMap #hero {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  min-height: 500px;
  height: 100vh;
  max-height: 900px;
}
.ExploreTheMap .scroll-details-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  min-height: 100vh;
}
.ExploreTheMap .scroll-details-row > .flex-row {
  position: relative;
}
.ExploreTheMap .scroll-details-row .triangle-list > li {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .ExploreTheMap .scroll-details-row .triangle-list > li {
    padding-top: 0px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 980px) {
  .ExploreTheMap .scroll-details-row .triangle-list > li {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.ExploreTheMap #enterprise-assets.scroll-details-row .triangle-list > li {
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .ExploreTheMap #enterprise-assets.scroll-details-row .triangle-list > li {
    padding-bottom: 0;
  }
}
.ExploreTheMap .background-section-label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 60px;
  line-height: 1em;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .ExploreTheMap .background-section-label {
    font-size: 80px;
    margin-left: -20px;
  }
}
@media only screen and (min-width: 980px) {
  .ExploreTheMap .background-section-label {
    font-size: 120px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .ExploreTheMap #intelligence-applications #constituents,
  .ExploreTheMap #intelligence-platform #security {
    padding-bottom: 250px;
  }
}
.ExploreTheMap #map-download {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  min-height: 500px;
  height: 80vh;
  max-height: 900px;
}
.ExploreTheMap #map-download .button.gray.outline:hover {
  background-color: transparent;
  color: #999999;
  cursor: default;
}
#scroll-content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #FFFFFF;
  background: #333333;
  background: -webkit-linear-gradient(45deg, #000000, #666666);
  background: linear-gradient(45deg, #000000, #666666);
  background-attachment: fixed;
}
#intelligence-map {
  position: relative;
  z-index: 4;
  padding: 0;
}
#intelligence-map:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map:before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  height: 40px;
  width: 100%;
  bottom: 100%;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #intelligence-map > .flex-row {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
#intelligence-map.ext-forces,
#intelligence-map.ent-assets,
#intelligence-map.int-platform,
#intelligence-map.int-center,
#intelligence-map.int-architecture,
#intelligence-map.int-program {
  bottom: 0!important;
  top: auto!important;
}
#intelligence-map.ext-forces:before,
#intelligence-map.ent-assets:before,
#intelligence-map.int-platform:before,
#intelligence-map.int-center:before,
#intelligence-map.int-architecture:before,
#intelligence-map.int-program:before,
#intelligence-map.ext-forces:after,
#intelligence-map.ent-assets:after,
#intelligence-map.int-platform:after,
#intelligence-map.int-center:after,
#intelligence-map.int-architecture:after,
#intelligence-map.int-program:after {
  opacity: 0.8;
}
@media only screen and (min-width: 980px) {
  #intelligence-map.ext-forces,
  #intelligence-map.ent-assets,
  #intelligence-map.int-platform,
  #intelligence-map.int-center,
  #intelligence-map.int-architecture,
  #intelligence-map.int-program {
    bottom: auto!important;
    top: 50%!important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 41.6666666666%!important;
    max-width: 58.33333333333%;
  }
  #intelligence-map.ext-forces:before,
  #intelligence-map.ent-assets:before,
  #intelligence-map.int-platform:before,
  #intelligence-map.int-center:before,
  #intelligence-map.int-architecture:before,
  #intelligence-map.int-program:before,
  #intelligence-map.ext-forces:after,
  #intelligence-map.ent-assets:after,
  #intelligence-map.int-platform:after,
  #intelligence-map.int-center:after,
  #intelligence-map.int-architecture:after,
  #intelligence-map.int-program:after {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #intelligence-map.ext-forces,
  #intelligence-map.ent-assets,
  #intelligence-map.int-platform,
  #intelligence-map.int-center,
  #intelligence-map.int-architecture,
  #intelligence-map.int-program {
    left: 50%!important;
    max-width: 700px;
    margin-left: -100px !important;
  }
}
#intelligence-map.int-applications {
  bottom: 0!important;
  top: auto!important;
}
#intelligence-map.int-applications:before,
#intelligence-map.int-applications:after {
  opacity: 0.8;
}
@media only screen and (min-width: 980px) {
  #intelligence-map.int-applications {
    bottom: auto!important;
    left: 41.6666666666%!important;
    max-width: 58.33333333333%;
  }
  #intelligence-map.int-applications.sticky-mode {
    top: 50%!important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #intelligence-map.int-applications:before,
  #intelligence-map.int-applications:after {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #intelligence-map.int-applications {
    left: 50%!important;
    max-width: 700px;
    margin-left: -100px !important;
  }
}
#intelligence-map .map-section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  margin: 20px 20px 0 20px;
  background-color: #777777;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .map-section {
    padding: 20px;
    width: 100%;
    margin: 20px;
    -webkit-transition: 0.5s all ease-out 0s, 0.2s background-color ease-out 0s;
    transition: 0.5s all ease-out 0s, 0.2s background-color ease-out 0s;
  }
}
@media only screen and (min-width: 980px) {
  #intelligence-map .map-section {
    font-size: 18px;
  }
}
#intelligence-map .map-section .map-section-title {
  display: block;
  width: 100%;
  max-height: 100vh;
  opacity: 1;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map .map-section:hover .map-section-title {
  color: #FFFFFF;
}
#intelligence-map .map-section .revealed-content {
  display: block;
  overflow: hidden;
  width: 100%;
  max-height: 0;
  opacity: 0;
}
#intelligence-map .map-section.ext-forces {
  background-color: #11566F;
}
#intelligence-map .map-section.ext-forces:hover {
  background-color: #11566F !important;
}
#intelligence-map .map-section.ext-forces .feature-list-title {
  background-color: #11566F;
}
#intelligence-map .map-section.ext-forces .icon {
  color: #11566F;
}
@media only screen and (max-width: 767px) {
  #intelligence-map .map-section.ext-forces:last-of-type {
    display: none;
  }
}
#intelligence-map .map-section.ent-assets {
  background-color: #4789A3;
}
#intelligence-map .map-section.ent-assets:hover {
  background-color: #4789A3 !important;
}
#intelligence-map .map-section.ent-assets .feature-list-title {
  background-color: #4789A3;
}
#intelligence-map .map-section.ent-assets .icon {
  color: #4789A3;
}
#intelligence-map .map-section.int-platform {
  background-color: #D9232E;
}
#intelligence-map .map-section.int-platform:hover {
  background-color: #D9232E !important;
}
#intelligence-map .map-section.int-platform .feature-list-title {
  background-color: #D9232E;
}
#intelligence-map .map-section.int-platform .icon {
  color: #D9232E;
}
#intelligence-map .map-section.int-center,
#intelligence-map .map-section.int-architecture,
#intelligence-map .map-section.int-program {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-center:hover,
#intelligence-map .map-section.int-architecture:hover,
#intelligence-map .map-section.int-program:hover {
  background-color: #FF9100 !important;
}
#intelligence-map .map-section.int-center .feature-list-title,
#intelligence-map .map-section.int-architecture .feature-list-title,
#intelligence-map .map-section.int-program .feature-list-title {
  background-color: #FF9100;
}
#intelligence-map .map-section.int-center .icon,
#intelligence-map .map-section.int-architecture .icon,
#intelligence-map .map-section.int-program .icon {
  color: #FF9100;
}
#intelligence-map .map-section.int-center .icon.icon-block,
#intelligence-map .map-section.int-architecture .icon.icon-block,
#intelligence-map .map-section.int-program .icon.icon-block {
  color: #FFFFFF;
}
#intelligence-map .map-section.int-center .icon.black,
#intelligence-map .map-section.int-architecture .icon.black,
#intelligence-map .map-section.int-program .icon.black {
  color: #333333;
}
#intelligence-map .map-section.int-applications {
  background-color: #68AA00;
}
#intelligence-map .map-section.int-applications:hover {
  background-color: #68AA00 !important;
}
#intelligence-map .map-section.int-applications .feature-list-title {
  background-color: #68AA00;
}
#intelligence-map .map-section.int-applications .icon {
  color: #68AA00;
}
#intelligence-map .feature-list .feature-list-title {
  display: block;
  padding: 10px;
  background-color: #333333;
  color: #FFFFFF;
}
#intelligence-map .feature-list .feature-group {
  list-style: none;
  padding: 15px;
}
#intelligence-map .feature-list .feature-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
}
#intelligence-map .feature-list .feature-group > li > img,
#intelligence-map .feature-list .feature-group > li > .icon {
  margin: 0 10px 0 0;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .middle-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 200%;
  }
}
@media only screen and (min-width: 768px) {
  #intelligence-map .middle-row > .map-section {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #intelligence-map .middle-row > .map-section:last-child {
    margin-top: 20px;
  }
}
#intelligence-map .int-techniques {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .int-techniques {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 0;
    width: calc(100% + (20px * 2));
  }
}
#intelligence-map .int-techniques > .map-section {
  margin-top: 0;
  border-top: 1px solid #FFFFFF;
  box-shadow: none;
}
#intelligence-map .int-techniques > .map-section:first-child {
  border: none;
}
@media only screen and (min-width: 768px) {
  #intelligence-map .int-techniques > .map-section {
    font-size: 12px;
    padding: 20px 10px;
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 0;
    border-top: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  #intelligence-map .int-techniques > .map-section:last-child {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 980px) {
  #intelligence-map .int-techniques > .map-section {
    font-size: 18px;
  }
}
#intelligence-map.ext-forces .map-section:not(.ext-forces) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.ext-forces .map-section.ext-forces {
  -webkit-flex: 3 1 1px;
  flex: 3 1 1px;
  max-width: none;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.ext-forces .map-section.ext-forces .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.ext-forces .map-section.ext-forces .revealed-content {
  max-height: 100vh;
  opacity: 1;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #intelligence-map.ext-forces .map-section.ext-forces .feature-list .feature-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  #intelligence-map.ext-forces .map-section.ext-forces .feature-list .feature-group > li {
    -webkit-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%;
  }
}
#intelligence-map.ext-forces .middle-row {
  -webkit-flex: 1 1 135px;
  flex: 1 1 135px;
  max-width: 135px;
  -webkit-justify-content: center;
  justify-content: center;
}
#intelligence-map.ext-forces .middle-row > .map-section {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
}
#intelligence-map.ext-forces .int-techniques {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #intelligence-map.ext-forces .int-techniques {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
#intelligence-map.ext-forces .int-techniques > .map-section {
  margin: 0;
}
#intelligence-map.ext-forces .int-techniques > .map-section:last-child {
  margin-bottom: 20px;
}
#intelligence-map.ent-assets .map-section:not(.ent-assets) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.ent-assets .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.ent-assets .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.ent-assets .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.ent-assets .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.ent-assets .map-section.ent-assets {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.ent-assets .map-section.ent-assets .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.ent-assets .map-section.ent-assets .revealed-content {
  max-height: 100vh;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list .feature-list-title {
  width: 100%;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list.data,
#intelligence-map.ent-assets .map-section.ent-assets .feature-list.services {
  width: 100%;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list.apps {
  border-right: 1px solid #FFFFFF;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list .feature-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 5px 0 0 0;
  width: calc(100% - 10px);
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list .feature-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 0 1px;
  flex: 1 0 1px;
  max-width: none;
  padding: 5px;
  text-align: center;
}
#intelligence-map.ent-assets .map-section.ent-assets .feature-list .feature-group > li > img,
#intelligence-map.ent-assets .map-section.ent-assets .feature-list .feature-group > li > .icon {
  margin: 0 0 10px 0;
}
#intelligence-map.ent-assets .middle-row {
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#intelligence-map.ent-assets .int-techniques > .map-section {
  padding: 10px 0;
}
#intelligence-map.int-platform .map-section:not(.int-platform) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.int-platform .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.int-platform .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.int-platform .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.int-platform .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.int-platform .map-section.int-platform {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.int-platform .map-section.int-platform .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.int-platform .map-section.int-platform > .revealed-content {
  max-height: 200vh;
  opacity: 1;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  border-bottom: 1px solid #FFFFFF;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list:last-child {
  border-bottom: none;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list .feature-list-title {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list .feature-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  width: calc(100% - 10px);
  padding: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list .feature-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 16.66667%;
  flex: 1 1 16.66667%;
  max-width: 16.66667%;
  padding: 5px;
  text-align: center;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list .feature-group > li > img,
#intelligence-map.int-platform .map-section.int-platform .feature-list .feature-group > li > .icon {
  margin: 0 0 10px 0;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list.active .feature-list-title {
  color: #FFFFFF;
}
#intelligence-map.int-platform .map-section.int-platform .feature-list.active .feature-group {
  max-height: 100vh;
  opacity: 1;
  padding: 5px 0 0 0;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#intelligence-map.int-platform .middle-row {
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#intelligence-map.int-platform .int-techniques > .map-section {
  padding: 10px 0;
}
#intelligence-map.int-program .map-section:not(.int-program) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
  z-index: 0;
}
#intelligence-map.int-program .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.int-program .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.int-program .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.int-program .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.int-program .map-section.int-program {
  z-index: 1;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.int-program .map-section.int-program .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.int-program .map-section.int-program > .revealed-content {
  max-height: 200vh;
  opacity: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
#intelligence-map.int-program .map-section.int-program .feature-list {
  -webkit-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  max-width: 33.333%;
  border-right: 1px solid #FFFFFF;
}
#intelligence-map.int-program .map-section.int-program .feature-list .feature-list-title {
  font-size: 16px;
}
#intelligence-map.int-program .map-section.int-program .feature-list:last-child {
  border-right: none;
}
#intelligence-map.int-program .int-techniques {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
#intelligence-map.int-program .int-techniques > .map-section {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  margin: 0;
  width: 100%;
}
#intelligence-map.int-program .int-techniques > .map-section:first-child {
  margin-bottom: 20px;
}
#intelligence-map.int-architecture .map-section:not(.int-architecture) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
  z-index: 0;
}
#intelligence-map.int-architecture .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.int-architecture .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.int-architecture .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.int-architecture .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.int-architecture .map-section.int-architecture {
  z-index: 1;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.int-architecture .map-section.int-architecture .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.int-architecture .map-section.int-architecture > .revealed-content {
  max-height: 200vh;
  opacity: 1;
}
#intelligence-map.int-architecture .map-section.int-architecture .monitor-diagram {
  width: 51px;
  height: 37.28px;
}
#intelligence-map.int-architecture .map-section.int-architecture .complex-monitor-diagram {
  width: 175px;
  height: 97.39px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-title {
  display: block;
  padding: 10px;
  color: #FFFFFF;
  background-color: #FF9100;
  font-size: 16px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper img,
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper > .icon {
  margin-bottom: 5px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-item {
  position: relative;
  padding: 15px 10px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-item.uat {
  position: relative;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-item.uat:after {
  content: '';
  position: absolute;
  background-color: #CCCCCC;
  height: 20px;
  width: 2px;
  bottom: -10px;
  left: 50%;
  margin-left: -1px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line {
  position: absolute;
  width: 25%;
  height: 50%;
  top: 0;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line .icon {
  color: #999999;
  position: absolute;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line:before,
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line:after {
  content: '';
  position: absolute;
  background-color: #999999;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line:before {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line:after {
  width: 50%;
  height: 2px;
  right: 0;
  bottom: 0;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.left {
  left: 17%;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.right {
  right: 17%;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.right:after {
  right: auto;
  left: 0;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.point-up .icon {
  top: -5px;
  left: 50%;
  margin-left: -6px;
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.point-right:before {
  -webkit-transform: translateX(15px);
  transform: translateX(15px);
  height: calc(100% - 15px);
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.point-right:after {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  width: calc(50% - 15px);
}
#intelligence-map.int-architecture .map-section.int-architecture .diagram-wrapper .diagram-line.point-right .icon {
  bottom: 9px;
  right: -5px;
}
#intelligence-map.int-architecture .map-section.int-architecture .feature-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#intelligence-map.int-architecture .map-section.int-architecture .feature-list .feature-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
}
#intelligence-map.int-architecture .map-section.int-architecture .feature-list .feature-group > li {
  padding: 5px 10px;
}
#intelligence-map.int-architecture .int-techniques {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
#intelligence-map.int-architecture .int-techniques > .map-section {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  margin: 0;
  width: 100%;
}
#intelligence-map.int-architecture .int-techniques > .map-section:first-child {
  margin-bottom: 20px;
}
#intelligence-map.int-center .map-section:not(.int-center) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
  z-index: 0;
}
#intelligence-map.int-center .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.int-center .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.int-center .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.int-center .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.int-center .map-section.int-center {
  z-index: 1;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.int-center .map-section.int-center .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.int-center .map-section.int-center > .revealed-content {
  max-height: 200vh;
  opacity: 1;
}
#intelligence-map.int-center .map-section.int-center .stacked-icons {
  -webkit-align-self: center;
  align-self: center;
  position: relative;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
#intelligence-map.int-center .map-section.int-center .stacked-icons .icon {
  position: relative;
  z-index: 0;
}
#intelligence-map.int-center .map-section.int-center .stacked-icons .icon.icon-block {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}
#intelligence-map.int-center .map-section.int-center .feature-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  width: 100%;
  padding-bottom: 20px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-list-title {
  width: 100%;
  font-size: 16px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group {
  -webkit-flex: 0 1 25%;
  flex: 0 1 25%;
  max-width: 25%;
  border-right: 1px solid #FFFFFF;
  padding: 0;
  margin: 0;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group:last-child {
  border-right: none;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director {
  position: relative;
  width: 100%;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director > li:before {
  display: none;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director:before,
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director:after {
  content: '';
  position: absolute;
  background-color: #CCCCCC;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director:before {
  height: 10px;
  width: 2px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group.director:after {
  height: 2px;
  width: calc(75% + 4px);
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  position: relative;
  padding: 15px 10px;
  text-align: center;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li > img,
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li > .icon {
  margin: 0 0 10px 0;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li:before,
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li:after {
  content: '';
  position: absolute;
  background-color: #CCCCCC;
  height: 10px;
  width: 2px;
  left: 50%;
  margin-left: -1px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li:before {
  top: 0px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li:after {
  bottom: 0px;
}
#intelligence-map.int-center .map-section.int-center .feature-list .feature-group > li:last-child:after {
  display: none;
}
#intelligence-map.int-center .int-techniques {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
#intelligence-map.int-center .int-techniques > .map-section {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  margin: 0;
  width: 100%;
}
#intelligence-map.int-center .int-techniques > .map-section:first-child {
  margin-bottom: 20px;
}
#intelligence-map.int-applications .map-section:not(.int-applications) {
  background-color: #777777;
  color: #CCCCCC;
  font-size: 90%;
  padding: 10px;
}
#intelligence-map.int-applications .map-section.ext-forces {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: 33px;
}
#intelligence-map.int-applications .map-section.ext-forces .map-section-title {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  width: auto;
  -webkit-transform: translate(-50%) rotate(-90deg);
  transform: translate(-50%) rotate(-90deg);
}
#intelligence-map.int-applications .map-section.ext-forces:last-child .map-section-title {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}
#intelligence-map.int-applications .map-section.ext-forces .revealed-content {
  width: 0px;
}
#intelligence-map.int-applications .map-section.int-applications {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 0;
  background-color: #FFFFFF !important;
  color: #777777;
  cursor: default;
}
#intelligence-map.int-applications .map-section.int-applications .map-section-title {
  max-height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
#intelligence-map.int-applications .map-section.int-applications > .revealed-content {
  max-height: 200vh;
  opacity: 1;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
  border-bottom: 1px solid #FFFFFF;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list:last-child {
  border-bottom: none;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list .feature-list-title {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list .feature-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  width: calc(100% - 10px);
  padding: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list .feature-group > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex: 1 1 16.66667%;
  flex: 1 1 16.66667%;
  max-width: 16.66667%;
  padding: 5px;
  text-align: center;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list .feature-group > li > img,
#intelligence-map.int-applications .map-section.int-applications .feature-list .feature-group > li > .icon {
  margin: 0 0 10px 0;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list.active .feature-list-title {
  color: #FFFFFF;
}
#intelligence-map.int-applications .map-section.int-applications .feature-list.active .feature-group {
  max-height: 100vh;
  opacity: 1;
  padding: 5px 0 0 0;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#intelligence-map.int-applications .middle-row {
  -webkit-flex: 1 1 1px;
  flex: 1 1 1px;
  max-width: none;
}
#intelligence-map.int-applications .int-techniques > .map-section {
  padding: 10px 0;
}
.GetStarted .desktop-card .card-content:last-child {
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .GetStarted .desktop-card {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    -webkit-align-items: center;
    align-items: center;
  }
  .GetStarted .desktop-card .background-image {
    width: 50%;
    -webkit-align-self: stretch;
    align-self: stretch;
  }
  .GetStarted .desktop-card .card-content {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    -moz-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    animation: opacity-reveal 0.3s ease-out 0s normal forwards;
  }
}
@-moz-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    height: auto;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    height: 0;
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
