//single angled hero for feature pages
.single-angle-cross-hero {
    position:relative;
    padding:60px 0 20px!important;
    @media @medium {padding:80px 0 40px!important;}
    overflow:visible!important;
    > .flex-row {
        position:relative;
        z-index:1;
        color:@white;
    }
    .inline-flex {
        padding:15px;
        background-color:fade(@pure-black, 30%);
        box-shadow:1px 1px 5px fade(@pure-black, 20%);
    }
    .text-uppercase {letter-spacing:0.2em;}
    &:before {
        content:'';
        position:absolute; z-index:0;
        top:0; left:0;
        width:100%; height:100%;
        background-color:@black;

		-webkit-clip-path: polygon(0 100%, 300% 0, 0 0)!important;
		clip-path: polygon(0 100%, 300% 0, 0 0)!important;
        @media @medium {
            height:105%;
    		-webkit-clip-path: polygon(0 100%, 170% 0, 0 0)!important;
    		clip-path: polygon(0 100%, 170% 0, 0 0)!important;
        }
    }
	.InternetExplorer & {
		&:before {
			height:75%;
			.transform(skew(0, -10deg));
		}
	}

    .page-red &:before {.angled-gradient(@light-red, @dark-red, @red);}
    .page-orange &:before {.angled-gradient(@light-orange, @dark-orange, @orange);}
    .page-green &:before {.angled-gradient(@light-green, @dark-green, @green);}
    .page-blue &:before {.angled-gradient(@light-blue, @dark-blue, @blue);}
    .page-navy-blue &:before {.angled-gradient(@light-navy-blue, @dark-navy-blue, @navy-blue);}
}
