@import '../../settings.less';

#page-header, .pushy, .top-banner {display:none!important;}
.top-banner-interum .container {padding:0;}

#page-header-interum {
	position:relative;
	overflow:visible;
	z-index: 10 !important;
	border-bottom:1px solid @gainsboro;
	padding:0px;
	background:@white;
	-webkit-font-smoothing:antialiased;
	//.box-shadow(1px 1px 10px fade(@pure-black, 50%));

	//.flex-row {min-height: extract(@header-height, 3);}
    .logo-zone {
		.flex(1, 1, 200px);
		min-width:200px; //this is a fix for IE, keeps the col from shrinking beyond the width of the content (250px is width of the tagline)
        padding:@column-gutter / 2;

        @media @medium {.flex(1, 1, auto);}
        @media @large {min-width:220px;}
        @media @xlarge {min-width:230px;}

        .logo-link {
			display:inline-block; vertical-align:middle;
			margin-right:10px;
			max-width:180px;
			@media @large {max-width:190px;}
			@media @xlarge {max-width:215px;}
		 }
		.tagline {
			display:inline-block; vertical-align:middle;
			margin:3px 0 0 0;
			font-family:@myriad-pro;
			.uppercase;
			font-style:normal; font-weight:400;
			font-size:14px; line-height:20px;
			color:@monsoon; white-space:nowrap;
			.wf-loading & {visibility:hidden;}
			.wf-active &, .wf-inactive & {visibility:visible;}

			@media @small-only {display:none;}
		}
	}
    #header-contact {
        .display(flex);
        .align-items(center);
        .justify-content(flex-end);
        padding: @column-gutter / 2;

        p {
            margin: 0;
            font-size: 16px;
        }
        .button {
            margin-left: @column-gutter;
        }
    }
	.top-nav-menu {
        .flex(0, 1, auto);
		@media @small-only {.flex(0, 0, auto);}
        .align-self(stretch);
        .display(flex);
        .align-items(stretch);
        .justify-content(flex-end);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*disables background color on ios tap*/

		.menu-item {
            .display(flex);
            .flex-direction(row);
            .justify-content(center);
            .flex(0, 0, auto);
			z-index:11;

			font-family:@myriad-pro;
			font-style:normal; font-weight:400;
			font-size:16px; line-height:1em;
			@media @large {font-size:18px;}
			text-align:center;
			.wf-loading & {visibility:hidden;}
			.wf-active &, .wf-inactive & {visibility:visible;}

            .top-link {
                .display(flex);
                .flex-direction(row);
                .align-items(center);
                .flex(0, 0, auto);
                position:relative; overflow:hidden;
                padding:@column-gutter / 2;
                min-height:100%;
	    		color:@charcoal;
				.transition;

                //line
                &:after {
                    display:block; position:absolute; z-index:4;
                    content:'';
                    bottom:0; left:0;
                    height:5px; width:100%;
                    background-color:@dark-gray;
                    .translateY(5px);
                    .transition;
                }
            }
			&:hover {
                color:@red;
                .top-link:after {.translateY(0);}
            }
            &.button-item {padding:@column-gutter / 2;}
		}
		.menu-item.dropdown {
            .display(flex);
            .align-items(center);
			overflow:visible;

			.top-link {color:@charcoal; cursor:default;}

			.dropdown {
                .display(flex);
                .flex-direction(row);
                .justify-content(center);
                .flex(0, 1, auto);
				position:absolute; z-index:500;
				-webkit-font-smoothing:subpixel-antialiased;
				overflow:hidden;
				top:100%; left:0;
                width:100vw;
				text-align:left;
                background-color:@light-gray;
				color:@black;
                .box-shadow(1px 1px 5px fade(@pure-black, 30%));

                //animated elements
                max-height:0;
                opacity:0;
				.transition(0.2s, ease-in-out);

                .section {
					.flex(0, 0, auto);
					padding:20px 40px 20px 20px;
				}

				.section-title {
					display:block;
					font-size:16px; line-height:1em;
					font-weight:400;
					.uppercase;
					color:@black;
					//margin-top:10px;

					&:after {
						display:block; position:relative;
						content:'';
						height:2px;	width:30px;
						margin:7px 0 7px 0;
						background-color:@dark-gray;
					}
				}

				.link {
					display:block;
					padding:5px 15px 5px 0;
					color:@black;
					font-size:14px; line-height:16px;
					opacity:0.7;
					.transition;

					// &:after {
					// 	display:block; position:relative;
					// 	content:'';
					// 	height:1px;
					// 	width:0;
					// 	margin-top:5px;
					// 	background-color:@dark-gray;
					// 	.transition;
					// }

					&:hover {
						opacity:1;
						//background-color:fade(@pure-black, 5%);
						//&:after {width:20px;}
					}
				}//end .link
				.section.main {
					background-color:@dark-gray;
					min-width:25%;
					.section-title {
						margin-top:0;
						font-size:30px;
						font-weight:300;
						color:@white;
						text-transform:none; letter-spacing:normal;
						&:after {background-color:@white; margin-bottom:15px;}
					}
					.link {
						padding:7px 15px 7px 0;
						font-size:16px; line-height:1em;
						font-weight:400;
						.uppercase;
						color:@white;
						//opacity:0.7;
						//&:hover {opacity:1;}
					}
					&:after {
						position:absolute;
						content:'';
						top:0; right:0; bottom:0;
						background-color:@black;
					}
				}// end main section
			}// end .dropdown

			&:hover, &:focus {
                &:before {opacity:1; .translateY(0);}
				.dropdown {
                    max-height:900px;
                    opacity:1;
                    //border-top:3px solid @dark-gray;
                }
			}

			//different color options
			.loop-colors(@i) when (@i > 0) {
				.loop-colors(@i - 1);

				@color-class: extract(@color-classes, @i);
				@color: extract(@colors, @i);

				&.@{color-class} {
					.dropdown .section-title.main,
					&:hover .top-link {color:@color;}
					&:hover .dropdown {border-top-color:@color;}
					.top-link:after,
					.dropdown .section.main,
					//.dropdown .link:after,
					.dropdown .section-title:after {background-color:@color;}
				}
			}
			.loop-colors(length(@color-classes));

		}//end menu-item.dropdown
	}
}
