@import '../../settings.less';

#page-header, .pushy, .top-banner {display:none!important;}
.top-banner-interum .container {padding:0;}

#page-header-interum {
	position:relative;
	overflow:visible;
	z-index: 10 !important;
	border-bottom:1px solid @gainsboro;
	padding:0px;
	background:@white;
	-webkit-font-smoothing:antialiased;

	.flex-row {min-height: extract(@header-height, 3);}
    .logo-zone {
        .flex(1, 1, 280px);
        max-width: none;
		min-width:280px; //this is a fix for IE, keeps the col from shrinking beyond the width of the content (250px is width of the tagline)
        padding: @column-gutter / 2;

        .logo-link {display:block;}
		.logo-img {
			display:inline-block; vertical-align:middle;
			 margin-left:0; margin-bottom:0; margin-right:10px;
			 max-width:215px;
		 }
		.tagline {
			display:inline-block; vertical-align:middle;
			margin:3px 0 0 0;
			font-family:@myriad-pro;
			.uppercase();
			font-style:normal; font-weight:400;
			font-size:14px; line-height:20px;
			color:@monsoon; white-space:nowrap;
			.wf-loading & {visibility:hidden;}
			.wf-active &, .wf-inactive & {visibility:visible;}
		}
	}
    #header-contact {
        .display(flex);
        .align-items(center);
        .justify-content(flex-end);
        padding: @column-gutter / 2;

        p {
            margin: 0;
            font-size: 16px;
        }
        .button {
            margin-left: @column-gutter;
        }
    }
	.top-nav-menu {
        .flex(0, 1, auto);
        .align-self(stretch);
        .display(flex);
        .align-items(stretch);
        .justify-content(flex-end);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*disables background color on ios tap*/

		.menu-item {
            .display(flex);
            .flex-direction(row);
            .justify-content(center);
            .flex(0, 0, auto);
			position:relative;
			z-index:11;

			font-family:@myriad-pro;
			font-style:normal; font-weight:400;
			font-size:18px; line-height:1em;
			text-align:center;
    		color:@charcoal;
			.wf-loading & {visibility:hidden;}
			.wf-active &, .wf-inactive & {visibility:visible;}
			.transition-spec(color, 0.2s, ease-in-out);

            .top-link {
                .display(flex);
                .flex-direction(row);
                .align-items(center);
                .flex(0, 0, auto);
                position:relative; overflow:hidden;
                padding:@column-gutter / 2;
                min-height:100%;

                //line
                &:after {
                    display:block; position:absolute; z-index:4;
                    content:'';
                    bottom:0; left:0;
                    height:5px; width:100%;
                    background-color:@red;
                    .translateY(5px);
                    .transition;
                }
            }
			&:hover {
                color:@red;
                .top-link:after {.translateY(0);}
            }
            &.button-item {padding:@column-gutter / 2;}
		}
		.menu-item.dropdown {
            .display(flex);
            .align-items(center);
			position:relative;
			overflow:visible;

			.top-link {color:@charcoal; cursor:default;}

            //triangle
            &:before {
                position:absolute; z-index:501;
                content:'';
                top:100%; left:50%;
                background-color:transparent;
                height:0; width:0;
                margin-left:-8px;

                border-left:10px solid transparent;
                border-right:10px solid transparent;
                border-top:8px solid @red;

                .transition;
                opacity:0; .translateY(-5px);
            }

			.dropdown {
                .display(flex);
                .flex-direction(row);
                .justify-content(center);
                .flex(0, 1, auto);
				position:absolute; z-index:500;
				-webkit-font-smoothing:subpixel-antialiased;
				overflow:hidden;
				top:100%; left:50%;
                .translateX(-50%);
				text-align:left;
                background-color:@white;
                .box-shadow(1px 1px 5px fade(@pure-black, 30%));

                //animated elements
                max-height:0;
                border-top:0px solid @white;
                opacity:0;
				.transition(0.2s, ease-in-out);

                .section {display:block; float:left;}

				.link {
					display:block;
                    min-width:200px;
					padding:7px 40px 7px 15px;
					color:@charcoal;
					font-size:14px; line-height:16px;
					border-left:5px solid @white;
					.transition(0.2s, ease);

					&:hover {border-left:5px solid @red; color:@red; background-color:@ghost; padding-left:20px; padding-right:35px;}
				}
			}

			&:hover, &:focus {
                &:before {opacity:1; .translateY(0);}
				.dropdown {
                    max-height:900px;
                    opacity:1;
                    padding:10px 0;
                    border-top-width:5px;
                }
				.top-link {color:@red;}
			}
		}

		.menu-btn {
            .display(flex);
            .align-items(center);
            position: relative;
			vertical-align: bottom;
			padding-right: 40px;
			color: @charcoal;
			cursor: pointer;
			.transition;

			&:before, &:after {
                content: '';
                display: block;
                .position(absolute, 50%, @right:10px);
                .translateY(-50%);
			}
            &:before {
                .size(20px, 10px);
                .border-y(@medium-border @charcoal);
                .transition(.2s, ease-out, border-color);
            }
            &:after {
                .size(20px, 2px);
                background-color: @charcoal;
                .transition(.2s, ease-out, background-color);
            }
			&:hover {
                color: @red;

                &:before { .border-color-y(@red); }
                &:after { background-color: @red; }
            }
		}
	}
	&.push-push .menu-btn {
		color: @red;

		&:before { .border-color-y(@red); }
        &:after { background-color: @red; }
	}
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
}



@media @small-only {

    #page-header {

		.logo-zone {
            .flex(1, 1, 200px);
			min-width:200px;
			.logo-img {max-width:180px;}
			.tagline {display:none;}
		}
		.container {height:50px;}
		.top-nav-menu {
            .flex(0, 0, auto);
			.menu-item.dropdown {display:none;}
            .menu-btn { font-size: 0; line-height: 0;}
		}
	}
}

@media @medium-only {

    #page-header {
		.logo-zone .logo-img {max-width:190px;}
		.top-nav-menu {
			.menu-item {font-size:16px;}
            .menu-item.dropdown {
				.dropdown .link {font-size:16px; line-height:18px; padding-top:10px; padding-bottom:10px;}
			}
			.menu-btn {font-size:16px;}
		}
	}
}

@media @large-only {

    #page-header .logo-zone .logo-img {max-width:200px;}
}
