#page-header,
.pushy,
.top-banner {
  display: none!important;
}
.top-banner-interum .container {
  padding: 0;
}
#page-header-interum {
  position: relative;
  overflow: visible;
  z-index: 10 !important;
  border-bottom: 1px solid #DDDDDD;
  padding: 0px;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}
#page-header-interum .flex-row {
  min-height: 65px;
}
#page-header-interum .logo-zone {
  -webkit-flex: 1 1 280px;
  flex: 1 1 280px;
  max-width: 280px;
  max-width: none;
  min-width: 280px;
  padding: 15px;
}
#page-header-interum .logo-zone .logo-link {
  display: block;
}
#page-header-interum .logo-zone .logo-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 10px;
  max-width: 215px;
}
#page-header-interum .logo-zone .tagline {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0 0;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
  white-space: nowrap;
}
.wf-loading #page-header-interum .logo-zone .tagline {
  visibility: hidden;
}
.wf-active #page-header-interum .logo-zone .tagline,
.wf-inactive #page-header-interum .logo-zone .tagline {
  visibility: visible;
}
#page-header-interum #header-contact {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 15px;
}
#page-header-interum #header-contact p {
  margin: 0;
  font-size: 16px;
}
#page-header-interum #header-contact .button {
  margin-left: 30px;
}
#page-header-interum .top-nav-menu {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  -webkit-align-self: stretch;
  align-self: stretch;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*disables background color on ios tap*/
}
#page-header-interum .top-nav-menu .menu-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  position: relative;
  z-index: 11;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
  color: #555555;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.wf-loading #page-header-interum .top-nav-menu .menu-item {
  visibility: hidden;
}
.wf-active #page-header-interum .top-nav-menu .menu-item,
.wf-inactive #page-header-interum .top-nav-menu .menu-item {
  visibility: visible;
}
#page-header-interum .top-nav-menu .menu-item .top-link {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  position: relative;
  overflow: hidden;
  padding: 15px;
  min-height: 100%;
}
#page-header-interum .top-nav-menu .menu-item .top-link:after {
  display: block;
  position: absolute;
  z-index: 4;
  content: '';
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #D9232E;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#page-header-interum .top-nav-menu .menu-item:hover {
  color: #D9232E;
}
#page-header-interum .top-nav-menu .menu-item:hover .top-link:after {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#page-header-interum .top-nav-menu .menu-item.button-item {
  padding: 15px;
}
#page-header-interum .top-nav-menu .menu-item.dropdown {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: visible;
}
#page-header-interum .top-nav-menu .menu-item.dropdown .top-link {
  color: #555555;
  cursor: default;
}
#page-header-interum .top-nav-menu .menu-item.dropdown:before {
  position: absolute;
  z-index: 501;
  content: '';
  top: 100%;
  left: 50%;
  background-color: transparent;
  height: 0;
  width: 0;
  margin-left: -8px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  opacity: 0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#page-header-interum .top-nav-menu .menu-item.dropdown .dropdown {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  position: absolute;
  z-index: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: left;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  max-height: 0;
  border-top: 0px solid #FFFFFF;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
#page-header-interum .top-nav-menu .menu-item.dropdown .dropdown .section {
  display: block;
  float: left;
}
#page-header-interum .top-nav-menu .menu-item.dropdown .dropdown .link {
  display: block;
  min-width: 200px;
  padding: 7px 40px 7px 15px;
  color: #555555;
  font-size: 14px;
  line-height: 16px;
  border-left: 5px solid #FFFFFF;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
#page-header-interum .top-nav-menu .menu-item.dropdown .dropdown .link:hover {
  border-left: 5px solid #D9232E;
  color: #D9232E;
  background-color: #FAFAFA;
  padding-left: 20px;
  padding-right: 35px;
}
#page-header-interum .top-nav-menu .menu-item.dropdown:hover:before,
#page-header-interum .top-nav-menu .menu-item.dropdown:focus:before {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
#page-header-interum .top-nav-menu .menu-item.dropdown:hover .dropdown,
#page-header-interum .top-nav-menu .menu-item.dropdown:focus .dropdown {
  max-height: 900px;
  opacity: 1;
  padding: 10px 0;
  border-top-width: 5px;
}
#page-header-interum .top-nav-menu .menu-item.dropdown:hover .top-link,
#page-header-interum .top-nav-menu .menu-item.dropdown:focus .top-link {
  color: #D9232E;
}
#page-header-interum .top-nav-menu .menu-btn {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  vertical-align: bottom;
  padding-right: 40px;
  color: #555555;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#page-header-interum .top-nav-menu .menu-btn:before,
#page-header-interum .top-nav-menu .menu-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#page-header-interum .top-nav-menu .menu-btn:before {
  width: 20px;
  height: 10px;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
  -webkit-transition: border-color 0.2s ease-out 0s;
  transition: border-color 0.2s ease-out 0s;
}
#page-header-interum .top-nav-menu .menu-btn:after {
  width: 20px;
  height: 2px;
  background-color: #555555;
  -webkit-transition: background-color 0.2s ease-out 0s;
  transition: background-color 0.2s ease-out 0s;
}
#page-header-interum .top-nav-menu .menu-btn:hover {
  color: #D9232E;
}
#page-header-interum .top-nav-menu .menu-btn:hover:before {
  border-top-color: #D9232E;
  border-bottom-color: #D9232E;
}
#page-header-interum .top-nav-menu .menu-btn:hover:after {
  background-color: #D9232E;
}
#page-header-interum.push-push .menu-btn {
  color: #D9232E;
}
#page-header-interum.push-push .menu-btn:before {
  border-top-color: #D9232E;
  border-bottom-color: #D9232E;
}
#page-header-interum.push-push .menu-btn:after {
  background-color: #D9232E;
}
#page-header-interum:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 767px) {
  #page-header .logo-zone {
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
    max-width: 200px;
    min-width: 200px;
  }
  #page-header .logo-zone .logo-img {
    max-width: 180px;
  }
  #page-header .logo-zone .tagline {
    display: none;
  }
  #page-header .container {
    height: 50px;
  }
  #page-header .top-nav-menu {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
  }
  #page-header .top-nav-menu .menu-item.dropdown {
    display: none;
  }
  #page-header .top-nav-menu .menu-btn {
    font-size: 0;
    line-height: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #page-header .logo-zone .logo-img {
    max-width: 190px;
  }
  #page-header .top-nav-menu .menu-item {
    font-size: 16px;
  }
  #page-header .top-nav-menu .menu-item.dropdown .dropdown .link {
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #page-header .top-nav-menu .menu-btn {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  #page-header .logo-zone .logo-img {
    max-width: 200px;
  }
}
