h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
.h1.line-break,
.h2.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#whats-new #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/microstrategy-10.jpg');
}
section.view {
  padding: 0;
  background-color: #333333;
  color: #ffffff;
}
section.view p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: .01em;
}
@media only screen and (max-width: 1199px) {
  section.view .text-col {
    position: relative;
    z-index: 1;
  }
  section.view .text-col:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 66px;
    -webkit-transform-origin: center center left;
    transform-origin: center center left;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #333333;
  }
}
@media only screen and (max-width: 979px) {
  section.view .text-col:before {
    left: 51px;
  }
}
@media only screen and (max-width: 767px) {
  section.view .text-col:before {
    left: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  section.view .text-col {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
  section.view .device-mockup .screen {
    opacity: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
  }
  section.view.passed-view .text-col {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  section.view.passed-view .device-mockup .screen {
    opacity: 1;
  }
}
.media-col {
  overflow: hidden;
  background-color: #f2f2f2;
}
.media-col .device-mockup.mac-thunderbolt {
  margin-bottom: -15%;
}
#restful-api-diagram {
  text-align: center;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #333333;
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#restful-api-diagram > .flex-row {
  margin-bottom: 15px;
}
#restful-api-diagram .icon {
  margin-bottom: 10px;
}
#restful-api-diagram .block {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
#restful-api-diagram #third-party-application .icon {
  display: block;
}
#restful-api-diagram #restful-server {
  position: relative;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
  color: #ffffff;
}
#restful-api-diagram #restful-server .block {
  background-color: #d9232e;
  border: 0;
}
#restful-api-diagram #restful-server:before,
#restful-api-diagram #restful-server:after {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  top: -15px;
  bottom: -15px;
  background-color: #cccccc;
}
#restful-api-diagram #restful-server:before {
  left: 43%;
}
#restful-api-diagram #restful-server:after {
  right: 43%;
}
#restful-api-diagram #data {
  position: relative;
  color: #999999;
}
#restful-api-diagram #data .block {
  padding: 7.5px;
}
#restful-api-diagram #data .icon {
  margin-bottom: 5px;
}
#restful-api-diagram #data:before {
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  position: absolute;
  top: -15px;
  left: 50%;
  background-color: #cccccc;
}
@-moz-keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.passed-view #restful-api-diagram {
  -webkit-animation: scale-in 1s ease-in;
  -moz-animation: scale-in 1s ease-in;
  animation: scale-in 1s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#data-sources {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #f2f2f2;
}
@-moz-keyframes fade-slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes fade-slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes fade-slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.no-flexbox.flexboxtweener #data-sources {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #data-sources > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #data-sources {
  display: block;
}
.no-flexbox.no-flexboxtweener #data-sources:before,
.no-flexbox.no-flexboxtweener #data-sources:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #data-sources:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #data-sources > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #data-sources {
  -ms-flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  #data-sources {
    padding: 45px;
  }
}
@media only screen and (min-width: 980px) {
  #data-sources {
    padding: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  #data-sources {
    padding: 60px;
  }
}
#data-sources img {
  width: 14.66%;
  height: 14.66%;
  margin: 1%;
  border-radius: 10%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  #data-sources img {
    width: 10.5%;
    height: 10.5%;
  }
}
@media only screen and (min-width: 980px) {
  #data-sources img {
    width: 8%;
    height: 8%;
  }
}
@media only screen and (min-width: 1200px) {
  #data-sources img {
    width: auto;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  #data-sources img {
    margin: 5px;
  }
}
.passed-view #data-sources img {
  -webkit-animation: fade-slide-in 0.5s ease-in;
  -moz-animation: fade-slide-in 0.5s ease-in;
  animation: fade-slide-in 0.5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.passed-view #data-sources img:nth-child( 1) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.passed-view #data-sources img:nth-child( 2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.passed-view #data-sources img:nth-child( 3) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.passed-view #data-sources img:nth-child( 4) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.passed-view #data-sources img:nth-child( 5) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.passed-view #data-sources img:nth-child( 6) {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.passed-view #data-sources img:nth-child( 7) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.passed-view #data-sources img:nth-child( 8) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.passed-view #data-sources img:nth-child( 9) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.passed-view #data-sources img:nth-child( 10) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.passed-view #data-sources img:nth-child( 11) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.passed-view #data-sources img:nth-child( 12) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.passed-view #data-sources img:nth-child( 13) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.passed-view #data-sources img:nth-child( 14) {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.passed-view #data-sources img:nth-child( 15) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.passed-view #data-sources img:nth-child( 16) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.passed-view #data-sources img:nth-child( 17) {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.passed-view #data-sources img:nth-child( 18) {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.passed-view #data-sources img:nth-child( 19) {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.passed-view #data-sources img:nth-child( 20) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.passed-view #data-sources img:nth-child( 21) {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.passed-view #data-sources img:nth-child( 22) {
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.passed-view #data-sources img:nth-child( 23) {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  animation-delay: 2.3s;
}
.passed-view #data-sources img:nth-child( 24) {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.passed-view #data-sources img:nth-child( 25) {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.passed-view #data-sources img:nth-child( 26) {
  -webkit-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.passed-view #data-sources img:nth-child( 27) {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.passed-view #data-sources img:nth-child( 28) {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.passed-view #data-sources img:nth-child( 29) {
  -webkit-animation-delay: 2.9s;
  -moz-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.passed-view #data-sources img:nth-child( 30) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}
section:not(.passed-view) .bp-2000:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
