@import '../settings.less';

//component includes
@import '../../Microstrategy-2015/CMS/CMSTemplates/microstrategy/css/less/components/gridder.less';

//new components
// @import '../_new-components/components-and-expansions/anchor-link-grid.less';
// @import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
// @import '../_new-components/components-and-expansions/button-with-flag.less';
// @import '../_new-components/components-and-expansions/device-mockups-new-plus-options.less';
// @import '../_new-components/components-and-expansions/hypercard-graphic.less';
// @import '../_new-components/components-and-expansions/number-group.less';
// @import '../_new-components/components-and-expansions/offpage-image.less';
// @import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
// @import '../_new-components/components-and-expansions/stacked-icons.less';
// @import '../_new-components/components-and-expansions/triangle-group.less';
// @import '../_new-components/components-and-expansions/vertical-diagram.less';
// @import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
// @import '../_new-components/resets-and-fixes/form-spacing.less';
// @import '../_new-components/resets-and-fixes/related-items.less';
// @import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
// @import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
@import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
// @import '../_new-components/sliders/center-mode-image.less';
@import '../_new-components/sliders/customer-success-logo-video.less';
// @import '../_new-components/sliders/multi-item-nav.less';
// @import '../_new-components/sliders/photos.less';



.card .solution-category {
    .display(flex);
    .align-items(center);
    padding: @base-spacing / 2;
    font-family: @myriad-pro;
    font-weight: @bold;
    .uppercase;
}

.gridder-expanded-content {
    font-family: @myriad-pro;

    .solution-content {
        .align-self(flex-start);
    }
    .solution-name .icon {
        margin-right: .75em;
    }
    .solution-panel-content {
        font-family: @myriad-pro;
        font-size: 16px;
        line-height: 1.6;
        font-weight: @light;
    }
    .solution-panel-header {
        margin-top: @base-spacing / 2 * 3;
        font-weight: @light;
        .uppercase;
        color: @dark-gray;
    }
    .solution-resource {

        .resource-thumbnail {
            width: 100%;
        }
        .device-mockup {
            margin: 0 auto;

            &.iphone { max-width: 250px; }
        }
        @media @medium {
            .solution-image {
                max-height: 600px;
            }
        }
    }
}



// popup dashboards

.mfp-title {
    position: absolute;
    left: 50%;
    .translateX(-50%);
    padding: @base-spacing / 2;
    color: @gray;

    a {
        display: inline-block;
        padding: 2px 0;
        border-bottom: @thin-border transparent;
        color: @white;
        .single-transition;

        &:hover, &:active {
            border-color: @white;
        }
    }
}




// explore nav

#explore {

    .ratio {
        max-height: 300px;
    }
    .section-name {
        font-size: 18px;
        @media @medium { font-size: 16px; }
        @media @large { font-size: 21px; }
        line-height: @line-height;
        font-family: @myriad-pro;
        .uppercase;
    }
    .label {
        font-size: 14px;
        line-height: @line-height;
        font-family: @myriad-pro;
        font-weight: @light;
    }
}



// jplist

#solutions-filters .option-group {

    @checked-color: @navy-blue;
    @checked-triangle-size: 15px;

    .option {
        position: relative;

        @media @large {

            &:after {
                content: '';
                display: block;
                .size(0);
                .position(absolute, @left: 50%, @bottom: @checked-triangle-size * -1);
                margin-left: @checked-triangle-size / -2;
                border-top: @checked-triangle-size solid @checked-color;
                border-left: @checked-triangle-size solid transparent;
                border-right: @checked-triangle-size solid transparent;
                opacity: 0;
                .single-transition;
            }
            &.checked {
                background-color: @checked-color;

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .Solutions.List & .option {

        @media @large {

            &:after {
              border-top-color: @red;
            }
            &.checked {
                background-color: @red;
            }
        }
    }

}





//CUSTOMER STORY PAGE
.CustomerStories.CompanyStory {
    #company-solutions, #company-pitch p {
        font-family:@myriad-pro;
        font-size: 1.43rem; line-height: 1.4;
        @media @medium {font-size: 1.57rem;}
        font-weight:300;
        .company-headline {font-weight:400; margin-bottom:20px;}
    }
    #company-details {
        .company-category-header {
            font-family:@myriad-pro;
            font-size:16px; line-height:1.4;
            .uppercase;
            font-weight:600;
        }
        .company-category-tags {
            list-style:none;
            padding:0;

            font-family:@myriad-pro;
            font-size:16px; line-height:1.4;
            font-weight:400;
            color:@dark-gray;
            > li {
                position:relative;
                padding:0 0 5px 20px;
                &:before {
                    content:'';
                    display:block; position:absolute;
                    top:5px; left:-10px;
                    width:0; height:0;
                    border-left: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-right: 10px solid @red;
                }
            }
        }
    }
}
