.gridder.cards {
  display: block;
}
.gridder.cards .gridder-list {
  width: 100%;
}
.gridder.cards .gridder-list .card {
  cursor: pointer;
}
.gridder.cards.hasSelectedItem .gridder-list .card {
  opacity: .5;
}
.gridder.cards.hasSelectedItem .gridder-list .card:hover {
  opacity: 1;
}
.gridder .gridder-content {
  display: none;
}
.gridder .gridder-show {
  width: 100%;
  position: relative;
  z-index: 1;
  float: left;
  padding: 15px;
}
.gridder .gridder-padding {
  position: relative;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #999999;
}
@media only screen and (min-width: 768px) {
  .gridder .gridder-padding {
    padding: 30px;
  }
}
.gridder .gridder-navigation {
  display: -webkit-inline-flex;
  display: inline-flex;
  float: right;
}
.gridder .gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gridder .gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder .gridder-navigation a.gridder-close::before,
.gridder .gridder-navigation a.gridder-close::after {
  content: '';
  display: block;
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #777777;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gridder .gridder-navigation a.gridder-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder .gridder-navigation a.gridder-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder .gridder-navigation a.gridder-close:hover:before,
.gridder .gridder-navigation a.gridder-close:focus:before,
.gridder .gridder-navigation a.gridder-close:hover:after,
.gridder .gridder-navigation a.gridder-close:focus:after {
  opacity: 1;
}
.gridder .gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #777777;
}
.gridder .gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder .gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder .gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder .gridder-navigation a.gridder-close:hover:before,
.gridder .gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
blockquote {
  display: inline-block;
  position: relative;
  padding: 20px 40px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
blockquote:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 24px;
    line-height: 33px;
  }
}
blockquote.text-small {
  font-size: 20px;
  line-height: 24px;
}
@media only screen and (min-width: 768px) {
  blockquote.text-small {
    font-size: 22px;
    line-height: 28px;
  }
}
blockquote.text-tiny {
  font-size: 16px;
  line-height: 24px;
}
blockquote.text-tiny:before,
blockquote.text-tiny:after {
  font-size: 200px;
}
blockquote > footer,
blockquote > span {
  display: block;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  blockquote > footer,
  blockquote > span {
    font-size: 18px;
  }
}
blockquote:before,
blockquote:after {
  content: '“';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 68px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 250px;
  line-height: 0.8em;
  opacity: .2;
}
blockquote:after {
  content: '”';
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.FRFR blockquote:before,
.FRFR blockquote:after {
  content: "«";
  font-size: 120px;
  line-height: 0.3em;
  width: 60px;
}
.FRFR blockquote:after {
  content: "»";
}
.in-between-card.flex-row {
  position: relative;
  z-index: 5;
}
.in-between-card.flex-row .card {
  position: relative;
  z-index: 5;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .in-between-card.flex-row {
    margin-top: -150px;
    margin-bottom: 60px;
  }
  .in-between-card.flex-row .card {
    padding: 15px;
  }
}
@media only screen and (min-width: 768px) {
  section.above-card {
    padding-bottom: 150px!important;
    position: relative;
    z-index: 4;
  }
}
section.below-card {
  overflow: visible!important;
}
#page-hero.overlap-section-below,
#hero.overlap-section-below,
section.overlap-section-below {
  padding-bottom: 200px;
}
#page-hero.overlap-section-below + section,
#hero.overlap-section-below + section,
section.overlap-section-below + section {
  position: relative;
  z-index: 5;
  margin-top: -200px;
}
#page-hero.overlap-section-below.small-overlap,
#hero.overlap-section-below.small-overlap,
section.overlap-section-below.small-overlap {
  padding-bottom: 100px;
}
#page-hero.overlap-section-below.small-overlap + section,
#hero.overlap-section-below.small-overlap + section,
section.overlap-section-below.small-overlap + section {
  margin-top: -100px;
}
@media only screen and (min-width: 768px) {
  #page-hero.overlap-section-below,
  #hero.overlap-section-below,
  section.overlap-section-below {
    padding-bottom: 300px;
  }
  #page-hero.overlap-section-below + section,
  #hero.overlap-section-below + section,
  section.overlap-section-below + section {
    margin-top: -300px;
  }
  #page-hero.overlap-section-below.small-overlap,
  #hero.overlap-section-below.small-overlap,
  section.overlap-section-below.small-overlap {
    padding-bottom: 150px;
  }
  #page-hero.overlap-section-below.small-overlap + section,
  #hero.overlap-section-below.small-overlap + section,
  section.overlap-section-below.small-overlap + section {
    margin-top: -150px;
  }
}
#customer-story-slider {
  background-color: #FFFFFF;
  margin: 0 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  width: calc(100% - 60px);
}
@media only screen and (min-width: 1200px) {
  #customer-story-slider {
    margin: 0 auto;
    max-width: 1140px;
  }
}
#customer-story-slider .slick-arrow.slick-prev {
  left: -15px;
}
#customer-story-slider .slick-arrow.slick-next {
  right: -15px;
}
.customer-quote-slide {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.customer-quote-slide .resource-thumbnail {
  width: 100%;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .customer-quote-slide .resource-thumbnail {
    height: 300px;
  }
}
.customer-quote-slide .logo-quote .ratio {
  max-width: 250px;
  margin: 0 auto;
}
@media only screen and (min-width: 980px) {
  .customer-quote-slide {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #FFFFFF;
  }
  .customer-quote-slide .resource-thumbnail {
    height: auto;
    width: 55%;
  }
  .customer-quote-slide .logo-quote {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    width: 45%;
    height: 100%;
    padding: 30px;
    text-align: center;
  }
}
.customer-quote-slide .quote-attribution {
  display: block;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 20px;
}
@media only screen and (min-width: 980px) {
  .customer-quote-slide .quote-attribution {
    padding: 0;
  }
}
.customer-quote-slide .quote-attribution span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#customer-story-nav .grid-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding-top: 25px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#customer-story-nav .grid-item p {
  display: block;
  margin-top: 5px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#customer-story-nav .grid-item:before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #999999;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#customer-story-nav .grid-item:hover:before {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
#customer-story-nav .grid-item.slick-current {
  opacity: 0.99;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
#customer-story-nav .grid-item.slick-current:before {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  border-bottom-color: #D9232E;
}
.card .solution-category {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.gridder-expanded-content {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gridder-expanded-content .solution-content {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.gridder-expanded-content .solution-name .icon {
  margin-right: .75em;
}
.gridder-expanded-content .solution-panel-content {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
.gridder-expanded-content .solution-panel-header {
  margin-top: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.gridder-expanded-content .solution-resource .resource-thumbnail {
  width: 100%;
}
.gridder-expanded-content .solution-resource .device-mockup {
  margin: 0 auto;
}
.gridder-expanded-content .solution-resource .device-mockup.iphone {
  max-width: 250px;
}
@media only screen and (min-width: 768px) {
  .gridder-expanded-content .solution-resource .solution-image {
    max-height: 600px;
  }
}
.mfp-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  color: #999999;
}
.mfp-title a {
  display: inline-block;
  padding: 2px 0;
  border-bottom: 1px solid transparent;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mfp-title a:hover,
.mfp-title a:active {
  border-color: #FFFFFF;
}
#explore .ratio {
  max-height: 300px;
}
#explore .section-name {
  font-size: 18px;
  line-height: 1.43;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #explore .section-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) {
  #explore .section-name {
    font-size: 21px;
  }
}
#explore .label {
  font-size: 14px;
  line-height: 1.43;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#solutions-filters .option-group .option {
  position: relative;
}
@media only screen and (min-width: 980px) {
  #solutions-filters .option-group .option:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -7.5px;
    border-top: 15px solid #11566F;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  #solutions-filters .option-group .option.checked {
    background-color: #11566F;
  }
  #solutions-filters .option-group .option.checked:after {
    opacity: 1;
  }
}
@media only screen and (min-width: 980px) {
  .Solutions.List #solutions-filters .option-group .option:after {
    border-top-color: #D9232E;
  }
  .Solutions.List #solutions-filters .option-group .option.checked {
    background-color: #D9232E;
  }
}
.CustomerStories.CompanyStory #company-solutions,
.CustomerStories.CompanyStory #company-pitch p {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.43rem;
  line-height: 1.4;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .CustomerStories.CompanyStory #company-solutions,
  .CustomerStories.CompanyStory #company-pitch p {
    font-size: 1.57rem;
  }
}
.CustomerStories.CompanyStory #company-solutions .company-headline,
.CustomerStories.CompanyStory #company-pitch p .company-headline {
  font-weight: 400;
  margin-bottom: 20px;
}
.CustomerStories.CompanyStory #company-details .company-category-header {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.CustomerStories.CompanyStory #company-details .company-category-tags {
  list-style: none;
  padding: 0;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #777777;
}
.CustomerStories.CompanyStory #company-details .company-category-tags > li {
  position: relative;
  padding: 0 0 5px 20px;
}
.CustomerStories.CompanyStory #company-details .company-category-tags > li:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-right: 10px solid #D9232E;
}
