h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.top-banner {
  display: none;
}
#hero {
  background-image: url('/Strategy/media/images/solutions/hero-backgrounds/solutions_executives_hero-banner-bkg.jpg');
}
.gridder.cards {
  display: block;
}
.gridder.cards .gridder-list .card {
  cursor: pointer;
}
.gridder.cards .gridder-list .card .solution-category {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.gridder.cards.hasSelectedItem .gridder-list .card {
  opacity: .5;
}
.gridder.cards.hasSelectedItem .gridder-list .card:hover {
  opacity: 1;
}
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .gridder-padding {
    padding: 30px;
  }
}
.gridder-navigation {
  display: -webkit-inline-flex;
  display: inline-flex;
  float: right;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #999999;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #cccccc;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
.gridder-expanded-content {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gridder-expanded-content .solution-content {
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.gridder-expanded-content .solution-name .icon {
  margin-right: .75em;
}
.gridder-expanded-content .solution-panel-content {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
.gridder-expanded-content .solution-panel-header {
  margin-top: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.gridder-expanded-content .solution-resource .resource-thumbnail {
  width: 100%;
}
.gridder-expanded-content .solution-resource .device-mockup {
  margin: 0 auto;
}
.gridder-expanded-content .solution-resource .device-mockup.iphone {
  max-width: 250px;
}
@media only screen and (min-width: 768px) {
  .gridder-expanded-content .solution-resource .solution-image {
    max-height: 600px;
  }
}
.mfp-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 10px;
  color: #CCCCCC;
}
.mfp-title a {
  display: inline-block;
  padding: 2px 0;
  border-bottom: 1px solid transparent;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.mfp-title a:hover,
.mfp-title a:active {
  border-color: #FFFFFF;
}
#explore .ratio {
  max-height: 300px;
}
#explore .section-name {
  font-size: 18px;
  line-height: 1.4;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #explore .section-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) {
  #explore .section-name {
    font-size: 21px;
  }
}
#explore .label {
  font-size: 14px;
  line-height: 1.4;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #to-top {
    bottom: 30px;
    right: 30px;
  }
}
@media only screen and (min-width: 980px) {
  #to-top {
    bottom: 45px;
    right: 45px;
  }
}
#to-top.hidden {
  opacity: 0;
  visibility: hidden;
}
#to-top .label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 64px;
  position: absolute;
  right: 64px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  background-color: #404040;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  color: #FFFFFF;
}
#to-top:hover .label,
#to-top:active .label {
  opacity: 1;
  padding: 1em;
}
.filters.option-group .option {
  position: relative;
}
@media only screen and (min-width: 980px) {
  .filters.option-group .option:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -7.5px;
    border-top: 15px solid #11566F;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .filters.option-group .option.checked {
    background-color: #11566F;
  }
  .filters.option-group .option.checked:after {
    opacity: 1;
  }
}
.logo {
  margin-bottom: 0px!important;
}
.logo.text-logo {
  width: calc(100% - 20px);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2em;
}
.logo.text-logo.tiny {
  font-size: 10px;
}
.logo.text-logo.small {
  font-size: 12px;
}
.logo.text-logo.large {
  font-size: 16px;
}
.logo.text-logo.jumbo {
  font-size: 20px;
}
@media only screen and (min-width: 768px) {
  .logo.text-logo {
    font-size: 25px;
  }
  .logo.text-logo.tiny {
    font-size: 16px;
  }
  .logo.text-logo.small {
    font-size: 20px;
  }
  .logo.text-logo.large {
    font-size: 30px;
  }
  .logo.text-logo.jumbo {
    font-size: 35px;
  }
}
@media only screen and (min-width: 980px) {
  .logo.text-logo {
    font-size: 30px;
  }
  .logo.text-logo.tiny {
    font-size: 20px;
  }
  .logo.text-logo.small {
    font-size: 25px;
  }
  .logo.text-logo.large {
    font-size: 35px;
  }
  .logo.text-logo.jumbo {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo.text-logo {
    font-size: 35px;
  }
  .logo.text-logo.tiny {
    font-size: 22px;
  }
  .logo.text-logo.small {
    font-size: 30px;
  }
  .logo.text-logo.large {
    font-size: 40px;
  }
  .logo.text-logo.jumbo {
    font-size: 45px;
  }
}
.img {
  display: block;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img:before {
  content: '';
  display: block;
  position: relative;
  padding-bottom: 100%;
}
.img.ratio2-1:before {
  padding-bottom: 50%;
}
.img.ratio4-3:before {
  padding-bottom: 75%;
}
.img-content {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
