@import '../settings.less';
@import '../../Microstrategy-2015/CMS/CMSTemplates/microstrategy/css/less/components/gridder.less';

.card .solution-category {
    .display(flex);
    .align-items(center);
    padding: @base-spacing / 2;
    font-family: @myriad-pro;
    font-weight: @bold;
    .uppercase;
}

.gridder-expanded-content {
    font-family: @myriad-pro;

    .solution-content {
        .align-self(flex-start);
    }
    .solution-name .icon {
        margin-right: .75em;
    }
    .solution-panel-content {
        font-family: @myriad-pro;
        font-size: 16px;
        line-height: 1.6;
        font-weight: @light;
    }
    .solution-panel-header {
        margin-top: @base-spacing / 2 * 3;
        font-weight: @light;
        .uppercase;
        color: @dark-gray;
    }
    .solution-resource {

        .resource-thumbnail {
            width: 100%;
        }
        .device-mockup {
            margin: 0 auto;

            &.iphone { max-width: 250px; }
        }
        @media @medium {
            .solution-image {
                max-height: 600px;
            }
        }
    }
}



// popup dashboards

.mfp-title {
    position: absolute;
    left: 50%;
    .translateX(-50%);
    padding: @base-spacing / 2;
    color: @gray;

    a {
        display: inline-block;
        padding: 2px 0;
        border-bottom: @thin-border transparent;
        color: @white;
        .transition;

        &:hover, &:active {
            border-color: @white;
        }
    }
}




// explore nav

#explore {

    .ratio {
        max-height: 300px;
    }
    .section-name {
        font-size: 18px;
        @media @medium { font-size: 16px; }
        @media @large { font-size: 21px; }
        line-height: @line-height;
        font-family: @myriad-pro;
        .uppercase;
    }
    .label {
        font-size: 14px;
        line-height: @line-height;
        font-family: @myriad-pro;
        font-weight: @light;
    }
}



// jplist

#solutions-filters .option-group {

    @checked-color: @navy-blue;
    @checked-triangle-size: 15px;

    .option {
        position: relative;

        @media @large {

            &:after {
                content: '';
                display: block;
                .size(0);
                .position(absolute, @left: 50%, @bottom: @checked-triangle-size * -1);
                margin-left: @checked-triangle-size / -2;
                border-top: @checked-triangle-size solid @checked-color;
                border-left: @checked-triangle-size solid transparent;
                border-right: @checked-triangle-size solid transparent;
                opacity: 0;
                .transition;
            }
            &.checked {
                background-color: @checked-color;

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .Solutions.List & .option {

        @media @large {

            &:after {
              border-top-color: @red;
            }
            &.checked {
                background-color: @red;
            }
        }
    }

}

//text-based logos
.logo {
    margin-bottom:0px!important;
    &.text-logo {
        width: ~"calc(100% - 20px)";
        font-family:@myriad-pro;
        color:@black;
        text-align:center;
        font-weight:600;
        //background-color:fade(@pure-black, 5%);

        font-size:14px; line-height:1.2em;
        &.tiny {font-size:10px;}
        &.small {font-size:12px;}
        &.large {font-size:16px;}
        &.jumbo {font-size:20px;}

        @media @medium {
            font-size:25px;
            &.tiny {font-size:16px;}
            &.small {font-size:20px;}
            &.large {font-size:30px;}
            &.jumbo {font-size:35px;}
        }
        @media @large {
            font-size:30px;
            &.tiny {font-size:20px;}
            &.small {font-size:25px;}
            &.large {font-size:35px;}
            &.jumbo {font-size:40px;}
        }
        @media @xlarge {
            font-size:35px;
            &.tiny {font-size:22px;}
            &.small {font-size:30px;}
            &.large {font-size:40px;}
            &.jumbo {font-size:45px;}
        }

    }
}
