h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding: 0 0 0 1em;
}
ul li,
ol li {
  padding: 0 0 0 1em;
  margin-bottom: 10px;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.top-banner {
  display: none;
}
#hero {
  background-image: url('/Strategy/media/images/solutions/hero-backgrounds/solutions_executives_hero-banner-bkg.jpg');
}
.gridder.hasSelectedItem .gridder-list {
  display: none;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 30px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
.gridder-navigation {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.no-flexbox.flexboxtweener .gridder-navigation {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .gridder-navigation > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .gridder-navigation {
  display: block;
}
.no-flexbox.no-flexboxtweener .gridder-navigation:before,
.no-flexbox.no-flexboxtweener .gridder-navigation:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .gridder-navigation:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .gridder-navigation > * {
  display: inline-block;
  float: left;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.no-flexbox.flexboxtweener .gridder-navigation a {
  -ms-flex: 1 1 auto;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #999999;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #cccccc;
}
.no-flexbox.flexboxtweener .gridder-navigation a.gridder-close {
  -ms-flex-order: 1;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
.gridder-expanded-content {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gridder-expanded-content p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#solutions-nav {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}
#solutions-nav .solution-section-name {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 0px;
  height: 64px;
  position: absolute;
  left: 64px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  background-color: #262626;
  font-size: 14px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.no-flexbox.flexboxtweener #solutions-nav .solution-section-name {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #solutions-nav .solution-section-name > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #solutions-nav .solution-section-name {
  display: block;
}
.no-flexbox.no-flexboxtweener #solutions-nav .solution-section-name:before,
.no-flexbox.no-flexboxtweener #solutions-nav .solution-section-name:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #solutions-nav .solution-section-name:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #solutions-nav .solution-section-name > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #solutions-nav .solution-section-name {
  -ms-flex-align: center;
}
#solutions-nav .icon-block:hover .solution-section-name {
  width: auto;
  opacity: 1;
  padding: 0 16px;
}
