@import '../../settings.less';
@import '../../overrides.less';



// overrides

header.push {
    width: 100%;
    position: absolute;
}
.top-banner { display: none; }



// hero banners

#hero { background-image: url('/Strategy/media/images/solutions/hero-backgrounds/solutions_executives_hero-banner-bkg.jpg'); }



// other

.fp-controlArrow {
    display: block !important;
    width: auto !important;
    height: auto !important;
    .translateY(-50%) !important;
    margin-top: 0 !important;
    border: 0 !important;
    color: @dark-gray;
    .transition;
    
    &.fp-prev { .transform(translateY(-50%) rotate(180deg)) !important; }
    
    &:after {
        content: "\e902";
        font-family: @icon-font-name;
        .pretty-icon;
        font-size: 64px;
    }
    
    &:hover, &:active {
        color: @red;
    }
    
    &[style="display: none;"] {
        opacity: @semi-transparent;
        cursor: default;
        
        &:hover, &:active { color: @dark-gray; }
    }
    
    .fp-section:not(.active) & { opacity: 0; }
}
#fp-nav {
    top: auto !important;
    bottom: 50%;
    .translateY(@column-gutter * -1) !important;
    
    &.right { right: 35px !important; }
    
    ul li a span {
        background: @dark-gray !important;
    }
    ul li:hover a span {
        background: @gray !important;
    }
    ul li a.active span,
    ul li:hover a.active span {
        background: @red !important;
    }
}