h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.top-banner {
  display: none;
}
#hero {
  background-image: url('/Strategy/media/images/solutions/hero-backgrounds/solutions_executives_hero-banner-bkg.jpg');
}
.gridder.hasSelectedItem .gridder-list {
  display: none;
}
.gridder-list .card {
  cursor: pointer;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 65px 15px 15px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .gridder-padding {
    padding: 65px 30px 30px;
  }
}
.gridder-navigation {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #999999;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #cccccc;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
.gridder-expanded-content {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gridder-expanded-content p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
@media only screen and (min-width: 768px) {
  .gridder-expanded-content .solution-image {
    max-height: 600px;
  }
}
#explore .ratio {
  max-height: 300px;
}
#explore .section-name {
  font-size: 18px;
  line-height: 1.4;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #explore .section-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) {
  #explore .section-name {
    font-size: 21px;
  }
}
#explore .label {
  font-size: 14px;
  line-height: 1.4;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #to-top {
    bottom: 30px;
    right: 30px;
  }
}
@media only screen and (min-width: 980px) {
  #to-top {
    bottom: 45px;
    right: 45px;
  }
}
#to-top.hidden {
  opacity: 0;
  visibility: hidden;
}
#to-top .label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 64px;
  position: absolute;
  right: 64px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  background-color: #8c8c8c;
  font-size: 12px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#to-top:hover .label,
#to-top:active .label {
  opacity: 1;
  padding: 0 16px;
}
#customers .logo {
  max-width: 65%;
  max-height: 100px;
}
