.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.Single.Page {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Single.Page .profile-name {
  margin-bottom: 5px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}
.Single.Page .profile-title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.Single.Page .profile-bio {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Single.Page .profile-bio {
    font-size: 18px;
  }
}
.Single.Page .profile-photo {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 0;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.no-objectfit .Single.Page .profile-photo {
  color: transparent;
}
