h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.blog .author-photo {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.blog.archive .archive-title .tag-name,
.blog.archive .archive-title .search-query,
.blog.archive .archive-title .author-name {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
}
.blog.archive .post {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.blog.archive .post .post-title {
  font-weight: 400;
}
.blog.archive .post .post-author {
  font-size: 16px;
  font-weight: 300;
  color: #999999;
}
.blog.archive .post .post-author .author-name {
  font-weight: 400;
}
.blog.single .post section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog.single .post h4,
.blog.single .post h5,
.blog.single .post p,
.blog.single .post li,
.blog.single .post figcaption {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.blog.single .post h4,
.blog.single .post h5 {
  font-weight: 600;
  letter-spacing: 0.01em;
}
.blog.single .post p,
.blog.single .post li {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.005em;
}
.blog.single .post h4 {
  font-size: 24px;
}
.blog.single .post h5 {
  font-size: 20px;
  color: #999999;
}
.blog.single .post a {
  font-weight: 400;
}
.blog.single .post * + h4 {
  margin-top: 40px;
}
.blog.single .post .post-content img,
.blog.single .post .post-content div,
.blog.single .post .post-content figure,
.blog.single .post .post-content iframe {
  margin: 40px 0;
}
.blog.single .post .post-content img {
  padding: 0 !important;
}
.blog.single .post .post-content img.float.right {
  margin: 0 0 20px 20px;
}
.blog.single .post .post-content img.float.left {
  margin: 0 20px 20px 0;
}
.blog.single .post .post-content figure img {
  margin: 10px 0;
}
.blog.single .post .post-content figure figcaption {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.005em;
}
.blog.single .post .post-content [class*="wistia"],
.blog.single .post .post-content [class*="wistia"] div {
  margin: 0;
}
.blog.single .post .post-summary p,
.blog.single .post .post-cta p {
  font-size: 20px;
  font-weight: 400;
}
.blog.single .post .post-summary a,
.blog.single .post .post-cta a {
  font-weight: 600;
}
.blog.single .post .post-summary:after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin: 40px auto 0 auto;
  background-color: #D9232E;
}
.blog.single .post .post-cta:before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin: 0 auto 40px auto;
  background-color: #CCCCCC;
}
.blog.single .post .post-tags {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.blog.single .post .post-author .post-author-panel {
  padding: 30px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.blog.single .post .post-author .author-title {
  margin-bottom: 10px;
  font-weight: 600;
}
.blog.single .post .post-author .author-photo {
  width: 120px;
  height: 120px;
  border: 5px solid #CCCCCC;
}
.blog.single .post .post-author .author-bio {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.blog.single #comments {
  background-color: #f2f2f2;
}
.blog.single #comments .no-comments {
  display: block;
  margin-bottom: 20px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999999;
}
.blog.single #comments .comment {
  margin: 20px 0;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.blog.single #comments .comment-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.blog.single #comments .comment-header .CommentUserName {
  font-size: 18px;
  font-weight: 600;
}
.blog.single #comments .comment-header .CommentDate {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.blog.single #comments .comment-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog.single #comments .comment-admin-links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 0 -5px;
}
.blog.single #comments .comment-admin-links a {
  margin: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #D9232E;
}
.blog.single #comments .comment-form-container {
  margin-top: 40px;
}
.blog.single #comments input,
.blog.single #comments textarea {
  margin-bottom: 5px;
}
.blog.single #comments .comment-form-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
}
.blog.single #comments #comment-form .message {
  display: block;
  margin-top: 20px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #68AA00;
}
.blog.single #comments #comment-form .error-message {
  color: #D9232E;
}
.blog.single #comments .form-control-error {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #D9232E;
}
.blog #hero {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}
.blog #hero .post-author {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .blog #hero .post-author {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.blog #hero .author-photo {
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
  border: 2px solid #CCCCCC;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.blog #hero .author-photo:hover,
.blog #hero .author-photo:active {
  border-color: #FFFFFF;
}
.blog #hero .author-byline {
  letter-spacing: .02em;
  color: #CCCCCC;
}
.blog #hero .author-name {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.blog #hero .author-name:hover,
.blog #hero .author-name:active {
  border-color: #FFFFFF;
}
.blog #hero .post-date {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #CCCCCC;
}
.blog #hero .featured-post {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 400px;
  padding: 40px 20px 80px;
}
@media only screen and (min-width: 768px) {
  .blog #hero .featured-post {
    height: 500px;
    padding: 60px 0 80px;
  }
}
@media only screen and (min-width: 980px) {
  .blog #hero .featured-post {
    height: 600px;
    padding: 80px 0;
  }
}
#section-navigation .section-title {
  display: inline-block;
  font-size: 21px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}
@media only screen and (min-width: 768px) {
  #section-navigation .section-title {
    margin: 0 1em 0 0;
    padding: 0 1em 0 0;
    border-right: 1px solid #CCCCCC;
  }
}
#section-navigation .section-title:hover,
#section-navigation .section-title:active {
  color: #555555;
}
@media only screen and (max-width: 767px) {
  #section-navigation .section-title {
    padding: 20px 15px;
  }
  .is-sticky #section-navigation .section-title {
    padding: 20px;
  }
}
#section-navigation .section-search {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  padding-right: 15px;
}
#section-navigation .section-search #blogSearchTrigger {
  cursor: pointer;
}
#section-navigation .section-search #blogSearch {
  width: 0;
  overflow: hidden;
}
#section-navigation .section-search #blogSearchTxt {
  border: 0;
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 300;
}
#section-navigation .section-search #blogSearchTxt:focus {
  box-shadow: none;
}
#section-navigation .section-search #blogSearchBtn {
  padding: 1em;
}
#section-navigation .section-search.active #blogSearch {
  width: 100%;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #section-navigation .section-search.active #blogSearch {
    width: 250px;
  }
}
@media only screen and (min-width: 768px) {
  #section-navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 15px;
  }
  .is-sticky #section-navigation {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 767px) {
  #section-navigation:after {
    content: "\e900";
    display: block;
    width: 61px;
    height: 61px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: microstrategy;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #999999;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    padding-top: 15px;
  }
  #section-navigation:hover:after,
  #section-navigation:active:after,
  #section-navigation:focus:after {
    color: #CCCCCC;
  }
}
#section-navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#section-navigation-menu li {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
  margin: 0 0 1em 0;
  padding: 0;
}
#section-navigation-menu li:last-child {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  #section-navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }
  #section-navigation-menu li {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: none;
    margin: 0 1em 0 0;
    padding: 0;
  }
  #section-navigation-menu li:last-child {
    margin: 0;
  }
}
#section-navigation-menu .menu-item {
  font-size: 16px;
  font-weight: 300;
}
#section-navigation-menu .menu-item a {
  display: block;
  width: 100%;
  color: #333333;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media only screen and (min-width: 980px) {
  #section-navigation-menu .menu-item a {
    color: #999999;
  }
}
#section-navigation-menu .menu-item a:hover,
#section-navigation-menu .menu-item a:active {
  color: #333333;
}
@media only screen and (max-width: 767px) {
  #section-navigation-menu {
    opacity: 0;
    max-height: 0;
    z-index: -100;
    overflow: hidden;
    padding: 0 15px;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  #section-navigation:hover #section-navigation-menu,
  #section-navigation:active #section-navigation-menu,
  #section-navigation:focus #section-navigation-menu {
    opacity: 1;
    max-height: 100vh;
    z-index: 100;
    padding: 20px 15px;
    border-top: 1px solid #CCCCCC;
  }
}
.is-sticky #section-navigation {
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #999999;
}
