blockquote {
  display: block;
  position: relative;
  margin: 0;
  padding: 20px 40px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 24px;
    line-height: 33px;
  }
}
blockquote > footer {
  display: block;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  blockquote > footer {
    font-size: 18px;
  }
}
blockquote:before,
blockquote:after {
  content: '“';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 68px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 250px;
  line-height: 0.8em;
  opacity: .2;
}
blockquote:after {
  content: '”';
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
.FRFR blockquote:before,
.FRFR blockquote:after {
  content: "«";
  font-size: 120px;
  line-height: 0.3em;
  width: 60px;
}
.FRFR blockquote:after {
  content: "»";
}
.Blog {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Blog #page-hero .title {
  font-weight: 400;
}
@media only screen and (min-width: 980px) {
  .Blog #page-hero .title {
    font-size: 40px;
  }
}
.Blog #page-hero .author {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.Blog #page-hero .author .photo {
  width: 40px;
  height: 40px;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #f2f2f2;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.no-objectfit .Blog #page-hero .author .photo {
  color: transparent;
}
.Blog #page-hero .author .name {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #f2f2f2;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.Blog #page-hero .author:hover .photo {
  border-color: #FFFFFF;
}
.Blog #page-hero .author:hover .name {
  color: #FFFFFF;
}
.Blog #page-hero .date {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: #f2f2f2;
}
.Blog #page-hero #featured-posts:not(.slick-initialized) {
  opacity: 0;
}
.Blog #page-hero .featured-post {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 400px;
  padding: 40px 20px 80px;
}
@media only screen and (min-width: 768px) {
  .Blog #page-hero .featured-post {
    height: 500px;
    padding: 60px 0 80px;
  }
}
@media only screen and (min-width: 980px) {
  .Blog #page-hero .featured-post {
    height: 600px;
    padding: 80px 0;
  }
}
.Blog.List.Page .query {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
}
.Blog.Single.Page .post section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Blog.Single.Page .post h4,
.Blog.Single.Page .post h5,
.Blog.Single.Page .post p,
.Blog.Single.Page .post li,
.Blog.Single.Page .post figcaption {
  line-height: 1.6;
}
.Blog.Single.Page .post h2,
.Blog.Single.Page .post h3,
.Blog.Single.Page .post h4,
.Blog.Single.Page .post h5 {
  font-weight: 400;
}
.Blog.Single.Page .post p,
.Blog.Single.Page .post li {
  font-size: 18px;
  font-weight: 300;
}
.Blog.Single.Page .post h2,
.Blog.Single.Page .post h3,
.Blog.Single.Page .post h4 {
  font-size: 26px;
}
.Blog.Single.Page .post h5 {
  font-size: 22px;
}
.Blog.Single.Page .post a {
  font-weight: 400;
}
.Blog.Single.Page .post * + h2,
.Blog.Single.Page .post * + h3,
.Blog.Single.Page .post * + h4 {
  margin-top: 40px;
}
.Blog.Single.Page .post .post-content img,
.Blog.Single.Page .post .post-content div,
.Blog.Single.Page .post .post-content figure,
.Blog.Single.Page .post .post-content iframe {
  margin: 40px 0;
}
.Blog.Single.Page .post .post-content img {
  padding: 0 !important;
}
.Blog.Single.Page .post .post-content img.float.right {
  margin: 0 0 20px 20px;
}
.Blog.Single.Page .post .post-content img.float.left {
  margin: 0 20px 20px 0;
}
.Blog.Single.Page .post .post-content figure img {
  margin: 10px 0;
}
.Blog.Single.Page .post .post-content figure figcaption {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.005em;
}
.Blog.Single.Page .post .post-content [class*="wistia"],
.Blog.Single.Page .post .post-content [class*="wistia"] div {
  margin: 0;
}
.Blog.Single.Page .post .post-summary p,
.Blog.Single.Page .post .post-cta p {
  font-size: 20px;
  font-weight: 400;
}
.Blog.Single.Page .post .post-summary a,
.Blog.Single.Page .post .post-cta a {
  font-weight: 600;
}
.Blog.Single.Page .post .post-summary:after {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin: 40px auto 0 auto;
  background-color: #D9232E;
}
.Blog.Single.Page .post .post-cta:before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  margin: 0 auto 40px auto;
  background-color: #999999;
}
.Blog.Single.Page .post .post-tags {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Blog.Single.Page .post .post-author .post-author-panel {
  padding: 30px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.Blog.Single.Page .post .post-author .name {
  margin-bottom: 0;
}
.Blog.Single.Page .post .post-author .title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Blog.Single.Page .post .post-author .photo {
  width: 120px;
  height: 120px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.Blog.Single.Page .post .post-author .biography {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
#comments {
  background-color: #f2f2f2;
}
#comments #CommentsList {
  margin-bottom: 40px;
}
#comments .Comment {
  margin: 20px 7.5px;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
#comments .CommentsTitle {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#comments .NoComments {
  display: block;
  margin-bottom: 20px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #777777;
}
#comments .CommentHeader {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
#comments .CommentUserName {
  font-size: 18px;
  font-weight: 600;
}
#comments .CommentDate {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
#comments .CommentBody {
  padding-top: 20px;
  padding-bottom: 20px;
}
#comments .CommentActions {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 0 -5px;
}
#comments .CommentAction,
#comments .InlineAbuseLink {
  margin: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #D9232E;
}
#comments #CommentsForm .form-control {
  margin-bottom: 0;
}
#comments #CommentsForm .form-control-error {
  margin-top: 5px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #D9232E;
}
#comments #CommentsForm .form-control-error[style*="inline"] {
  display: block !important;
}
#comments #CommentsForm .message {
  display: block;
  margin-top: 0;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #68AA00;
}
#comments #CommentsForm .message.error {
  color: #D9232E;
}
#comments .CaptchaLabel {
  margin-bottom: 10px;
}
#comments .CaptchaTextBox {
  margin-bottom: 0;
}
#comments .CaptchaTable {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
