.white-popup {
    &.popup-width-jumbo  {max-width:1200px;}
    &.popup-width-large  {max-width:1000px;}
    &.popup-width-medium {max-width:800px;}
    &.popup-width-small  {max-width:600px;}
    &.popup-width-tiny   {max-width:400px;}

    &.y-scroll {max-height:80vh; overflow:auto;}
}
