h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
.h1.line-break,
.h2.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.partners #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/partners.jpg');
}
#partner-resources {
  padding: 0;
}
#partner-resources-header {
  position: absolute;
  padding: 0.75em 1.25em 0.75em;
  font-size: 14px;
  background-color: #11566f;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  left: 15px;
  bottom: -40px;
}
@media only screen and (min-width: 768px) {
  #partner-resources-header {
    left: 50%;
    bottom: -80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources-header {
    bottom: -120px;
  }
}
#partner-resources a[href*="mailto"] {
  color: #f2f2f2;
}
#partner-resources a[href*="mailto"]:hover,
#partner-resources a[href*="mailto"]:active {
  color: #ffffff;
  text-decoration: underline;
}
#partner-spotlights .logo {
  max-width: 80%;
  max-height: 100px;
}
@media only screen and (min-width: 1200px) {
  #partner-spotlights .logo {
    max-height: 150px;
  }
}
