h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.partners #hero.background-image {
  background-image: url('/getmedia/f7467b6a-e8f0-46bb-85cf-de71b8a35b7b/businesspeople-looking-at-mobile-device');
}
#become-a-partner.background-image {
  background-image: url('/Strategy/media/images/common/banners/partners.jpg');
}
.accordion-trigger {
  position: relative;
  padding-right: 3em;
  text-align: left;
}
.accordion-trigger:after {
  content: '\ea91';
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 1.25em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.accordion-trigger.activated:after {
  content: '\e9ad';
}
#partner-resources-trigger {
  position: absolute;
  left: 15px;
  bottom: -40px;
}
@media only screen and (min-width: 768px) {
  #partner-resources-trigger {
    left: 50%;
    bottom: -80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources-trigger {
    bottom: -120px;
  }
}
#partner-resources {
  max-height: 0px;
  padding: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#partner-resources.expanded {
  max-height: 1500px;
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    max-height: 1000px;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    max-height: 750px;
  }
}
@media only screen and (min-width: 768px) {
  #partner-resources.expanded {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources.expanded {
    padding: 60px 0;
  }
}
#featured-partners .partner-logo {
  max-width: 60%;
  max-height: 100px;
}
#partner-logos .partner-logo {
  max-width: 90%;
  max-height: 100px;
}
#partners-list .partner-card {
  position: relative;
  padding-top: 100%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
#partners-list .partner-card:hover,
#partners-list .partner-card:active {
  border-color: #D9232E;
}
#partners-list .partner-card .partner-info {
  display: none;
}
#partners-list .partner-logo {
  max-width: 65%;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#partners-list .no-results {
  padding: 15px;
  text-align: center;
}
#partners-list .no-results p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
#partners.hasSelectedItem ~ .pagination,
#partners.hasSelectedItem .partner,
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 30px;
  background-color: #333333;
}
.gridder-navigation {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  background: #555555;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #f2f2f2;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #ffffff;
}
.gridder-navigation a.gridder-nav {
  border-right: 1px solid #999999;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #f2f2f2;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .35;
  cursor: default;
}
.gridder-navigation a.gridder-close:hover,
.gridder-navigation a.gridder-nav:not(.disabled):hover {
  background: #222222;
  color: #ffffff;
}
.partner-info {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.partner-info .partner-name {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.partner-info .partner-description {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: .01em;
}
.partner-info .partner-section-title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.partner-info .partner-categories,
.partner-info .partner-tags,
.partner-info .partner-countries {
  font-weight: 300;
  letter-spacing: .05em;
  color: #999999;
}
.partner-info .partner-category,
.partner-info .partner-tag,
.partner-info .partner-country {
  color: #999999;
}
.gridder-show .partner-info {
  color: #FFFFFF;
}
.gridder-show .partner-info .partner-description {
  color: #f2f2f2;
}
.gridder-show .partner-info .partner-category,
.gridder-show .partner-info .partner-tag,
.gridder-show .partner-info .partner-country {
  color: #CCCCCC;
}
.partnership-logos {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  color: #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .partnership-logos {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
.partnership-logos .logo {
  max-width: 250px;
  margin: 10px 0;
}
@media only screen and (min-width: 768px) {
  .partnership-logos .logo {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 980px) {
  .partnership-logos .logo {
    max-width: 300px;
  }
}
.oem.page #platform .accordion .toggler {
  padding: 15px 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.oem.page #platform .accordion .toggler:before {
  display: inline-block;
  position: relative;
  content: '';
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #D9232E;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  background-color: transparent;
  margin-top: 0;
  left: auto;
  top: auto;
}
.oem.page #platform .accordion .toggler:after {
  display: none;
}
.oem.page #platform .accordion .toggler.expanded {
  background-color: #D9232E;
  color: #FFFFFF;
}
.oem.page #platform .accordion .toggler.expanded:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top-color: #FFFFFF;
}
.oem.page #platform .accordion .element {
  padding: 15px 20px;
}
.company.page blockquote {
  position: relative;
  margin: 0;
  padding-left: 2.5em;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 300;
  font-size: 16px;
}
.company.page blockquote:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.25em;
  left: -5em;
  border-left: 2.5em solid transparent;
  border-top: 2.5em solid transparent;
  border-right: 2.5em solid #FFFFFF;
}
.company.page blockquote footer {
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
}
