h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.partners #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/partners.jpg');
}
#partner-resources {
  padding: 0;
}
#partner-resources-header {
  position: absolute;
  padding: 0.75em 1.25em 0.75em;
  font-size: 14px;
  background-color: #11566F;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  left: 15px;
  bottom: -40px;
}
@media only screen and (min-width: 768px) {
  #partner-resources-header {
    left: 50%;
    bottom: -80px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 980px) {
  #partner-resources-header {
    bottom: -120px;
  }
}
#partner-resources a[href*="mailto"] {
  color: #f2f2f2;
}
#partner-resources a[href*="mailto"]:hover,
#partner-resources a[href*="mailto"]:active {
  color: #FFFFFF;
  text-decoration: underline;
}
#partner-spotlights .logo {
  max-width: 80%;
  max-height: 100px;
}
@media only screen and (min-width: 1200px) {
  #partner-spotlights .logo {
    max-height: 150px;
  }
}
#partners-list .partner-card {
  position: relative;
  padding-top: 100%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
#partners-list .partner-card:hover,
#partners-list .partner-card:active {
  border-color: #D9232E;
}
#partners-list .partner-logo {
  max-width: 75%;
  max-height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#partners-list .partner-info {
  display: none;
}
#partners-list .no-results {
  padding: 15px;
  text-align: center;
}
#partners-list .no-results p {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
#partners.hasSelectedItem ~ .pagination,
#partners.hasSelectedItem .partner,
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  padding: 15px;
}
.gridder-padding {
  position: relative;
  padding: 30px;
  background-color: #333333;
}
.gridder-navigation {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.no-flexbox.flexboxtweener .gridder-navigation {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener .gridder-navigation > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener .gridder-navigation {
  display: block;
}
.no-flexbox.no-flexboxtweener .gridder-navigation:before,
.no-flexbox.no-flexboxtweener .gridder-navigation:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener .gridder-navigation:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener .gridder-navigation > * {
  display: inline-block;
  float: left;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  background: #555555;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.no-flexbox.flexboxtweener .gridder-navigation a {
  -ms-flex: 1 1 auto;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #f2f2f2;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #ffffff;
}
.no-flexbox.flexboxtweener .gridder-navigation a.gridder-close {
  -ms-flex-order: 1;
}
.gridder-navigation a.gridder-nav {
  border-right: 1px solid #999999;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #f2f2f2;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .35;
  cursor: default;
}
.gridder-navigation a.gridder-close:hover,
.gridder-navigation a.gridder-nav:not(.disabled):hover {
  background: #222222;
  color: #ffffff;
}
.gridder-expanded-content {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
}
.gridder-expanded-content .partner-name {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.gridder-expanded-content .partner-description {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: .01em;
  color: #f2f2f2;
}
.gridder-expanded-content .partner-category-title {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.gridder-expanded-content .partner-categories {
  font-weight: 300;
  letter-spacing: .05em;
  color: #999999;
}
.gridder-expanded-content .partner-categories a {
  color: #CCCCCC;
}
.gridder-expanded-content .partner-categories a:hover,
.gridder-expanded-content .partner-categories a:active {
  color: #FFFFFF;
  text-decoration: underline;
}
.loading-animation {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
}
.loading-animation .spinner-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading .loading-animation {
  z-index: 1;
  opacity: 1;
}
