@import '../settings.less';
@import '../overrides.less';



.partners #hero.background-image { background-image: url('/Strategy/media/images/common/banners/partners.jpg'); }

#partner-resources {
    padding: 0;
    
    &-header {
        position: absolute;
        padding: @button-padding;
        font-size: extract(@button-base-sizes, 2);
        background-color: @navy-blue;
        color: @white;
        .uppercase;
        
        left: @column-gutter / 2;
        bottom: -40px;
        
        @media @medium {
            left: 50%;
            bottom: -80px;
            .translateX(-50%);
        }
        @media @large {
            bottom: -120px;
        }
    }
    
    a[href*="mailto"] {
        color: @light-gray;
        &:hover, &:active { color: @white; text-decoration: underline; }
    }
}

#partner-spotlights {
    
    .logo {
        max-width: 80%;
        max-height: 100px;
        @media @xlarge { max-height: 150px; }
    }
}

#partners-list {
    
    .partner-card {
        position: relative;
        .aspect-ratio(1, 1);
        background-color: @white;
        border: @thin-border @gray;
        &:hover, &:active { border-color: @red; }
        .transition;
        cursor: pointer;
    }
    .partner-logo {
        .max-size(75%, 100px);
        .position(absolute, 50%, 50%);
        .translate(-50%, -50%);
    }
    .partner-info {
        display: none;
    }
    .no-results {
        padding: @column-gutter / 2;
        text-align: center;
        
        p {
            font-family: @myriad-pro;
            font-size: 18px;
            line-height: @line-height;
        }
    }
}

#partners.hasSelectedItem ~ .pagination,
#partners.hasSelectedItem .partner,
.gridder-content {
    display: none;
}

.gridder-show {
    width: 100%;
    padding: @column-gutter / 2;
}
.gridder-padding {
    position: relative;
    padding: @column-gutter;
    background-color: @black;
}
.gridder-navigation {
    .display(flex);
    .position(absolute, 0, @right:0);
    
    a {
        .flex(1, 1, auto);
        display: block;
        .size(40px);
        position: relative;
        background: @charcoal;
        .transition;
        
        &.gridder-close {
            .shape-x(20px, @light-gray);
            .order(1);
        }
        &.gridder-nav {
            border-right: @thin-border @dark-gray;
            
            &:before {
                content: "\e901";
                display: block;
                .position(absolute, 50%, 50%);
                .translate(-50%, -50%);
                font-family: @icon-font-name; .pretty-icon;
                font-size: 16px; line-height: 1;
                color: @light-gray;
            }
            &.prev:before {
                .transform(translate(-50%, -50%) rotate(180deg));
                .transform-origin(center, center);
            }
            &.disabled {
                opacity: .35;
                cursor: default;
            }
        }
        &.gridder-close:hover,
        &.gridder-nav:not(.disabled):hover {
            background: @jet;
            color: lighten(@light-gray, 20%);
        }
    }
}
.gridder-expanded-content {
    font-family: @myriad-pro;
    color: @white;
    
    .partner-name {
        font-weight: @bold;
        .uppercase;
    }
    .partner-description {
        font-size: 15px;
        line-height: @line-height;
        font-weight: @light;
        letter-spacing: .01em;
        color: @light-gray;
    }
    .partner-category-title {
        font-size: 16px;
        line-height: @line-height;
        font-weight: @bold;
        .uppercase;
        color: @dark-gray;
    }
    .partner-categories {
        font-weight: @light;
        letter-spacing: .05em;
        color: @dark-gray;
        
        a {
            color: @gray;
            
            &:hover, &:active {
                color: @white;
                text-decoration: underline;
            }
        }
    }
}

.loading-animation {
    display: block;
    .position(absolute, 0, 0, 0, 0);
    z-index: -1;
    opacity: 0;
    background: fade(@white, percentage(@semi-opaque));
    
    .spinner-bars {
        .position(absolute, 50%, 50%);
        .translate(-50%, -50%);
    }
    
    .loading & {
        z-index: 1;
        opacity: 1;
    }
}

.partners.spotlight {
    
    .partnership-logos {
        .display(flex);
        .flex-direction(column);
        @media @medium { .flex-direction(row); }
        .align-items(center);
        .justify-content(center);
        font-size: 24px;
        color: @gray;
        
        .logo {
            max-width: 250px;
            margin: (@base-spacing / 2) 0;
            @media @medium { margin: 0 @base-spacing; }
            @media @large { max-width: 300px; }
        }
    }
}

blockquote {
    position: relative;
    margin: 0;
    padding-left: 2.5em;
    font-family: @myriad-pro;
    line-height: @line-height;
    font-weight: @light;
    
    // default
    font-size: 16px;
    
    &:before {
        content: '';
        display: block;
        .position(absolute, .25em, -5em);
        border-left: 2.5em solid transparent;
        border-top: 2.5em solid transparent;
        border-right: 2.5em solid @white;
    }
    
    footer {
        margin-top: @base-spacing / 2;
        font-weight: @bold;
        font-style: normal;
    }
}