@import '../settings.less';

//Temporary hide broken widget message
main .WebPartError {display:none;}


//////////////////////////////////////////////
//VIDEO GALLERY
//////////////////////////////////////////////
.Videos.List.Page #video-gallery {
    .cards {
        max-width: 1600px;
        .video {
            .video-category {margin: 15px 0 10px;}
            h3 > a {
                color: @black;
                a:hover, a:focus {
                    color:@red;
                }
            }
        }
    }
}





//////////////////////////////////////////////
//POPUP FORM STYLES
//////////////////////////////////////////////
.Single.Page.Gated.FormPopup {
    overflow: hidden;
    &.FormSubmitted {overflow: auto;}
    #formPopup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgba(0,0,0,0.5);
    }
    #leadGenFormContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: ~"calc(100% - 30px)";
        height:auto;
        @media @medium {height:~"calc(100vh - 30px)";}
        #video-details {
            color: @white;
            ul {
                list-style: none;
                > li:before {
                    content: "";
                    display: inline-block;
                    width: .5em;
                    height: .5em;
                    margin: 0 .5em 0 -1em;
                    border-radius: 50%;
                    background: @red;
                }
            }
        }
    }
}




//////////////////////////////////////////////
//FORM FIXES
//////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .Videos.Single.Page.Gated .mktoForm .mktoFormRow,
    .Videos.Single.Page.Gated .mktoForm .mktoButtonRow {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .Webcasts.Single.Page.Gated .mktoForm .mktoFormRow,
    .Webcasts.Single.Page.Gated .mktoForm .mktoButtonRow {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .Videos.Single.Page.Gated .mktoForm .mktoFormCol,
    .Videos.Single.Page.Gated .mktoForm .mktoButtonWrap {
        -webkit-flex: 1 1 1px;
        flex: 1 1 1px;
        max-width: none;
        width: auto;
    }
    .Webcasts.Single.Page.Gated .mktoForm .mktoFormCol,
    .Webcasts.Single.Page.Gated .mktoForm .mktoButtonWrap {
        -webkit-flex: 1 1 1px;
        flex: 1 1 1px;
        max-width: none;
        width: auto;
    }
}
@media only screen and (min-width: 980px) {
    .Single.Page.Gated #leadGenFormContainer {
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
}
@media only screen and (max-width: 767px) {
    .Single.Page.Gated #lead-gen-form {
        padding: 20px;
    }
}
.Single.Page.Gated #formPopupTrigger,
.Single.Page.Gated #formPopup .mfp-close {
    display: none !important;
}
.Single.Page #video-player .ratio > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Single.Page #video-details {
    padding: 30px 30px 0 0;
}
.Single.Page #video-details .line {
    display: block;
}
.Single.Page #video-details .video-description,
.Single.Page #video-details .video-description p,
.Single.Page #video-details .video-description li {
    font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.Single.Page #video-details .video-description p,
.Single.Page #video-details .video-description ul {
    margin: 20px 0;
}
.Single.Page #video-details .video-description p:last-child,
.Single.Page #video-details .video-description ul:last-child {
    margin-bottom: 0;
}
.Single.Page #related-videos {
    background-color: #f2f2f2;
}
@media only screen and (max-width: 979px) {
    .Single.Page #related-videos {
        -webkit-order: 1;
        order: 1;
        margin-top: 20px;
    }
}
.Single.Page #related-videos-list {
    list-style: none;
    padding: 0;
}
@media only screen and (min-width: 980px) {
    .Single.Page #related-videos-list .grid-item {
        border-top: 1px solid #ccc;
    }
}
.Single.Page #related-videos-list h2 {
    white-space: nowrap;
}
.Single.Page #related-videos-list h3 > a {
    color: #333;
}
.Single.Page #related-videos-list h3 > a:hover,
.Single.Page #related-videos-list h3 > a:focus {
    color: @red;
}
.Single.Page #page-cta [class*="col-"] {
    padding-top: 0;
    padding-right: 0;
}
.Single.Page #page-cta .button {
    width: 100%;
}





//////////////////////////////////////////////
//RESOURCE LIBRARY GENERAL
//////////////////////////////////////////////
.Resource.Single.Page #lead-gen-form,
.Resource.Single.Page #resource-access .resource-thumbnail {
    box-shadow: 3px 3px 5px rgba( 0, 0, 0, .2 );
}
.Resource.Single.Page #resource-description,
.Resource.Single.Page #resource-description p,
.Resource.Single.Page #resource-description li {
    font-family: myriad-pro, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 100;
}
.Resource.Single.Page #page-content {
    position: relative;
}
.Resource.Single.Page #page-hero .text-block {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}
/* ADDED BY ANDREW ON 10/9/2019 */
@media only screen and ( max-width: 767px ) {
    .Resource.Single.Page #resource-access {
        margin-top: 0 !important;
    }
}
@media only screen and ( min-width: 768px ) {
    .Resource.Single.Page #resource-details {
        overflow: visible;
        position: static;
    }
    .Resource.Single.Page #resource-access {
        z-index: 1;
        padding-top: 35px !important;
    }
}
@media only screen and ( min-width: 980px ) {
    .Resource.Single.Page #resource-access {
        padding-top: 60px !important;
    }
}
