h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding: 0 0 0 1em;
}
ul li,
ol li {
  padding: 0 0 0 1em;
  margin-bottom: 10px;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.results-item {
  padding: 30px 0;
  border-bottom: 1px solid #CCCCCC;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.results-item:last-child {
  border-bottom: 0;
}
.results-item-title {
  margin-bottom: 10px;
  font-weight: 600;
}
.results-item-title a:visited {
  color: #999999;
}
.results-item-url {
  font-size: 13px;
  font-style: italic;
  letter-spacing: .01em;
  color: #999999;
}
.search-query {
  font-weight: 600;
  font-style: italic;
  color: #D9232E;
}
.total-results-number {
  font-weight: 600;
  color: #333333;
}
