h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#product-packaging #hero.background-image {
  background-image: url('/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk');
}
#explore .ratio {
  max-height: 300px;
}
#explore .section-name {
  font-size: 18px;
  line-height: 1.4;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #explore .section-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) {
  #explore .section-name {
    font-size: 21px;
  }
}
#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #to-top {
    bottom: 30px;
    right: 30px;
  }
}
@media only screen and (min-width: 980px) {
  #to-top {
    bottom: 45px;
    right: 45px;
  }
}
#to-top.hidden {
  opacity: 0;
  visibility: hidden;
}
#to-top .label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 64px;
  position: absolute;
  right: 64px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  background-color: #8c8c8c;
  font-size: 12px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.no-flexbox.flexboxtweener #to-top .label {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #to-top .label > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #to-top .label {
  display: block;
}
.no-flexbox.no-flexboxtweener #to-top .label:before,
.no-flexbox.no-flexboxtweener #to-top .label:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #to-top .label:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #to-top .label > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #to-top .label {
  -ms-flex-align: center;
}
#to-top:hover .label,
#to-top:active .label {
  opacity: 1;
  padding: 0 16px;
}
