@import '../settings.less';

//base overrides
main, section {overflow:hidden;}

.button-group .button {max-width:100%;}

.InternetExplorer .slick-slide > img {flex-shrink:0;}

.text-block {font-weight:600; color:@white;}

.video-wrapper.ratio-tablet-portrait {padding-top:136.88%;}
.video-wrapper.ratio-four-three {padding-top:75%;}

[class*="col-"].shrink {max-width:100%;}

//rectangle slick dots
.slick-dots {
    margin-top:20px;
    li button {
        border-radius:0;
        width:50px; height:auto;
        padding:15px 0;
        background-color:transparent!important;
        &:after {
            content:'';
            display:block;
            background-color:@iron;
            width:100%; height:5px;
            .single-transition;
        }
    }
    li.slick-active button:after {background-color:@red; height:10px;}
}



//new components
@import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
@import '../_new-components/components-and-expansions/button-with-flag.less';
@import '../_new-components/components-and-expansions/device-mockups-new-plus-options.less';
@import '../_new-components/components-and-expansions/hypercard-graphic.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
@import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
// @import '../_new-components/components-and-expansions/stacked-icons.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
@import '../_new-components/components-and-expansions/vertical-diagram.less';
// @import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/form-spacing.less';
@import '../_new-components/resets-and-fixes/related-items.less';
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';

//new sections and heros
@import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
@import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
@import '../_new-components/sliders/center-mode-image.less';
@import '../_new-components/sliders/customer-success-logo-video.less';
@import '../_new-components/sliders/multi-item-nav.less';
// @import '../_new-components/sliders/photos.less';





.revolving-panels {
    display:inline-block;
    position:relative;
    overflow:visible;
    margin:0 0 60px 60px;

    &.panles- {
        &3-up {margin:0 0 40px 40px;}
        &4-up {margin:0 0 60px 60px;}
        &5-up {margin:0 0 80px 80px;}
    }
    .rev-panel {
        position:absolute; z-index:0;
        margin:0;
        top:0; left:0;
        .animation(card-stack-cycle 8s linear 0s normal infinite);
        &:first-child{position:relative;}
        &:nth-child(2) {.animation-delay(-2s~"!important");}
        &:nth-child(3) {.animation-delay(-4s~"!important");}
        &:nth-child(4) {.animation-delay(-6s~"!important");}
        &:nth-child(5) {.animation-delay(-8s~"!important");}
    }
}

//for a demo iframe
.demo-wrapper {
    position:relative;
    width:100%!important; height:100%!important;
    padding-top:~"calc(100vh - 80px)";
    @media @medium {padding-top:65%;}
    > iframe {
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
    }
}


.hypercard-slider {
    .example-slide {
        .cursor {
            position:absolute; z-index:2;
            width:15px;
            top:50%; left:50%;
            .transition(all 0.1s linear 0.5s);
        }
        &.slick-current .cursor {.transition(all 0.6s ease 0s);}
        .hypercard-img {
            opacity:0;
            position:absolute;
            width:25%;
        }
        &.website {
            .hypercard-img {top:22%; left:25%;}
            &.slick-current .hypercard-img {.animation(fade-slide-down 0.2s ease-out 0.8s normal forwards);}
            &.slick-current .cursor {top:16%; left:27%;}
        }
        &.email {
            .hypercard-img {top:10%; left:19%;}
            &.slick-current .hypercard-img {.animation(fade-slide-left 0.2s ease-out 0.8s normal forwards);}
            &.slick-current .cursor {top:46%; left:48%;}
        }
        &.productivity-apps {
            .hypercard-img {top:17%; left:9%;}
            &.slick-current .hypercard-img {.animation(fade-slide-right 0.2s ease-out 0.8s normal forwards);}
            &.slick-current .cursor {top:63%; left:5%;}
        }
        &.enterprise-systems {
            .hypercard-img {top:13%; left:34%;}
            &.slick-current .hypercard-img {.animation(fade-slide-right 0.2s ease-out 0.8s normal forwards);}
            &.slick-current .cursor {top:18%; left:27%;}
        }
        &.data-discovery-tools {
            .hypercard-img {top:9%; left:23%;}
            &.slick-current .hypercard-img {.animation(fade-slide-right 0.2s ease-out 0.8s normal forwards);}
            &.slick-current .cursor {top:19%; left:19%;}
        }
    }
}




//fancy angled banner for products child pages
#hero.angled-banner {
    overflow:hidden; position:relative;
	backface-visibility: visible;
    color:@white;
    @media @medium {background-color:@white!important; overflow:visible; padding-bottom:0;}
    .flex-row {position:relative; z-index:1;}
    .logo-lockup {
        .h2.text-uppercase {letter-spacing:0.2em; @media @small-only {font-size:18px; line-height:24px;}}
        .icon {
            margin-right:10px;
            @media @medium {margin-right:20px;}
        }
    }
    .angle-wrapper {
        display:block; position:absolute; z-index:0;
        height:100%; width:100%;
        top:0; left:0;
		backface-visibility: visible;
        @media @xlarge {max-width:@large-breakpoint; left:50%; .translateX(-50%);}
        .angle {
            position:absolute;
			backface-visibility: visible;
            top:0;
            &.left {
				-webkit-clip-path: polygon(0 100%, 100% 0, 0 0)!important;
				clip-path: polygon(0 100%, 100% 0, 0 0)!important;
                z-index:2; right:0;
                width:100vw; height:100vw;
                mix-blend-mode: multiply;
                @media @medium {width:105vw; height:105vw; right:-5vw;}
                @media @xlarge {width:100vw; height:100vw; right:0;}
            }
            &.right {
				-webkit-clip-path: polygon(100% 100%, 100% 0, 0 0)!important;
				clip-path: polygon(100% 100%, 100% 0, 0 0)!important;
                z-index:1;
                width:75vw; height:75vw;
                left:25vw;
                background-repeat:no-repeat;
                background-position:center;
                background-size:cover;
                @media @small-only {background-blend-mode:multiply;}
                @media @medium {width:60vw; height:60vw; left:40vw;}
                @media @xlarge {width:50vw; height:50vw; left:50%;}
            }
        }
    }

	.InternetExplorer & {
		.angle-wrapper {display:none;}
		&:after {
			content:'';
			position:absolute;
			height:50vw; width:100vw;
			bottom:-10vw;left:0;
			.transform(skew(0, -10deg));
		}
	}

    //changes angle color based on the defined hero row color
    .page-red & {
        background-color:@red;
        .angle {background-color:darken(desaturate(@red, 5%), 5%); @media @medium {background-color:@red;}}
        .angle.right {background-color:lighten(saturate(@red, 5%), 20%); @media @medium {background-color:@red;}}
		.InternetExplorer & {
			background-color:@red!important;
			&:after {background-color:@red!important;}
		}
    }
    .page-orange & {
        background-color:@orange;
        .angle {background-color:darken(desaturate(@orange, 5%), 5%); @media @medium {background-color:@orange;}}
        .angle.right {background-color:lighten(saturate(@orange, 5%), 20%); @media @medium {background-color:@orange;}}
		.InternetExplorer & {
			background-color:@orange!important;
			&:after {background-color:@orange!important;}
		}
    }
    .page-green & {
        background-color:@green;
        .angle {background-color:darken(desaturate(@green, 5%), 5%); @media @medium {background-color:@green;}}
        .angle.right {background-color:lighten(saturate(@green, 5%), 20%); @media @medium {background-color:@green;}}
		.InternetExplorer & {
			background-color:@green!important;
			&:after {background-color:@green!important;}
		}
    }
    .page-blue & {
        background-color:@blue;
        .angle {background-color:darken(desaturate(@blue, 5%), 5%); @media @medium {background-color:@blue;}}
        .angle.right {background-color:lighten(saturate(@blue, 5%), 20%); @media @medium {background-color:@blue;}}
		.InternetExplorer & {
			background-color:@blue!important;
			&:after {background-color:@blue!important;}
		}
    }
    .page-navy-blue & {
        background-color:@navy-blue;
        .angle {background-color:darken(desaturate(@navy-blue, 5%), 5%); @media @medium {background-color:@navy-blue;}}
        .angle.right {background-color:lighten(saturate(@navy-blue, 5%), 20%); @media @medium {background-color:@navy-blue;}}
		.InternetExplorer & {
			background-color:@navy-blue!important;
			&:after {background-color:@navy-blue!important;}
		}
    }
}

#visualization-slider {
    @media @medium {
        position:relative;
        &:before, &:after {
            position:absolute; z-index:2;
            content:'';
            height:100%; width:20px;
            top:0;
        }
        &:before {
            left:0;
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        }
        &:after {
            right:0;
            background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
        }
    }
    .slick-track {
        padding:5% 0;
    }
    .slick-slide {
        z-index:0;
        padding:15px;
        opacity:0.5;
        .single-transition(.2s, ease-out, all, 0s);
        .screenshot {
            border:1px solid @gray;
            box-shadow: 1px 1px 5px fade(@pure-black, 50%);
        }
        &.slick-center {
            z-index:1;
            .scale(1.2);
            opacity:.99;
            .single-transition(.4s, ease-out, all, 0s);
            @media @medium {.scale(1.5);}
        }
    }
}//end visualization slider styles


//animation for showing alexa amazon dot messages
#alexa-animation {
    .speech {
        display:block;
        margin-top:40px;

        font-family:@myriad-pro;
        font-size:16px;
        line-height:20px;
        font-weight:600;
        @media @medium {font-size:20px; line-height:24px;}

        > span {
            display:inline-block;
            position:relative;
            border-radius:10px;
            padding:.75em 2em;
            box-shadow: 2px 2px 7px fade(@pure-black, 30%);
            max-width:500px;
            &:before {
                content:'';
                position:absolute; display:block;
                top:100%; left:50%;
                margin-left:-14px;
                width:0; height:0;
                border-left:15px solid transparent;
                border-top:15px solid @blue;
                border-right:15px solid transparent;
            }
        }

        &.question {
            padding-left:10%;
            > span {
                background-color:darken(@light-gray, 5%);
                color:@dark-gray;
                .animation(alexa-question-animation 10s linear 0s normal infinite);
                &:before {
                    border-bottom-color:darken(@light-gray, 5%);
                    left:15%;
                    border-left:0 solid transparent;
                    border-top:25px solid darken(@light-gray, 5%);
                    border-right:25px solid transparent;
                }
            }
        }
        &.answer {
            text-align:center;
            > span {
                background-color:@blue;
                color:@white;
                .animation(alexa-answer-animation 10s linear 0s normal infinite);
                &:before {
                    border-bottom-color:@blue;
                }
            }
        }
    }
    .device {
        display:block;
        margin-top:40px;
    }
}










//INDIVIDUAL PAGE STYLES

//PRODUCTS OVERVIEW
#products-overview, .productOverview {
    .device-family {
        position:relative;
        padding-bottom:5%; padding-top:30px; margin-bottom:30px;
        .device-mockup {
            position:absolute; z-index:1;

            &.iphone          {width:8%; bottom:0; left:0; z-index:2;}
            &.macbook-pro     {width:47%; bottom:5%; left:0;}
            &.ipad            {width:24%; bottom:0; right:0; z-index:2;}
            &.ipad.white      {width:30%; bottom:6%; right:5%;}
            &.mac-thunderbolt {
                position:relative; z-index:0;
                margin:0 auto;
                width:60%;
            }
        }
    }
    #analytics {
        .offpage-image {
            @media @medium {width:200%;}
            @media @large {width:230%;}
            @media @large {width:200%;}
        }
    }
    #mobile {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }
    #hyperintelligence {
        .device-mockup {
                width:190%;
                .cursor {
                position:absolute; z-index:2;
                width:10px;
                @media @medium {width:15px;}
                top:50%; left:50%;
                .animation(hero-cursor-website 7.5s linear 0s normal infinite);
            }
            .hypercard-img {
                position:absolute;
                top:22%; left:22%;
                width:25%;
                opacity:0;
                .animation(hero-card-appear 7.5s linear 0s normal infinite);
            }
        }
    }
    #enterprise-platform {
        .offpage-image {
            @media @medium {width:200%;}
            @media @large {width:230%;}
            @media @large {width:200%;}
        }
    }
    #embedded-analytics {
        .offpage-image {
            position:relative; z-index:0;
            @media @medium {
                width:200%;
            }
        }
    }
    #digital-id-mobile-telemetry {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }
    #cloud {
        .offpage-image {
            position:relative; z-index:0;
            @media @medium {
                width:200%;
            }
        }
    }
}//end products overview styles





//ANALYTICS PAGES
.Analytics {
    #introduction {
        .device-mockup {
            width:215%;
        }
    }
    #connect-prepare {
        .offpage-image {
            //margin-left:-30%;
            @media @medium {
                width:1000px;
                margin-left:-20%;
            }
            @media @large {
                margin-left:-22%;
            }
        }
    }

    #share-insights {
        .device-mockup {
            &.mac-thunderbolt {
                position:relative; z-index:0;
                width:120%;
                margin-bottom:40px; margin-right:40%;
            }
            &.ipad {
                position:absolute; z-index:1;
                width:70%;
                right:10%; bottom:40px;
            }
            &.iphone {
                position:absolute; z-index:2;
                width:20%;
                right:5%; bottom:20px;
            }
            @media @medium {
                &.mac-thunderbolt {width:70%;}
                &.ipad {width:45%; right:25%;}
                &.iphone {width:12%; right:20%;}
            }
            @media @large {
                &.mac-thunderbolt {width:210%; margin-right:10%; margin-bottom:60px;}
                &.ipad {width:120%; right:0%;}
                &.iphone {width:30%; right:-10%;}
            }
        }
    }
}//end analytics overview page

.FederatedAnalytics  {
    #for-analysts, #data-scientists {
        overflow:visible;
        .flex-row > div:first-child {position:relative; z-index:1;}
        .offpage-image {
            position:relative; z-index:0;
            width:200%;
            margin-right:-65%;
            @media @medium {
                width:350%;
                margin-right:-125%;
            }
            @media @large {
                width:300%;
                margin-right:-100%;
            }
            @media @xlarge {
                width:230%;
                margin-right:-80%;
            }
        }
    }
    #developers {
        overflow:visible;
        .flex-row > div:first-child {position:relative; z-index:1;}
        .offpage-image {
            position:relative; z-index:0;
            width:200%;
            margin-left:-65%;
            @media @medium {
                width:350%;
                margin-left:-125%;
            }
            @media @large {
                width:300%;
                margin-left:-100%;
            }
            @media @xlarge {
                width:230%;
                margin-left:-80%;
            }
        }
    }
}

.PersonalizationCollaboration {
    #communication-and-collaboration {
        .stacked-mockups {
            .device-mockup {
                &.ipad:first-child {
                    position:absolute; z-index:2;
                    width:120%;
                    right:45%; top:20%;
                }
                &.ipad:last-child {
                    width:130%;
                    margin-bottom:20%;
                }
            }
        }
    }
    #notifications {
        .device-mockup {
            &.ipad:first-child {
                position:relative; z-index:1;
                width:80%;
                margin-bottom:15%;
            }
            &.ipad:last-child {
                position:absolute; z-index:2;
                width:80%;
                right:15px; bottom:15px;
            }
        }
    }
}//end collaboration





//MOBILE PAGES
.Mobile {
    #introduction {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone, &.iphone-x {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone, &.iphone-x {width:35%;}
            }
        }
    }

    #mobile-dossier {
        .slick-arrow {
            z-index:3;
            left:-23.5%;
            top:140%;
            @media @medium {top:50%;}
            &.slick-next {
                left:auto;
                right:-37%;
            }
            .icon-block {height:50px; width:50px;}
        }
        .slick-dots {
            position:absolute;
            width:136%;
            top:107%;
            left:-11.5%;
        }
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                z-index:0;
                margin-right:10%;
                .screen {overflow:visible;}
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:23%;
                right:0; bottom:-3px;
            }
        }
    }

    #productivity-apps {
        .slide {display:block; padding:0 40px;}
    }

    .custom-mobile-sdk-graphic {
        margin-top:64px;
        > div {.display(flex);}
        .graphic-block {
            .display(flex);
            .flex-direction(column);
            .flex-wrap(wrap);
            .align-items(center);
            .justify-content(center);
            width:100%;

            position:relative;
            padding:30px 0px;
            .graphic-label {
                width:100%;
                font-family:@myriad-pro;
                font-size:14px; line-height:14px;
                font-weight:600;
                text-align:center;
            }
        }
        .mstr-icon, .customapp-icon {
            display:block; margin:0 auto;
            width:70px;
            @media @medium {max-width:80%; width:100px;}
        }
        .icon {
            display:block;
            position:absolute;
            top:100%; left:50%;
            margin-left:-6px;
            .transform(rotate(0deg) translate(-15px, -50%));
        }
        .device-mockup {
            width:80%;
            @media @large {width:75%;}
        }
    }

    //to be retired when translations are in for new carousel
    #mobile-apps-deploy {
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                width:120%;
                margin-left:-10%;
                float:none;
            }
            &.ipad {
                position:relative; z-index:1;
                width:80%;
                margin:-20% auto 0 auto;
            }
            @media @medium {
                &.macbook-pro {
                    width:90%;
                    margin-right:45%;
                    float:right;
                }
                &.ipad {
                    position:absolute; z-index:1;
                    width:45%;
                    right:20px; top:50%; margin-top:-20%;
                }
            }
            @media @large {
                &.macbook-pro {width:75%}
                &.ipad {margin-top:-17%}
            }
            @media @xlarge {
                &.macbook-pro {width:75%}
                &.ipad {margin-top:-17%}
            }
        }
    }
}
.Emm {
    #page-hero .ipad {
        .app-lock {
            position:absolute;
            width:4%;
            right:26%; top:6%;
            opacity:0;
            .animation(app-lock-animation 7s 2s ease-out infinite);
        }
    }
}//end emm

.Transactions {
    #page-hero {
        .device-mockup {
            &.ipad {
                z-index:0;
                margin-left:10%;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:25%;
                left:0; bottom:0;
            }
        }
    }// end hero

    #take-action {
        .image-row {
            position:relative;
            .iphone {
                position:absolute; z-index:2;
                width:15%;
                bottom:0; right:0;
            }
            .ipad {
                width:60%;
                &.left {
                    position:relative; z-index:0;
                    margin-left:0;
                    margin-bottom:10%;
                }
                &.right {
                    position:absolute; z-index:1;
                    bottom:5%; left:35%;
                }
            }
        }
        .stacked-mockups {
            .iphone {
                position:absolute; z-index:2;
                width:15%;
                bottom:0; left:0;
            }
            .ipad {
                width:60%;
                &.right {
                    position:relative; z-index:0;
                    margin-left:auto;
                    margin-bottom:10%;
                }
                &.center {
                    position:absolute; z-index:1;
                    bottom:5%; right:35%;
                }
            }
        }
    }
}//end transactions





//hyperintelligence PAGEs
.Hyperintelligence {
    #introduction {
        .device-mockup {
            width:190%;
            .cursor {
                position:absolute; z-index:2;
                width:10px;
                @media @medium {width:15px;}
                top:50%; left:50%;
                .animation(hero-cursor-hyperint 10s linear 0s normal infinite);
            }
            .hypercard-img {
                position:absolute;
                top:20%; left:48%;
                width:25%;
                opacity:0;
                .animation(hero-card-appear-hyperint 10s linear 0s normal infinite);
            }
        }
    }
}

.Cards {
    #page-hero {
        .device-mockup {
            &.iphone-x {
                position:absolute; z-index:2;
                width:27%;
                bottom:0; left:5%;
            }
            &.macbook-pro {
                position:relative; z-index:1;
                margin-bottom:5%;
            }
        }
    }
}

.HyperintelligenceForWeb {
    #page-hero {
        .device-mockup {
            @media @small-only {
                width:200%;
                margin-left:-57%;
            }
            .screen {
                background-color:@red;
                overflow:visible;
                &:hover {
                    .highlight-zone .hypercard-img {.animation(0)!important;}
                }
            }
            .instructions {
                display:block;
                position:absolute; z-index:2;
                top:~"calc(100% + 20px)"; left:20%;
                width:70%;
                background-color:@red;
                color:@white;
                padding:15px 20px;
                box-shadow:0 -1px 5px fade(@pure-black, 30%);

                font-family:@myriad-pro;
                font-weight:600;
                font-size:14px; line-height:1.2em;
                text-align:center;
                .uppercase;

                @media @medium {left:0; width:100%; bottom:0; top:auto;}
            }
            .highlight-zone {
                position:absolute;
                display:inline-block;
                background-color:transparent;
                height:25px; width:10%;
                @media @medium {height:40px;}

                .hypercard-img {
                    position:absolute; z-index:-1;
                    opacity:0;
                    max-width:none;
                    width:260%;
                    right:~"calc(100% - 20px)"; top:50%;
                    .translateY(-50%);
                    .single-transition;
                }
                &:hover .hypercard-img {
                    opacity:1;
                    right:100%!important;
                    z-index:3;
                }
                &.company {
                    top:13%; left:26%;
                    .hypercard-img {
                        right:auto; top:~"calc(100% - 20px)";
                        left:50%; .translate(-50%, 0);
                        .animation(hero-card-appear-below 10s linear 3s normal infinite);
                    }
                    &:hover .hypercard-img{right:auto!important; top:100%!important;}
                    &-2 {
                        top:36%; left:25%;
                        .hypercard-img {
                            right:auto; left:~"calc(100% - 20px)";
                        }
                        &:hover .hypercard-img{right:auto!important; left:100%!important;}
                    }
                    &-3 {
                        top:61%; left:50%;
                        .hypercard-img {
                            bottom:-100%;
                            top:auto; .translateY(0);
                        }
                    }
                }
                &.person {
                    top:41%; left:56%;
                    .hypercard-img {
                        .animation(hero-card-appear-left 10s linear 6s normal infinite);
                    }
                }
                &.other {
                    top:46%; left:73%;
                    .hypercard-img {
                        .animation(hero-card-appear-left 10s linear 9s normal infinite);
                    }
                }
            }
        }
    }
    #multiple-cards {
        .chrome-extension-graphic {
            position:relative;
            > img {
                position:relative;
                z-index:1;
                width:50%;
                margin:0;
            }
            .diagram-label {
                position:absolute;
                display:block;
                right:0;
                width:50%;
                padding-left:20%;

                font-family: @myriad-pro;
                font-weight:600;
                font-size:16px; line-height:18px;
                &:nth-child(2) {top:3%;}
                &:nth-child(3) {top:30%;}
                &:nth-child(4) {bottom:5%;}
                &:before, &:after {
                    content:'';
                    display:block;
                    position:absolute; z-index:2;
                    background-color:@red;
                }
                &:after {
                    height:2px;
                    width:~"calc(40% - 15px)";
                    top:50%; left:0;
                    margin-top:-1px;
                }
                &:before {
                    height:14px; width:14px;
                    border-radius:50%;
                    top:50%; left:-5px;
                    margin-top:-7px;
                }
            }
        }
    }
}

//hypermobile PAGE
.HyperintelligenceForMobile {
    #page-hero {
        .device-mockup {
            &.iphone-x {
                position:absolute; z-index:2;
                width:25%;
                bottom:0; right:0;
            }
            &.ipad {
                position:relative; z-index:1;
                margin-right:5%;
            }
        }
    }
    #card-deployment {
        .device-mockup {
            &.iphone-x {
                position:absolute; z-index:2;
                width:27%;
                bottom:0; left:5%;
            }
            &.macbook-pro {
                position:relative; z-index:1;
                margin-bottom:5%;
            }
        }
    }
}





//PLATFORM PAGE
@diagram-line-height: 20px;
.EnterprisePlatform {
    #introduction {
        .device-mockup {
            width:215%;
        }
    }

    #analyze-build-empower {
        position:relative;
        > .flex-row {
            position:relative;
            z-index:2;
        }
        .mac-thunderbolt {
            position:relative;
            margin:0 auto 40px auto;
            @media @medium {width:80%;}
        }
        .device-background {
            position:absolute; z-index:1;
            top:0; left:0;
            height:100%; width:100%;

            .device-mockup {
                position:absolute;
            }
            .iphone-x {
                width:25%;
                @media @medium {width:15%;}
            }
            .ipad {
                width:75%;
                @media @medium {width:50%;}
            }
            .macbook-air {
                width:145%;
                @media @medium {width:80%;}
            }
            .macbook-pro {
                width:140%;
                @media @medium {width:90%;}
            }
            .left-side {
                position:absolute;
                right:50%; top:0;
                width:50%; height:100%;
                max-width:@large-breakpoint/2;

                .ipad        {top:25%; right:45%;}
                .ipad.white  {display:none;}
                .macbook-air {top:-40%; right:50%;}
                .iphone-x    {top:-32%; right:30%;}

                @media @medium {
                    .ipad        {top:0; right:135%;}
                    .ipad.white  {display:block; top:35%; right:110%;}
                    .macbook-air {top:1%; right:55%;}
                    .iphone-x    {top:32%; right:70%;}
                }
            }
            .right-side {
                position:absolute;
                left:50%; top:0;
                width:50%; height:70%;
                max-width:@large-breakpoint/2;

                .ipad        {top:35%; left:30%;}
                .ipad.white  {top:85%; left:70%;}
                .macbook-pro {top:10%; left:55%;}
                .iphone-x    {top:25%; left:30%;}

                @media @medium {
                    .ipad        {top:50%; left:145%;}
                    .ipad.white  {top:3%; left:105%;}
                    .macbook-pro {top:45%; left:55%;}
                    .iphone-x    {top:10%; left:75%;}
                }
            }
        }
    }//end analyze empower row
}





//EMBEDDED PAGE
.EmbeddedAnalytics {
    #customized-apps {
        .custom-mobile-sdk-graphic {
            margin-top:64px;
            > div {.display(flex);}
            .graphic-block {
                .display(flex);
                .flex-direction(column);
                .flex-wrap(wrap);
                .align-items(center);
                .justify-content(center);
                width:100%;

                position:relative;
                padding:30px 0px;
                .graphic-label {
                    width:100%;
                    font-family:@myriad-pro;
                    font-size:14px; line-height:14px;
                    font-weight:600;
                    text-align:center;
                }
            }
            .mstr-icon, .customapp-icon {
                display:block; margin:0 auto;
                width:70px;
                @media @medium {max-width:80%; width:100px;}
            }
            .icon {
                display:block;
                position:absolute;
                top:100%; left:50%;
                margin-left:-6px;
                .transform(rotate(0deg) translate(-15px, -50%));
            }
            .device-mockup {
                float:right;
                width:100%;
            }
        }
    }
}







//DIGITAL ID TELEMETRY PAGE
.IdentityAndTelemetry {
    #hero {
        .angle-wrapper .angle.right {
			background-position:left center;
		}
    }
    #introduction {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone-x {width:35%;}
            }
        }
    }
}//end id and telemetry overview

.DigitalCredentials {
    #logical-access {
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                width:170%;
                margin-right:10%;
                margin-bottom:20px;
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:35%;
                right:10%; bottom:20px;
            }
            @media @large {
                &.macbook-pro {width:150%;}
                &.iphone-x {width:30%;}
            }
        }
    }
    #physical-access {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:150%;
                margin-left:20%;
                margin-bottom:20px;
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:35%;
                left:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:130%;}
                &.iphone-x {width:30%;}
            }
        }
    }
	#customize-credentials {
        .stacked-mockups {margin-bottom:40px;}
        .device-mockup.iphone-x {
            &.front {
				position:relative;
				z-index:1;
				width:40%;
				margin:0 auto;
			}
            &.left, &.right {
                position:absolute; z-index:0;
                width:35%;
                bottom:40px; left:5%;
            }
            &.right {left:auto; right:5%;}
        }
	}
}//end digital credentials

.BadgeCommunicator {
    #page-hero {
        .device-mockup {
            &.macbook-pro {
                z-index:0;
                margin-left:7%; margin-bottom:7%;
            }
            &.ipad {
                position:absolute;z-index:1;
                width:55%;
                left:7%; bottom:7%;
            }
            &.iphone-x {
                position:absolute;z-index:2;
                width:15%;
                left:20px; bottom:20px;
            }
        }
    }// end hero

    #physical-infrastructure {
        .device-mockup {
            &.ipad {
                z-index:0;
                width:150%;
                float:left;
                margin-left:20%; margin-bottom:30px;
                @media @large {
                    margin-bottom:40px;
                }
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:35%;
                left:10%; bottom:15px;
            }
        }
    }

    #logical-access {
        .device-mockup {
            &.macbook-air {
                z-index:0;
                width:200%;
                float:right;
                margin-right:10%; margin-bottom:30px;
                @media @large {
                    margin-bottom:40px;
                }
            }
            &.iphone-x {
                position:absolute; z-index:1;
                width:35%;
                right:10%; bottom:15px;
            }
        }
    }
}//end badge communicator





//CLOUD PAGE
.Cloud {
    #hero {
        .angle-wrapper .angle.right {background-position:left center;}
    }
    #introduction {
        .device-mockup {
            width:200%;
        }
    }
    #cloud-service-options.white-popup {
        max-width:1000px;
        @media @medium {padding:0;}
        > h3 {margin:0; padding:20px;}
    }
}





// WHY MICROSTRATEGY PAGE
.WhyMicrostrategy {
    // TIMELINE COMPONENT STYLES
    @media @medium {.hero-col {opacity:0px; .animation(fade-in 0.5s ease-out 0.5s normal forwards);}}
    //TIMELINE STYLES
    @timeline-mobile-height: 450px;
    @timeline-mobile-width: 300px;

    @timeline-desktop-height: 350px;
    @timeline-desktop-width: 400px;
    .timeline-wrapper {
        position:relative;
        @media @medium {
            opacity:0; .animation(fade-in 1s ease-out 2s normal forwards);
        }
    }
    .frame {
        position:relative; z-index:2; overflow:hidden;
        width:100%; height:@timeline-mobile-height;
        padding:0;
        cursor:pointer;
        @media @medium {height:@timeline-desktop-height;}

        //this is the vertical center line through the whole timeline
        &:before {
            position:absolute; z-index:1;
            content:'';
            height:8px; width:100%;
            top:50%; left:0; margin-top:-4px;
            background-color:@light-gray;
        }

        .timeline-list {
            position:relative; z-index:2;
            margin:0; padding:0;
            height:100%;
            list-style:none;
            .timeline-item {
                position:relative; z-index:2;
                float:left;
                margin:0 20px 0 -@timeline-mobile-width / 2;
                padding:0 0 20px 30px;
                width:@timeline-mobile-width;
                height:50%;
                text-align:left;
                color:@white;

                //this value covers the horizontal margin and padding to center the timeline item
                .translateX((@timeline-mobile-width / 2) - 60px);

                @media @medium {
                    margin:0 80px 0 -@timeline-desktop-width / 2;
                    padding:0 0 20px 30px;
                    width:@timeline-desktop-width;
                    .translateX((@timeline-mobile-width / 2) - 110px);
                }
                //for the items below the middle line
                &:nth-child(even) {
                    margin-top:@timeline-mobile-height / 2;
                    padding:20px 0 0 30px;
                    @media @medium {margin-top:@timeline-desktop-height / 2;}
                    //.text {.justify-content(flex-start);}
                    .flag {
                        bottom:50%; top:auto;
                        &:before, &:after {top:auto;}
                    }
                }

                .InternetExplorer & .text {
                    max-width:185px;
                    @media @medium {max-width:305px;}
                }
                &:before {
                    display:block; position:absolute; z-index:2;
                    content:'';
                    top:50%; left:0; margin-top:-15px;
                    height:30px; width:15px;
                    background-color:@white;
                }
                .text {
                    .display(flex);
                    .flex-direction(column);
                    .justify-content(center);
                    .flex(0,1,auto);

                    opacity:0.7;
                    h3 {margin-bottom:5px;}
                    .single-transition(opacity, 0.2s, ease-out, 0s);
                }
                &.active .text {opacity:1;}
                .flag {
                    display:block; position:absolute; z-index:4;
                    width:3px; height:50%;
                    background-color:@white;
                    left:0; top:50%;
                    &:before {
                        display:block; position:absolute;
                        content:'';
                        top:100%; left:0;
                        background-color:@white;
                        z-index: 3;
                        margin-left:-11px; margin-top:-12.5px;
                        height:25px; width:25px;
                        border-radius:50%;
                        border:2px solid @light-gray;
                    }
                }

                &.red {
                    &:before,
                    .flag,
                    .flag:before {background-color:@red;}
                }
                &.orange {
                    &:before,
                    .flag,
                    .flag:before {background-color:@orange;}
                }
                &.green {
                    &:before,
                    .flag,
                    .flag:before {background-color:@green;}
                }
                &.blue {
                    &:before,
                    .flag,
                    .flag:before {background-color:@blue;}
                }
                &.navy-blue {
                    &:before,
                    .flag,
                    .flag:before {background-color:@navy-blue;}
                }
            }//end timeline-item
        }//end timeline-list
    }//end frame

    //timeline scrollbar
    .scrollbar {
        position:relative; z-index:2;
        margin:20px auto;
        height:30px; width:~"calc(100% - 60px)";
        line-height: 0;
        &:before {
            display:block; position:absolute; z-index:-2;
            content:'';
            left:0; top:50%; margin-top:-1px;
            height:2px; width:100%;
            border-bottom:3px solid @light-gray;
        }
        .handle {
            width:100px; height:100%;
            margin-top:-15px;
            background-color:fade(@red, percentage(@semi-opaque));
            cursor:pointer;
            .mousearea {
                position:absolute; z-index:3;
                top:0; left:0;
                width:100%; height:100%;
                &:before {
                    display:block; position:absolute;
                    content:'';
                    bottom:100%; left:50%; margin-left:-14px;
                    width:0; height:0;
                    border-left:14px solid transparent;
                    border-right:14px solid transparent;

                    border-bottom:14px solid fade(@red, percentage(@semi-opaque));
                }
            }
        }
    }
    //timeline navigation
    .timeline-nav {
        position:relative;
        padding-left:30px;
        padding-right:30px;
        .dot-wrapper {
          position:absolute; z-index:-1;
          top:0; left:0;
          width:100%; height:30px;
        }
        .dot {
            position:relative;
            &:before {
              display:block; position:absolute;
              content:'';
              top:50%; left:50%; margin-left:-5px; margin-top:-5px;
              height:10px; width:10px;
              border-radius:50%;
              background-color:#bbbbbb;
            }
        }
    }
    //timeline controls
    .controls {
        display:block; position:absolute; z-index:1;
        top:20px; left:0;
        width:100%; height:30px;
        .btn {
            display:block; position:absolute;
            top:50%; margin-top:-15px;
            width:30px; height:30px;
            background-color:transparent;
            outline:0;
            opacity:1;
            color:@light-gray;
            .single-transition(opacity, 0.2s, ease-out, 0s);
            &.disabled {opacity:0.2;}
            &.prev {left:0px; .rotation(180deg);}
            &.next {right:0px;}
        }
    }



    //OFF-PAGE IMAGES FOR KEY BENEFITS SECTIONS

    @media @small-only {#low-cost, #ease-of-use, #mobile {border-bottom:1px solid @gainsboro;}}

    #low-cost {
        .offpage-image {
            width:auto; max-width:500px; .translateX(25%);
            @media @medium {max-width:none; .translateX(35%);}
            @media @xlarge {.translateX(30%);}
        }
    }

    #ease-of-use {
        .report-link {
            position:relative; display:block; z-index:0;
            @media @medium {
                min-height:300px;
                .report-image {
                    position:absolute;
                    max-width:100%;
                    top:~"calc(50% + 40px)"; left:50%;
                    .translate(-50%, -50%);
                    opacity:0.9;
                    .single-transition;
                }
                &:hover .report-image {
                    .translate(-50%, ~"calc(-50% - 10px)"); opacity:1;
                }
            }
        }//end report-link
        .flex-row > div:nth-child(n+2) {position:relative; z-index:1;}
    }

    #mobile {
        .offpage-image {
            max-width:500px;
            @media @medium {max-width:700px; margin-left:50px;}
            @media @large {max-width:none; width:auto;}
        }
    }

    .grid-lines {
        @media @medium {
            .grid-item {
                border:1px solid @gray;
                padding:30px;
                &:nth-child(1) {border-width:0 1px 1px 0;}
                &:nth-child(2) {border-width:0 0 1px 0;}
                &:nth-child(3) {border-width:0 1px 0 0;}
                &:nth-child(4) {border-width:0;}
            }
        }
    }

    #customers {
        .ratio .logo {
            @media @small-only {max-height:100%; max-width:100%;}
            @media @medium-only {max-height: calc(100% - 20px); max-width: calc(100% - 20px);}
        }
    }

}//end why-microstrategy page







// PRODUCTS AND PACKAGING PAGE

//mapping page for details
.GeospatialIntelligence  {
    #hero {
        .stacked-mockups {margin-bottom:40px;}
        .device-mockup {
            &.macbook-pro {
                position:relative; z-index:0;
                margin-left:10%;
            }
            &.ipad {
                position:absolute; z-index:1;
                width:80%;
                left:10%; bottom:-5px;
            }
            &.iphone {
                position:absolute; z-index:2;
                width:20%;
                left:5%; bottom:-10px;
            }
        }
    }
}//end mapping







//KEYFRAMES FOR EVERYTHING
@scroll-bounce-bezier: cubic-bezier(.21,-0.16,.8,1.22);
@cursor-movement-bezier: cubic-bezier(.11,.49,.92,1.07);

//ANIMATION LIBRARY
@import '../_new-components/components-and-expansions/keyframes-basic-animate-on-scroll.less';

//for the lock animation on the EMM page
.keyframes(app-lock-animation;{
    0% {opacity:0; .transform(scale(2) translateY(-10px));}
    5% {opacity:1; .transform(scale(1) translateY(0));}
    90% {opacity:1; .transform(scale(1) translateY(0));}
    95% {opacity:0; .transform(translateY(10px));}
    100% {opacity:0; .transform(translateY(10px));}
});

//for the alexa answer and question speech bubbles on the whats new in 2019 page
.keyframes(alexa-question-animation;{
    0%{opacity:0; .translateX(-20px);}
    15%{opacity:0; .translateX(-20px);}
    16%{opacity:1; .translateX(5px);}
    16.7%{opacity:1; .translateX(0);}
    97%{opacity:1; .translateX(0);}
    98%{opacity:0; .translateX(-20px);}
    100%{opacity:0; .translateX(-20px);}
});

.keyframes(alexa-answer-animation;{
    0%{opacity:0; .translateY(20px);}
    28%{opacity:0; .translateY(20px);}
    29%{opacity:1; .translateY(-5px);}
    29.7%{opacity:1; .translateY(0);}
    97%{opacity:1; .translateY(0);}
    98%{opacity:0; .translateY(-20px);}
    100%{opacity:0; .translateY(-20px);}
});

//for the hyper card cycling on the hypercard page
.keyframes(card-stack-cycle;{
    0% {.translate(0,0); opacity:1; z-index:0;}
    5% {.translate(-20px,20px); opacity:1; z-index:0;}

    25% {.translate(-20px,20px); opacity:1; z-index:1;}
    30% {.translate(-40px,40px); opacity:1; z-index:1;}

    50% {.translate(-40px,40px); opacity:1; z-index:2;}
    55% {.translate(-60px,60px); opacity:1; z-index:2;}

    75% {.translate(-60px,60px); opacity:1; z-index:3;}
    80% {.translate(-60px,80px); opacity:0; z-index:3;}

    95% {.translate(0,20px); opacity:0; z-index:0;}
    100%{.translate(0,0); opacity:1; z-index:0;}
});



.keyframes(hero-cursor-website;{
    0%   {top:50%; left:50%;}
    5%  {top:16%; left:27%;}
    50%  {top:16%; left:27%;}
    55% {top:50%; left:50%;}
    100% {top:50%; left:50%;}
});
.keyframes(hero-cursor-hyperint;{
    0%   {top:50%; left:50%;}
    5%  {top:50%; left:78%;}
    70%  {top:50%; left:78%;}
    75% {top:50%; left:50%;}
    100% {top:50%; left:50%;}
});

.keyframes(hero-card-appear;{
    0%   {opacity:0; .translateY(-10%);}
    5%  {opacity:0; .translateY(-10%);}
    7%  {opacity:1; .translateY(0);}
    50%  {opacity:1; .translateY(0);}
    52%  {opacity:0; .translateY(10%);}
    100% {opacity:0; .translateY(10%);}
});

.keyframes(hero-card-appear-hyperint;{
    0%   {opacity:0; .translateX(-10%);}
    5%  {opacity:0; .translateX(-10%);}
    7%  {opacity:1; .translateX(0);}
    70%  {opacity:1; .translateX(0);}
    72%  {opacity:0; .translateX(10%);}
    100% {opacity:0; .translateX(10%);}
});
.keyframes(hero-card-appear-below;{
    0%   {opacity:0; top:~"calc(100% - 20px)"; z-index:3;}
    5%   {opacity:0; top:~"calc(100% - 20px)";}
    7%   {opacity:1; top:100%;}
    20%  {opacity:1; top:100%;}
    22%  {opacity:0; top:~"calc(100% - 20px)";}
    100% {opacity:0; top:~"calc(100% - 20px)"; z-index:3;}
});
.keyframes(hero-card-appear-left;{
    0%   {opacity:0; right:~"calc(100% - 20px)"; z-index:3;}
    5%   {opacity:0; right:~"calc(100% - 20px)";}
    7%   {opacity:1; right:100%;}
    20%  {opacity:1; right:100%;}
    22%  {opacity:0; right:~"calc(100% - 20px)";}
    100% {opacity:0; right:~"calc(100% - 20px)"; z-index:3;}
});
