h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.line.tiny {
  min-width: 50px;
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.left.pc-laptop,
.offpage-image.left.macbook-pro,
.offpage-image.left.macbook-air {
  margin-right: -10%;
}
.offpage-image.right {
  float: left;
}
.offpage-image.right.pc-laptop,
.offpage-image.right.macbook-pro,
.offpage-image.right.macbook-air {
  margin-left: -10%;
}
.product #hero.background-image {
  background-image: url('/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk');
}
#product #hero .resource-thumbnail:after {
  display: none;
}
#product #capabilities .offpage-image {
  margin-left: -30%;
}
@media only screen and (min-width: 980px) {
  #product #capabilities .offpage-image {
    width: 270%;
    margin-left: -100%;
  }
}
@media only screen and (min-width: 1200px) {
  #product #capabilities .offpage-image {
    width: 200%;
    margin-left: -70%;
  }
}
#product .platform-diagram {
  display: block;
  position: relative;
  color: #FFFFFF;
  margin: 30px auto 50px auto;
  max-width: 850px;
  text-align: center;
}
#product .platform-diagram .component {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  width: 150px;
  height: 100px;
  max-width: calc(50% - 13.5px);
  padding: 50px 10px 10px 10px;
  background-color: #11566F;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #product .platform-diagram .component {
    display: block;
    position: absolute;
    width: 185px;
    height: 60px;
    padding: 10px 0;
    text-align: left;
    white-space: nowrap;
  }
}
#product .platform-diagram .component.top.right {
  background-color: #FF9100;
}
#product .platform-diagram .component.bottom.left {
  background-color: #4789A3;
}
#product .platform-diagram .component.left {
  margin-right: 20px;
}
#product .platform-diagram .component.bottom {
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  #product .platform-diagram .component.top.left {
    top: 10px;
    left: 10px;
    text-align: right;
  }
  #product .platform-diagram .component.top.right {
    top: 10px;
    right: 10px;
  }
  #product .platform-diagram .component.bottom.left {
    bottom: 10px;
    left: 10px;
    text-align: right;
  }
  #product .platform-diagram .component.bottom.right {
    bottom: 10px;
    right: 10px;
  }
}
@media only screen and (min-width: 980px) {
  #product .platform-diagram .component.top.left {
    left: 10%;
  }
  #product .platform-diagram .component.top.right {
    right: 10%;
  }
}
#product .platform-diagram .component .icon-svg {
  position: absolute;
  display: block;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 35px;
}
#product .platform-diagram .component > h3 {
  display: block;
  font-size: 26px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 768px) {
  #product .platform-diagram .component .icon-svg {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: auto;
    left: auto;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin: 0 15px;
  }
  #product .platform-diagram .component > h3 {
    display: inline-block;
    vertical-align: middle;
  }
}
#product .platform-diagram .component:after {
  position: absolute;
  z-index: 0;
  content: '';
  width: 1px;
  height: 75px;
  background-color: #DDDDDD;
  top: 100%;
  left: 41%;
}
@media only screen and (min-width: 768px) {
  #product .platform-diagram .component:after {
    top: 50%;
    margin-top: -1px;
    width: 50%;
    height: 1px;
  }
}
#product .platform-diagram .component.right:after {
  left: auto;
  right: 41%;
}
#product .platform-diagram .component.bottom:after {
  top: auto;
  bottom: 100%;
}
@media only screen and (min-width: 768px) {
  #product .platform-diagram .component.left:after {
    left: 100%;
  }
  #product .platform-diagram .component.right:after {
    right: 100%;
  }
  #product .platform-diagram .component.bottom:after {
    top: 50%;
    bottom: auto;
  }
}
@media only screen and (min-width: 980px) {
  #product .platform-diagram .component.top:after {
    width: 35%;
  }
  #product .platform-diagram .component.bottom:after {
    width: 75%;
  }
}
#product .platform-diagram .cog-graphic {
  display: block;
  position: relative;
  z-index: 2;
  width: 260px;
  height: 260px;
  left: 50%;
  margin: 35px 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#product .platform-diagram .cog-graphic .icon-svg {
  max-width: 40px;
  height: 40px;
  display: block;
  margin: 0 auto 5px auto;
}
#product .platform-diagram .cog-graphic h3 {
  font-size: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
#product .platform-diagram .cog-graphic .center-wrapper {
  position: relative;
  z-index: 3;
  overflow: hidden;
  width: 190px;
  height: 190px;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#product .platform-diagram .cog-graphic .center-wrapper .center {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
#product .platform-diagram .cog-graphic .small-cog {
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 80px;
}
#product .platform-diagram .cog-graphic .small-cog.top {
  top: 0;
}
#product .platform-diagram .cog-graphic .small-cog.bottom {
  bottom: 0;
}
#product .platform-diagram .cog-graphic .small-cog.left {
  left: 0;
}
#product .platform-diagram .cog-graphic .small-cog.right {
  right: 0;
}
#product .platform-diagram .cog-graphic .small-cog:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 16px;
  width: 16px;
  background-color: #11566F;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
#product .platform-diagram .cog-graphic .small-cog.bottom.left:before {
  background-color: #4789A3;
}
#product .platform-diagram .cog-graphic .small-cog.top.right:before {
  background-color: #FF9100;
}
#product .platform-diagram .cog-graphic .small-cog.top.left {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
#product .platform-diagram .cog-graphic .small-cog.top.right {
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
}
#product .platform-diagram .cog-graphic .small-cog.bottom.left {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
#product .platform-diagram .cog-graphic .small-cog.bottom.right {
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
#product .platform-diagram .cog-graphic .small-cog > img {
  -webkit-animation: rotate-360 8s linear 0s infinite;
  -moz-animation: rotate-360 8s linear 0s infinite;
  animation: rotate-360 8s linear 0s infinite;
}
#product .platform-diagram .cog-graphic .big-cog {
  -webkit-animation: rotate-360 20s linear 0s infinite reverse;
  -moz-animation: rotate-360 20s linear 0s infinite reverse;
  animation: rotate-360 20s linear 0s infinite reverse;
}
#explore .ratio {
  max-height: 300px;
}
#explore .section-name {
  font-size: 18px;
  line-height: 1.4;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  #explore .section-name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 980px) {
  #explore .section-name {
    font-size: 21px;
  }
}
#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #to-top {
    bottom: 30px;
    right: 30px;
  }
}
@media only screen and (min-width: 980px) {
  #to-top {
    bottom: 45px;
    right: 45px;
  }
}
#to-top.hidden {
  opacity: 0;
  visibility: hidden;
}
#to-top .label {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 64px;
  position: absolute;
  right: 64px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-align: center;
  background-color: #8c8c8c;
  font-size: 12px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#to-top:hover .label,
#to-top:active .label {
  opacity: 1;
  padding: 0 16px;
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    -moz-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    -moz-animation: opacity-reveal 0.3s ease-out 0s normal forwards;
    animation: opacity-reveal 0.3s ease-out 0s normal forwards;
  }
}
@-moz-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
