@import '../settings.less';
@import '../overrides.less';



// banner images

.product #hero.background-image { background-image: url('/getmedia/2838b8b1-25b0-43f6-824f-142739031279/two-monitors-wood-desk'); }



// device mockup groups

.device-mockup-group {
    position: relative;
    overflow: hidden;
    
    .device-mockup {
        .max-size(100%);
        position: absolute;
    }
}



// keyframes







// explore nav

#explore {
    
    .ratio {
        max-height: 300px;
    }
    .section-name {
        font-size: 18px;
        @media @medium { font-size: 16px; }
        @media @large { font-size: 21px; }
        line-height: @line-height;
        font-family: @myriad-pro;
        .uppercase;
    }
}

#to-top {
    position: fixed;
    bottom: @column-gutter / 2; right: @column-gutter / 2;
    @media @medium { bottom: @column-gutter; right: @column-gutter; }
    @media @large { bottom: @column-gutter + @column-gutter / 2; right: @column-gutter + @column-gutter / 2; }
    z-index: 1;
    .transition(.4s);
    
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    .label {
        .display(flex);
        .align-items(center);
        height: extract(@icon-sizes, 3) * 2;
        .position(absolute, @right: (extract(@icon-sizes, 3) * 2));
        opacity: 0;
        .transition;
        text-align: center;
        background-color: darken(@dark-gray, @darken);
        font-size: 12px;
        font-family: @myriad-pro;
        color: @white;
        .uppercase;
    }
    
    &:hover, &:active { .label {
        opacity: 1;
        padding: 0 (extract(@icon-sizes, 3) / 2);
    } }
}



// platform overview

#how-it-works {
    
    section.view {
        padding: 0;

        p {
            font-family: @myriad-pro;
            font-size: 18px;
            line-height: @line-height;
            font-weight: @light;
            letter-spacing: .01em;
        }

        .text-col {

            @media @large-down {

                position: relative;
                z-index: 1;

                &:before {
                    content: '';
                    display: block;
                    .size(30px);
                    .position(absolute, -15px, extract(@section-padding, 3) + 6);
                    .transform-origin(center center);
                    .rotate(45deg);
                    background-color: @white;
                }
            }
            @media @medium-down {

                &:before {
                    left: extract(@section-padding, 2) + 6;
                }
            }
            @media @small-only {

                &:before {
                    left: extract(@section-padding, 1) + 6;
                }
            }
        }
        @media @xlarge {

            .text-col {
                opacity: 0;
                .translateX(@base-spacing * -1);
                .transition(.5s);
            }
            .device-mockup .screen {
                opacity: 0;
                .transition(.5s);
            }
            &.passed-view {

                .text-col {
                    opacity: 1;
                    .translateX(0);
                }
                .device-mockup .screen {
                    opacity: 1;
                }
            }
        }
    }

    .media-col {
        background-color: @light-gray;
    }
}

#server-diagram {
    
    @server-graphic-count: 6;
    @server-graphic-circle-count: 8;
    @server-graphic-width: 125px;
    @server-graphic-color: @gray;
    @server-graphic-border-size: 2px;
    @server-graphic-border: @server-graphic-border-size solid @server-graphic-color;
    
    .servers-container {
        .display(flex);
        .justify-content(center);
    }
    
    .servers {
        .display(flex);
        .flex-wrap(wrap);
        .justify-content(center);
        @media @medium { .justify-content(center); }
        max-width: 600px;
    }
    
    .server-container {
        .display(inline-flex);
        .flex-direction(column);
        position: relative;
        @media @medium { margin: round(@server-graphic-width / 8.33); }
        opacity: 0;
        .scale(.8);
    }
    
    .server-border {
        position: absolute;
        background-color: @server-graphic-color;
        
        &.top, &.bottom { height: @server-graphic-border-size; }
        &.left, &.right { width: @server-graphic-border-size; }
        
        &.top { top: 0; left: 0; .transition-open(width .25s ease-out 3.5s); }
        &.right { top: 0; right: 0; .transition-open(height .25s ease-out 4s); }
        &.bottom { bottom: 0; right: 0; .transition-open(width .25s ease-out 4.5s); }
        &.left { bottom: 0; left: 0; .transition-open(height .25s ease-out 5s); }
    }
    
    .server {
        .display(inline-flex);
        .flex-wrap(wrap);
        width: @server-graphic-width;
        position: relative;
        margin: round(@server-graphic-width / 8.33);
        padding: 0 (@server-graphic-width / 5) 0 (@server-graphic-width / 25);
        border: @server-graphic-border;
        
        .circle {
            display: inline-block;
            .size(@server-graphic-width / 12.5);
            margin: @server-graphic-width / 25;
            .round;
            background-color: @server-graphic-color;
            border: @server-graphic-border;
            
            &:last-child {
                .size(@server-graphic-width / 6.25);
                position: absolute;
                right: @server-graphic-width / 12.5;
                top: 50%;
                .translateY(-50%);
                margin: 0;
                background-color: @red;
                border-color: @red;
            }
        }
        &:last-child { margin-top: 0; }
    }
    .passed-view & {
        
        .keyframes(fade-scale-up, {
            0%   { opacity: 0; .scale(.8); }
            100% { opacity: 1; .scale(1); }
        });
        .keyframes(blink, {
            0%   { background-color: @red; }
            40%  { background-color: transparent; }
            60%  { background-color: transparent; }
            100% { background-color: @red; }
        });
        .keyframes(flicker, {
            0%   { background-color: @server-graphic-color; }
            10%  { background-color: transparent; }
            60%  { background-color: transparent; }
            100% { background-color: @server-graphic-color; }
        });
        
        .server-container {
            .animation(fade-scale-up .5s ease-in);
            .animation-fill-mode(forwards);
            
            .loop-number(@i) when (@i > 0) {
                .loop-number(@i - 1);

                @delay: round(@i * .1, 2);

                &:nth-child(@{i}) { .animation-delay(~'@{delay}s'); }
            }
            .loop-number(@server-graphic-count);
        }
        .server .circle {
            .animation(flicker 1s infinite);
            .animation-fill-mode(both);
            
            .loop-number(@i) when (@i > 0) {
                .loop-number(@i - 1);

                @delay: round(@i * .1, 2);

                &:nth-child(@{i}) { .animation-delay(~'@{delay}s'); }
            }
            .loop-number(@server-graphic-circle-count);
            
            &:nth-child(even) { animation-duration: 1.66s; }
            
            &:last-child {
                .animation(blink 2s infinite);
                .animation-fill-mode(both);
                .animation-delay(0s);
            }
        }
        .server-border {
            
            //&.top, &.bottom { width: 100%; }
            //&.left, &.right { height: 100%; }
        }
    }
}


#data-sources {
    
    @data-sources-count: 30;
    
    .keyframes(fade-slide-in, {
        0%   { opacity: 0; .translate(-10px, -10px); }
        100% { opacity: 1; .translate(0, 0); }
    });
    
    .display(flex);
    .flex-wrap(wrap);
    
    padding: extract(@section-padding, 1);
        
    .loop-media-queries(@i) when (@i > 1) {
        .loop-media-queries(@i - 1);

        @query: extract(@queries, @i);
        @screen-size-class: extract(@screen-size-classes, @i);

        @media @query {

            padding: extract(@section-padding, @i);
        }
    }
    .loop-media-queries(length(@queries));
    
    background-color: @light-gray;
    
    img {
        .size(14.66%);
        @media @medium { .size(10.5%); }
        @media @large { .size(8%); }
        @media @xlarge { .size(83px); }
        margin: 1%;
        @media @xlarge { margin: 5px; }
        background-color: @white;
        border-radius: 10%;
        .drop-shadow(2px, 2px, 4px);
        opacity: 0;
        
        .passed-view & {
            .animation(fade-slide-in .5s ease-in);
            .animation-fill-mode(forwards);
            
            .loop-number(@i) when (@i > 0) {
                .loop-number(@i - 1);

                @delay: round(@i * .1, 2);

                &:nth-child(@{i}) { .animation-delay(~'@{delay}s'); }
            }
            .loop-number(@data-sources-count);
        }
    }    
}

#choose-clients {
    
    .device-mockup {
        
        &.mac-thunderbolt {
            width: 90%;
            top: 0; left: 0;
        }
        &.ipad {
            width: 55%;
            bottom: 5%; right: 5%;
            opacity: 0;
            .transition(.5s, ease-out, all, 1s);
            .screen { .transition(.5s, ease-out, all, 1.5s); }
        }
        &.iphone {
            width: 15%;
            bottom: 0; right: 0;
            opacity: 0;
            .transition(.5s, ease-out, all, 2.5s);
            .screen { .transition(.5s, ease-out, all, 3s); }
        }
    }
    &.passed-view {
        
        .device-mockup {
            
            &.ipad, &.iphone {
                opacity: 1;
            }
        }
    }
}



// setup server page

#setup-server.page {
    
    #transaction-services {
        
        .device-mockup {
            
            &.ipad {
                width: 95%;
                top: 0; left: 0;
            }
            &.iphone {
                width: 25%;
                bottom: 0; right: 0;
            }
        }
    }
}