//create a section with a custom min height to fill the screen vertically to various amounts
.custom-height-section {
	.display(flex);
	.flex-direction(column);
	.align-items(center);
	.justify-content(center);

    > .flex-row {.display(flex);}
    @media @medium {
        &.height-25 {min-height:25vh;}
        &.height-50 {min-height:50vh;}
        &.height-75 {min-height:75vh; max-height:900px;}
        &.height-90 {min-height:90vh; max-height:900px;}
    }
}
