//iframe styles for demos in magnific popups (education ecourseware page)
.white-popup.demo-popup {
    max-width:100%;
    @media @xlarge {max-width:@large-breakpoint;}
    .demo-wrapper {
        position:relative;
        padding-top:58.6%;
        .demo-embed {
            position:absolute;
            width:100%; height:100%;
            top:0; left:0;
        }
    }
}
