//new devices and colors
.device-mockup {
    // devices
    &.ipad-portrait {
        .setup-device-mockup(850px, 1200px, 749px, 997px, 102px);

		background-image: url('/getmedia/4e02c74e-0c01-42cd-b475-3d46f625fa8d/ipad-portrait_black');
		&.white { background-image: url('/getmedia/32774ec8-9723-4839-a67b-6302689d73d4/ipad-portrait_white'); }
	}
	&.iphone-x.white {background-image:url('/getmedia/476b323c-190c-4555-a8ef-0a6d1f9fae70/device-frame_iphoneX-WHITE');}
    &.android-tablet {
        .setup-device-mockup(1200px, 808px, 967px, 732px, 38px);

		background-image: url('/getmedia/20ba2e30-4975-437d-8249-1ad1aa33b652/android-tablet-nexus-9');
	}
}
