//DIV WITH A NUMBER NEXT TO IT
.number-group {
    position:relative; z-index:1;
    padding:15px 0 5px 30px;
    min-height:50px;
    &:before {
        display:block; position:absolute; z-index:-1;
        content:'';
        top:0px; left:0px;
        font-size:60px; line-height:60px;
        font-weight:600;
        opacity:0.2;
    }
    @media @medium {
        padding-top:30px; padding-left:50px;
        min-height:100px;
        &:before {
            font-size:120px; line-height:120px;
        }
    }
    &.one:before   {content:'1.'}
    &.two:before   {content:'2.'}
    &.three:before {content:'3.'}
    &.four:before  {content:'4.'}
    &.five:before  {content:'5.'}

    &.small {
        padding:10px 0 5px 20px;
        &:before {font-size:40px; line-height:40px;}
        @media @medium {&:before {font-size:60px; line-height:60px;}}
    }
}
