//basic setup for an image going off the page
.offpage-image {
    width:150%;
    max-width:none;
    &.left {float:right;}
    &.right {float:left;}
    @media @large {
        &.left {margin-right:5%; &.pc-laptop, &.macbook-pro, &.macbook-air {margin-right:-10%;}}
        &.right {margin-left:5%; &.pc-laptop, &.macbook-pro, &.macbook-air {margin-left:-10%;}}
    }
}
.stacked-mockups {position:relative;}
.z-1 {position:relative; z-index:1;}
.z-2 {position:relative; z-index:2;}
.z-3 {position:relative; z-index:3;}
