//stack a small icon on top of a large one
.stacked-icons {
    display:inline-block;
    position:relative;

    margin-bottom:10px;
    .icon:not(.icon-block) {
        position:relative; z-index:0;
        padding-bottom:7px; padding-right:7px;
        &.medium {padding-bottom:12px; padding-right:12px;}
        &.large {padding-bottom:17px; padding-right:17px;}
    }
    .icon.icon-block {
        position:absolute; z-index:1;
        right:0; bottom:0;
        height:27px; width:27px;
        &.medium {height:50px; width:50px;}
        &.large {height:80px; width:80px;}
    }
}
