//temp fix for white gradient
.background-gradient-white {
    background: @white;
    background: -webkit-linear-gradient(180deg, @white, @light-gray);
    background: linear-gradient(180deg, @white, @light-gray);
}
