p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
#lead-gen-form a {
  color: #377ABD;
  text-decoration: none;
}
#lead-gen-form a:hover {
  color: #4EA2F6;
}
section:not(#introduction) {
  border-bottom: 2px solid #999999;
}
section:not(#introduction):last-child {
  border-bottom: 0;
}
code {
  display: inline-block;
  padding: 0 .25em;
  background-color: #f2f2f2;
}
code.block {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333333;
  color: #FFFFFF;
}
code.block:last-child {
  margin-bottom: 0;
}
code.block .html {
  color: #4789A3;
}
code.block .attribute {
  color: #68AA00;
}
code.block .value {
  color: #FF9100;
}
code.block .indent-1 {
  padding-left: 20px;
}
code.block .indent-2 {
  padding-left: 40px;
}
code.block .indent-3 {
  padding-left: 60px;
}
code.block .indent-4 {
  padding-left: 80px;
}
code.block .indent-5 {
  padding-left: 100px;
}
code.block .indent-6 {
  padding-left: 120px;
}
code.block .indent-7 {
  padding-left: 140px;
}
code.block .indent-8 {
  padding-left: 160px;
}
code.block .indent-9 {
  padding-left: 180px;
}
code.block .indent-10 {
  padding-left: 200px;
}
figure {
  background-color: #FFFFFF;
  border: 5px solid #999999;
  margin-bottom: 20px;
  padding: 20px;
}
figure:last-child {
  margin-bottom: 0;
}
figure + code.block {
  margin-top: -20px;
}
