h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
section:not(#introduction) {
  border-bottom: 2px solid #CCCCCC;
}
section:not(#introduction):last-child {
  border-bottom: 0;
}
code {
  display: inline-block;
  padding: 0 .25em;
  background-color: #f2f2f2;
}
code.block {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333333;
  color: #FFFFFF;
}
code.block:last-child {
  margin-bottom: 0;
}
code.block .html {
  color: #4789A3;
}
code.block .attribute {
  color: #68AA00;
}
code.block .value {
  color: #FF9100;
}
code.block .indent-1 {
  padding-left: 20px;
}
code.block .indent-2 {
  padding-left: 40px;
}
code.block .indent-3 {
  padding-left: 60px;
}
code.block .indent-4 {
  padding-left: 80px;
}
code.block .indent-5 {
  padding-left: 100px;
}
code.block .indent-6 {
  padding-left: 120px;
}
code.block .indent-7 {
  padding-left: 140px;
}
code.block .indent-8 {
  padding-left: 160px;
}
code.block .indent-9 {
  padding-left: 180px;
}
code.block .indent-10 {
  padding-left: 200px;
}
figure {
  background-color: #FFFFFF;
  border: 5px solid #CCCCCC;
  margin-bottom: 20px;
  padding: 20px;
}
figure:last-child {
  margin-bottom: 0;
}
figure + code.block {
  margin-top: -20px;
}
