@import '../settings.less';


//new components
// @import '../_new-components/components-and-expansions/anchor-link-grid.less';
@import '../_new-components/components-and-expansions/background-color-filters.less';
@import '../_new-components/components-and-expansions/blockquote.less';
@import '../_new-components/components-and-expansions/list-circle.less';
@import '../_new-components/components-and-expansions/hypercard-graphic.less';
@import '../_new-components/components-and-expansions/iframe-wrapper.less';
@import '../_new-components/components-and-expansions/number-group.less';
@import '../_new-components/components-and-expansions/offpage-image.less';
// @import '../_new-components/components-and-expansions/popup-demo-iframe.less';
// @import '../_new-components/components-and-expansions/popup-window-multiple-sizes.less';
@import '../_new-components/components-and-expansions/triangle-group.less';
// @import '../_new-components/components-and-expansions/video-embedded-reveal.less';

//resets and fixes
@import '../_new-components/resets-and-fixes/vertical-panelstack.less';
@import '../_new-components/resets-and-fixes/related-items.less';

//new sections and heros
// @import '../_new-components/sections-and-heros/hero-banner-single-angle.less';
@import '../_new-components/sections-and-heros/section-content-between.less';

//new sliders
@import '../_new-components/sliders/multi-item-nav.less';
// @import '../_new-components/sliders/customer-success-logo-video.less';
// @import '../_new-components/sliders/photos.less';









.Covid19Resources {
    #empower-everyone {
        .device-mockup {
            &.ipad {
                position:relative; z-index:0;
                width:130%;
                margin-right:20%;
                margin-bottom:20px;
            }
            &.iphone {
                position:absolute; z-index:1;
                width:30%;
                right:10%; bottom:20px;
            }
            @media @medium {
                &.ipad {width:150%;}
                &.iphone {width:35%;}
            }
        }
    }
    #faster-decisions {
        .device-mockup {
                width:190%;
                .cursor {
                position:absolute; z-index:2;
                width:10px;
                @media @medium {width:15px;}
                top:50%; left:50%;
                .animation(hero-cursor-website 7.5s linear 0s normal infinite);
            }
            .hypercard-img {
                position:absolute;
                top:22%; left:22%;
                width:25%;
                opacity:0;
                .animation(hero-card-appear 7.5s linear 0s normal infinite);
            }
        }
    }
}




//temp add these icons till prod push is done
.icon-instagram::before{content:"\eaf1"}
.icon-wechat::before{content:"\eaf2"}

//infinite scrolling gallery background image (old)
#careers {
    position:relative; min-height:600px;
    &:before {
        position:absolute; z-index:2;
        content:'';
        height:100%; width:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.3);
    }
    .content-col {position:relative; z-index:3;}
}
.infinite-gallery {
    position:absolute; overflow:hidden; z-index:1;
    left:0;
    width:100%; height:33.33%;
    &.one {
        top:0;
        .gallery-img {.animation(careers-slideshow 70s linear infinite);}
    }
    &.two {
        top:33.33%;
        .gallery-img {.animation(careers-slideshow 75s linear infinite);}
    }
    &.three {
        top:66.66%;
        .gallery-img {.animation(careers-slideshow 65s linear infinite);}
    }
    .gallery-img {
        position:absolute;
        top:0; left:0;
        background-repeat:no-repeat;
        background-size:cover;
        width:100%; height:100%;

        &.two {left:100%;}
    }
}

//group of overlapping device mockups
.device-family {
    position:relative;
    padding-bottom:5%; padding-top:30px; margin-bottom:30px;
    .device-mockup {
        position:absolute; z-index:1;

        &.iphone          {width:8%; bottom:0; left:0; z-index:2;}
        &.macbook-pro     {width:47%; bottom:5%; left:0;}
        &.ipad            {width:24%; bottom:0; right:0; z-index:2;}
        &.ipad.white      {width:30%; bottom:6%; right:5%;}
        &.mac-thunderbolt {
            position:relative; z-index:0;
            margin:0 auto;
            width:60%;
        }
    }
}

//LEADERSHIP ROW popup
.white-popup {
    &.leadership-popup   {max-width:800px;}

    &.popup-width-jumbo  {max-width:1200px;}
    &.popup-width-large  {max-width:1000px;}
    &.popup-width-medium {max-width:800px;}
    &.popup-width-small  {max-width:800px;}
    &.popup-width-tiny   {max-width:400px;}
}

//angles in a banner
.angle-background {
    position:relative;
    overflow:hidden;
    > .flex-row {position:relative; z-index:1;}
    .angle-wrapper {
        display:block; position:absolute; z-index:0;
        height:100%; width:100%;
        top:0; left:0;
        backface-visibility: visible;
        .angle {
            position:absolute;
            backface-visibility: visible;
            background-color:@pure-black;
            mix-blend-mode: multiply;
            opacity:0.2;
            &:before {
                content:'';
                display:block;
                width:100%;
                padding-bottom:100%;
            }
            &.top {
                -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0)!important;
                clip-path: polygon(100% 100%, 100% 0, 0 0)!important;
                z-index:1;
                width:50%;
                @media @medium {width:25%;}
                right:0;
                top:0;
            }
            &.bottom {
                -webkit-clip-path: polygon(100% 0,100% 100%,0 100%)!important;
                clip-path: polygon(100% 0,100% 100%,0 100%)!important;
                z-index:2; right:0; bottom:0;
                width:125%;
                @media @medium {width:50%;}
            }
        }
        &.left-side .angle {
            &.top {
                -webkit-clip-path: polygon(0 0,0 100%,100% 0)!important;
                clip-path: polygon(0 0,0 100%,100% 0)!important;
                right:auto;
                left:0;
            }
            &.bottom {
                -webkit-clip-path: polygon(0 0,100% 100%,0 100%)!important;
                clip-path: polygon(0 0,100% 100%,0 100%)!important;
                right:auto;
                left:0;
                width:125%;
                @media @medium {width:50%;}
            }
        }
    }
    .InternetExplorer & .angle-wrapper {display:none;}
}

//PERSON PROFILE CAROUSEL (old)
#roles-slider {
    .role-bio-photo {
        padding:20px 20px 20px 0;
        margin:0;
        @media @small-only {width:200px;}
    }
    .slick-slide {
        .align-items(flex-start); min-height:20px;
        @media @small-only {
            .answers-col {max-height:600px; overflow:auto; background-color:@light-gray;}
        }
    }
}
#roles-nav {
    padding:0 50px;
    .grid-item {
        padding:7.5px;
        .align-items(stretch);
        .role-nav-card {
            cursor:pointer;
            width:100%;
            background-color:@light-gray;
            padding:10px;
            box-shadow:1px 1px 5px fade(@pure-black, 0%);
            border:1px solid @white;
            opacity:0.6;
            .single-transition;
            .role-bio-photo {margin:0 10px 0 0;}
            .text > p {
                margin:0; padding:0;
                &:first-child {margin-bottom:5px;}
            }
            @media @small-only {
                .flex-direction(column);
                text-align:center;
                .role-bio-photo {margin:0 0 10px 0;}
            }
        }
        &.slick-current .role-nav-card {
            opacity:0.99;
            box-shadow:1px 1px 5px fade(@pure-black, 20%);
            background-color:@white;
            border-color:@gainsboro;
            cursor:default;
        }
    }
}



//TIMELINE
@timeline-mobile-height: 450px;
@timeline-mobile-width: 300px;

@timeline-desktop-height: 350px;
@timeline-desktop-width: 400px;
.timeline-wrapper {
    position:relative;
    @media @medium {
        opacity:0; .animation(fade-in 1s ease-out 2s normal forwards);
    }
}
.frame {
    position:relative; z-index:2; overflow:hidden;
    width:100%; height:@timeline-mobile-height;
    padding:0;
    cursor:pointer;
    @media @medium {height:@timeline-desktop-height;}

    //this is the vertical center line through the whole timeline
    &:before {
        position:absolute; z-index:1;
        content:'';
        height:8px; width:100%;
        top:50%; left:0; margin-top:-4px;
        background-color:@dark-gray;
    }

    .timeline-list {
        position:relative; z-index:2;
        margin:0; padding:0;
        height:100%;
        list-style:none;
        .timeline-item {
            position:relative; z-index:2;
            float:left;
            margin:0 20px 0 -@timeline-mobile-width / 2;
            padding:0 0 20px 30px;
            width:@timeline-mobile-width;
            height:50%;
            text-align:left;
            color:@light-gray;

            //this value covers the horizontal margin and padding to center the timeline item
            .translateX((@timeline-mobile-width / 2) - 60px);

            @media @medium {
                margin:0 80px 0 -@timeline-desktop-width / 2;
                padding:0 0 20px 30px;
                width:@timeline-desktop-width;
                .translateX((@timeline-mobile-width / 2) - 110px);
            }
            //for the items below the middle line
            &:nth-child(even) {
                margin-top:@timeline-mobile-height / 2;
                padding:20px 0 0 30px;
                @media @medium {margin-top:@timeline-desktop-height / 2;}
                //.text {.justify-content(flex-start);}
                .flag {
                    bottom:50%; top:auto;
                    &:before, &:after {top:auto;}
                }
            }

            .InternetExplorer & .text {
                max-width:185px;
                @media @medium {max-width:305px;}
            }
            &:before {
                display:block; position:absolute; z-index:2;
                content:'';
                top:50%; left:0; margin-top:-15px;
                height:30px; width:15px;
                background-color:@white;
            }
            .text {
                .display(flex);
                .flex-direction(column);
                .justify-content(center);
                .flex(0,1,auto);

                opacity:0.6;
                h3 {margin-bottom:5px;}
                .single-transition(opacity, 0.2s, ease-out, 0s);
            }
            &.active .text {opacity:1;}
            .flag {
                display:block; position:absolute; z-index:4;
                width:3px; height:50%;
                background-color:@white;
                left:0; top:50%;
                &:before, &:after {
                    display: block; position: absolute;
                    content: '';
                    top: 100%; left: 0;
                    background-color: @black;
                }
                &:before {
                    z-index: 3;
                    margin-left: -8px;margin-top: -10px;
                    height: 20px;width: 20px;
                    border-radius: 50%;
                    border: 3px solid @white;
                }
                &:after {
                    z-index: 2;
                    margin-left: -13px;margin-top: -9px;
                    height: 18px;width: 30px;
                }
            }

            &.red {
                &:before,
                .flag {background-color:@red;}
                .flag:before {border-color:@red;}
            }
            &.orange {
                &:before,
                .flag {background-color:@orange;}
                .flag:before {border-color:@orange;}
            }
            &.green {
                &:before,
                .flag {background-color:@green;}
                .flag:before {border-color:@green;}
            }
            &.blue {
                &:before,
                .flag {background-color:@blue;}
                .flag:before {border-color:@blue;}
            }
            &.navy-blue {
                &:before,
                .flag {background-color:@navy-blue;}
                .flag:before {border-color:@navy-blue;}
            }
        }//end timeline-item
    }//end timeline-list
}//end frame
//timeline scrollbar
.scrollbar {
    position:relative; z-index:2;
    margin:20px auto;
    height:30px; width:~"calc(100% - 60px)";
    line-height: 0;
    &:before {
        display:block; position:absolute; z-index:-2;
        content:'';
        left:0; top:50%; margin-top:-1px;
        height:2px; width:100%;
        border-bottom:3px solid @gray;
    }
    .handle {
        width:100px; height:100%;
        margin-top:-15px;
        background-color:fade(@red, percentage(@semi-opaque));
        cursor:pointer;
        .mousearea {
            position:absolute; z-index:3;
            top:0; left:0;
            width:100%; height:100%;
            &:before {
                display:block; position:absolute;
                content:'';
                bottom:100%; left:50%; margin-left:-14px;
                width:0; height:0;
                border-left:14px solid transparent;
                border-right:14px solid transparent;

                border-bottom:14px solid fade(@red, percentage(@semi-opaque));
            }
        }
    }
}
//timeline navigation
.timeline-nav {
    position:relative;
    padding-left:30px;
    padding-right:30px;
    .dot-wrapper {
      position:absolute; z-index:-1;
      top:0; left:0;
      width:100%; height:30px;
    }
    .dot {
        position:relative;
        &:before {
          display:block; position:absolute;
          content:'';
          top:50%; left:50%; margin-left:-5px; margin-top:-5px;
          height:10px; width:10px;
          border-radius:50%;
          background-color:#bbbbbb;
        }
    }
}
//timeline controls
.controls {
    display:block; position:absolute; z-index:1;
    top:20px; left:0;
    width:100%; height:30px;
    .btn {
        display:block; position:absolute;
        top:50%; margin-top:-15px;
        width:30px; height:30px;
        background-color:transparent;
        outline:0;
        opacity:1;
        color:@gray;
        .single-transition(opacity, 0.2s, ease-out, 0s);
        &.disabled {opacity:0.2;}
        &.prev {left:0px; .rotation(180deg);}
        &.next {right:0px;}
    }
}






//VALUES CUSTOM SLICK SLIDER (retiring)
#values-slider {
    padding-left:30px; padding-right:30px;
    @media @medium { padding-left:104px; padding-right:104px; }

    .slick-arrow{
        padding: @base-spacing;
        opacity:0.5;
        &:hover {opacity:1;}
    }
    .slick-slide {
        padding-top:0; padding-bottom:0;
        @media @medium {padding-top:200px; padding-bottom:50px; .align-items(flex-start);}
        ul {
            list-style: none;

            & > li {
                position:relative;
                padding-bottom:10px;
                &:before {
                    display:block; position:absolute;
                    content:'';
                    top:3px; left:-30px;
                    width:0; height:0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                }
            }
        }
        &.component-red ul > li:before {border-right-color:@red;}
        &.component-orange ul > li:before {border-right-color:@orange;}
        &.component-green ul > li:before {border-right-color:@green;}
        &.component-blue ul > li:before {border-right-color:@blue;}
        &.component-navy-blue ul > li:before {border-right-color:@navy-blue;}
    }
    .slick-dots {
        .position(absolute, @left:50%, @top:@column-gutter);
        .translateX(-50%);
        @media @medium {height:180px;}
        & > li {
            padding:0 20px;
            max-width:20%;
            margin-left:-4px;

            .values-nav {
                display:block; position:relative;
                cursor:pointer;
                padding:15px;
                text-align:center;
                font-family:@myriad-pro;
                .uppercase;
                font-weight:400;
                opacity:0.4;
                .single-transition;

                &:before {
                    display:block;
                    font-family: @icon-font-name;
                    .pretty-icon;
                    margin:0 auto 20px auto;
                    font-size:64px;
                    .single-transition;
                }
                &:after {
                    display:block; position:absolute;
                    content:'';
                    bottom:-10px; left:50%;
                    margin-left:-9px;
                    width:0; height:0;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-top: 10px solid transparent;
                    .single-transition;
                }
                &:hover {opacity:.75;}

                &.engaged:before {content:'\e95c'}
                &.precise:before {content:'\ea2d'}
                &.agile:before {content:'\e97f'}
                &.transparent:before {content:'\e98b'}
                &.cheerful:before {content:'\e9ac'}
            }
            &.slick-active .values-nav {
                opacity:1;
                padding:15px 20px;
                &.engaged {
                    &:before {color:@red;}
                    &:after {border-top-color:@red;}
                }
                &.precise {
                    &:before {color:@blue;}
                    &:after {border-top-color:@blue;}
                }
                &.agile {
                    &:before {color:@green;}
                    &:after {border-top-color:@green;}
                }
                &.transparent {
                    &:before {color:@navy-blue;}
                    &:after {border-top-color:@navy-blue;}
                }
                &.cheerful {
                    &:before {color:@orange;}
                    &:after {border-top-color:@orange;}
                }
            }
        }
    }
}


//INDIVIDUAL PAGE STYLES
.Company.company-overview-page {
    #page-hero {
        .background-trans-black {
            min-height:100%;
        }
    }
    #multi-control-slider {
        .slick-slide {display:block}
    }
    #leadership {
        .leadership-photo {
            width:200px;
            @media @medium {width:~"calc(100% - 40px)"; margin-bottom:30px;}
        }
    }
}


//CAREERS PAGE STYLES

//overview page
.Careers.careers-overview-page {
    #page-hero {
        .display(flex);
        .flex-direction(column);
        .align-items(center);
        .justify-content(center);
        position:relative;
        overflow:hidden;
        min-height:80vh;
        > .flex-row {
            position:relative; z-index:2;
        }
        .image-revolver {
            position:absolute; z-index:1;
            height:100%; width:100%;
            top:0; left:0;
            @media @small-only {opacity:0.5}
            .revolver-img {
                position:absolute;
                opacity:0;
                height:75%;
                top:-5%;
                @media @medium {
                    height:auto;
                    width:40%;
                }
                &.running {
                    @media @medium {
                        width:55%;
                        top:-10%;
                        right:65%;
                    }
                    .animation(career-hero-graphic-ltr 12s ease 0s normal infinite);
                }
                &.vr {
                    top:auto;
                    bottom:-15%;
                    left:25%;
                    @media @medium {
                        bottom:5%;
                        width:35%;
                        left:67%;
                    }
                    .animation(career-hero-graphic-rtl 12s ease -3s normal infinite);
                }
                &.sparks {
                    @media @medium {
                        right:63%;
                    }
                    .animation(career-hero-graphic-ltr 12s ease -6s normal infinite);
                }
                &.chess {
                    top:auto;
                    bottom:-15%;
                    left:25%;
                    @media @medium {
                        bottom:5%;
                        left:63%;
                    }
                    .animation(career-hero-graphic-btt 12s ease -9s normal infinite);
                }
            }
        }
    }
    .background-decoration-wrapper {
        position:relative;
        overflow:hidden;
        .background-decoration {
            position:absolute; z-index:-1;
            opacity:0.2;
            width:50%;
            @media @medium {width:25%;}
            &.top-right {top:0; right:0; margin-right:-7%;}
            &.bottom-right {bottom:0; right:0; margin-right:-7%;}
            &.bottom-left {bottom:0; left:0; margin-left:-7%;}
        }
    }
    .social-bar {
        .flex(0, 0, auto);
        width: auto;
        padding-top:40px;
        padding:10px;
        border-bottom:2px solid @red;
        .hashtag {
            width:100%;
            margin-bottom:20px;
            @media @medium {width:auto; margin-bottom:0; padding-right:20px;}
            text-align:left;
            color:@black;
            &:hover {color:@red;}
        }
        .icon {
            margin-left:10px;
            &:hover {background-color:@red;}
        }
    }
    #introduction {
        .background-decoration.top-right {margin-top:-5%;}
    }
    #job-openings {
        @media @medium {
            .angle.top {width:20%;}
            .angle.bottom {width:35%;}
        }
    }
    #perks {
        #photo-slider {
            padding:0 20px;
            .grid-item {padding:15px 2px}
        }
    }
    #profiles {
        &.background-decoration-wrapper .background-decoration {
            .rotate(90deg);
            &.top-right {margin-top:-3%; margin-right:-7%;}
            &.bottom-left {margin-bottom:5%; margin-left:-5%;}
            &.bottom-right {z-index:0 width:75%; margin-bottom:5%; margin-left:-5%;}
        }
        .grid-item {padding:40px; text-align:center;}
    }
    .headshot-wrapper {
        display:block;
        position:relative;
        padding:20px;
        margin:0 20px;
        max-width:300px;
        .headshot {
            position:relative; z-index:1;
            box-shadow:1px 1px 5px fade(@pure-black, 30%);
            margin:0;
        }
        .decoration {
            position:absolute; z-index:2;
            height:30px; width:30px;
            border-radius:50%;
            background-color:@gray;
            box-shadow:1px 1px 3px fade(@pure-black, 30%);
            &:before {
                content:'';
                position:absolute;
                height:15px; width:15px;
                border-radius:50%;
                background-color:@gray;
                box-shadow:1px 1px 3px fade(@pure-black, 30%);
            }
            &.top-left {
                top:3%; left:1%;
                &:before {top:60%; left:130%;}
            }
            &.top-right {
                top:15%; right:0;
                &:before {top:-105%; left:-50%;}
            }
            &.bottom-left {
                height:15px; width:15px;
                bottom:15%; left:-5%;
                &:before{display:none}
            }
            &.bottom-right {
                bottom:5%; right:15%;
                &:before {top:80%; left:-100%;}
            }
        }
        &.red {
            .decoration {
                &.top-left {
                    background-color:@red;
                    &:before {background-color:@orange;}
                }
                &.top-right {
                    background-color:@blue;
                    &:before {background-color:@red;}
                }
                &.bottom-left {
                    background-color:@blue;
                }
                &.bottom-right {
                    background-color:@green;
                    &:before {background-color:@orange;}
                }
            }
        }
        &.orange {
            .decoration {
                &.top-left {
                    background-color:@orange;
                    &:before {background-color:@blue;}
                }
                &.top-right {
                    background-color:@red;
                    &:before {background-color:@green;}
                }
                &.bottom-left {
                    background-color:@green;
                }
                &.bottom-right {
                    background-color:@orange;
                    &:before {background-color:@red;}
                }
            }
        }
        &.green {
            .decoration {
                &.top-left {
                    background-color:@green;
                    &:before {background-color:@red;}
                }
                &.top-right {
                    background-color:@orange;
                    &:before {background-color:@red;}
                }
                &.bottom-left {
                    background-color:@blue;
                }
                &.bottom-right {
                    background-color:@orange;
                    &:before {background-color:@blue;}
                }
            }
        }
        &.blue {
            .decoration {
                &.top-left {
                    background-color:@blue;
                    &:before {background-color:@red;}
                }
                &.top-right {
                    background-color:@orange;
                    &:before {background-color:@red;}
                }
                &.bottom-left {
                    background-color:@red;
                }
                &.bottom-right {
                    background-color:@green;
                    &:before {background-color:@blue;}
                }
            }
        }
        &.navy-blue {
            .decoration {
                &.top-left {
                    background-color:@navy-blue;
                    &:before {background-color:@green;}
                }
                &.top-right {
                    background-color:@orange;
                    &:before {background-color:@green;}
                }
                &.bottom-left {
                    background-color:@orange;
                }
                &.bottom-right {
                    background-color:@red;
                    &:before {background-color:@blue;}
                }
            }
        }
    }
    .white-popup {
        > .flex-row {position:relative; z-index:1;}
        &.background-decoration-wrapper .background-decoration {
            z-index:0;
            .rotate(60deg);
            width:35%;
            margin-bottom:5%; margin-left:-5%;
        }
    }
    #global-reach {
        .display(flex);
        .flex-direction(column);
        .align-items(center);
        .justify-content(center);
        position:relative;
        overflow:hidden;
        min-height:80vh;
        > .flex-row {
            position:relative; z-index:2;
        }
        .map-background {
            position:absolute; z-index:1;
            top:50%; left:50%;
            height:100%;
            @media @medium {width:110%; height:auto;}
            max-width:1600px;
            .translate(-50%, -50%);
            opacity:0.1;
        }
    }
    #disclaimer {
        padding:30px 0;
        border-bottom:1px solid @gray;
    }
    #page-cta {
        @media @medium {
            .angle.top {width:20%;}
            .angle.bottom {width:35%;}
        }
    }
}
.JobSearch {
    #page-hero {
        .image-background {
            position:absolute; z-index:1;
            top:70%; left:35%;
            .translate(-50%, -50%);
            height:100%;
            @media @medium {width:110%; height:auto;}
            max-width:800px;
            opacity:0.45;
        }
    }
}


//older styles
.careers-banner {
    display:block; position:relative;
    overflow:hidden;
    background-color:@black;

}
.careers-banner .banner-content {position:relative; z-index:2;}
.careers-banner .image-container {
    position:absolute; z-index:1;
    height:100%; width:100%;
    top:0; left:0;

    * {
        height: 100%;
    }
}
.careers-banner .image-container .fade-slider {position:relative; overflow:hidden; height:100%;}
.careers-banner .image-container .fade-slider .banner {
    height:100%; width:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

/*fullwidth image banners*/
.image-section {
    > .flex-row {min-height:65vh;}
    .background-trans-white {background-color:fade(@white, 90%);}
}
//JOB SEACH PAGE
.smartWidget {
    .srSearch {min-width:200px; height:auto; padding:10px;}
    .srSearchForm {width:100%; min-width:200px; height:auto; margin-right:0;}
    input[type=text].srSearchInput {
        display:inline-block;
        padding:5px 10px; float:none;
        height:auto; width:100%;
    }
    .srSearchButton {
        width:100%; height:auto;
        border:none; padding:7px;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
        &:hover {border:none;}
    }
    .srSearchOption {
        width:50%;
        margin-top:10px;
        padding-right:10px;
        .srSearchOptionText {
            display:block;
            width:100%;
            padding:5px 20px 5px 10px;
            &:before {
                content:'';
                position:absolute;
                top:0; left:0;
                margin:0;
                border-left:none;
                width:1px; height:100%;
                background-color:#cccccc;
            }
            &:after {right:5px;}
        }
        &:after {
            content:'';
            position:absolute;
            top:0; right:5px;
            margin:0;
            border-right:none;
            width:1px; height:100%;
            background-color:#cccccc;
        }
    }
    .srSearchForm,
    .srSearchOption,
    .srSearchForm,
    .srSearchButton {
        display:inline-block; vertical-align:top;
        float:none;
    }
    @media @medium {
        .srSearchForm {width:60%; vertical-align:middle;}
        input[type=text].srSearchInput {width:75%; max-width:none; margin-bottom:0px; padding:6px 10px;}
        .srSearchButton {width:~"calc(25% - 10px)"; margin-left:10px;}
        .srSearchOption {width:~"calc(20% - 10px)"; margin-left:10px; margin-top:0; vertical-align:middle;}
    }
}
.sr-plugins--active {z-index:5000;}







// CONTACT US SECTION STYLES
.Contact {
    #contact-us {
        > .flex-row {position:relative; z-index:3;}
        #background-map {
            position:absolute; z-index:0;
            height:100%; width:100%;
            top:0; left:0;
            opacity:0.2;
            .supports.backgroundblendmode & {mix-blend-mode:multiply; opacity:0.6;}
        }
        .office-info-data {display:none;}
        #hero {
            > .flex-row {position:relative; z-index:3;}
            .angled-gradient(@navy-blue, @blue);
            color:@white;

            .angles-canvas {display:none;}
            > .flex-row.middle.around-xl {.align-items(flex-start);}

            .text-col > h1 {display:none;}
            .hero-container {
                position:relative;
                margin-top:10px; padding:20px;
                background-color:@white;
                .box-shadow(1px 1px 5px fade(@pure-black, 50%));
                color:@black;
                &.offices {padding-top:60px;}
                #office-selector {
                    display:block; position:absolute;
                    top:0; left:0;
                    width:100%;
                    background-color:#f2f2f2;
                    border-width:0 0 1px 0;
                    padding-left:25px;
                }
            }
            .form-col {
                #lead-gen-form {
                    margin-top:10px; padding:20px;
                    background-color:@white;
                    .box-shadow(1px 1px 5px fade(@pure-black, 50%));
                }
                #form-content .flex-row:first-of-type {display:none;}
                .button.red {
                    background-color:@black;
                    &:hover {background-color:lighten(@black, 10%);}
                    &:active {background-color:darken(@black, 10%);}
                }
            }
        }//end hero
    }
}




// PRESS KIT PAGE STYLES
.PressKit {
    #press-contact {
        .background-trans-black {background-color: fade(@pure-black, 20%);}
        .card.component-white .card-header .card-corner {color:@navy-blue;}
    }
    #press-kit-screenshots .grid-item .overlay-black:after {.single-transition(); background-color: fade(@pure-black, 30%);}
    #press-kit-screenshots .grid-item:hover .overlay-black:after {background-color: fade(@pure-black, 0%);}
}








//PARTNERS PAGES
.Partners {
    #partnership-opportunities {
        overflow:hidden;
        .device-mockup {
            &.macbook-air {
                position:relative; z-index:0;
                margin-left:10%;
                width:170%;
            }
            &.ipad {
                position:absolute; z-index:1;
                width:80%;
                left:10%; bottom:0px;
            }
        }
    }
}






//ANIMATION LIBRARY
@media @medium {
    .passed-view .delay02 {.animation-delay(0.2s~"!important");}
    .passed-view .delay04 {.animation-delay(0.4s~"!important");}
    .passed-view .delay06 {.animation-delay(0.6s~"!important");}
    .passed-view .delay08 {.animation-delay(0.8s~"!important");}
    .passed-view .delay10 {.animation-delay(1.0s~"!important");}
    .passed-view .delay12 {.animation-delay(1.2s~"!important");}
    .passed-view .delay14 {.animation-delay(1.4s~"!important");}
    .passed-view .delay16 {.animation-delay(1.6s~"!important");}
    .passed-view .delay18 {.animation-delay(1.8s~"!important");}
    .passed-view .delay20 {.animation-delay(2.0s~"!important");}

    .slide-up, .slide-left, .slide-right, .slide-down, .fade-in {opacity:0;}
    .passed-view .slide-up {.animation(fade-slide-up 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-left {.animation(fade-slide-left 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-right {.animation(fade-slide-right 0.3s ease-out 0s normal forwards);}
    .passed-view .slide-down {.animation(fade-slide-down 0.3s ease-out 0s normal forwards);}
    .passed-view .fade-in {.animation(fade-in 0.3s ease-out 0s normal forwards);}
}

.keyframes(fade-in;{
    0%{opacity:0;}
    100%{opacity:1;}
});
.keyframes(fade-slide-up;{
    0%{opacity:0; .translateY(10%);}
    100%{opacity:1; .translateY(0);}
});
.keyframes(fade-slide-down;{
    0%{opacity:0; .translateY(-10%);}
    100%{opacity:1; .translateY(0);}
});
.keyframes(fade-slide-left;{
    0%{opacity:0; .translateX(10%);}
    100%{opacity:1; .translateX(0);}
});
.keyframes(fade-slide-right;{
    0%{opacity:0; .translateX(-10%);}
    100%{opacity:1; .translateX(0);}
});


.keyframes(hero-cursor-website;{
    0%   {top:50%; left:50%;}
    5%  {top:16%; left:27%;}
    50%  {top:16%; left:27%;}
    55% {top:50%; left:50%;}
    100% {top:50%; left:50%;}
});
.keyframes(hero-card-appear;{
    0%   {opacity:0; .translateY(-10%);}
    5%  {opacity:0; .translateY(-10%);}
    7%  {opacity:1; .translateY(0);}
    50%  {opacity:1; .translateY(0);}
    52%  {opacity:0; .translateY(10%);}
    100% {opacity:0; .translateY(10%);}
});



.keyframes(careers-slideshow;{
    0%   {.translateX(0);}
    100% {.translateX(-100%);}
});

.keyframes(career-hero-graphic-ltr;{
    0%   {opacity:0; .translateX(-50px);}
    5%   {opacity:1; .translateX(0);}
	40%  {opacity:1; .translateX(0);}
    45%  {opacity:0; .translateX(-50px);}
    100% {opacity:0; .translateX(-50px);}
});

.keyframes(career-hero-graphic-rtl;{
    0%   {opacity:0; .translateX(50px);}
    5%   {opacity:1; .translateX(0);}
	40%  {opacity:1; .translateX(0);}
    45%  {opacity:0; .translateX(50px);}
    100% {opacity:0; .translateX(50px);}
});

.keyframes(career-hero-graphic-btt;{
    0%   {opacity:0; .translateY(-50px);}
    5%   {opacity:1; .translateY(0);}
	40%  {opacity:1; .translateY(0);}
    45%  {opacity:0; .translateY(-50px);}
    100% {opacity:0; .translateY(-50px);}
});

.keyframes(career-hero-graphic-ttb;{
    0%   {opacity:0; .translateY(50px);}
    5%   {opacity:1; .translateY(0);}
	40%  {opacity:1; .translateY(0);}
    45%  {opacity:0; .translateY(50px);}
    100% {opacity:0; .translateY(50px);}
});
