@import '../settings.less';

.parallax-bkg {
  .background-cover;
}

//DIV WITH COLOR TRIANGLE NEXT TO IT
.triangle-group {
    position:relative;
    padding:5px 0 5px 20px;
    &:before {
        display:block; position:absolute;
        content:'';
        top:5px; left:-10px;
        width:0; height:0;
        border-left: 10px solid transparent;
        border-right: 10px solid @red;
        border-top: 10px solid transparent;
    }
    @media @medium {
        padding-left:25px;
        &:before {
            left:-15px;
            border-left-width: 15px;
            border-right-width: 15px;
            border-top-width: 15px;
        }
    }
    &.red:before {border-right-color:@red;}
    &.orange:before {border-right-color:@orange;}
    &.green:before {border-right-color:@green;}
    &.blue:before {border-right-color:@blue;}
    &.navy-blue:before {border-right-color:@navy-blue;}

    &.white:before {border-right-color:@white;}
    &.light-gray:before {border-right-color:@light-gray;}
    &.gray:before {border-right-color:@gray;}
    &.dark-gray:before {border-right-color:@dark-gray;}
    &.black:before {border-right-color:@black;}
}

.top-banner.overview {background-image: url(/Strategy/media/images/company/company_hero-bkg_overview.jpg);}
.text-uppercase {font-family:@myriad-pro; letter-spacing:0.1em; font-weight:400}

//TIMELINE STYLES
.timeline-wrapper {position:relative;}
.frame {position:relative; z-index:2; width:100%; height:420px; padding:0; cursor:pointer;}
.frame:before {
    position:absolute; z-index:1;
    content:'';
    height:8px; width:100%;
    top:50%; left:0; margin-top:-4px;
    background-color:#777777;
}
.frame .timeline-list {position:relative; z-index:2; margin:0; padding:0; height:100%; list-style:none;}
.frame .timeline-list .timeline-item {
    position:relative; z-index:2;
    float:left;
    margin:0 20px 0 -110px; padding:0 0 20px 30px;
    width:200px; height:50%;
    text-align:left;
    color:#bbbbbb;
    transform: translateX(65px);
}
.frame .timeline-list .timeline-item:before {
    display:block; position:absolute; z-index:2;
    content:'';
    top:50%; left:0; margin-top:-15px;
    height:30px; width:15px;
    background-color:#ffffff;
}
.frame .timeline-list .timeline-item .text {
    opacity:0.6;
    -webkit-transition: opacity 0.2s ease-out 0s;
    transition: opacity 0.2s ease-out 0s;
}
.frame .timeline-list .timeline-item.active .text {opacity:1;}
.frame .timeline-list .timeline-item:nth-child(even) {margin-top:210px; padding:20px 0 0 30px;}
.frame .timeline-list .timeline-item .flag {
    display:block; position:absolute;
    width:3px; height:50%;
    background-color:#fff;
    left:0; top:50%;
}
.frame .timeline-list .timeline-item:nth-child(even) .flag {bottom:50%; top:auto;}
.frame .timeline-list .timeline-item .flag:before {
    display:block; position:absolute; z-index:3;
    content:'';
    top:100%; left:0; margin-left:-8px; margin-top:-10px;
    height:20px; width:20px;
    border-radius:50%;
    border:3px solid #fff;
    background-color:#333333;
}
.frame .timeline-list .timeline-item .flag:after {
    display:block; position:absolute; z-index:2;
    content:'';
    top:100%; left:0; margin-left:-13px; margin-top:-9px;
    height:18px; width:30px;
    background-color:#333333;
}
.frame .timeline-list .timeline-item:nth-child(even) .flag:before,
.frame .timeline-list .timeline-item:nth-child(even) .flag:after {top:auto; }

.frame .timeline-list .timeline-item.red:before {background-color:#D9232E;}
.frame .timeline-list .timeline-item.red .flag {background-color:#D9232E;}
.frame .timeline-list .timeline-item.red .flag:before {border-color:#D9232E;}
.frame .timeline-list .timeline-item.orange:before {background-color:#FF9100;}
.frame .timeline-list .timeline-item.orange .flag {background-color:#FF9100;}
.frame .timeline-list .timeline-item.orange .flag:before {border-color:#FF9100;}
.frame .timeline-list .timeline-item.green:before {background-color:#68AA00;}
.frame .timeline-list .timeline-item.green .flag {background-color:#68AA00;}
.frame .timeline-list .timeline-item.green .flag:before {border-color:#68AA00;}
.frame .timeline-list .timeline-item.blue:before {background-color:#4789A3;}
.frame .timeline-list .timeline-item.blue .flag {background-color:#4789A3;}
.frame .timeline-list .timeline-item.blue .flag:before {border-color:#4789A3;}
.frame .timeline-list .timeline-item.navy:before {background-color:#11566F;}
.frame .timeline-list .timeline-item.navy .flag {background-color:#11566F;}
.frame .timeline-list .timeline-item.navy .flag:before {border-color:#11566F;}

/* Timeline Scrollbar */
.scrollbar {
    position:relative; z-index:2;
    margin:20px auto;
    height:30px; width:~"calc(100% - 60px)";
    line-height: 0;
}
.scrollbar:before {
    display:block; position:absolute; z-index:-2;
    content:'';
    left:0; top:50%; margin-top:-1px;
    height:2px; width:100%;
    border-bottom:3px solid @gray;
}
.scrollbar .handle {
    width:100px; height:100%;
    margin-top:-15px;
    background-color:fade(@red, percentage(@semi-opaque));
    cursor:pointer;
}
.scrollbar .handle .mousearea {
    position:absolute; z-index:3;
    top:0; left:0;
    width:100%; height:100%;
}
.scrollbar .handle .mousearea:before {
    display:block; position:absolute;
    content:'';
    bottom:100%; left:50%; margin-left:-14px;
    width:0; height:0;
    border-left:14px solid transparent;
    border-right:14px solid transparent;

    border-bottom:14px solid fade(@red, percentage(@semi-opaque));
}
.timeline-nav {position:relative; padding-left:30px; padding-right:30px;}

/* Timeline Controls */
.controls {display:block; position:absolute; z-index:1; top:20px; left:0; width:100%; height:30px;}
.controls .btn {
    display:block; position:absolute;
    top:50%; margin-top:-15px;
    width:30px; height:30px;
    background-color:transparent;
    outline:0;
    opacity:1;
    color:#cccccc;
    .transition(opacity, 0.2s, ease-out, 0s);
}
.controls .btn.disabled {opacity:0.2;}
.controls .btn.prev {left:0px; transform:rotate(180deg);}
.controls .btn.next {right:0px;}

/*Leadership*/
.leadership-popup.white-popup {max-width:800px;}

//VALUES CUSTOM SLICK SLIDER
#values-slider {
    padding-left:30px; padding-right:30px;
    @media @medium { padding-left:104px; padding-right:104px; }

    .slick-arrow{
        padding: @base-spacing;
        opacity:0.5;
        &:hover {opacity:1;}
    }
    .slick-slide {
        padding-top:0; padding-bottom:0;
        @media @medium {padding-top:200px; padding-bottom:50px; .align-items(flex-start);}
        ul {
            list-style: none;

            & > li {
                position:relative;
                padding-bottom:10px;
                &:before {
                    display:block; position:absolute;
                    content:'';
                    top:3px; left:-30px;
                    width:0; height:0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                }
            }
        }
        &.component-red ul > li:before {border-right-color:@red;}
        &.component-orange ul > li:before {border-right-color:@orange;}
        &.component-green ul > li:before {border-right-color:@green;}
        &.component-blue ul > li:before {border-right-color:@blue;}
        &.component-navy-blue ul > li:before {border-right-color:@navy-blue;}
    }
    .slick-dots {
        .position(absolute, @left:50%, @top:@column-gutter);
        .translateX(-50%);
        @media @medium {height:180px;}
        & > li {
            padding:0 20px;
            max-width:20%;
            margin-left:-4px;

            .values-nav {
                display:block; position:relative;
                cursor:pointer;
                padding:15px;
                text-align:center;
                font-family:@myriad-pro;
                .uppercase;
                font-weight:400;
                opacity:0.4;
                .transition;

                &:before {
                    display:block;
                    font-family: @icon-font-name;
                    .pretty-icon;
                    margin:0 auto 20px auto;
                    font-size:70px;
                    .transition;
                }
                &:after {
                    display:block; position:absolute;
                    content:'';
                    bottom:-10px; left:50%;
                    margin-left:-9px;
                    width:0; height:0;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-top: 10px solid transparent;
                    .transition;
                }
                &:hover {opacity:.75;}

                &.engaged:before {content:'\e95b'}
                &.precise:before {content:'\ea2c'}
                &.agile:before {content:'\e97e'}
                &.transparent:before {content:'\e98a'}
                &.cheerful:before {content:'\e93a'}
            }
            &.slick-active .values-nav {
                opacity:1;
                padding:15px 20px;
                &.engaged {
                    &:before {color:@red;}
                    &:after {border-top-color:@red;}
                }
                &.precise {
                    &:before {color:@blue;}
                    &:after {border-top-color:@blue;}
                }
                &.agile {
                    &:before {color:@green;}
                    &:after {border-top-color:@green;}
                }
                &.transparent {
                    &:before {color:@navy-blue;}
                    &:after {border-top-color:@navy-blue;}
                }
                &.cheerful {
                    &:before {color:@orange;}
                    &:after {border-top-color:@orange;}
                }
            }
        }
    }
}





//CAREERS SECTION STYLES
#careers {position:relative; min-height:600px;}
#careers:before {
    position:absolute; z-index:2;
    content:'';
    height:100%; width:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.3);
}
#careers .content-col {position:relative; z-index:3;}
#careers .infinite-gallery {
    position:absolute; overflow:hidden; z-index:1;
    left:0;
    width:100%; height:33.33%;
}
#careers .infinite-gallery.one {top:0;}
#careers .infinite-gallery.two {top:33.33%;}
#careers .infinite-gallery.three {top:66.66%;}
#careers .infinite-gallery .gallery-img {
    position:absolute;
    top:0; left:0;
    background-repeat:no-repeat;
    background-size:cover;
    width:100%; height:100%;
}
#careers .infinite-gallery .gallery-img.two {left:100%;}

#careers .infinite-gallery.one .gallery-img {
    background-image:url(/Strategy/media/images/company/company_overview_careers-1.jpg);
    -webkit-animation:careers-slideshow 70s linear infinite;
    -moz-animation:   careers-slideshow 70s linear infinite;
    -o-animation:     careers-slideshow 70s linear infinite;
    animation:          careers-slideshow 70s linear infinite;
}
#careers .infinite-gallery.two .gallery-img {
    background-image:url(/Strategy/media/images/company/company_overview_careers-2.jpg);
    -webkit-animation:careers-slideshow 75s linear infinite reverse;
    -moz-animation:   careers-slideshow 75s linear infinite reverse;
    -o-animation:     careers-slideshow 75s linear infinite reverse;
    animation:          careers-slideshow 75s linear infinite reverse;
}
#careers .infinite-gallery.three .gallery-img {
    background-image:url(/Strategy/media/images/company/company_overview_careers-3.jpg);
    -webkit-animation:careers-slideshow 65s linear infinite;
    -moz-animation:   careers-slideshow 65s linear infinite;
    -o-animation:     careers-slideshow 65s linear infinite;
    animation:          careers-slideshow 65s linear infinite;
}

@-webkit-keyframes careers-slideshow {
    0%   {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
    100% {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
}
@-moz-keyframes careers-slideshow {
    0%   {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
    100% {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
}
@-o-keyframes careers-slideshow {
    0%   {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
    100% {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
}
@-ms-keyframes careers-slideshow {
    0%   {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
    100% {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
}
@keyframes careers-slideshow {
    0%   {-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
    100% {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
}

#roles-slider {
    .role-bio-photo {
        padding:20px 20px 20px 0;
        margin:0;
    }
}
#roles-nav {
    padding:0 50px;
    .role-bio-photo {margin:0 10px 0 0;}
    .grid-item {
        padding:7.5px;
        .align-items(stretch);
        .role-nav-card {
            cursor:pointer;
            width:100%;
            background-color:@light-gray;
            padding:10px;
            box-shadow:1px 1px 5px fade(@pure-black, 0%);
            border:1px solid @white;
            opacity:0.6;
            .transition;
            .text > p {
                margin:0; padding:0;
                &:first-child {margin-bottom:5px;}
            }
        }
        &.slick-current .role-nav-card {
            opacity:0.99;
            box-shadow:1px 1px 5px fade(@pure-black, 20%);
            background-color:@white;
            border-color:@gainsboro;
            cursor:default;
        }
    }
    @media @small-only {display:none;}
}

// CONTACT US SECTION STYLES
#contact-us {
    > .flex-row {position:relative; z-index:3;}
    #background-map {
        position:absolute; z-index:0;
        height:100%; width:100%;
        top:0; left:0;
        opacity:0.2;
        .supports.backgroundblendmode & {mix-blend-mode:multiply; opacity:0.6;}
    }
    .office-info-data {display:none;}
    #hero {
        > .flex-row {position:relative; z-index:3;}
        .angled-gradient(@navy-blue, @blue);
        color:@white;

        .angles-canvas {display:none;}
        > .flex-row.middle.around-xl {.align-items(flex-start);}

        .text-col > h1 {display:none;}
        .hero-container {
            position:relative;
            margin-top:10px; padding:20px;
            background-color:@white;
            .box-shadow(1px 1px 5px fade(@pure-black, 50%));
            color:@black;
            &.offices {padding-top:60px;}
            #office-selector {
                display:block; position:absolute;
                top:0; left:0;
                width:100%;
                background-color:#f2f2f2;
                border-width:0 0 1px 0;
                padding-left:25px;
            }
        }
        .form-col {
            #lead-gen-form {
                margin-top:10px; padding:20px;
                background-color:@white;
                .box-shadow(1px 1px 5px fade(@pure-black, 50%));
            }
            #form-content .flex-row:first-of-type {display:none;}
            .button.red {
                background-color:@black;
                &:hover {background-color:lighten(@black, 10%);}
                &:active {background-color:darken(@black, 10%);}
            }
        }
    }//end hero
}




// PRESS KIT PAGE STYLES
.top-banner.press-kit {background-image: url(/Strategy/media/images/company/company_hero-bkg_press-kit.jpg);}
#press-contact {
    .background-trans-black {background-color: rgba(0,0,0,0.2);}
    .card.component-white .card-header .card-corner {color:@navy-blue;}
}
#press-kit-screenshots .grid-item .overlay-black:after {.transition(); background-color: rgba(0,0,0,0.3);}
#press-kit-screenshots .grid-item:hover .overlay-black:after {background-color: rgba(0,0,0,0.0);}




//CAREERS PAGE STYLES
/*new banner*/
.careers-banner {
    display:block; position:relative;
    overflow:hidden;
    background-color:@black;

}
.careers-banner .banner-content {position:relative; z-index:2;}
.careers-banner .image-container {
    position:absolute; z-index:1;
    height:100%; width:100%;
    top:0; left:0;

    * {
        height: 100%;
    }
}
.careers-banner .image-container .fade-slider {position:relative; overflow:hidden; height:100%;}
.careers-banner .image-container .fade-slider .banner {
    height:100%; width:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

/*fullwidth image banners*/
.image-section {
    > .flex-row {min-height:65vh;}
    .background-trans-white {background-color:fade(@white, 90%);}
    &.diverse-people {background-image:url(/Strategy/media/images/company/careers/careers_overview_diverse-ppl-bkg.jpg);}
    &.work-life {background-image:url(/Strategy/media/images/company/careers/careers_overview_work-life-bkg.jpg);}
    &.at-the-table {background-image:url(/getmedia/d2a0bf7e-2893-4ab7-8c35-903a2b7b9edb/at-the-table);}
}
.global-team {background-image:url(/Strategy/media/images/company/careers/careers_overview_global-team-bkg.jpg);}

/*new job search*/
.smartWidget .srSearch {min-width:200px; height:auto; padding:10px;}
.smartWidget .srSearchForm {width:100%; min-width:200px; height:auto; margin-right:0;}
.smartWidget input[type=text].srSearchInput {
    display:inline-block;
    padding:5px 10px; float:none;
    height:auto; width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.smartWidget .srSearchButton {
    width:100%; height:auto;
    border:none; padding:7px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.smartWidget .srSearchButton:hover {border:none;}
.smartWidget .srSearchOption {width:50%; margin-top:10px; padding-right:10px;}
.smartWidget .srSearchOption .srSearchOptionText {
    display:block;
    width:100%; padding:5px 20px 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.smartWidget .srSearchOptionText:before {
    content:'';
    position:absolute;
    top:0; left:0;
    margin:0;
    border-left:none;
    width:1px; height:100%;
    background-color:#cccccc;
}
.smartWidget .srSearchOption:after {
    content:'';
    position:absolute;
    top:0; right:5px;
    margin:0;
    border-right:none;
    width:1px; height:100%;
    background-color:#cccccc;
}
.smartWidget .srSearchOptionText:after {right:5px;}
.smartWidget .srSearchForm,
.smartWidget .srSearchOption,
.smartWidget .srSearchForm,
.smartWidget .srSearchButton {
    display:inline-block; vertical-align:top;
    float:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sr-plugins--active {z-index:5000;}

/* Small devices (tablets, 768px and up) */
@media @medium {
    .smartWidget .srSearchForm {width:60%; vertical-align:middle;}
    .smartWidget input[type=text].srSearchInput {width:75%; max-width:none; margin-bottom:0px; padding:6px 10px;}
    .smartWidget .srSearchButton {width:~"calc(25% - 10px)"; margin-left:10px;}
    .smartWidget .srSearchOption {width:~"calc(20% - 10px)"; margin-left:10px; margin-top:0; vertical-align:middle;}
}







/*MD WIDTH STYLES AND UP*/
@media only screen and (min-width: 768px) {
    /* Timeline */
    .timeline-wrapper:before, .timeline-wrapper:after {
        position:absolute; z-index:3;
        content:'';
        height:370px; width:70px;
        top:0;
    }
    .timeline-wrapper:before {
        left:15px;
        background: -moz-linear-gradient(left,  rgba(51,51,51,1) 0%, rgba(51,51,51,0) 100%);
        background: -webkit-linear-gradient(left,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
        background: linear-gradient(to right,  rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00333333',GradientType=1 );
    }
    .timeline-wrapper:after {
        right:15px;
        background: -moz-linear-gradient(left,  rgba(51,51,51,0) 0%, rgba(51,51,51,1) 100%);
        background: -webkit-linear-gradient(left,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
        background: linear-gradient(to right,  rgba(51,51,51,0) 0%,rgba(51,51,51,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=1 );
    }
    .frame {height:350px;}
    .frame .timeline-list .timeline-item {
        margin:0 80px 0 -200px; padding:0 0 20px 30px;
        width:320px;
        transform: translateX(140px);
    }
    .frame .timeline-list .timeline-item:nth-child(even) {margin-top:175px;}
}








/*LG WIDTH STYLES AND UP*/
@media only screen and (min-width: 980px) {

}







/*XL WIDTH STYLES AND UP*/
@media only screen and (min-width: 1200px) {

}
