.triangle-group {
  position: relative;
  padding: 5px 0 5px 20px;
}
.triangle-group:before {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #D9232E;
  border-top: 10px solid transparent;
}
@media only screen and (min-width: 768px) {
  .triangle-group {
    padding-left: 25px;
  }
  .triangle-group:before {
    left: -15px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 15px;
  }
}
.triangle-group.red:before {
  border-right-color: #D9232E;
}
.triangle-group.orange:before {
  border-right-color: #FF9100;
}
.triangle-group.green:before {
  border-right-color: #68AA00;
}
.triangle-group.blue:before {
  border-right-color: #4789A3;
}
.triangle-group.navy-blue:before {
  border-right-color: #11566F;
}
.triangle-group.white:before {
  border-right-color: #FFFFFF;
}
.triangle-group.light-gray:before {
  border-right-color: #f2f2f2;
}
.triangle-group.gray:before {
  border-right-color: #999999;
}
.triangle-group.dark-gray:before {
  border-right-color: #777777;
}
.triangle-group.black:before {
  border-right-color: #333333;
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
.offpage-image.centered {
  margin-left: -25%;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left {
    margin-right: 5%;
  }
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right {
    margin-left: 5%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.z-2 {
  position: relative;
  z-index: 2;
}
.z-3 {
  position: relative;
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  .panelstack.vertical-panelstack {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    width: 100%;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-align-items: stretch;
    align-items: stretch;
    background-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack .panel-nav,
  .panelstack.vertical-panelstack .panel-content {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    float: none;
  }
  .panelstack.vertical-panelstack .panel-nav {
    z-index: 1;
    padding-bottom: 0;
    width: 40%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    background-color: #333333;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem {
    width: 100%;
    border: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a {
    color: #FFFFFF;
    padding: 15px 40px 15px 20px;
    opacity: 0.5;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:hover {
    color: #FFFFFF;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:before {
    display: block;
    position: absolute;
    content: '';
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FFFFFF;
    margin: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem > a:after {
    display: none;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a {
    opacity: 1;
    background-color: #D9232E;
    color: #FFFFFF;
  }
  .panelstack.vertical-panelstack .panel-nav .panel-nav-elem.active-panel > a:before {
    opacity: 1;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: #D9232E;
    -webkit-transform: translate(25px, -50%);
    transform: translate(25px, -50%);
  }
  .panelstack.vertical-panelstack .panel-content {
    z-index: 0;
    width: 60%;
    border: none;
    opacity: 0;
    -webkit-animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0.2s normal forwards;
    padding: 30px;
  }
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #D9232E;
  }
  .panelstack.vertical-panelstack.red .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #D9232E;
  }
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #4789A3;
  }
  .panelstack.vertical-panelstack.blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #4789A3;
  }
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #11566F;
  }
  .panelstack.vertical-panelstack.navy-blue .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #11566F;
  }
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #FF9100;
  }
  .panelstack.vertical-panelstack.orange .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #FF9100;
  }
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #68AA00;
  }
  .panelstack.vertical-panelstack.green .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #68AA00;
  }
  .panelstack.vertical-panelstack.gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #999999;
  }
  .panelstack.vertical-panelstack.gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #999999;
  }
  .panelstack.vertical-panelstack.light-gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack.light-gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #f2f2f2;
  }
  .panelstack.vertical-panelstack.dark-gray .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #777777;
  }
  .panelstack.vertical-panelstack.dark-gray .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #777777;
  }
  .panelstack.vertical-panelstack.black .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #333333;
  }
  .panelstack.vertical-panelstack.black .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #333333;
  }
  .panelstack.vertical-panelstack.white .panel-nav .panel-nav-elem.active-panel > a {
    background-color: #FFFFFF;
  }
  .panelstack.vertical-panelstack.white .panel-nav .panel-nav-elem.active-panel > a:before {
    border-left-color: #FFFFFF;
  }
}
@media only screen and (min-width: 980px) {
  .panelstack.vertical-panelstack .panel-nav {
    width: 30%;
  }
  .panelstack.vertical-panelstack .panel-content {
    width: 70%;
    padding: 30px 50px;
  }
}
#multi-control-slider-nav .grid-item {
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 35px 15px 20px 15px;
}
#multi-control-slider-nav .grid-item:before {
  content: '';
  position: absolute;
  display: block;
  top: 5px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #CCCCCC;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#multi-control-slider-nav .grid-item:hover:before {
  -webkit-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
}
#multi-control-slider-nav .grid-item.slick-current .icon {
  color: #D9232E;
}
#multi-control-slider-nav .grid-item.slick-current:before {
  border-bottom-color: #D9232E;
  -webkit-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
}
#multi-control-slider-nav .grid-item > * {
  width: 100%;
}
#multi-control-slider-nav .grid-item.component-orange.slick-current .icon,
#multi-control-slider-nav .grid-item.component-orange:hover .icon {
  color: #FF9100;
}
#multi-control-slider-nav .grid-item.component-orange.slick-current:before,
#multi-control-slider-nav .grid-item.component-orange:hover:before {
  border-bottom-color: #FF9100;
}
#multi-control-slider-nav .grid-item.component-green.slick-current .icon,
#multi-control-slider-nav .grid-item.component-green:hover .icon {
  color: #68AA00;
}
#multi-control-slider-nav .grid-item.component-green.slick-current:before,
#multi-control-slider-nav .grid-item.component-green:hover:before {
  border-bottom-color: #68AA00;
}
#multi-control-slider-nav .grid-item.component-blue.slick-current .icon,
#multi-control-slider-nav .grid-item.component-blue:hover .icon {
  color: #4789A3;
}
#multi-control-slider-nav .grid-item.component-blue.slick-current:before,
#multi-control-slider-nav .grid-item.component-blue:hover:before {
  border-bottom-color: #4789A3;
}
#multi-control-slider-nav .grid-item.component-navy-blue.slick-current .icon,
#multi-control-slider-nav .grid-item.component-navy-blue:hover .icon {
  color: #11566F;
}
#multi-control-slider-nav .grid-item.component-navy-blue.slick-current:before,
#multi-control-slider-nav .grid-item.component-navy-blue:hover:before {
  border-bottom-color: #11566F;
}
#multi-control-slider-nav.nav-above .grid-item {
  padding: 20px 15px 35px 15px;
}
#multi-control-slider-nav.nav-above .grid-item:before {
  border-top: 15px solid #CCCCCC;
  border-bottom: none;
  top: auto;
  bottom: 5px;
}
#multi-control-slider-nav.nav-above .grid-item:hover:before,
#multi-control-slider-nav.nav-above .grid-item.slick-current:before {
  -webkit-transform: translateY(5px) !important;
  transform: translateY(5px) !important;
  border-top-color: #D9232E;
}
#multi-control-slider-nav.nav-above .grid-item.component-orange.slick-current:before,
#multi-control-slider-nav.nav-above .grid-item.component-orange:hover:before {
  border-top-color: #FF9100;
}
#multi-control-slider-nav.nav-above .grid-item.component-green.slick-current:before,
#multi-control-slider-nav.nav-above .grid-item.component-green:hover:before {
  border-top-color: #68AA00;
}
#multi-control-slider-nav.nav-above .grid-item.component-blue.slick-current:before,
#multi-control-slider-nav.nav-above .grid-item.component-blue:hover:before {
  border-top-color: #4789A3;
}
#multi-control-slider-nav.nav-above .grid-item.component-navy-blue.slick-current:before,
#multi-control-slider-nav.nav-above .grid-item.component-navy-blue:hover:before {
  border-top-color: #11566F;
}
.related-items {
  background-color: #FFFFFF;
}
.related-items .flex-row.start {
  -webkit-justify-content: center;
  justify-content: center;
}
.related-items h2.text-normal.text-dark-gray {
  font-size: 1.57rem;
  line-height: 1.4;
  text-align: center;
  color: #333333;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.icon-instagram::before {
  content: "\eaf1";
}
.icon-wechat::before {
  content: "\eaf2";
}
#careers {
  position: relative;
  min-height: 600px;
}
#careers:before {
  position: absolute;
  z-index: 2;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
#careers .content-col {
  position: relative;
  z-index: 3;
}
.infinite-gallery {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 33.33%;
}
.infinite-gallery.one {
  top: 0;
}
.infinite-gallery.one .gallery-img {
  -webkit-animation: careers-slideshow 70s linear infinite;
  animation: careers-slideshow 70s linear infinite;
}
.infinite-gallery.two {
  top: 33.33%;
}
.infinite-gallery.two .gallery-img {
  -webkit-animation: careers-slideshow 75s linear infinite;
  animation: careers-slideshow 75s linear infinite;
}
.infinite-gallery.three {
  top: 66.66%;
}
.infinite-gallery.three .gallery-img {
  -webkit-animation: careers-slideshow 65s linear infinite;
  animation: careers-slideshow 65s linear infinite;
}
.infinite-gallery .gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.infinite-gallery .gallery-img.two {
  left: 100%;
}
.device-family {
  position: relative;
  padding-bottom: 5%;
  padding-top: 30px;
  margin-bottom: 30px;
}
.device-family .device-mockup {
  position: absolute;
  z-index: 1;
}
.device-family .device-mockup.iphone {
  width: 8%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.device-family .device-mockup.macbook-pro {
  width: 47%;
  bottom: 5%;
  left: 0;
}
.device-family .device-mockup.ipad {
  width: 24%;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.device-family .device-mockup.ipad.white {
  width: 30%;
  bottom: 6%;
  right: 5%;
}
.device-family .device-mockup.mac-thunderbolt {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 60%;
}
.white-popup.leadership-popup {
  max-width: 800px;
}
.white-popup.popup-width-jumbo {
  max-width: 1200px;
}
.white-popup.popup-width-large {
  max-width: 1000px;
}
.white-popup.popup-width-medium {
  max-width: 800px;
}
.white-popup.popup-width-small {
  max-width: 800px;
}
.white-popup.popup-width-tiny {
  max-width: 400px;
}
.angle-background {
  position: relative;
  overflow: hidden;
}
.angle-background > .flex-row {
  position: relative;
  z-index: 1;
}
.angle-background .angle-wrapper {
  display: block;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: visible;
}
.angle-background .angle-wrapper .angle {
  position: absolute;
  backface-visibility: visible;
  background-color: #000000;
  mix-blend-mode: multiply;
  opacity: 0.2;
}
.angle-background .angle-wrapper .angle:before {
  content: '';
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
.angle-background .angle-wrapper .angle.top {
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0) !important;
  clip-path: polygon(100% 100%, 100% 0, 0 0) !important;
  z-index: 1;
  width: 50%;
  right: 0;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .angle-background .angle-wrapper .angle.top {
    width: 25%;
  }
}
.angle-background .angle-wrapper .angle.bottom {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%) !important;
  clip-path: polygon(100% 0, 100% 100%, 0 100%) !important;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 125%;
}
@media only screen and (min-width: 768px) {
  .angle-background .angle-wrapper .angle.bottom {
    width: 50%;
  }
}
.angle-background .angle-wrapper.left-side .angle.top {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0) !important;
  clip-path: polygon(0 0, 0 100%, 100% 0) !important;
  right: auto;
  left: 0;
}
.angle-background .angle-wrapper.left-side .angle.bottom {
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%) !important;
  clip-path: polygon(0 0, 100% 100%, 0 100%) !important;
  right: auto;
  left: 0;
  width: 125%;
}
@media only screen and (min-width: 768px) {
  .angle-background .angle-wrapper.left-side .angle.bottom {
    width: 50%;
  }
}
.InternetExplorer .angle-background .angle-wrapper {
  display: none;
}
#roles-slider .role-bio-photo {
  padding: 20px 20px 20px 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  #roles-slider .role-bio-photo {
    width: 200px;
  }
}
#roles-slider .slick-slide {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  min-height: 20px;
}
@media only screen and (max-width: 767px) {
  #roles-slider .slick-slide .answers-col {
    max-height: 600px;
    overflow: auto;
    background-color: #f2f2f2;
  }
}
#roles-nav {
  padding: 0 50px;
}
#roles-nav .grid-item {
  padding: 7.5px;
  -webkit-align-items: stretch;
  align-items: stretch;
}
#roles-nav .grid-item .role-nav-card {
  cursor: pointer;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0);
  border: 1px solid #FFFFFF;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#roles-nav .grid-item .role-nav-card .role-bio-photo {
  margin: 0 10px 0 0;
}
#roles-nav .grid-item .role-nav-card .text > p {
  margin: 0;
  padding: 0;
}
#roles-nav .grid-item .role-nav-card .text > p:first-child {
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  #roles-nav .grid-item .role-nav-card {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  #roles-nav .grid-item .role-nav-card .role-bio-photo {
    margin: 0 0 10px 0;
  }
}
#roles-nav .grid-item.slick-current .role-nav-card {
  opacity: 0.99;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  cursor: default;
}
.timeline-wrapper {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .timeline-wrapper {
    opacity: 0;
    -webkit-animation: fade-in 1s ease-out 2s normal forwards;
    animation: fade-in 1s ease-out 2s normal forwards;
  }
}
.frame {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 450px;
  padding: 0;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .frame {
    height: 350px;
  }
}
.frame:before {
  position: absolute;
  z-index: 1;
  content: '';
  height: 8px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -4px;
  background-color: #777777;
}
.frame .timeline-list {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.frame .timeline-list .timeline-item {
  position: relative;
  z-index: 2;
  float: left;
  margin: 0 20px 0 -150px;
  padding: 0 0 20px 30px;
  width: 300px;
  height: 50%;
  text-align: left;
  color: #f2f2f2;
  -webkit-transform: translateX(90px);
  transform: translateX(90px);
}
@media only screen and (min-width: 768px) {
  .frame .timeline-list .timeline-item {
    margin: 0 80px 0 -200px;
    padding: 0 0 20px 30px;
    width: 400px;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}
.frame .timeline-list .timeline-item:nth-child(even) {
  margin-top: 225px;
  padding: 20px 0 0 30px;
}
@media only screen and (min-width: 768px) {
  .frame .timeline-list .timeline-item:nth-child(even) {
    margin-top: 175px;
  }
}
.frame .timeline-list .timeline-item:nth-child(even) .flag {
  bottom: 50%;
  top: auto;
}
.frame .timeline-list .timeline-item:nth-child(even) .flag:before,
.frame .timeline-list .timeline-item:nth-child(even) .flag:after {
  top: auto;
}
.InternetExplorer .frame .timeline-list .timeline-item .text {
  max-width: 185px;
}
@media only screen and (min-width: 768px) {
  .InternetExplorer .frame .timeline-list .timeline-item .text {
    max-width: 305px;
  }
}
.frame .timeline-list .timeline-item:before {
  display: block;
  position: absolute;
  z-index: 2;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -15px;
  height: 30px;
  width: 15px;
  background-color: #FFFFFF;
}
.frame .timeline-list .timeline-item .text {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  opacity: 0.6;
  -webkit-transition: ease-out opacity 0.2s 0s;
  transition: ease-out opacity 0.2s 0s;
}
.frame .timeline-list .timeline-item .text h3 {
  margin-bottom: 5px;
}
.frame .timeline-list .timeline-item.active .text {
  opacity: 1;
}
.frame .timeline-list .timeline-item .flag {
  display: block;
  position: absolute;
  z-index: 4;
  width: 3px;
  height: 50%;
  background-color: #FFFFFF;
  left: 0;
  top: 50%;
}
.frame .timeline-list .timeline-item .flag:before,
.frame .timeline-list .timeline-item .flag:after {
  display: block;
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  background-color: #333333;
}
.frame .timeline-list .timeline-item .flag:before {
  z-index: 3;
  margin-left: -8px;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}
.frame .timeline-list .timeline-item .flag:after {
  z-index: 2;
  margin-left: -13px;
  margin-top: -9px;
  height: 18px;
  width: 30px;
}
.frame .timeline-list .timeline-item.red:before,
.frame .timeline-list .timeline-item.red .flag {
  background-color: #D9232E;
}
.frame .timeline-list .timeline-item.red .flag:before {
  border-color: #D9232E;
}
.frame .timeline-list .timeline-item.orange:before,
.frame .timeline-list .timeline-item.orange .flag {
  background-color: #FF9100;
}
.frame .timeline-list .timeline-item.orange .flag:before {
  border-color: #FF9100;
}
.frame .timeline-list .timeline-item.green:before,
.frame .timeline-list .timeline-item.green .flag {
  background-color: #68AA00;
}
.frame .timeline-list .timeline-item.green .flag:before {
  border-color: #68AA00;
}
.frame .timeline-list .timeline-item.blue:before,
.frame .timeline-list .timeline-item.blue .flag {
  background-color: #4789A3;
}
.frame .timeline-list .timeline-item.blue .flag:before {
  border-color: #4789A3;
}
.frame .timeline-list .timeline-item.navy-blue:before,
.frame .timeline-list .timeline-item.navy-blue .flag {
  background-color: #11566F;
}
.frame .timeline-list .timeline-item.navy-blue .flag:before {
  border-color: #11566F;
}
.scrollbar {
  position: relative;
  z-index: 2;
  margin: 20px auto;
  height: 30px;
  width: calc(100% - 60px);
  line-height: 0;
}
.scrollbar:before {
  display: block;
  position: absolute;
  z-index: -2;
  content: '';
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  border-bottom: 3px solid #999999;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  margin-top: -15px;
  background-color: rgba(217, 35, 46, 0.7);
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scrollbar .handle .mousearea:before {
  display: block;
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid rgba(217, 35, 46, 0.7);
}
.timeline-nav {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.timeline-nav .dot-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
.timeline-nav .dot {
  position: relative;
}
.timeline-nav .dot:before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #bbbbbb;
}
.controls {
  display: block;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  width: 100%;
  height: 30px;
}
.controls .btn {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  opacity: 1;
  color: #999999;
  -webkit-transition: ease-out opacity 0.2s 0s;
  transition: ease-out opacity 0.2s 0s;
}
.controls .btn.disabled {
  opacity: 0.2;
}
.controls .btn.prev {
  left: 0px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.controls .btn.next {
  right: 0px;
}
#values-slider {
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: 768px) {
  #values-slider {
    padding-left: 104px;
    padding-right: 104px;
  }
}
#values-slider .slick-arrow {
  padding: 20px;
  opacity: 0.5;
}
#values-slider .slick-arrow:hover {
  opacity: 1;
}
#values-slider .slick-slide {
  padding-top: 0;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  #values-slider .slick-slide {
    padding-top: 200px;
    padding-bottom: 50px;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
#values-slider .slick-slide ul {
  list-style: none;
}
#values-slider .slick-slide ul > li {
  position: relative;
  padding-bottom: 10px;
}
#values-slider .slick-slide ul > li:before {
  display: block;
  position: absolute;
  content: '';
  top: 3px;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}
#values-slider .slick-slide.component-red ul > li:before {
  border-right-color: #D9232E;
}
#values-slider .slick-slide.component-orange ul > li:before {
  border-right-color: #FF9100;
}
#values-slider .slick-slide.component-green ul > li:before {
  border-right-color: #68AA00;
}
#values-slider .slick-slide.component-blue ul > li:before {
  border-right-color: #4789A3;
}
#values-slider .slick-slide.component-navy-blue ul > li:before {
  border-right-color: #11566F;
}
#values-slider .slick-dots {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  #values-slider .slick-dots {
    height: 180px;
  }
}
#values-slider .slick-dots > li {
  padding: 0 20px;
  max-width: 20%;
  margin-left: -4px;
}
#values-slider .slick-dots > li .values-nav {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  opacity: 0.4;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#values-slider .slick-dots > li .values-nav:before {
  display: block;
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto 20px auto;
  font-size: 64px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#values-slider .slick-dots > li .values-nav:after {
  display: block;
  position: absolute;
  content: '';
  bottom: -10px;
  left: 50%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 10px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#values-slider .slick-dots > li .values-nav:hover {
  opacity: .75;
}
#values-slider .slick-dots > li .values-nav.engaged:before {
  content: '\e95c';
}
#values-slider .slick-dots > li .values-nav.precise:before {
  content: '\ea2d';
}
#values-slider .slick-dots > li .values-nav.agile:before {
  content: '\e97f';
}
#values-slider .slick-dots > li .values-nav.transparent:before {
  content: '\e98b';
}
#values-slider .slick-dots > li .values-nav.cheerful:before {
  content: '\e9ac';
}
#values-slider .slick-dots > li.slick-active .values-nav {
  opacity: 1;
  padding: 15px 20px;
}
#values-slider .slick-dots > li.slick-active .values-nav.engaged:before {
  color: #D9232E;
}
#values-slider .slick-dots > li.slick-active .values-nav.engaged:after {
  border-top-color: #D9232E;
}
#values-slider .slick-dots > li.slick-active .values-nav.precise:before {
  color: #4789A3;
}
#values-slider .slick-dots > li.slick-active .values-nav.precise:after {
  border-top-color: #4789A3;
}
#values-slider .slick-dots > li.slick-active .values-nav.agile:before {
  color: #68AA00;
}
#values-slider .slick-dots > li.slick-active .values-nav.agile:after {
  border-top-color: #68AA00;
}
#values-slider .slick-dots > li.slick-active .values-nav.transparent:before {
  color: #11566F;
}
#values-slider .slick-dots > li.slick-active .values-nav.transparent:after {
  border-top-color: #11566F;
}
#values-slider .slick-dots > li.slick-active .values-nav.cheerful:before {
  color: #FF9100;
}
#values-slider .slick-dots > li.slick-active .values-nav.cheerful:after {
  border-top-color: #FF9100;
}
.Company.company-overview-page #page-hero .background-trans-black {
  min-height: 100%;
}
.Company.company-overview-page #multi-control-slider .slick-slide {
  display: block;
}
.Company.company-overview-page #leadership .leadership-photo {
  width: 200px;
}
@media only screen and (min-width: 768px) {
  .Company.company-overview-page #leadership .leadership-photo {
    width: calc(100% - 40px);
    margin-bottom: 30px;
  }
}
.Careers.careers-overview-page #page-hero {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}
.Careers.careers-overview-page #page-hero > .flex-row {
  position: relative;
  z-index: 2;
}
.Careers.careers-overview-page #page-hero .image-revolver {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 767px) {
  .Careers.careers-overview-page #page-hero .image-revolver {
    opacity: 0.5;
  }
}
.Careers.careers-overview-page #page-hero .image-revolver .revolver-img {
  position: absolute;
  opacity: 0;
  height: 75%;
  top: -5%;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-hero .image-revolver .revolver-img {
    height: auto;
    width: 40%;
  }
}
.Careers.careers-overview-page #page-hero .image-revolver .revolver-img.running {
  -webkit-animation: career-hero-graphic-ltr 12s ease 0s normal infinite;
  animation: career-hero-graphic-ltr 12s ease 0s normal infinite;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-hero .image-revolver .revolver-img.running {
    width: 55%;
    top: -10%;
    right: 65%;
  }
}
.Careers.careers-overview-page #page-hero .image-revolver .revolver-img.vr {
  top: auto;
  bottom: -15%;
  left: 25%;
  -webkit-animation: career-hero-graphic-rtl 12s ease -3s normal infinite;
  animation: career-hero-graphic-rtl 12s ease -3s normal infinite;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-hero .image-revolver .revolver-img.vr {
    bottom: 5%;
    width: 35%;
    left: 67%;
  }
}
.Careers.careers-overview-page #page-hero .image-revolver .revolver-img.sparks {
  -webkit-animation: career-hero-graphic-ltr 12s ease -6s normal infinite;
  animation: career-hero-graphic-ltr 12s ease -6s normal infinite;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-hero .image-revolver .revolver-img.sparks {
    right: 63%;
  }
}
.Careers.careers-overview-page #page-hero .image-revolver .revolver-img.chess {
  top: auto;
  bottom: -15%;
  left: 25%;
  -webkit-animation: career-hero-graphic-btt 12s ease -9s normal infinite;
  animation: career-hero-graphic-btt 12s ease -9s normal infinite;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-hero .image-revolver .revolver-img.chess {
    bottom: 5%;
    left: 63%;
  }
}
.Careers.careers-overview-page .background-decoration-wrapper {
  position: relative;
  overflow: hidden;
}
.Careers.careers-overview-page .background-decoration-wrapper .background-decoration {
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page .background-decoration-wrapper .background-decoration {
    width: 25%;
  }
}
.Careers.careers-overview-page .background-decoration-wrapper .background-decoration.top-right {
  top: 0;
  right: 0;
  margin-right: -7%;
}
.Careers.careers-overview-page .background-decoration-wrapper .background-decoration.bottom-right {
  bottom: 0;
  right: 0;
  margin-right: -7%;
}
.Careers.careers-overview-page .background-decoration-wrapper .background-decoration.bottom-left {
  bottom: 0;
  left: 0;
  margin-left: -7%;
}
.Careers.careers-overview-page .social-bar {
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: none;
  width: auto;
  padding-top: 40px;
  padding: 10px;
  border-bottom: 2px solid #D9232E;
}
.Careers.careers-overview-page .social-bar .hashtag {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  color: #333333;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page .social-bar .hashtag {
    width: auto;
    margin-bottom: 0;
    padding-right: 20px;
  }
}
.Careers.careers-overview-page .social-bar .hashtag:hover {
  color: #D9232E;
}
.Careers.careers-overview-page .social-bar .icon {
  margin-left: 10px;
}
.Careers.careers-overview-page .social-bar .icon:hover {
  background-color: #D9232E;
}
.Careers.careers-overview-page #introduction .background-decoration.top-right {
  margin-top: -5%;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #job-openings .angle.top {
    width: 20%;
  }
  .Careers.careers-overview-page #job-openings .angle.bottom {
    width: 35%;
  }
}
.Careers.careers-overview-page #perks #photo-slider {
  padding: 0 20px;
}
.Careers.careers-overview-page #perks #photo-slider .grid-item {
  padding: 15px 2px;
}
.Careers.careers-overview-page #profiles.background-decoration-wrapper .background-decoration {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.Careers.careers-overview-page #profiles.background-decoration-wrapper .background-decoration.top-right {
  margin-top: -3%;
  margin-right: -7%;
}
.Careers.careers-overview-page #profiles.background-decoration-wrapper .background-decoration.bottom-left {
  margin-bottom: 5%;
  margin-left: -5%;
}
.Careers.careers-overview-page #profiles.background-decoration-wrapper .background-decoration.bottom-right {
  z-index: 0 width:75%;
  margin-bottom: 5%;
  margin-left: -5%;
}
.Careers.careers-overview-page #profiles .grid-item {
  padding: 40px;
  text-align: center;
}
.Careers.careers-overview-page .headshot-wrapper {
  display: block;
  position: relative;
  padding: 20px;
  margin: 0 20px;
  max-width: 300px;
}
.Careers.careers-overview-page .headshot-wrapper .headshot {
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin: 0;
}
.Careers.careers-overview-page .headshot-wrapper .decoration {
  position: absolute;
  z-index: 2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #999999;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.Careers.careers-overview-page .headshot-wrapper .decoration:before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #999999;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.Careers.careers-overview-page .headshot-wrapper .decoration.top-left {
  top: 3%;
  left: 1%;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.top-left:before {
  top: 60%;
  left: 130%;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.top-right {
  top: 15%;
  right: 0;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.top-right:before {
  top: -105%;
  left: -50%;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.bottom-left {
  height: 15px;
  width: 15px;
  bottom: 15%;
  left: -5%;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.bottom-left:before {
  display: none;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.bottom-right {
  bottom: 5%;
  right: 15%;
}
.Careers.careers-overview-page .headshot-wrapper .decoration.bottom-right:before {
  top: 80%;
  left: -100%;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.top-left {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.top-left:before {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.top-right {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.top-right:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.bottom-left {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.bottom-right {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.red .decoration.bottom-right:before {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.top-left {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.top-left:before {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.top-right {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.top-right:before {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.bottom-left {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.bottom-right {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.orange .decoration.bottom-right:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.top-left {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.top-left:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.top-right {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.top-right:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.bottom-left {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.bottom-right {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.green .decoration.bottom-right:before {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.top-left {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.top-left:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.top-right {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.top-right:before {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.bottom-left {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.bottom-right {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.blue .decoration.bottom-right:before {
  background-color: #4789A3;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.top-left {
  background-color: #11566F;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.top-left:before {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.top-right {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.top-right:before {
  background-color: #68AA00;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.bottom-left {
  background-color: #FF9100;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.bottom-right {
  background-color: #D9232E;
}
.Careers.careers-overview-page .headshot-wrapper.navy-blue .decoration.bottom-right:before {
  background-color: #4789A3;
}
.Careers.careers-overview-page .white-popup > .flex-row {
  position: relative;
  z-index: 1;
}
.Careers.careers-overview-page .white-popup.background-decoration-wrapper .background-decoration {
  z-index: 0;
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  width: 35%;
  margin-bottom: 5%;
  margin-left: -5%;
}
.Careers.careers-overview-page #global-reach {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
}
.Careers.careers-overview-page #global-reach > .flex-row {
  position: relative;
  z-index: 2;
}
.Careers.careers-overview-page #global-reach .map-background {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 100%;
  max-width: 1600px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.1;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #global-reach .map-background {
    width: 110%;
    height: auto;
  }
}
.Careers.careers-overview-page #disclaimer {
  padding: 30px 0;
  border-bottom: 1px solid #999999;
}
@media only screen and (min-width: 768px) {
  .Careers.careers-overview-page #page-cta .angle.top {
    width: 20%;
  }
  .Careers.careers-overview-page #page-cta .angle.bottom {
    width: 35%;
  }
}
.JobOpenings #page-hero .image-background {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: 800px;
  opacity: 0.45;
}
@media only screen and (min-width: 768px) {
  .JobOpenings #page-hero .image-background {
    width: 110%;
    height: auto;
  }
}
.careers-banner {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #333333;
}
.careers-banner .banner-content {
  position: relative;
  z-index: 2;
}
.careers-banner .image-container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.careers-banner .image-container * {
  height: 100%;
}
.careers-banner .image-container .fade-slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.careers-banner .image-container .fade-slider .banner {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*fullwidth image banners*/
.image-section > .flex-row {
  min-height: 65vh;
}
.image-section .background-trans-white {
  background-color: rgba(255, 255, 255, 0.9);
}
.smartWidget .srSearch {
  min-width: 200px;
  height: auto;
  padding: 10px;
}
.smartWidget .srSearchForm {
  width: 100%;
  min-width: 200px;
  height: auto;
  margin-right: 0;
}
.smartWidget input[type=text].srSearchInput {
  display: inline-block;
  padding: 5px 10px;
  float: none;
  height: auto;
  width: 100%;
}
.smartWidget .srSearchButton {
  width: 100%;
  height: auto;
  border: none;
  padding: 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.smartWidget .srSearchButton:hover {
  border: none;
}
.smartWidget .srSearchOption {
  width: 50%;
  margin-top: 10px;
  padding-right: 10px;
}
.smartWidget .srSearchOption .srSearchOptionText {
  display: block;
  width: 100%;
  padding: 5px 20px 5px 10px;
}
.smartWidget .srSearchOption .srSearchOptionText:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-left: none;
  width: 1px;
  height: 100%;
  background-color: #cccccc;
}
.smartWidget .srSearchOption .srSearchOptionText:after {
  right: 5px;
}
.smartWidget .srSearchOption:after {
  content: '';
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  border-right: none;
  width: 1px;
  height: 100%;
  background-color: #cccccc;
}
.smartWidget .srSearchForm,
.smartWidget .srSearchOption,
.smartWidget .srSearchForm,
.smartWidget .srSearchButton {
  display: inline-block;
  vertical-align: top;
  float: none;
}
@media only screen and (min-width: 768px) {
  .smartWidget .srSearchForm {
    width: 60%;
    vertical-align: middle;
  }
  .smartWidget input[type=text].srSearchInput {
    width: 75%;
    max-width: none;
    margin-bottom: 0px;
    padding: 6px 10px;
  }
  .smartWidget .srSearchButton {
    width: calc(25% - 10px);
    margin-left: 10px;
  }
  .smartWidget .srSearchOption {
    width: calc(20% - 10px);
    margin-left: 10px;
    margin-top: 0;
    vertical-align: middle;
  }
}
.sr-plugins--active {
  z-index: 5000;
}
.Contact #contact-us > .flex-row {
  position: relative;
  z-index: 3;
}
.Contact #contact-us #background-map {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
.supports.backgroundblendmode .Contact #contact-us #background-map {
  mix-blend-mode: multiply;
  opacity: 0.6;
}
.Contact #contact-us .office-info-data {
  display: none;
}
.Contact #contact-us #hero {
  background: #4789A3;
  background: -webkit-linear-gradient(45deg, #11566F, #4789A3);
  background: linear-gradient(45deg, #11566F, #4789A3);
  color: #FFFFFF;
}
.Contact #contact-us #hero > .flex-row {
  position: relative;
  z-index: 3;
}
.Contact #contact-us #hero .angles-canvas {
  display: none;
}
.Contact #contact-us #hero > .flex-row.middle.around-xl {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.Contact #contact-us #hero .text-col > h1 {
  display: none;
}
.Contact #contact-us #hero .hero-container {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: #333333;
}
.Contact #contact-us #hero .hero-container.offices {
  padding-top: 60px;
}
.Contact #contact-us #hero .hero-container #office-selector {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  border-width: 0 0 1px 0;
  padding-left: 25px;
}
.Contact #contact-us #hero .form-col #lead-gen-form {
  margin-top: 10px;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.Contact #contact-us #hero .form-col #form-content .flex-row:first-of-type {
  display: none;
}
.Contact #contact-us #hero .form-col .button.red {
  background-color: #333333;
}
.Contact #contact-us #hero .form-col .button.red:hover {
  background-color: #4d4d4d;
}
.Contact #contact-us #hero .form-col .button.red:active {
  background-color: #1a1a1a;
}
.PressKit #press-contact .background-trans-black {
  background-color: rgba(0, 0, 0, 0.2);
}
.PressKit #press-contact .card.component-white .card-header .card-corner {
  color: #11566F;
}
.PressKit #press-kit-screenshots .grid-item .overlay-black:after {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.3);
}
.PressKit #press-kit-screenshots .grid-item:hover .overlay-black:after {
  background-color: rgba(0, 0, 0, 0);
}
.Partners #partnership-opportunities {
  overflow: hidden;
}
.Partners #partnership-opportunities .device-mockup.macbook-air {
  position: relative;
  z-index: 0;
  margin-left: 10%;
  width: 170%;
}
.Partners #partnership-opportunities .device-mockup.ipad {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 10%;
  bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .passed-view .delay02 {
    -webkit-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .passed-view .delay04 {
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .passed-view .delay06 {
    -webkit-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .passed-view .delay08 {
    -webkit-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .passed-view .delay10 {
    -webkit-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .passed-view .delay12 {
    -webkit-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .passed-view .delay14 {
    -webkit-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .passed-view .delay16 {
    -webkit-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .passed-view .delay18 {
    -webkit-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .passed-view .delay20 {
    -webkit-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down,
  .fade-in {
    opacity: 0;
  }
  .passed-view .slide-up {
    -webkit-animation: fade-slide-up 0.3s ease-out 0s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-left {
    -webkit-animation: fade-slide-left 0.3s ease-out 0s normal forwards;
    animation: fade-slide-left 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-right {
    -webkit-animation: fade-slide-right 0.3s ease-out 0s normal forwards;
    animation: fade-slide-right 0.3s ease-out 0s normal forwards;
  }
  .passed-view .slide-down {
    -webkit-animation: fade-slide-down 0.3s ease-out 0s normal forwards;
    animation: fade-slide-down 0.3s ease-out 0s normal forwards;
  }
  .passed-view .fade-in {
    -webkit-animation: fade-in 0.3s ease-out 0s normal forwards;
    animation: fade-in 0.3s ease-out 0s normal forwards;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes careers-slideshow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes careers-slideshow {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes career-hero-graphic-ltr {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@keyframes career-hero-graphic-ltr {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
}
@-webkit-keyframes career-hero-graphic-rtl {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@keyframes career-hero-graphic-rtl {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@-webkit-keyframes career-hero-graphic-btt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@keyframes career-hero-graphic-btt {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
@-webkit-keyframes career-hero-graphic-ttb {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes career-hero-graphic-ttb {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
