h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#get-started .flex.column .button {
  margin-top: auto;
}
.most-popular {
  position: relative;
  overflow: hidden;
}
.most-popular:before {
  content: "Most Popular";
  display: block;
  position: absolute;
  top: 25px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 5px 30px;
  background-color: #D9232E;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  .education.overview #hero {
    padding-bottom: 80px;
  }
}
.education.overview #hero .hero-block {
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .education.overview #hero .hero-block {
    padding: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .education.overview #hero .hero-block {
    padding: 50px;
  }
}
#testimonials-slider .testimonial {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}
#testimonials-slider .testimonial > * {
  max-width: 100%;
}
#testimonials-slider .testimonial .logo {
  max-width: 250px;
  max-height: 100px;
}
#testimonials-slider .slick-dots {
  margin-top: 20px;
}
#delivery-options .macbook-air {
  width: 85%;
  margin: -25% auto 0 auto;
}
#delivery-options #environment-slider .image-slide {
  border: 5px solid #CCCCCC;
}
#delivery-options .content-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 30px;
  cursor: default;
}
#delivery-options .content-slide:not(.slick-current) {
  opacity: .5;
}
#payment-options .payment-option {
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  #payment-options .payment-option {
    padding: 30px;
  }
}
#payment-options .payment-option.most-popular {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.course-title,
.certification-title {
  font-weight: 400;
}
.course-description,
.certification-description {
  line-height: 1.5;
}
.course-title {
  color: #333333;
}
.course-date {
  margin-top: -15px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.course-description {
  color: #999999;
}
.education.list.page .certification.card .certification-title {
  color: #333333;
}
.education.list.page .certification.card .certification-description {
  color: #999999;
}
.education.list.page .gridder-expanded-content .certification-title {
  font-size: 36px;
  line-height: 1.2;
}
.education.list.page .gridder-expanded-content .certification-badge {
  width: 150px;
  height: 150px;
}
.education.list.page .gridder-expanded-content .certification-description {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: .01em;
}
.education.list.page .gridder-expanded-content .certification-badge {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .education.list.page .gridder-expanded-content .certification-badge {
    margin: 0 30px 0 0;
  }
}
@media only screen and (min-width: 768px) {
  .education.list.page .gridder-expanded-content .certification-details {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.education.course.page {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.education.course.page .course-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .education.course.page .course-title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) {
  .education.course.page .course-title {
    font-size: 36px;
  }
}
.education.course.page .course-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .education.course.page .course-description {
    font-size: 18px;
  }
}
.education.course.page .course-panel {
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  line-height: 1.4;
}
.education.course.page .course-panel .course-panel-title {
  font-weight: 400;
}
.education.course.page .course-panel .course-panel-subtitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.education.course.page .course-agenda a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.education.course.page .course-detail .course-panel-subtitle {
  margin-bottom: 0;
}
.education.course.page .course-detail .course-detail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.education.course.page .course-detail .course-detail-list > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0;
}
.education.course.page .course-detail .course-prerequisite {
  white-space: nowrap;
}
.education.course.page #no-classes {
  text-align: center;
}
.education.course.page .instructor-photo {
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.education.course.page .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.education.course.page .instructor-location {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.education.course.page .instructor-bio {
  font-size: 16px;
  font-weight: 300;
}
.education.course.page #course-classes .instructor {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.education.course.page #course-classes .instructor-photo {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border-radius: 50%;
}
.education.course.page #instructors-slider .instructor {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.education.course.page #instructors-slider .slick-track {
  margin: 0 auto;
}
.education.course.page #instructors-slider .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.instructor-popup {
  max-width: 800px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.instructor-popup .instructor-photo {
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.instructor-popup .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.instructor-popup .instructor-location {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.instructor-popup .instructor-bio {
  font-size: 16px;
  font-weight: 300;
}
.gridder.hasSelectedItem {
  display: block;
  font-size: 0;
}
.gridder .gridder-list .card {
  cursor: pointer;
}
.gridder .gridder-list .card .solution-category {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.gridder.hasSelectedItem .gridder-list .card {
  opacity: .5;
}
.gridder.hasSelectedItem .gridder-list .card:hover {
  opacity: 1;
}
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 15px;
  font-size: initial;
}
.gridder-padding {
  position: relative;
  padding: 15px;
  background-color: #eaeaea;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  .gridder-padding {
    padding: 30px;
  }
}
.gridder-navigation {
  display: -webkit-inline-flex;
  display: inline-flex;
  float: right;
}
.gridder-navigation a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: none;
  display: block;
  position: relative;
  padding: 20px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  -webkit-order: 1;
  order: 1;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #999999;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #cccccc;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #999999;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .25;
  cursor: default;
}
.gridder-navigation a.gridder-nav:not(.disabled):hover:before {
  color: #333333;
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:hover:after {
  background-color: #333333;
}
