p:empty {
  margin-bottom: 0!important;
}
[class*="col-"].shrink {
  max-width: 100%;
}
a.text-white,
a.text-white:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.button-group .button {
  max-width: 100%;
}
.cards .card {
  opacity: 1;
  border: 1px solid #f2f2f2;
}
.button {
  font-weight: 600;
}
.text-block,
.text-block-group {
  color: #333333;
}
.text-block.red,
.text-block-group.red,
.text-block.orange,
.text-block-group.orange,
.text-block.green,
.text-block-group.green,
.text-block.blue,
.text-block-group.blue,
.text-block.navy-blue,
.text-block-group.navy-blue,
.text-block.black,
.text-block-group.black {
  color: #FFFFFF;
}
.icon-link-grid {
  background-color: transparent!important;
}
.icon-link-grid .grid-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.icon-link-grid .grid-item > .icon,
.icon-link-grid .grid-item > span {
  z-index: 1;
}
.icon-link-grid .grid-item .icon {
  margin-right: 10px;
}
.icon-link-grid .grid-item:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.icon-link-grid .grid-item:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: transparent;
}
.icon-link-grid .grid-item.red:before {
  background-color: #D9232E;
}
.icon-link-grid .grid-item.orange:before {
  background-color: #FF9100;
}
.icon-link-grid .grid-item.green:before {
  background-color: #68AA00;
}
.icon-link-grid .grid-item.blue:before {
  background-color: #4789A3;
}
.icon-link-grid .grid-item.navy-blue:before {
  background-color: #11566F;
}
.icon-link-grid .grid-item:hover {
  padding-left: 20px;
  padding-right: 10px;
}
.icon-link-grid .grid-item:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.icon-link-grid .grid-item:hover.red .icon {
  color: #D9232E;
}
.icon-link-grid .grid-item:hover.orange .icon {
  color: #FF9100;
}
.icon-link-grid .grid-item:hover.green .icon {
  color: #68AA00;
}
.icon-link-grid .grid-item:hover.blue .icon {
  color: #4789A3;
}
.icon-link-grid .grid-item:hover.navy-blue .icon {
  color: #11566F;
}
.icon-link-grid.light .grid-item {
  color: #333333;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.light .grid-item:hover:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.icon-link-grid.dark .grid-item {
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-width: 0 1px 1px 0;
}
.icon-link-grid.dark .grid-item:hover:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.icon-link-grid.background-white > .grid-item {
  background-color: #FFFFFF;
}
.icon-link-grid.background-light-gray > .grid-item {
  background-color: #f2f2f2;
}
.icon-link-grid.background-gray > .grid-item {
  background-color: #999999;
}
.icon-link-grid.background-dark-gray > .grid-item {
  background-color: #777777;
}
.icon-link-grid.background-black > .grid-item {
  background-color: #333333;
}
.icon-link-grid.background-red > .grid-item {
  background-color: #D9232E;
}
.icon-link-grid.background-orange > .grid-item {
  background-color: #FF9100;
}
.icon-link-grid.background-green > .grid-item {
  background-color: #68AA00;
}
.icon-link-grid.background-blue > .grid-item {
  background-color: #4789A3;
}
.icon-link-grid.background-navy-blue > .grid-item {
  background-color: #11566F;
}
.icon-link-grid.background-trans-black > .grid-item {
  background-color: rgba(0, 0, 0, 0.7);
}
.icon-link-grid.background-trans-white > .grid-item {
  background-color: rgba(255, 255, 255, 0.7);
}
.filter-red {
  background-color: #D9232E;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-red:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(217, 35, 46, 0.7);
}
.filter-orange {
  background-color: #FF9100;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-orange:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 145, 0, 0.7);
}
.filter-green {
  background-color: #68AA00;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-green:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 170, 0, 0.7);
}
.filter-blue {
  background-color: #4789A3;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(71, 137, 163, 0.7);
}
.filter-navy-blue {
  background-color: #11566F;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.InternetExplorer .filter-navy-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 86, 111, 0.7);
}
.gradient-overlay-red:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(217, 35, 46, 0) 10%, rgba(217, 35, 46, 0.85) 100%);
}
.gradient-overlay-orange:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(255, 145, 0, 0) 10%, rgba(255, 145, 0, 0.85) 100%);
}
.gradient-overlay-green:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(104, 170, 0, 0) 10%, rgba(104, 170, 0, 0.85) 100%);
}
.gradient-overlay-blue:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(71, 137, 163, 0) 10%, rgba(71, 137, 163, 0.85) 100%);
}
.gradient-overlay-navy-blue:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
  background: -webkit-linear-gradient(top, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(17, 86, 111, 0) 10%, rgba(17, 86, 111, 0.85) 100%);
}
.gradient-overlay-black:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}
blockquote {
  display: inline-block;
  position: relative;
  padding: 20px 40px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
blockquote:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 24px;
    line-height: 33px;
  }
}
blockquote > footer,
blockquote > span {
  display: block;
  margin-top: 1.7em;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
blockquote:before,
blockquote:after {
  content: '“';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 68px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 200px;
  line-height: 0.8em;
  opacity: .2;
}
@media only screen and (min-width: 768px) {
  blockquote:before,
  blockquote:after {
    font-size: 250px;
  }
}
blockquote:after {
  content: '”';
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}
blockquote.text-small {
  font-size: 18px;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  blockquote.text-small {
    font-size: 22px;
    line-height: 28px;
  }
}
blockquote.text-tiny {
  font-size: 16px;
  line-height: 24px;
}
blockquote.text-tiny:before,
blockquote.text-tiny:after {
  font-size: 200px;
}
blockquote.text-tiny > footer,
blockquote.text-tiny > span {
  font-size: 0.9em;
  line-height: 0.9em;
}
.FRFR blockquote:before,
.FRFR blockquote:after {
  content: "«";
  font-size: 120px;
  line-height: 0.3em;
  width: 60px;
}
.FRFR blockquote:after {
  content: "»";
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
.offpage-image.centered {
  margin-left: -25%;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left {
    margin-right: 5%;
  }
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right {
    margin-left: 5%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.z-2 {
  position: relative;
  z-index: 2;
}
.z-3 {
  position: relative;
  z-index: 3;
}
.stacked-icons {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
.stacked-icons .icon:not(.icon-block) {
  position: relative;
  z-index: 0;
  padding-bottom: 7px;
  padding-right: 7px;
}
.stacked-icons .icon:not(.icon-block).medium {
  padding-bottom: 12px;
  padding-right: 12px;
}
.stacked-icons .icon:not(.icon-block).large {
  padding-bottom: 17px;
  padding-right: 17px;
}
.stacked-icons .icon.icon-block {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 27px;
  width: 27px;
}
.stacked-icons .icon.icon-block.medium {
  height: 50px;
  width: 50px;
}
.stacked-icons .icon.icon-block.large {
  height: 80px;
  width: 80px;
}
.triangle-group {
  position: relative;
  padding: 5px 0 5px 20px;
}
.triangle-group:before {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #D9232E;
  border-top: 10px solid transparent;
}
@media only screen and (min-width: 768px) {
  .triangle-group {
    padding-left: 25px;
  }
  .triangle-group:before {
    left: -15px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 15px;
  }
}
.triangle-group.large {
  padding: 5px 0 5px 30px;
}
.triangle-group.large:before {
  top: 5px;
  left: -20px;
  border-left-width: 20px;
  border-right-width: 20px;
  border-top-width: 20px;
}
@media only screen and (min-width: 768px) {
  .triangle-group.large {
    padding-left: 40px;
  }
  .triangle-group.large:before {
    left: -25px;
    border-left-width: 25px;
    border-right-width: 25px;
    border-top-width: 25px;
  }
}
.page-red .triangle-group:before {
  border-right-color: #D9232E;
}
.page-orange .triangle-group:before {
  border-right-color: #FF9100;
}
.page-green .triangle-group:before {
  border-right-color: #68AA00;
}
.page-blue .triangle-group:before {
  border-right-color: #4789A3;
}
.page-navy-blue .triangle-group:before {
  border-right-color: #11566F;
}
.page-black .triangle-group:before {
  border-right-color: #333333;
}
.page-gray .triangle-group:before {
  border-right-color: #999999;
}
.page-white .triangle-group:before {
  border-right-color: #FFFFFF;
}
.component-red .triangle-group:before {
  border-right-color: #D9232E;
}
.component-orange .triangle-group:before {
  border-right-color: #FF9100;
}
.component-green .triangle-group:before {
  border-right-color: #68AA00;
}
.component-blue .triangle-group:before {
  border-right-color: #4789A3;
}
.component-navy-blue .triangle-group:before {
  border-right-color: #11566F;
}
.component-black .triangle-group:before {
  border-right-color: #333333;
}
.component-gray .triangle-group:before {
  border-right-color: #999999;
}
.component-white .triangle-group:before {
  border-right-color: #FFFFFF;
}
.triangle-group.red:before {
  border-right-color: #D9232E;
}
.triangle-group.orange:before {
  border-right-color: #FF9100;
}
.triangle-group.green:before {
  border-right-color: #68AA00;
}
.triangle-group.blue:before {
  border-right-color: #4789A3;
}
.triangle-group.navy-blue:before {
  border-right-color: #11566F;
}
.triangle-group.white:before {
  border-right-color: #FFFFFF;
}
.triangle-group.light-gray:before {
  border-right-color: #f2f2f2;
}
.triangle-group.gray:before {
  border-right-color: #999999;
}
.triangle-group.dark-gray:before {
  border-right-color: #777777;
}
.triangle-group.black:before {
  border-right-color: #333333;
}
.card section {
  overflow: hidden;
}
.most-popular {
  position: relative;
  overflow: hidden;
}
.most-popular:before {
  content: "Most Popular";
  display: block;
  position: absolute;
  top: 25px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 5px 30px;
  background-color: #D9232E;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  .education.overview #hero {
    padding-bottom: 80px;
  }
}
.education.overview #hero .hero-block {
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .education.overview #hero .hero-block {
    padding: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .education.overview #hero .hero-block {
    padding: 50px;
  }
}
#delivery-options .positioned.center {
  width: calc(100% - 60px);
}
#testimonials-slider .testimonial {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}
#testimonials-slider .testimonial > * {
  max-width: 100%;
}
#testimonials-slider .testimonial .logo {
  max-width: 250px;
  max-height: 100px;
}
#testimonials-slider .slick-dots {
  margin-top: 20px;
}
#delivery-options .macbook-air {
  width: 85%;
  margin: -25% auto 0 auto;
}
#delivery-options #environment-slider .image-slide {
  border: 5px solid #999999;
}
#delivery-options .content-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 30px;
  cursor: default;
}
#delivery-options .content-slide:not(.slick-current) {
  opacity: .5;
}
#payment-options .payment-option {
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #999999;
}
@media only screen and (min-width: 768px) {
  #payment-options .payment-option {
    padding: 30px;
  }
}
#payment-options .payment-option.most-popular {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#ecourseware #ecourseware-hero .flex-row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  #ecourseware #ecourseware-hero .col-xl-5:first-child {
    -webkit-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
  }
}
.mfp-iframe-scaler {
  padding-top: 58.6%;
}
.course-title,
.cert-title,
.instructor-name {
  font-weight: 400;
  color: #333333;
}
.course-description,
.cert-description,
.instructor-biography {
  line-height: 1.5;
  color: #777777;
}
.instructor-title {
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Education.Single {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Education.Single [id$="-info"] .course-title,
.Education.Single [id$="-info"] .cert-title,
.Education.Single [id$="-info"] .instructor-name {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .Education.Single [id$="-info"] .course-title,
  .Education.Single [id$="-info"] .cert-title,
  .Education.Single [id$="-info"] .instructor-name {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) {
  .Education.Single [id$="-info"] .course-title,
  .Education.Single [id$="-info"] .cert-title,
  .Education.Single [id$="-info"] .instructor-name {
    font-size: 36px;
  }
}
.Education.Single [id$="-info"] .course-description,
.Education.Single [id$="-info"] .instructor-biography {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single [id$="-info"] .course-description,
  .Education.Single [id$="-info"] .instructor-biography {
    font-size: 18px;
  }
}
.Education.Single .cert-badge {
  display: inline-block;
  width: 150px;
  height: 150px;
}
@media only screen and (min-width: 768px) {
  .Education.Single .cert-badge {
    margin: 0 30px 0 0;
  }
}
.Education.Single .cert-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single .cert-description {
    font-size: 18px;
  }
}
.Education.Single .instructor-photo {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 0;
}
.no-objectfit .Education.Single .instructor-photo {
  color: transparent;
}
.Education.Single .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.Education.Single .session .instructor {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.Education.Single .session .instructor-photo {
  width: 30px;
  height: 30px;
  margin: 0 1em 0 0;
  border-radius: 50%;
}
.Education.Single .course-panel,
.Education.Single .cert-panel {
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  line-height: 1.4;
}
.Education.Single [class$="-panel"] .course-panel-title {
  font-weight: 400;
}
.Education.Single [class$="-panel"] .course-panel-subtitle {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Education.Single [class$="-panel"] .course-detail-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Education.Single [class$="-panel"] .course-detail-list > li {
  margin: 0;
  padding: 0;
}
.Education.Single [class$="-panel"] .course-detail-list > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}
.Education.Single [class$="-panel"] .course-prerequisite {
  white-space: nowrap;
}
.Education.Single .course-agenda a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.Education.Single #no-classes {
  text-align: center;
}
.Education.List #instructors-list .instructor-photo {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}
.no-objectfit .Education.List #instructors-list .instructor-photo {
  color: transparent;
}
.Education.List #instructors-list .instructor-name {
  margin-bottom: 5px;
}
.Education.List #instructors-list .instructor-title {
  font-size: 12px;
}
#ecourseware-hero > .flex-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.directory-graphic .grid-item {
  position: relative;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #777777;
  font-weight: 400;
}
.directory-graphic .grid-item.director {
  padding-bottom: 40px;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.directory-graphic .grid-item.director:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 20px;
  left: 0;
  background-color: #CCCCCC;
}
.directory-graphic .grid-item.director:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  bottom: 10px;
  left: 50%;
  margin-left: -5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FF9100;
}
#certifications-options .certification-box {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
#certifications-options .certification-box:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #CCCCCC;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
}
#pricing-packaging table td,
#pricing-packaging table th {
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
}
