blockquote {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  padding: 0;
  margin: 20px 40px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
@media only screen and (min-width: 768px) {
  blockquote {
    font-size: 24px;
    line-height: 33px;
  }
}
blockquote > footer {
  display: block;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 768px) {
  blockquote > footer {
    font-size: 18px;
  }
}
blockquote:before,
blockquote:after {
  content: '“';
  display: block;
  position: absolute;
  top: 0.2em;
  left: -50px;
  height: 56px;
  width: 68px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 250px;
  opacity: .2;
}
blockquote:after {
  content: '”';
  top: auto;
  left: auto;
  bottom: -0.2em;
  right: -35px;
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left {
    margin-right: 5%;
  }
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right {
    margin-left: 5%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.z-2 {
  position: relative;
  z-index: 2;
}
.z-3 {
  position: relative;
  z-index: 3;
}
.stacked-icons {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.stacked-icons .icon {
  position: relative;
  z-index: 0;
}
.stacked-icons .icon.icon-block {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px;
}
.stacked-icons.small {
  padding-bottom: 10px;
  padding-right: 15px;
}
#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#get-started .flex.column .button {
  margin-top: auto;
}
.most-popular {
  position: relative;
  overflow: hidden;
}
.most-popular:before {
  content: "Most Popular";
  display: block;
  position: absolute;
  top: 25px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 5px 30px;
  background-color: #D9232E;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  .education.overview #hero {
    padding-bottom: 80px;
  }
}
.education.overview #hero .hero-block {
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .education.overview #hero .hero-block {
    padding: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .education.overview #hero .hero-block {
    padding: 50px;
  }
}
#delivery-options .positioned.center {
  width: calc(100% - 60px);
}
#testimonials-slider .testimonial {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}
#testimonials-slider .testimonial > * {
  max-width: 100%;
}
#testimonials-slider .testimonial .logo {
  max-width: 250px;
  max-height: 100px;
}
#testimonials-slider .slick-dots {
  margin-top: 20px;
}
#delivery-options .macbook-air {
  width: 85%;
  margin: -25% auto 0 auto;
}
#delivery-options #environment-slider .image-slide {
  border: 5px solid #999999;
}
#delivery-options .content-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 30px;
  cursor: default;
}
#delivery-options .content-slide:not(.slick-current) {
  opacity: .5;
}
#payment-options .payment-option {
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #999999;
}
@media only screen and (min-width: 768px) {
  #payment-options .payment-option {
    padding: 30px;
  }
}
#payment-options .payment-option.most-popular {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#ecourseware #ecourseware-hero .flex-row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  #ecourseware #ecourseware-hero .col-xl-5:first-child {
    -webkit-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
  }
}
.mfp-iframe-scaler {
  padding-top: 58.6%;
}
.course-title,
.cert-title,
.instructor-name {
  font-weight: 400;
  color: #333333;
}
.course-description,
.cert-description,
.instructor-biography {
  line-height: 1.5;
  color: #777777;
}
.instructor-title {
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Education.Single {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Education.Single [id$="-info"] .course-title,
.Education.Single [id$="-info"] .cert-title,
.Education.Single [id$="-info"] .instructor-name {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .Education.Single [id$="-info"] .course-title,
  .Education.Single [id$="-info"] .cert-title,
  .Education.Single [id$="-info"] .instructor-name {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) {
  .Education.Single [id$="-info"] .course-title,
  .Education.Single [id$="-info"] .cert-title,
  .Education.Single [id$="-info"] .instructor-name {
    font-size: 36px;
  }
}
.Education.Single [id$="-info"] .course-description,
.Education.Single [id$="-info"] .instructor-biography {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single [id$="-info"] .course-description,
  .Education.Single [id$="-info"] .instructor-biography {
    font-size: 18px;
  }
}
.Education.Single .cert-badge {
  display: inline-block;
  width: 150px;
  height: 150px;
}
@media only screen and (min-width: 768px) {
  .Education.Single .cert-badge {
    margin: 0 30px 0 0;
  }
}
.Education.Single .cert-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single .cert-description {
    font-size: 18px;
  }
}
.Education.Single .instructor-photo {
  width: 175px;
  height: 175px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: 0;
}
.no-objectfit .Education.Single .instructor-photo {
  color: transparent;
}
.Education.Single .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.Education.Single .session .instructor {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.Education.Single .session .instructor-photo {
  width: 30px;
  height: 30px;
  margin: 0 1em 0 0;
  border-radius: 50%;
}
.Education.Single .course-panel,
.Education.Single .cert-panel {
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  line-height: 1.4;
}
.Education.Single [class$="-panel"] .course-panel-title {
  font-weight: 400;
}
.Education.Single [class$="-panel"] .course-panel-subtitle {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #777777;
}
.Education.Single [class$="-panel"] .course-detail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Education.Single [class$="-panel"] .course-detail-list > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}
.Education.Single [class$="-panel"] .course-prerequisite {
  white-space: nowrap;
}
.Education.Single .course-agenda a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.Education.Single #no-classes {
  text-align: center;
}
.Education.List #instructors-list .instructor-photo {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}
.no-objectfit .Education.List #instructors-list .instructor-photo {
  color: transparent;
}
.Education.List #instructors-list .instructor-name {
  margin-bottom: 5px;
}
.Education.List #instructors-list .instructor-title {
  font-size: 12px;
}
#ecourseware-hero > .flex-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
#certifications-options .directory-graphic .grid-item {
  position: relative;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #777777;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}
#certifications-options .directory-graphic .grid-item:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #CCCCCC;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: calc(100% - 10px);
}
#certifications-options .directory-graphic .grid-item.director {
  padding-bottom: 40px;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
#certifications-options .directory-graphic .grid-item.director:before {
  width: calc(75% + 2px);
  height: 2px;
  bottom: 10px;
}
#certifications-options .directory-graphic .grid-item.director:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #CCCCCC;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10px;
}
#certifications-options .certification-box {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
#certifications-options .certification-box:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #CCCCCC;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: calc(100% + 10px);
}
#pricing-packaging .pricing-box {
  padding: 30px;
  border-bottom: 1px solid #CCCCCC;
}
#pricing-packaging .pricing-box table td,
#pricing-packaging .pricing-box table th {
  padding: 10px 15px;
  border: 1px solid #CCCCCC;
}
