h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
.h1.line-break,
.h2.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.education.page #hero.background-image {
  background-image: url('/Strategy/media/images/services-support/education_banner.jpg');
}
#jump-start-classes #hero.background-image {
  background-image: url('/Strategy/media/images/homepage/hero-banners/jump-start-banner.jpg');
}
#mix-certifications .mix,
.jplist-hidden {
  display: none;
}
#reviews {
  padding: 20px 0;
}
#reviews .slick-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener #reviews .slick-slide {
  -ms-flex-direction: column;
}
#reviews .slick-dots {
  margin-top: 20px;
}
#course-list .loading {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
}
#course-list .loading .spinner-bars {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#course-list.loading-courses .loading {
  opacity: 1;
  z-index: 5;
}
#courses.hasSelectedItem .course {
  display: none;
}
.gridder-list {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-content {
  display: none;
}
.gridder-show {
  width: 100%;
  float: left;
  padding: 10px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.gridder-show .course-description {
  font-weight: 300;
  color: #ffffff;
}
.gridder-padding {
  position: relative;
  padding: 30px 0;
  background: #333333;
}
@media only screen and (min-width: 980px) {
  .gridder-padding {
    padding: 30px;
  }
}
.gridder-navigation {
  position: absolute;
  top: 0;
  right: 0;
}
.gridder-navigation a {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  background: #555555;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder-navigation a.gridder-close {
  float: right;
}
.gridder-navigation a.gridder-close:before,
.gridder-navigation a.gridder-close:after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-right: -10px;
  background: #f2f2f2;
}
.gridder-navigation a.gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder-navigation a.gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder-navigation a.gridder-close:hover:before,
.gridder-navigation a.gridder-close:active:before,
.gridder-navigation a.gridder-close:focus:before,
.gridder-navigation a.gridder-close:hover:after,
.gridder-navigation a.gridder-close:active:after,
.gridder-navigation a.gridder-close:focus:after {
  background: #ffffff;
}
.gridder-navigation a.gridder-nav {
  border-right: 1px solid #999999;
}
.gridder-navigation a.gridder-nav:before {
  content: "\e901";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: microstrategy;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1;
  color: #f2f2f2;
}
.gridder-navigation a.gridder-nav.prev:before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.gridder-navigation a.gridder-nav.disabled {
  opacity: .35;
  cursor: default;
}
.gridder-navigation a.gridder-close:hover,
.gridder-navigation a.gridder-nav:not(.disabled):hover {
  background: #222222;
  color: #ffffff;
}
.course-details {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #cccccc;
}
.course-details * {
  font-size: 12px;
}
.course-details a {
  color: #cccccc;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.course-details a:hover,
.course-details a:active,
.course-details a:focus {
  color: #ffffff;
}
.course-details sup.help {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: .25em;
  background: rgba(217, 35, 46, 0.75);
}
.course-details sup.help > a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.course-details sup.help:hover,
.course-details sup.help:active,
.course-details sup.help:focus {
  background: #d9232e;
}
.course-details sup.help:hover > a,
.course-details sup.help:active > a,
.course-details sup.help:focus > a {
  color: #ffffff;
}
.course-number {
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px 7px;
  background: #d9232e;
  color: #ffffff;
  font-weight: 700;
}
.course-price-option {
  padding: 5px 0;
}
.course-price-option i.icon {
  font-size: 32px;
}
@media only screen and (max-width: 1199px) {
  .course-information {
    padding-bottom: 10px !important;
    border-bottom: 2px solid #cccccc;
  }
}
.sessions {
  margin-bottom: 10px;
  border-bottom: 2px solid #555555;
}
.sessions:last-child {
  border: 0;
}
.sessions .cta-button {
  margin: 0;
}
.session {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px dashed #555555;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.session:hover,
.session:active {
  background: #222222;
}
.session:last-child {
  border: 0;
}
.session-language,
.session-location {
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .sessions i.icon {
    display: block;
    margin-bottom: 10px;
  }
  .session {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .session span {
    display: block;
    margin-bottom: -10px;
    font-size: 12px;
  }
  .session .session-location {
    margin-bottom: -20px;
    font-size: 14px;
  }
}
#faq.education .accordion {
  margin-bottom: 20px;
}
#faq.education .accordion:last-child {
  margin-bottom: 0;
}
#faq.education .accordion .toggler {
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
}
