@import '../settings.less';




// secondary nav

#section-navigation-sticky-wrapper {
  max-width: @row-width;
  margin: 0 auto;
}



// get-started

#get-started {

  .flex.column .button {
    margin-top: auto;
  }
}




// most popular

@popular-badge-size: 10px;

.most-popular {
  position: relative;
  overflow: hidden;

  &:before {
    content: "Most Popular";
    display: block;
    .position(absolute, (@popular-badge-size / 2 * 5), (@popular-badge-size / 2 * -7));
    .rotate(-45deg);
    padding: (@popular-badge-size / 2) (@popular-badge-size * 3);
    background-color: @red;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-family: @myriad-pro;
    font-size: @popular-badge-size;
    font-weight: @bold;
    .uppercase;
    color: @white;
  }
}




// education overview page

.education.overview #hero {

    @media @small-only { padding-bottom: 80px; }

    .hero-block {
        padding: 30px;
        @media @medium { padding: 40px; }
        @media @large { padding: 50px; }
    }
}

#testimonials-slider {

  .testimonial {
    .flex-direction(column);
    > * { max-width: 100%; }

    padding: @column-gutter;

    .logo {
      .max-size(250px, 100px);
    }
  }
  .slick-dots {
    margin-top: @base-spacing;
  }
}

#delivery-options {

  .macbook-air {
    width: 85%;
    margin: -25% auto 0 auto;
  }

  #environment-slider .image-slide {
    border: @thick-border @gray;
  }

  .content-slide {
    .flex-direction(column);
    .align-items(flex-start);
    padding: @column-gutter;
    cursor: default;

    &:not(.slick-current) {
      opacity: .5;
    }
  }
}

#payment-options {

  .payment-option {
    padding: @column-gutter / 2;
    @media @medium { padding: @column-gutter; }
    background-color: @white;
    border: @thin-border @gray;

    &.most-popular {
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

#ecourseware {
    //override the landing page form layout
    #ecourseware-hero {
        .flex-row {.justify-content(space-between);}
        @media @xlarge {
            .col-xl-5:first-child {.flex(0, 0, 56%); max-width:56%;}
        }
    }
}
//iframe styles for demos in magnific popups (education ecourseware page)
.mfp-iframe-scaler {padding-top:58.6%;}




// education text

.course-title,
.cert-title {
    font-weight: @normal;
}
.course-description,
.cert-description {
    line-height: 1.5;
    color: @dark-gray;
}
.course-title,
.cert-title {
    color: @black;
}
.course-date {
    margin-top: @base-spacing / 4 * -3;
    font-family: @myriad-pro;
    font-size: 16px;
    .uppercase;
}



// single course and certification pages

.Education.Single.Page {
    font-family: @myriad-pro;

    .course-header,
    .cert-header {

        .course-title,
        .cert-title {
            font-size: 30px;
            @media @medium { font-size: 32px; }
            @media @large { font-size: 36px; }
            line-height: 1.2;
            font-weight: @normal;
        }
        .course-description {
            font-size: 16px;
            @media @large { font-size: 18px; }
            line-height: 1.5;
            font-weight: @light;
        }
    }
    .cert-badge {
        display: inline-block;
        .size(150px);

        @media @medium {
            margin: 0 @column-gutter 0 0;
        }
    }
    .cert-description {
        font-size: 14px;
        @media @large { font-size: 18px; }
        line-height: 1.5;
        font-weight: @light;
    }
    .course-panel,
    .cert-panel {
        padding: @base-spacing;
        background-color: @light-gray;
        font-size: 15px;
        line-height: 1.4;
    }
    .course-panel {

        .course-panel-title {
            font-weight: @normal;
        }
        .course-panel-subtitle {
            font-size: 16px;
            line-height: 1.4;
            font-weight: @bold;
            .uppercase;
            color: @dark-gray;
        }
    }

    // course header
    .course-agenda a {
        .uppercase;
    }

    // course details
    .course-detail {

        .course-panel-subtitle {
            margin-bottom: 0;
        }
        .course-detail-list {
            .no-list-style;

            > li {
                .display(flex);
                .align-items(center);
                margin-bottom: 0;
            }
        }
        .course-prerequisite {
            white-space: nowrap;
        }
    }

    // course classes
    #no-classes {
        text-align: center;
    }

    // course instructors
    .instructor-photo {
        .object-fit(cover);
        .size(150px);
    }
    .instructor-name {
        margin-bottom: @base-spacing / 4;
        font-weight: @normal;
    }
    .instructor-location {
        font-family: @myriad-pro;
        font-size: 12px;
        font-weight: @normal;
        .uppercase;
        color: @dark-gray;
    }
    .instructor-bio {
        font-size: 16px;
        font-weight: @light;
    }
    #course-classes {

        .instructor {
            .display(inline-flex);
            .align-items(center);
        }
        .instructor-photo {
            .size(30px);
            margin-bottom: 0;
            .round;
        }
    }
    #instructors-slider {

        .instructor {
            .flex-direction(column);
            padding: @column-gutter / 2;
            text-align: center;
        }
        .slick-track {
            margin: 0 auto;
        }
        .slick-arrow {
            top: 50%;
            .translateY(-50%);
        }
    }
}




// e-courseware lp
#ecourseware-hero > .flex-row {
  .align-items(flex-start);
}




// instructor popups

.instructor-popup {
    max-width: 800px;
    font-family: @myriad-pro;

    .instructor-photo {
        .object-fit(cover);
        .size(150px);
    }
    .instructor-name {
        margin-bottom: @base-spacing / 4;
        font-weight: @normal;
    }
    .instructor-location {
        font-size: 12px;
        font-weight: @normal;
        .uppercase;
        color: @dark-gray;
    }
    .instructor-bio {
        font-size: 16px;
        font-weight: @light;
    }
}
