#section-navigation-sticky-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
#get-started .flex.column .button {
  margin-top: auto;
}
.most-popular {
  position: relative;
  overflow: hidden;
}
.most-popular:before {
  content: "Most Popular";
  display: block;
  position: absolute;
  top: 25px;
  left: -35px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 5px 30px;
  background-color: #D9232E;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
@media only screen and (max-width: 767px) {
  .education.overview #hero {
    padding-bottom: 80px;
  }
}
.education.overview #hero .hero-block {
  padding: 30px;
}
@media only screen and (min-width: 768px) {
  .education.overview #hero .hero-block {
    padding: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .education.overview #hero .hero-block {
    padding: 50px;
  }
}
#testimonials-slider .testimonial {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}
#testimonials-slider .testimonial > * {
  max-width: 100%;
}
#testimonials-slider .testimonial .logo {
  max-width: 250px;
  max-height: 100px;
}
#testimonials-slider .slick-dots {
  margin-top: 20px;
}
#delivery-options .macbook-air {
  width: 85%;
  margin: -25% auto 0 auto;
}
#delivery-options #environment-slider .image-slide {
  border: 5px solid #CCCCCC;
}
#delivery-options .content-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 30px;
  cursor: default;
}
#delivery-options .content-slide:not(.slick-current) {
  opacity: .5;
}
#payment-options .payment-option {
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
@media only screen and (min-width: 768px) {
  #payment-options .payment-option {
    padding: 30px;
  }
}
#payment-options .payment-option.most-popular {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
#ecourseware #ecourseware-hero .flex-row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  #ecourseware #ecourseware-hero .col-xl-5:first-child {
    -webkit-flex: 0 0 56%;
    flex: 0 0 56%;
    max-width: 56%;
  }
}
.mfp-iframe-scaler {
  padding-top: 58.6%;
}
.course-title,
.cert-title {
  font-weight: 400;
}
.course-description,
.cert-description {
  line-height: 1.5;
  color: #999999;
}
.course-title,
.cert-title {
  color: #333333;
}
.course-date {
  margin-top: -15px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.Education.Single.Page {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.Education.Single.Page .course-header .course-title,
.Education.Single.Page .cert-header .course-title,
.Education.Single.Page .course-header .cert-title,
.Education.Single.Page .cert-header .cert-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .Education.Single.Page .course-header .course-title,
  .Education.Single.Page .cert-header .course-title,
  .Education.Single.Page .course-header .cert-title,
  .Education.Single.Page .cert-header .cert-title {
    font-size: 32px;
  }
}
@media only screen and (min-width: 980px) {
  .Education.Single.Page .course-header .course-title,
  .Education.Single.Page .cert-header .course-title,
  .Education.Single.Page .course-header .cert-title,
  .Education.Single.Page .cert-header .cert-title {
    font-size: 36px;
  }
}
.Education.Single.Page .course-header .course-description,
.Education.Single.Page .cert-header .course-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single.Page .course-header .course-description,
  .Education.Single.Page .cert-header .course-description {
    font-size: 18px;
  }
}
.Education.Single.Page .cert-badge {
  display: inline-block;
  width: 150px;
  height: 150px;
}
@media only screen and (min-width: 768px) {
  .Education.Single.Page .cert-badge {
    margin: 0 30px 0 0;
  }
}
.Education.Single.Page .cert-description {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}
@media only screen and (min-width: 980px) {
  .Education.Single.Page .cert-description {
    font-size: 18px;
  }
}
.Education.Single.Page .course-panel,
.Education.Single.Page .cert-panel {
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 15px;
  line-height: 1.4;
}
.Education.Single.Page .course-panel .course-panel-title {
  font-weight: 400;
}
.Education.Single.Page .course-panel .course-panel-subtitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.Education.Single.Page .course-agenda a {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.Education.Single.Page .course-detail .course-panel-subtitle {
  margin-bottom: 0;
}
.Education.Single.Page .course-detail .course-detail-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Education.Single.Page .course-detail .course-detail-list > li {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 0;
}
.Education.Single.Page .course-detail .course-prerequisite {
  white-space: nowrap;
}
.Education.Single.Page #no-classes {
  text-align: center;
}
.Education.Single.Page .instructor-photo {
  width: cover;
  height: cover;
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.no-objectfit .Education.Single.Page .instructor-photo {
  color: transparent;
}
.Education.Single.Page .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.Education.Single.Page .instructor-location {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.Education.Single.Page .instructor-bio {
  font-size: 16px;
  font-weight: 300;
}
.Education.Single.Page #course-classes .instructor {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.Education.Single.Page #course-classes .instructor-photo {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  border-radius: 50%;
}
.Education.Single.Page #instructors-slider .instructor {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.Education.Single.Page #instructors-slider .slick-track {
  margin: 0 auto;
}
.Education.Single.Page #instructors-slider .slick-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#ecourseware-hero > .flex-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.instructor-popup {
  max-width: 800px;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.instructor-popup .instructor-photo {
  width: cover;
  height: cover;
  -o-object-fit: cover;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.no-objectfit .instructor-popup .instructor-photo {
  color: transparent;
}
.instructor-popup .instructor-name {
  margin-bottom: 5px;
  font-weight: 400;
}
.instructor-popup .instructor-location {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999999;
}
.instructor-popup .instructor-bio {
  font-size: 16px;
  font-weight: 300;
}
