h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
.h1:last-child,
.h2:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
h2.line-break,
h3.line-break,
.h1.line-break,
.h2.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul,
ol {
  padding-left: 1em;
}
ul li,
ol li {
  padding-left: 1em;
  margin-bottom: 10px;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 30px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#hero.background-image .line:first-child,
#hero.background-video .line:first-child {
  display: none;
}
#hero.background-image h1,
#hero.background-video h1 {
  color: #ffffff;
}
.free-trial #hero.background-image {
  background-image: url('/Strategy/media/images/products/analytics/2015/free-trial_top-banner-bkg.jpg');
}
#desktop.free-trial #hero.background-image {
  background-image: url('/Strategy/media/images/common/banners/desktop.jpg');
}
#desktop #hero.background-video #form-container {
  background-color: rgba(0, 0, 0, 0.7);
}
#data-sources {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.eval-page-banner {
  background-image: url('/Strategy/media/images/products/analytics/2015/analytics_eval-edition-hero-bkg.jpg');
}
.eval-page-banner .text-col {
  color: #ffffff;
}
.eval-page-banner .text-col h1.text-large {
  font-size: 45px;
  line-height: 50px;
}
.eval-page-banner .text-col .text-red {
  color: #ffffff;
}
.eval-page-banner .text-col .line.red:first-child {
  display: none;
}
.eval-page-banner .form-col h2:first-child {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
ul.triangle-list {
  list-style: none;
}
ul.triangle-list > li {
  position: relative;
  padding-bottom: 10px;
}
ul.triangle-list > li:before {
  display: block;
  position: absolute;
  content: '';
  top: 3px;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #d9232e;
  border-top: 10px solid transparent;
}
ul.triangle-list.orange > li:before {
  border-right-color: #ff9100;
}
ul.triangle-list.green > li:before {
  border-right-color: #68aa00;
}
ul.triangle-list.blue > li:before {
  border-right-color: #4789a3;
}
ul.triangle-list.navy-blue > li:before {
  border-right-color: #11566f;
}
/*=======================================================================
=      Main styles are for smallest screen size - larger sizes are specified in media queries          =
==========================================================================*/
#free-trial-select {
  background-image: url(/Strategy/media/images/free-trial/get-started_overview_hero-bkg.jpg);
}
#free-trial-select .card {
  background-color: rgba(51, 51, 51, 0.5);
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#free-trial-select .card ul,
#free-trial-select .card p {
  color: #f2f2f2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
#free-trial-select .card .card-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
#free-trial-select .card .cta-button {
  font-weight: 300;
}
#free-trial-select .card:hover,
#free-trial-select .card:active {
  background-color: rgba(51, 51, 51, 0.7);
  border-color: rgba(255, 255, 255, 0.5);
}
#free-trial-select .card:hover ul,
#free-trial-select .card:active ul,
#free-trial-select .card:hover p,
#free-trial-select .card:active p {
  color: #FFFFFF;
}
#free-trial-select .card:hover .cta-button,
#free-trial-select .card:active .cta-button {
  background-color: #FFFFFF;
  color: #D9232E;
}
/* general styles for all pages */
.feature-title {
  position: relative;
  display: block;
  padding-top: 30px;
}
.feature-title:before,
.feature-title:after {
  display: block;
  position: absolute;
  content: "";
  background-color: #d9232e;
  left: 0;
}
.feature-title:before {
  top: 0;
  height: 10px;
  width: 45%;
}
.feature-title:after {
  top: 5px;
  height: 1px;
  width: 100%;
}
/* customer thumb - dark to light background on hover (set bkg img on html) */
.customer-thumb {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -ms-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
}
.customer-thumb:hover {
  background-size: 103%;
}
.customer-thumb .play-btn {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.customer-thumb:before {
  display: block;
  position: absolute;
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.3;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.customer-thumb:hover:before {
  opacity: 0;
}
.customer-panel {
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  background-position: center center;
}
.customer-panel .logo-mask {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.customer-panel .logo {
  position: absolute;
  display: block;
  max-width: 70%;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.customer-panel:hover .logo-mask {
  opacity: 0.6;
  z-index: 1;
}
.customer-panel:hover .logo {
  opacity: 0;
}
.customer-panel .info {
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  font-family: "myriad-pro-n3", "myriad-pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  opacity: 0;
  padding: 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.customer-panel:hover .info {
  opacity: 1;
  z-index: 2;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.customer-panel .info .customer-name {
  font-size: 36px;
  line-height: 42px;
}
.customer-panel .info .play-btn {
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
}
/*-- desktop page --*/
.desktop-trial-banner {
  display: block;
  position: relative;
  overflow: hidden;
  background: url(/Strategy/media/images/free-trial/desktop-trial_top-banner-bkg.jpg) no-repeat center center #333333;
  background-size: cover;
  padding-bottom: 0px;
  padding-top: 0px;
}
.desktop-trial-banner .flex-row {
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: end;
  -moz-box-align: end;
}
.desktop-trial-banner .text-col h1.text-red {
  color: #ffffff;
}
.desktop-trial-banner .text-col .line.red {
  background-color: #ffffff;
}
.desktop-trial-banner .form-col {
  padding-bottom: 0px;
}
.desktop-trial-banner .form-col #form-container {
  margin-top: 20px;
  padding-bottom: 40px;
  background: #ffffff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}
.trial-thank-you {
  padding: 60px 0;
}
/*=======================================================================
=            Increasing resolution Media Queries           =
==========================================================================*/
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*customer panels*/
  .customer-panel {
    height: 300px;
  }
  .customer-panel .info {
    position: absolute;
    width: 80%;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }
  .customer-panel:hover .info {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .desktop-trial-banner .form-col #form-container {
    margin-top: 60px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .desktop-trial-banner .form-col #form-container {
    margin-top: 80px;
  }
}
