.device-mockup.ipad-portrait {
  background-image: url('/getmedia/4e02c74e-0c01-42cd-b475-3d46f625fa8d/ipad-portrait_black');
}
.device-mockup.ipad-portrait:before {
  padding-top: 141.17647059%;
}
.device-mockup.ipad-portrait .screen {
  position: absolute;
  height: 83.08%;
  top: 8.5%;
  left: 5.94%;
  right: 5.94%;
}
.device-mockup.ipad-portrait.white {
  background-image: url('/getmedia/32774ec8-9723-4839-a67b-6302689d73d4/ipad-portrait_white');
}
.device-mockup.iphone-x.white {
  background-image: url('/getmedia/476b323c-190c-4555-a8ef-0a6d1f9fae70/device-frame_iphoneX-WHITE');
}
.device-mockup.android-tablet {
  background-image: url('/getmedia/20ba2e30-4975-437d-8249-1ad1aa33b652/android-tablet-nexus-9');
}
.device-mockup.android-tablet:before {
  padding-top: 67.33333333%;
}
.device-mockup.android-tablet .screen {
  position: absolute;
  height: 90.59%;
  top: 4.7%;
  left: 9.71%;
  right: 9.71%;
}
.hypercard-img {
  border-radius: 6% 6% 2% 2%;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
ul.triangle-list {
  list-style: none;
}
ul.triangle-list > li {
  position: relative;
  padding-bottom: 10px;
}
ul.triangle-list > li:before {
  display: block;
  position: absolute;
  content: '';
  top: 3px;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid #D9232E;
  border-top: 10px solid transparent;
}
ul.triangle-list.orange > li:before {
  border-right-color: #FF9100;
}
ul.triangle-list.green > li:before {
  border-right-color: #68AA00;
}
ul.triangle-list.blue > li:before {
  border-right-color: #4789A3;
}
ul.triangle-list.navy-blue > li:before {
  border-right-color: #11566F;
}
.offpage-image {
  width: 150%;
  max-width: none;
}
.offpage-image.left {
  float: right;
}
.offpage-image.right {
  float: left;
}
@media only screen and (min-width: 980px) {
  .offpage-image.left.pc-laptop,
  .offpage-image.left.macbook-pro,
  .offpage-image.left.macbook-air {
    margin-right: -10%;
  }
  .offpage-image.right.pc-laptop,
  .offpage-image.right.macbook-pro,
  .offpage-image.right.macbook-air {
    margin-left: -10%;
  }
}
.stacked-mockups {
  position: relative;
}
.background-gradient-white {
  background: #FFFFFF;
  background: -webkit-linear-gradient(180deg, #FFFFFF, #f2f2f2);
  background: linear-gradient(180deg, #FFFFFF, #f2f2f2);
}
.background-image.overlay.filter-red {
  background-color: #D9232E;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.background-image.overlay.filter-red:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.background-image.overlay.filter-red:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(217, 35, 46, 0.7);
}
.InternetExplorer.background-image.overlay.filter-red:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.background-image.overlay.filter-orange {
  background-color: #FF9100;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.background-image.overlay.filter-orange:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.background-image.overlay.filter-orange:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 145, 0, 0.7);
}
.InternetExplorer.background-image.overlay.filter-orange:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.background-image.overlay.filter-green {
  background-color: #68AA00;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.background-image.overlay.filter-green:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.background-image.overlay.filter-green:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104, 170, 0, 0.7);
}
.InternetExplorer.background-image.overlay.filter-green:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.background-image.overlay.filter-blue {
  background-color: #4789A3;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.background-image.overlay.filter-blue:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.background-image.overlay.filter-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(71, 137, 163, 0.7);
}
.InternetExplorer.background-image.overlay.filter-blue:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.background-image.overlay.filter-navy-blue {
  background-color: #11566F;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.background-image.overlay.filter-navy-blue:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.background-image.overlay.filter-navy-blue:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 86, 111, 0.7);
}
.InternetExplorer.background-image.overlay.filter-navy-blue:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.component-red .text-block {
  background-color: #D9232E;
}
.component-orange .text-block {
  background-color: #FF9100;
}
.component-green .text-block {
  background-color: #68AA00;
}
.component-blue .text-block {
  background-color: #4789A3;
}
.component-navy-blue .text-block {
  background-color: #11566F;
}
.GetStarted #Overview #hero {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.GetStarted #Overview #hero[data-selected="red"] {
  background-color: #D9232E;
}
.GetStarted #Overview #hero[data-selected="orange"] {
  background-color: #FF9100;
}
.GetStarted #Overview #hero[data-selected="blue"] {
  background-color: #4789A3;
}
.GetStarted #Overview #hero[data-selected="green"] {
  background-color: #68AA00;
}
.GetStarted #Overview #hero[data-selected="navy-blue"] {
  background-color: #11566F;
}
.GetStarted #Overview #hero .grid-item {
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .GetStarted #Overview #hero .grid-item {
    padding: 0px;
  }
}
.GetStarted #Overview #content-panels {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .GetStarted #Overview .path-panel {
    overflow: hidden;
    position: absolute;
    z-index: 4;
    top: 0;
    padding: 0;
    opacity: 0;
  }
  .GetStarted #Overview .path-panel.current {
    -webkit-animation: fade-slide-up 0.3s ease-out 0.2s normal forwards;
    animation: fade-slide-up 0.3s ease-out 0.2s normal forwards;
    position: relative;
    z-index: 5;
    top: auto;
    padding: 60px 0;
  }
  .GetStarted #Overview .path-panel .element {
    padding: 10px 0 20px 25px;
  }
}
.GetStarted #Overview .path-box {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}
.GetStarted #Overview .path-box .text-block {
  color: #FFFFFF;
}
.GetStarted #Overview .path-box .description {
  font-size: 16px;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.GetStarted #Overview .path-box ul {
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.2em;
}
.GetStarted #Overview .path-box section,
.GetStarted #Overview .path-box footer {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  max-width: none;
  width: 100%;
  padding: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .GetStarted #Overview .path-box section,
  .GetStarted #Overview .path-box footer {
    padding: 20px 10px;
  }
}
.GetStarted #Overview .path-box footer {
  margin-top: auto;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.GetStarted #Overview .path-box footer .button {
  width: 80%;
}
@media only screen and (min-width: 768px) {
  .GetStarted #Overview .path-box:after {
    content: '';
    position: absolute;
    height: 0px;
    width: 0px;
    left: 50%;
    top: calc(100% + 30px);
    margin-left: -50px;
    border: 50px solid transparent;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
@media only screen and (min-width: 980px) {
  .GetStarted #Overview .path-box:after {
    top: calc(100% + 70px);
  }
}
.GetStarted #Overview .path-box:hover {
  cursor: pointer;
}
.GetStarted #Overview .path-box.current {
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (min-width: 768px) {
  .GetStarted #Overview .path-box.current:after {
    top: calc(100% + 2px);
    border-left-color: transparent;
    border-bottom-color: #FFFFFF;
  }
}
@media only screen and (min-width: 980px) {
  .GetStarted #Overview .path-box.current:after {
    top: calc(100% + 40px);
  }
}
.GetStarted #Overview .path-box.current.component-red {
  border: 3px solid #D9232E;
}
.GetStarted #Overview .path-box.current.component-blue {
  border: 3px solid #4789A3;
}
.GetStarted #Overview .path-box.current.component-orange {
  border: 3px solid #FF9100;
}
.GetStarted #Overview #request-demo #page-hero > .flex-row {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.GetStarted #Overview #request-demo #page-hero > .flex-row > div:first-child h1.text-large {
  display: none;
}
.GetStarted #Overview #request-demo #page-hero > .flex-row > div:first-child .line {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .GetStarted #Overview #request-demo #page-hero > .flex-row > div:first-child {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.GetStarted #Overview #request-demo #page-hero #lead-gen-form {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
.GetStarted #Overview #request-demo #page-hero #lead-gen-form #form-content-div h2 {
  display: none;
}
.Microstrategy2019 #page-hero {
  overflow: visible;
  padding-bottom: 0px;
  background-color: #D9232E;
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
}
.Microstrategy2019 #page-hero:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.InternetExplorer.Microstrategy2019 #page-hero:before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(217, 35, 46, 0.7);
}
.InternetExplorer.Microstrategy2019 #page-hero:after {
  background-color: rgba(0, 0, 0, 0.5);
}
.Microstrategy2019 #page-hero .number-group {
  position: relative;
  z-index: 1;
  padding: 30px 0 5px 0;
  font-weight: 600;
  font-size: 1.5em;
}
.Microstrategy2019 #page-hero .number-group:before {
  display: block;
  position: absolute;
  z-index: -1;
  content: '';
  bottom: 0px;
  left: -15px;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 600;
  opacity: 0.2;
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #page-hero .number-group:before {
    left: -60px;
  }
}
.Microstrategy2019 #page-hero .number-group.one:before {
  content: '1';
}
.Microstrategy2019 #page-hero .number-group.two:before {
  content: '2';
}
.Microstrategy2019 #page-hero .number-group.three:before {
  content: '3';
}
.Microstrategy2019 #page-hero .number-group.four:before {
  content: '4';
}
.Microstrategy2019 #page-hero .number-group.five:before {
  content: '5';
}
.Microstrategy2019 #page-hero > .flex-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #page-hero > .flex-row .col-md-6.col-xl-5:first-child {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 120px;
  }
}
.Microstrategy2019 #page-hero #lead-gen-form {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  padding: 20px 15px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #page-hero #lead-gen-form {
    width: 100%;
    margin-bottom: -250px;
  }
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #offers {
    padding-top: 120px;
  }
}
.Microstrategy2019 #offer-image-slider .slick-slide {
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.Microstrategy2019 #offer-image-slider .slick-list {
  overflow: visible;
}
.Microstrategy2019 #offer-image-slider .device-mockup.macbook-air {
  width: 90%;
  z-index: 1;
}
.Microstrategy2019 #offer-image-slider .device-mockup.macbook-air.back-row {
  position: absolute;
  z-index: 0;
  width: 65%;
  top: 15%;
  right: 70%;
}
.Microstrategy2019 #offer-image-slider .device-mockup.macbook-air.back-row.right-side {
  right: auto;
  left: 70%;
}
.Microstrategy2019 #offer-image-slider .device-mockup.ipad {
  width: 65%;
  margin-right: 90%;
  opacity: 0;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.iphone-x {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: 55%;
  opacity: 0;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  -webkit-transition: all 0.5s ease-out 0.3s;
  transition: all 0.5s ease-out 0.3s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.galaxy {
  position: absolute;
  width: 20%;
  bottom: 0;
  left: 55%;
  opacity: 0;
  -webkit-transform: translateX(20%);
  transform: translateX(20%);
  -webkit-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.android-tablet {
  position: absolute;
  width: 65%;
  top: 4.5%;
  left: 60%;
  opacity: 0;
  -webkit-transform: translateX(15%);
  transform: translateX(15%);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.macbook-pro {
  z-index: 1;
  width: 75%;
  margin-top: 40px;
  opacity: 0;
  -webkit-transform: translateY(15%);
  transform: translateY(15%);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.mac-thunderbolt {
  position: absolute;
  z-index: 0;
  width: 55%;
  top: 0;
  right: 70%;
  opacity: 0;
  -webkit-transform: translateX(-15%);
  transform: translateX(-15%);
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}
.Microstrategy2019 #offer-image-slider .device-mockup.mac-thunderbolt.right-side {
  right: auto;
  left: 70%;
  -webkit-transform: translateX(15%);
  transform: translateX(15%);
}
.Microstrategy2019 #offer-image-slider .hypercard-slide .screen .cursor {
  position: absolute;
  z-index: 2;
  width: 10px;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.1s linear 0.5s;
  transition: all 0.1s linear 0.5s;
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #offer-image-slider .hypercard-slide .screen .cursor {
    width: 15px;
  }
}
.Microstrategy2019 #offer-image-slider .hypercard-slide .screen .hypercard-img {
  opacity: 0;
  position: absolute;
  width: 30%;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide .screen.website .hypercard-img {
  top: 22%;
  left: 25%;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide .screen.email .hypercard-img {
  top: 22%;
  left: 40%;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide .screen.enterprise-systems .hypercard-img {
  top: 20%;
  left: 22%;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .screen.website .hypercard-img {
  -webkit-animation: fade-slide-down 0.2s ease-out 0.8s normal forwards;
  animation: fade-slide-down 0.2s ease-out 0.8s normal forwards;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .screen.website .cursor {
  top: 16%;
  left: 24%;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .email .hypercard-img {
  -webkit-animation: fade-slide-left 0.2s ease-out 1s normal forwards;
  animation: fade-slide-left 0.2s ease-out 1s normal forwards;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .email .cursor {
  top: 37%;
  left: 72%;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .enterprise-systems .hypercard-img {
  -webkit-animation: fade-slide-down 0.2s ease-out 1.2s normal forwards;
  animation: fade-slide-down 0.2s ease-out 1.2s normal forwards;
}
.Microstrategy2019 #offer-image-slider .hypercard-slide.slick-current .enterprise-systems .cursor {
  top: 16%;
  left: 22%;
  -webkit-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}
.Microstrategy2019 #offer-image-slider .mobile-app-slide.slick-current .device-mockup.ipad,
.Microstrategy2019 #offer-image-slider .mobile-app-slide.slick-current .device-mockup.iphone-x,
.Microstrategy2019 #offer-image-slider .mobile-app-slide.slick-current .device-mockup.galaxy,
.Microstrategy2019 #offer-image-slider .mobile-app-slide.slick-current .device-mockup.android-tablet {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.Microstrategy2019 #offer-image-slider .analytics-slide.slick-current .device-mockup {
  opacity: 1;
}
.Microstrategy2019 #offer-image-slider .analytics-slide.slick-current .device-mockup.macbook-pro {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.Microstrategy2019 #offer-image-slider .analytics-slide.slick-current .device-mockup.mac-thunderbolt {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.Microstrategy2019 #offer-nav .grid-item {
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 30px 50px;
}
@media only screen and (min-width: 768px) {
  .Microstrategy2019 #offer-nav .grid-item {
    padding: 30px 15px;
  }
}
.Microstrategy2019 #offer-nav .grid-item:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 5px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #CCCCCC;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.Microstrategy2019 #offer-nav .grid-item:hover:after {
  -webkit-transform: translateY(5px) !important;
  transform: translateY(5px) !important;
}
.Microstrategy2019 #offer-nav .grid-item.slick-current:after {
  border-top-color: #D9232E;
  -webkit-transform: translateY(5px) !important;
  transform: translateY(5px) !important;
}
.Microstrategy2019 #offer-nav .grid-item > * {
  width: 100%;
}
.GetStarted.Desktop #hero #lead-gen-form {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}
.GetStarted.Desktop #enterprise-platform .device-mockup.macbook-pro {
  position: relative;
  z-index: 0;
  margin-left: 15%;
}
.GetStarted.Desktop #enterprise-platform .device-mockup.ipad {
  position: absolute;
  z-index: 1;
  width: 80%;
  left: 15%;
  bottom: -10px;
}
.GetStarted.Desktop #enterprise-platform .device-mockup.iphone {
  position: absolute;
  z-index: 2;
  width: 20%;
  left: 5%;
  bottom: -20px;
}
.GetStarted.Desktop #enterprise-platform .device-mockup img {
  max-width: 100%;
  margin-left: 0;
}
#data-sources {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.eval-page-banner {
  background-image: url('/getmedia/a1255576-f845-4c85-bc23-973fdac30dbb/multiple-devices-on-desk-top-view');
}
.eval-page-banner .text-col {
  color: #ffffff;
}
.eval-page-banner .text-col h1.text-large {
  font-size: 45px;
  line-height: 50px;
}
.eval-page-banner .text-col .text-red {
  color: #ffffff;
}
.eval-page-banner .text-col .line.red:first-child {
  display: none;
}
.eval-page-banner .form-col h2:first-child {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
.GetStarted.Demo #demo-cta {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 100;
  -webkit-transform: translate(-475px, -50%);
  transform: translate(-475px, -50%);
  padding: 40px 80px 40px 40px;
  background: #C5202A;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.GetStarted.Demo #demo-cta .tab {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 150% 150%;
  transform-origin: 150% 150%;
  background: #C5202A;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
.GetStarted.Demo #demo-cta:hover {
  -webkit-transform: translate(-465px, -50%);
  transform: translate(-465px, -50%);
  background: #D9232E;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.35);
}
.GetStarted.Demo #demo-cta:hover .tab {
  background: #D9232E;
  box-shadow: 0 20px #D9232E, -20px 0 #D9232E, 5px 0 20px rgba(0, 0, 0, 0.35);
}
.GetStarted.Demo #demo-cta.open {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: #D9232E;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.25);
}
.GetStarted.Demo #demo-cta.open .tab {
  background: #D9232E;
  box-shadow: 0 20px #D9232E, -20px 0 #D9232E, 5px 0 20px rgba(0, 0, 0, 0.35);
}
.GetStarted.Demo #demo-cta .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  cursor: pointer;
}
.GetStarted.Demo #demo-cta .close:before,
.GetStarted.Demo #demo-cta .close:after {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-right: -15px;
  background: #CCCCCC;
}
.GetStarted.Demo #demo-cta .close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.GetStarted.Demo #demo-cta .close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.GetStarted.Demo #demo-cta .close:hover:before,
.GetStarted.Demo #demo-cta .close:active:before,
.GetStarted.Demo #demo-cta .close:focus:before,
.GetStarted.Demo #demo-cta .close:hover:after,
.GetStarted.Demo #demo-cta .close:active:after,
.GetStarted.Demo #demo-cta .close:focus:after {
  background: #fff;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
