@import '../settings.less';

//components
@import '../_new-components/background-color-filters.less';
@import '../_new-components/blockquote.less';
@import '../_new-components/customer-success-logo-video-slider.less';
@import '../_new-components/hypercard-graphic.less';
@import '../_new-components/new-device-mockups.less';
@import '../_new-components/number-group.less';
@import '../_new-components/offpage-image.less';
@import '../_new-components/triangle-group.less';

//fix for lead gen form generating an empty p
p:empty {margin-bottom:0!important;}
[class*="col-"].shrink {max-width:100%;}




//INDIVIDUAL PAGE STYLES
.GetStarted.get-started-overview {
    #hero {
        .single-transition();
        &[data-hover="red"] {
            background-color:@red;
            .cards .card.component-red {border-color:@red;}
        }
        &[data-hover="orange"] {
            background-color:@orange;
            .cards .card.component-orange {border-color:@orange;}
        }
        &[data-hover="blue"] {
            background-color:@blue;
            .cards .card.component-blue {border-color:@blue;}
        }
        &[data-hover="green"] {
            background-color:@green;
            .cards .card.component-green {border-color:@green;}
        }
        &[data-hover="navy-blue"] {
            background-color:@navy-blue;
            .cards .card.component-navy-blue {border-color:@navy-blue;}
        }

        @media @medium-only {
            padding:80px 20px;
            .grid-item{padding:0;}
            .card .card-content {padding:20px;}
        }
        .cards .card {
            text-align:center;
            border:3px solid transparent;
            background-color:fade(@pure-black, 50%);

            &:hover {background-color:fade(@pure-black, 70%);}
            ul {
                padding-left:0;
                list-style:none;
                font-size:18px; line-height:1.2em;
                > li {padding-bottom:10px;}
            }
            .text-block {color:@white; white-space:normal;}
            .card-description {
                color:@white;
                .uppercase;
                font-weight:600;
            }
            &.component-red {
                .text-block {background-color:@red;}
            }
            &.component-orange {
                .text-block {background-color:@orange;}
            }
            &.component-green {
                .text-block {background-color:@green;}
            }
            &.component-blue {
                .text-block {background-color:@blue;}
            }
            &.component-navy-blue {
                .text-block {background-color:@navy-blue;}
            }
        }
    }
    //override some form stuff
    #page-hero {
        &:after {background-color:fade(@pure-black, 60%);}
        > .flex-row {
            .justify-content(space-between);
            > div:first-child {
                h1.text-large {display:none}
                .line:first-of-type {display:none;}
                @media @xlarge-only {.flex(0, 0, 50%);}
            }
        }
        #lead-gen-form {
            box-shadow: 1px 1px 7px fade(@pure-black, 60%);
            //#form-content-div h2 {display:none;}
        }
    }
}



// cloud trial page
.CloudTrial {
    #page-hero {
        overflow:visible;
        padding-bottom:0px;
        > .flex-row {
            .justify-content(space-between);

            .col-md-6.col-xl-5:first-child {
                h1.text-large {font-weight:400;}
                @media @medium {
                    .flex(0,0,50%);
                    padding-bottom:120px;
                }
            }
        }
        #lead-gen-form {
            width:~"calc(100% - 40px)";
            margin-left:auto; margin-right:auto;
            padding:20px 15px;
            @media @medium {width:100%; margin-bottom:-200px;}
            box-shadow: 1px 1px 5px fade(@pure-black, 50%);
        }
    }

    #offers {
        @media @medium {padding-top:120px; padding-bottom:120px;}
    }
}



// desktop page
.Desktop {
    &.overlapping-form {
        #page-hero {
            overflow:visible;
            padding-bottom:0px;
            > .flex-row {
                .justify-content(space-between);

                .col-md-6.col-xl-5:first-child {
                    h1.text-large {font-weight:400;}
                    @media @medium {
                        .flex(0,0,50%);
                        padding-bottom:120px;
                    }
                }
            }
            #lead-gen-form {
                width:~"calc(100% - 40px)";
                margin-left:auto; margin-right:auto;
                padding:20px 15px;
                @media @medium {width:100%; margin-bottom:-200px;}
                box-shadow: 1px 1px 5px fade(@pure-black, 50%);
            }
        }
        #offers {
            @media @medium {padding-top:120px;}
            .device-mockup.pc-laptop {
                z-index:1;
                &.back-row {
                    position:absolute; z-index:0;
                    width:65%;
                    top:15%; right:70%;
                    &.right-side {right:auto; left:70%;}
                }
            }
        }
    }

    #enterprise-platform {
        .device-mockup {
            &.macbook-pro {position:relative; z-index:0; margin-left:15%;}
            &.ipad {
                position:absolute; z-index:1;
                width:80%;
                left:15%; bottom:-10px;
            }
            &.iphone {
                position:absolute; z-index:2;
                width:20%;
                left:5%; bottom:-20px;
            }
            img {max-width:100%; margin-left:0;}
        }
    }
}
// #data-sources {
//     .columns(3, @column-gutter);
// }
.DesktopHelp {
    #additional-help-resources {
        .device-mockup.pc-laptop {
            z-index:1;
            &.back-row {
                position:absolute; z-index:0;
                width:65%;
                top:15%; right:70%;
                &.right-side {right:auto; left:70%;}
            }
        }
    }
}




//EVAL EDITION PAGE
.EnterpriseEvaluation {
    #page-hero {
        > .flex-row {
            .justify-content(space-between);
            > div:first-child {
                h1.text-large {font-weight:400;}
                @media @xlarge-only {.flex(0, 0, 50%);}
            }
        }
        #lead-gen-form {
            box-shadow: 3px 3px 7px fade(@pure-black, 50%);
        }
        &:after {background-color:fade(@pure-black, 60%)}
    }
}
// .eval-page-banner {
//     background-image: url('/getmedia/a1255576-f845-4c85-bc23-973fdac30dbb/multiple-devices-on-desk-top-view');
//
//     .text-col {
//         color:#ffffff;
//         h1.text-large {font-size:45px; line-height:50px;}
//         .text-red {color:#ffffff;}
//         .line.red:first-child {display:none;}
//     }
//     .form-col {
//         h2:first-child {font-size:22px; line-height:28px; font-weight:400;}
//     }
// }




//mstr 2019 offer page
.Microstrategy2019 {
    #page-hero {
        overflow:visible;
        padding-bottom:0px;
        > .flex-row {
            .justify-content(space-between);

            .col-md-6.col-xl-5:first-child {
                h1.text-large {font-weight:400;}
                @media @medium {
                    .flex(0,0,50%);
                    padding-bottom:120px;
                }
            }
        }
        #lead-gen-form {
            width:~"calc(100% - 40px)";
            margin-left:auto; margin-right:auto;
            padding:20px 15px;
            @media @medium {width:100%; margin-bottom:-200px;}
            box-shadow: 1px 1px 5px fade(@pure-black, 50%);
        }
    }
    #offers {
        @media @medium {padding-top:120px;}
    }
    #offer-image-slider {
        .slick-slide {
            .flex-direction(column);
            position:relative;
        }
        .slick-list {overflow:visible;}
        .device-mockup {
            &.macbook-air {
                width:90%; z-index:1;
                &.back-row {
                    position:absolute; z-index:0;
                    width:65%;
                    top:15%; right:70%;
                    &.right-side {right:auto; left:70%;}
                }
            }
            &.ipad {
                width:65%;
                margin-right:90%;
                opacity:0;
                .translateX(-15%);
                .transition(all 0.5s ease-out 0s);
            }
            &.iphone-x {
                position:absolute;
                width:20%;
                bottom:0; right:55%;
                opacity:0;
                .translateX(-20%);
                .transition(all 0.5s ease-out 0.3s);
            }
            &.galaxy {
                position:absolute;
                width:20%;
                bottom:0; left:55%;
                opacity:0;
                .translateX(20%);
                .transition(all 0.5s ease-out 0.5s);
            }
            &.android-tablet {
                position:absolute;
                width:65%;
                top:4.5%;
                left:60%;
                opacity:0;
                .translateX(15%);
                .transition(all 0.5s ease-out 0s);
            }
            &.macbook-pro {
                z-index:1;
                width:75%;
                margin-top:40px;
                opacity:0;
                .translateY(15%);
                .transition(all 0.5s ease-out 0s);
            }
            &.mac-thunderbolt {
                position:absolute; z-index:0;
                width:55%;
                top:0;
                right:70%;
                opacity:0;
                .translateX(-15%);
                .transition(all 0.5s ease-out 0s);

                &.right-side {
                    right:auto; left:70%;
                    .translateX(15%);
                }
            }
        }

        .hypercard-slide {
            .screen {
                .cursor {
                    position:absolute; z-index:2;
                    width:10px;
                    @media @medium {width:15px;}
                    top:50%; left:50%;
                    .transition(all 0.1s linear 0.5s);
                }

                .hypercard-img {
                    opacity:0;
                    position:absolute;
                    width:25%;
                }
                &.website {
                    .hypercard-img {top:22%; left:21%;}
                }
                &.email {
                    .hypercard-img {top:22%; left:19%;}
                }
                &.enterprise-systems {
                    .hypercard-img {top:22%; left:21%;}
                }
            }
            &.slick-current {
                .screen.website {
                    .hypercard-img {.animation(fade-slide-down 0.2s ease-out 0.8s normal forwards);}
                    .cursor {top:16%; left:27%; .transition(all 0.6s ease 0s);}
                }
                .email {
                    .hypercard-img {.animation(fade-slide-left 0.2s ease-out 1s normal forwards);}
                    .cursor {top:46%; left:48%; .transition(all 0.6s ease 0.2s);}
                }
                .enterprise-systems {
                    .hypercard-img {.animation(fade-slide-down 0.2s ease-out 1.2s normal forwards);}
                    .cursor {top:18%; left:27%; .transition(all 0.6s ease 0.4s);}
                }
            }
        }
        .mobile-app-slide.slick-current .device-mockup {
            &.ipad,
            &.iphone-x,
            &.galaxy,
            &.android-tablet {opacity:1; .translateX(0)}
        }
        .analytics-slide.slick-current .device-mockup {
            opacity:1;
            &.macbook-pro {.translateY(0);}
            &.mac-thunderbolt {.translateX(0);}
        }
    }
    #offer-nav {
        .grid-item {
            .flex-direction(column);
            position:relative;
            cursor:pointer;
            text-align:center;
            padding:30px 50px;
            @media @medium {padding:30px 15px;}
            &:after {
                content:'';
                position:absolute;
                display:block;
                bottom:5px; left:50%;
                margin-left:-15px;
                width:0px; height:0px;
                border-left:15px solid transparent;
                border-right:15px solid transparent;
                border-top:15px solid @iron;
                .single-transition;
            }
            &:hover:after {.translateY(5px)!important;}
            &.slick-current:after {
                border-top-color:@red;
                .translateY(5px)!important;
            }
            > * {width:100%;}
        }
    }
}


// DEMO PAGE
.Demo {
    #demo-cta {
        position: absolute;
        z-index: 100;
        width: 480px;
        top: 50%;
        left: 0;
        color:@white;
        .translate(-475px, -50%);
        padding: 40px 80px 40px 40px;
        background: @dark-red;
        .single-transition;

        .tab {
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
            top: 50%;
            right: 25px;
            .translate(0, -50%);
            .rotate(45deg);
            -webkit-transform-origin:150% 150%;
            transform-origin:150% 150%;
            background:@dark-red;
            cursor: pointer;
            .single-transition;
        }
        .close {
            position: absolute;
            z-index: 101;
            width: 60px;
            height: 60px;
            top: 0;
            right: 0;
            cursor: pointer;
            .single-transition;

            &:hover {background-color:fade(@pure-black, 20%);}

            &:before, &:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 30px;
                top: 50%;
                left: 50%;
                margin-top: -15px;
                margin-right: -15px;
                background: @white;
            }
            &:before {.rotate(45deg);}
            &:after {.rotate(-45deg);}
        }

        &:hover {
            .translate(-465px, -50%);
            background: @red;
            box-shadow: 5px 0 20px fade(@pure-black, 35%);
            .tab {
                background: @red;
                box-shadow: 0 20px @red, -20px 0 @red, 5px 0 20px fade(@pure-black, 35%);
            }
        }

        &.open {
            .translate(0, -50%);
            background:@red;
            box-shadow:5px 0 20px fade(@pure-black, 25%);

            .tab {
                background: @red;
                box-shadow: 0 20px @red, -20px 0 @red, 5px 0 20px fade(@pure-black, 25%);
            }
        }
    }
}





//Keyframes
@import '../_new-components/basic-animate-on-scroll-keyframes.less';
.keyframes(hero-cursor-website;{
    0%   {top:50%; left:50%;}
    5%  {top:16%; left:27%;}
    70%  {top:16%; left:27%;}
    75% {top:50%; left:50%;}
    100% {top:50%; left:50%;}
});
.keyframes(hero-card-appear;{
    0%   {opacity:0; .translateY(-10%);}
    5%  {opacity:0; .translateY(-10%);}
    7%  {opacity:1; .translateY(0);}
    70%  {opacity:1; .translateY(0);}
    72%  {opacity:0; .translateY(10%);}
    100% {opacity:0; .translateY(10%);}
});
