h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
#hero.background-image {
  background-image: url('/getmedia/1fd836d0-96bb-4f6f-ac34-c6784cbec71f/events');
}
.event .event-type {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  line-height: 1;
}
.event .event-title {
  font-weight: 400;
}
.event .event-location,
.event .event-date-time {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#symposium .event .event-location,
#symposium .event .event-date-time {
  color: #999999;
}
.event .event-location {
  font-weight: 400;
}
.event .event-date-time {
  font-weight: 600;
}
.event .event-description {
  color: #999999;
}
