#hero.background-image {
  background-image: url('/getmedia/1fd836d0-96bb-4f6f-ac34-c6784cbec71f/events');
}
.event .event-type {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  line-height: 1;
}
.event .event-title {
  font-weight: 400;
}
.event .event-location,
.event .event-date-time {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#symposium .event .event-location,
#symposium .event .event-date-time {
  color: #999999;
}
.event .event-location {
  font-weight: 400;
}
.event .event-date-time {
  font-weight: 600;
}
.event .event-description {
  color: #999999;
}
