@import '../settings.less';
@import '../overrides.less';

#hero.background-image { background-image: url('/getmedia/1fd836d0-96bb-4f6f-ac34-c6784cbec71f/events'); }

.event {
    
    .event-type {
        .display(flex);
        .align-items(center);
        line-height: 1;
    }
    .event-title {
        font-weight: @normal;
    }
    .event-location,
    .event-date-time {
        font-family: @myriad-pro;
        .uppercase;
      
        #symposium & {
            color: @dark-gray;
        }
    }
    .event-location {
        font-weight: @normal;
    }
    .event-date-time {
        font-weight: @bold;
    }
    .event-description {
        color: @dark-gray;
    }
}