#multi-control-slider-nav {
    .grid-item {
        .flex-direction(column);
        position:relative;
        cursor:pointer;
        text-align:center;
        padding:35px 15px 20px 15px;
        //@media @medium {padding:25px 15px;}
        &:before {
            content:'';
            position:absolute;
            display:block;
            top:5px; left:50%;
            margin-left:-15px;
            width:0px; height:0px;
            border-left:15px solid transparent;
            border-right:15px solid transparent;
            border-bottom:15px solid @iron;
            .single-transition;
        }
        &:hover:before {.translateY(-5px)!important;}
        &.slick-current{
            .icon {color:@red;}
            &:before {
                border-bottom-color:@red;
                .translateY(-5px)!important;
            }
        }
        //> * {width:100%;}

        &.component-orange.slick-current,
        &.component-orange:hover {
            .icon {color:@orange;}
            &:before {border-bottom-color:@orange;}
        }
        &.component-green.slick-current,
        &.component-green:hover {
            .icon {color:@green;}
            &:before {border-bottom-color:@green;}
        }
        &.component-blue.slick-current,
        &.component-blue:hover {
            .icon {color:@blue;}
            &:before {border-bottom-color:@blue;}
        }
        &.component-navy-blue.slick-current,
        &.component-navy-blue:hover {
            .icon {color:@navy-blue;}
            &:before {border-bottom-color:@navy-blue;}
        }
    }
    &.nav-above .grid-item {
        padding:20px 15px 35px 15px;
        &:before {
            border-top:15px solid @iron;
            border-bottom:none;
            top:auto; bottom:5px;
        }
        &:hover:before,
        &.slick-current:before {
            .translateY(5px)!important;
            border-top-color:@red;
        }

        &.component-orange.slick-current:before,
        &.component-orange:hover:before {
            border-top-color:@orange;
        }
        &.component-green.slick-current:before,
        &.component-green:hover:before {
            border-top-color:@green;
        }
        &.component-blue.slick-current:before,
        &.component-blue:hover:before {
            border-top-color:@blue;
        }
        &.component-navy-blue.slick-current:before,
        &.component-navy-blue:hover:before {
            border-top-color:@navy-blue;
        }
    }
}
#multi-control-slider {
    .slick-slide {
        .align-items(flex-start);
        min-height: 20px;
    }
}
