section {
  border-bottom: 1px solid #999999;
}
section#hero,
section:last-child {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
p {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
p + h3 {
  margin-top: 40px;
}
p.important {
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #999999;
  font-weight: 600;
}
figure {
  margin: 40px 0;
}
figcaption {
  font-style: italic;
}
pre {
  white-space: normal;
  margin: 40px 0;
}
code {
  display: inline-block;
  background-color: #f2f2f2;
  color: #D9232E;
  font-size: 14px;
}
.code-type {
  padding: 10px 20px;
  background-color: #777777;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.icon-symbol {
  font-family: microstrategy;
  font-size: 32px;
}
.icon-prefix {
  color: #777777;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 20px;
  background: #f2f2f2;
}
.hljs,
.hljs-subst {
  color: #333333;
}
.hljs-comment {
  color: #777777;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #D9232E;
}
.hljs-title,
.hljs-section {
  color: #D9232E;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}
.hljs-literal {
  color: #78A960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
