h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  padding-bottom: 0;
  margin-bottom: 10px;
}
ul li:last-child,
ol li:last-child {
  margin-bottom: 0;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
section {
  border-bottom: 1px solid #CCCCCC;
}
section#hero,
section:last-child {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
p {
  font-family: myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
p + h3 {
  margin-top: 40px;
}
p.important {
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #CCCCCC;
  font-weight: 600;
}
figure {
  margin: 40px 0;
}
figcaption {
  font-style: italic;
}
pre {
  white-space: normal;
  margin: 40px 0;
}
code {
  display: inline-block;
  background-color: #f2f2f2;
  color: #D9232E;
  font-size: 14px;
}
.code-type {
  padding: 10px 20px;
  background-color: #999999;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.icon-symbol {
  font-family: microstrategy;
  font-size: 32px;
}
.icon-prefix {
  color: #999999;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 20px;
  background: #f2f2f2;
}
.hljs,
.hljs-subst {
  color: #333333;
}
.hljs-comment {
  color: #999999;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #D9232E;
}
.hljs-title,
.hljs-section {
  color: #D9232E;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060;
}
.hljs-literal {
  color: #78A960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
