#mix-symposia {
  overflow: hidden;
}
#mix-symposia .grid-item {
  display: none;
  position: relative;
  z-index: 1;
}
.mix-filters {
  position: relative;
}
.mix-filters .filter {
  display: block;
  position: relative;
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  line-height: 20px;
  color: #999999;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  .mix-filters .filter .filter {
    margin: 0;
  }
}
.mix-filters .filter:hover {
  color: #D9232E;
}
.mix-filters .filter.active {
  color: #FFFFFF;
  background-color: #D9232E;
}
@media only screen and (min-width: 768px) {
  .mix-filters .filter.active:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #D9232E;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
}
/*hero banner*/
.symposium-banner {
  position: relative;
  z-index: 10;
  background-color: #333333;
  overflow: hidden;
  background-image: url(/getmedia/b03015fc-cbe0-4634-b210-68011851ad81/symposia);
}
.symposium-banner.dark-bkg .secondary-fullwidth .section-navigation a {
  text-decoration: none;
}
/*----overview page--*/
/*panels*/
.symposia-cards.cards .card.component-red .card-header .card-corner {
  padding: 10px;
  background-color: #FFFFFF;
}
.symposia-cards.cards .card.component-red .card-header .card-corner.date .month {
  color: #777777;
  font-weight: 400;
}
.symposia-cards.cards .card.component-red .card-header .card-corner.date .day {
  color: #D9232E;
}
