@import '../settings.less';

//mixitup initial card state
#mix-symposia {
    overflow:hidden;
    .grid-item {display:none; position:relative; z-index:1;}
}

//mixitup filters
.mix-filters {
    position:relative;
    .filter {
        display:block; position:relative;
        cursor:pointer;
        background-color:@white-smoke;
        padding:10px; margin-bottom:10px;
        
        font-family:@myriad-pro;
        font-weight:400;
        .uppercase;
        font-size:18px; line-height:20px;
        color:@dark-gray;
        .transition;
        @media @medium {.filter {margin:0;}}

        &:hover {color:@red;}
        &.active {
            color:@white;
            background-color:@red;

            //the bottom triangle for desktop widths
            @media @medium {
                &:before {
                    position:absolute; display:block;
                    content:"";
                    bottom:-10px; left:50%;
                    margin-left:-5px;
                    width:0; height:0;
                    border-left:9px solid transparent;
                    border-right:9px solid transparent;
                    border-top:10px solid @red;
                    .transition;
                }
            }
        }
    }
}

/*hero banner*/
.symposium-banner {
    position:relative; z-index:10;
    background-color:#333333;
    overflow:hidden;
    background-image:url(/getmedia/b03015fc-cbe0-4634-b210-68011851ad81/symposia);

    &.dark-bkg .secondary-fullwidth .section-navigation a {text-decoration: none;}
}

/*----overview page--*/

/*panels*/
.symposia-cards.cards .card.component-red .card-header .card-corner {
    padding:10px;
    background-color:@white;
    &.date {
        .month {color:@monsoon; font-weight:400;}
        .day {color:@red;}
    }
}
