@import '../../settings.less';

//ACCORDION







//ANCHOR LINK GRID
.AnchorLinkGrid {
	@import '../../_new-components/components-and-expansions/anchor-link-grid.less';
}





.Accordion {
	ul.accordion {
		list-style:none;
		padding:0;
		font-family:@myriad-pro;
		font-size:16px;
		font-weight:400;

		//defaults
		> li {
			position:relative;
			//border-top:1px solid @gainsboro;
			margin:0; padding:0 0 0 30px;
			//padding-top:15px; padding-bottom:5px;
			p {font-size:1em;}
			> h3 {
				position:relative;
				font-weight:400;
				font-size:1.3em;
				margin:0;
				padding-top:15px;
				padding-bottom:15px;
				cursor:pointer;

				&:before, &:after {
					content:'';
					position:absolute;
					display:block;
					width:2px; height:15px;
					background-color:@black;
					top:22px; left:-22px;
				}
				&:before {
				}
				&:after {
					.rotate(90deg);
				}
			}
			> h3 + div {
				position:relative;


				z-index:-1;
				opacity:0;
				max-height:0;
				.translateY(50%);
				.transition(all 0.25s ease-in-out);
			}
			&.expanded {
				> h3 + div {
					z-index:0;
					margin-bottom:15px;
					opacity:1;
					max-height:1000px;
					.translateY(0);
					.transition(all 0.25s ease-in-out);
				}
			}

		}
	}
}
