@import '../../settings.less';

//ACCORDION







//ANCHOR LINK GRID
.AnchorLinkGrid {
	@import '../../_new-components/components-and-expansions/anchor-link-grid.less';
}





.Accordion {
	ul.accordion {
		list-style:none;
		padding:0;
		font-family:@myriad-pro;
		font-size:16px;
		font-weight:400;

		//defaults
		> li {
			position:relative;
			margin:0; padding:0;
			//padding-top:15px; padding-bottom:5px;
			.single-transition;
			p {font-size:1em;}
			> h3 {
				position:relative;
				font-weight:400;
				font-size:1.3em;
				margin:0;
				padding-top:15px;
				padding-bottom:15px;
				padding-left:30px;
				cursor:pointer;
				.single-transition;

				&:before, &:after {
					content:'';
					position:absolute;
					display:block;
					width:2px; height:14px;
					background-color:@black;
					top:23px; left:7px;
					.single-transition;
				}
				&:after {.rotate(90deg);}
			}
			> h3 + div {
				position:relative;
				z-index:-1;
				opacity:0;
				max-height:0;
				padding-left:30px;
				.translateY(50%);
				.transition(all 0.25s ease-in-out);
			}
			&.expanded {
				> h3 {
					&:before {background-color:@red; .rotate(45deg);}
					&:after {background-color:@red; .rotate(135deg);}
				}
				> h3 + div {
					z-index:0;
					padding-bottom:15px;
					opacity:1;
					max-height:1000px;
					.translateY(0);
					.transition(all 0.25s ease-in-out);
				}
			}
		}

		//component styles
		//divider
		&.divider {
			> li {
				border-top:1px solid @gainsboro;
				&.expanded {
					border-top:3px solid @red;
				}
			}
		}
		//block
		&.block {
			> li {
				background-color:@white;
				color:@black;
				border:1px solid @gainsboro;
				margin-bottom:10px;
				box-shadow:3px 3px 5px fade(@pure-black, 0%);
				> h3 {
					padding-left:37px;
					padding-right:15px;
					&:before, &:after {
						left:17px;
					}
				}
				> h3 + div {
					padding-left:37px;
					background-color:@light-gray;
				}
				&.expanded {
					box-shadow:3px 3px 5px fade(@pure-black, 20%);
					> h3 + div {padding:15px 15px 15px 40px;}
				}
			}
		}

		//toggle styles
		//chevron
		&.chevron {
			> li {
				> h3 {
					&:before, &:after {
						height:10px;
						top:34px; left:7px;
						.transform-origin(center, top);
						.rotate(-135deg);
					}
					&:after {
						.rotate(135deg);
					}
				}
				&.expanded > h3 {
					&:before {top:27px; .rotate(-45deg);}
					&:after {top:27px; .rotate(45deg);}
				}
			}
			&.block > li > h3 {
				&:before, &:after {left:17px;}
			}
		}
		//triangle
		&.triangle {
			> li {
				> h3 {
					&:before {
						height:0px; width:0;
						top:19px; left:5px;
						background-color:transparent;

						border-left:10px solid @black;
						border-top:10px solid transparent;
						border-bottom:10px solid transparent;
					}
					&:after {display:none;}
				}
				&.expanded > h3:before {.rotate(90deg); border-left-color:@red;}
			}
			&.block > li > h3:before {left:13px;}
		}

		//toggle positions
		//right
		&.right {
			> li {
				> h3 {
					padding-left:0; padding-right:40px;
					&:before, &:after {left:auto; right:7px;}
				}
			}
			&.block {
				> li > h3 {
					padding-left:15px; padding-right:37px;
					&:before, &:after {left:auto; right:17px;}
				}
			}
			&.chevron {

			}
		}

		//sizes
		//smaller
		&.smaller {
			font-size:14px;
			> li > h3 {
				padding-left:25px;
				&:before, &:after {top:22px; height:12px;}
			}
			> li > h3 + div {padding-left:25px;}
			&.chevron {
				> li > h3 {
					&:before, &:after {left:6px; top:31px; height:8px;}
				}
				> li.expanded > h3 {
					&:before, &:after {top:26px;}
				}
			}
			&.triangle {
				> li > h3 {
					&:before {border-width:7px 7px 7px; left:6px; top:21px; height:0;}
				}
			}
		}
		&.larger {
			font-size:18px;
			> li > h3 {
				padding-left:40px;
				&:before, &:after {top:24px; height:18px;}
			}
			> li > h3 + div {padding-left:40px;}
			&.chevron {
				> li > h3 {
					&:before, &:after {left:10px; top:37px; height:12px;}
				}
				> li.expanded > h3 {
					&:before, &:after {top:28px;}
				}
			}
			&.triangle {
				> li > h3 {
					&:before {border-width:12px 12px 12px; top:20px;}
				}
			}
		}
	}
}
