h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}
h1.line-break,
.h1.line-break,
h2.line-break,
.h2.line-break,
h3.line-break,
.h3.line-break,
h4.line-break,
h5.line-break,
h6.line-break,
p.line-break,
ul.line-break,
ol.line-break {
  margin-top: -20px;
}
ul li,
ol li {
  margin-bottom: 10px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
img {
  margin-bottom: 20px;
}
img:last-child {
  margin-bottom: 0;
}
a > img:only-child {
  margin-bottom: 20px;
}
.capabilities .page-title {
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #D9232E;
}
#capabilities section.no-padding [class*="col"] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.no-flexbox.flexboxtweener #capabilities section.no-padding [class*="col"] {
  display: -ms-flexbox;
}
.no-flexbox.flexboxtweener #capabilities section.no-padding [class*="col"] > * {
  display: inline-block;
}
.no-flexbox.no-flexboxtweener #capabilities section.no-padding [class*="col"] {
  display: block;
}
.no-flexbox.no-flexboxtweener #capabilities section.no-padding [class*="col"]:before,
.no-flexbox.no-flexboxtweener #capabilities section.no-padding [class*="col"]:after {
  content: '';
  display: table;
}
.no-flexbox.no-flexboxtweener #capabilities section.no-padding [class*="col"]:after {
  clear: both;
}
.no-flexbox.no-flexboxtweener #capabilities section.no-padding [class*="col"] > * {
  display: inline-block;
  float: left;
}
.no-flexbox.flexboxtweener #capabilities section.no-padding [class*="col"] {
  -ms-flex-direction: column;
}
.no-flexbox.flexboxtweener #capabilities section.no-padding [class*="col"] {
  -ms-flex-pack: center;
}
@media only screen and (min-width: 980px) {
  #capabilities section.no-padding [class*="col"] {
    min-height: 500px;
  }
}
.capabilities.child.page #hero {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .capabilities.child.page #hero {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 980px) {
  .capabilities.child.page #hero {
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 980px) {
  .capabilities.child.page #hero .ipad {
    width: 150%;
  }
}
.capabilities.child.page section:nth-child(2) {
  position: relative;
  padding-top: 70px;
  overflow: hidden;
  background-color: #f2f2f2;
}
@media only screen and (min-width: 768px) {
  .capabilities.child.page section:nth-child(2) {
    padding-top: 130px;
  }
}
@media only screen and (min-width: 980px) {
  .capabilities.child.page section:nth-child(2) {
    padding-top: 160px;
  }
}
@media only screen and (min-width: 1200px) {
  .capabilities.child.page section:nth-child(2) {
    padding-top: 250px;
  }
}
.capabilities.child.page section:nth-child(2):before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 50px solid #FFFFFF;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .capabilities.child.page section:nth-child(2):before {
    border-top-width: 75px;
  }
}
@media only screen and (min-width: 980px) {
  .capabilities.child.page section:nth-child(2):before {
    border-top-width: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  .capabilities.child.page section:nth-child(2):before {
    border-top-width: 130px;
  }
}
.capabilities.child.page #next-page {
  padding: 0;
}
.capabilities.child.page #next-page .button {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .capabilities.child.page #next-page .button {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media only screen and (min-width: 980px) {
  .capabilities.child.page #next-page .button {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .capabilities.child.page #next-page .button {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.capabilities.child.page #next-page .next-page-title {
  display: block;
  margin-top: -10px;
}
.gridder {
  position: relative;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder:after {
  display: block;
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #444444;
  background: -webkit-linear-gradient(45deg, #222222, #444444);
  background: linear-gradient(45deg, #222222, #444444);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out 0.5s;
  transition: opacity 0.3s ease-out 0.5s;
}
.gridder .grid-item {
  position: relative;
  padding: 5px;
  z-index: 2;
  -webkit-order: -1;
  order: -1;
}
.no-flexbox.flexboxtweener .gridder .grid-item {
  -ms-flex-order: -1;
}
.gridder .card {
  cursor: pointer;
  border-top-color: #DDDDDD;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in 0.5s, transform 0.3s ease-in 0.5s, box-shadow 0.2s ease-out 0s;
  transition: opacity 0.3s ease-in 0.5s, transform 0.3s ease-in 0.5s, box-shadow 0.2s ease-out 0s;
}
.gridder .card .card-image-content {
  border-bottom: 1px solid #DDDDDD;
}
.gridder .card .card-image-content .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gridder .gridder-show {
  position: absolute;
  z-index: 3;
  padding: 0;
  width: 100%;
  top: 0px;
  left: 10px;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  color: #ffffff;
  text-align: left;
}
.gridder .gridder-padding {
  display: block;
  position: relative;
  padding: 70px 20px 40px 20px;
  -webkit-animation: fade-in-down 0.5s 0s ease-out both;
  -moz-animation: fade-in-down 0.5s 0s ease-out both;
  animation: fade-in-down 0.5s 0s ease-out both;
}
.gridder .gridder-close {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder .gridder-close:before,
.gridder .gridder-close:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-right: -15px;
  height: 30px;
  width: 2px;
  background-color: #dddddd;
}
.gridder .gridder-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder .gridder-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder .gridder-close:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}
.gridder .gridder-nav {
  position: absolute;
  z-index: 3;
  top: 35px;
  left: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.gridder .gridder-nav:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}
.gridder .gridder-nav.next {
  left: 50px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gridder .gridder-nav.disabled,
.gridder .gridder-nav.disabled:hover {
  opacity: 0.2;
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
}
.gridder .gridder-nav:before,
.gridder .gridder-nav:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  margin-left: -4px;
  height: 18px;
  width: 2px;
  background-color: #dddddd;
}
.gridder .gridder-nav:before {
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder .gridder-nav:after {
  margin-top: -3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder .gridder-back {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 10px 40px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #CCCCCC;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.gridder .gridder-back:before,
.gridder .gridder-back:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 20px;
  height: 10px;
  width: 2px;
  background-color: #CCCCCC;
}
.gridder .gridder-back:before {
  margin-top: -9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.gridder .gridder-back:after {
  margin-top: -2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.gridder.hasSelectedItem .card {
  /*opening timing on the cards*/
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: opacity 0.5s ease-out 0s, transform 0.5s ease-out 0s, box-shadow 0.2s ease-out 0s;
  transition: opacity 0.5s ease-out 0s, transform 0.5s ease-out 0s, box-shadow 0.2s ease-out 0s;
}
.gridder.hasSelectedItem:after {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out 0.3s;
  transition: opacity 0.5s ease-out 0.3s;
}
@media only screen and (min-width: 768px) {
  .gridder {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 60px;
  }
  .gridder .grid-item {
    padding: 10px;
  }
  .gridder .gridder-show {
    position: relative;
    top: auto;
    left: auto;
  }
  .gridder .gridder-padding {
    padding: 70px 50px 0 50px;
  }
  .gridder .gridder-close {
    top: 0;
  }
  .gridder .gridder-nav {
    top: 50%;
    height: 100px;
    margin-top: -30px;
  }
  .gridder .gridder-nav.next {
    right: 0;
    left: auto;
  }
  .gridder .gridder-back {
    right: auto;
    height: auto;
    font-size: 18px;
    line-height: 20px;
  }
  .gridder .component-card .title {
    font-size: 26px;
    line-height: 32px;
  }
  .gridder .gridder-back {
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .gridder .gridder-back:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }
}
@media only screen and (min-width: 980px) {
  .gridder {
    padding-bottom: 80px;
  }
}
.gridder-content {
  display: none;
}
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (min-width: 980px) {
  #data-discovery #hero img {
    max-width: none;
    margin-left: -120%;
  }
}
@media only screen and (min-width: 1200px) {
  #data-discovery #hero img {
    margin-left: -100%;
  }
}
@media only screen and (min-width: 768px) {
  #data-discovery #dashboard-design img {
    max-width: none;
    margin-left: -110%;
  }
}
@media only screen and (min-width: 980px) {
  #data-discovery #dashboard-design img {
    margin-left: -50%;
  }
}
@media only screen and (min-width: 1200px) {
  #data-discovery #dashboard-design img {
    margin-left: -25%;
  }
}
@media only screen and (min-width: 768px) {
  #data-discovery #dashboard-sharing img {
    max-width: 600px;
    margin-left: -75%;
  }
}
@media only screen and (min-width: 980px) {
  #data-discovery #dashboard-sharing img {
    max-width: 900px;
    margin-left: -90%;
  }
}
@media only screen and (min-width: 1200px) {
  #data-discovery #dashboard-sharing img {
    max-width: 1200px;
    margin-left: -110%;
  }
}
@media only screen and (min-width: 980px) {
  #advanced-analytics #hero img {
    max-width: none;
    margin-left: -70%;
  }
}
@media only screen and (min-width: 1200px) {
  #advanced-analytics #hero img {
    margin-left: -40%;
  }
}
#data-connectivity #hero {
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #data-connectivity #hero {
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 980px) {
  #data-connectivity #hero {
    padding-bottom: 40px;
  }
}
#data-connectivity #hero .device-mockup {
  width: 200%;
  float: right;
  margin-right: -10%;
}
@media only screen and (min-width: 1200px) {
  #data-connectivity #hero .device-mockup {
    width: 150%;
  }
}
@media only screen and (min-width: 980px) {
  #big-data #hero img {
    max-width: none;
    margin-left: -110%;
  }
}
@media only screen and (min-width: 1200px) {
  #big-data #hero img {
    margin-left: -70%;
  }
}
#big-data #hero .device-mockup {
  width: 150%;
  float: right;
}
@media only screen and (min-width: 1200px) {
  #big-data #hero .device-mockup {
    width: 200%;
    margin-right: -30%;
  }
}
#big-data #hero .device-mockup img {
  max-width: 100%!important;
  margin-left: 0!important;
}
#big-data #data-discovery img {
  width: 175%;
  max-width: none;
  margin-right: 0;
  margin-left: -37.5%;
}
#big-data #hadoop .slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#big-data #hadoop .slider .gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
}
#big-data #hadoop .slider:before,
#big-data #hadoop .slider:after {
  content: '';
  display: block;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: -moz-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: -webkit-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: linear-gradient(to right, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
}
#big-data #hadoop .slider:after {
  left: auto;
  right: 0;
  background: -moz-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}
@-moz-keyframes big-data-logos-slider {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2307px);
    transform: translateX(-2307px);
  }
}
@-webkit-keyframes big-data-logos-slider {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2307px);
    transform: translateX(-2307px);
  }
}
@keyframes big-data-logos-slider {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2307px);
    transform: translateX(-2307px);
  }
}
#big-data #hadoop .big-data-logos.slider {
  height: 75px;
  margin-bottom: 40px;
}
#big-data #hadoop .big-data-logos.slider .slider-img {
  width: 2307px;
  height: 75px;
  background-size: 2307px 75px;
  background-image: url(/Strategy/media/images/capabilities/capabilities_big-data_hadoop-logos.png);
  -webkit-animation: big-data-logos-slider 20s linear infinite;
  -moz-animation: big-data-logos-slider 20s linear infinite;
  animation: big-data-logos-slider 20s linear infinite;
}
#big-data #hadoop .big-data-logos.slider .slider-img.two {
  left: 2307px;
}
@media only screen and (min-width: 768px) {
  #big-data #hadoop-diagram-apps .grid-item {
    position: relative;
  }
  #big-data #hadoop-diagram-apps .grid-item:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    background-color: #CCCCCC;
  }
  #big-data #hadoop-diagram-platform {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #big-data #hadoop-diagram-platform .flex {
    position: relative;
  }
  #big-data #hadoop-diagram-platform .flex:after {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    background-color: #CCCCCC;
  }
  #big-data #hadoop-diagram-sql {
    padding-top: 15px;
  }
  #big-data #hadoop-diagram-sql .grid-item {
    position: relative;
  }
  #big-data #hadoop-diagram-sql .grid-item:before {
    content: '';
    display: block;
    width: 1px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 50%;
    background-color: #CCCCCC;
  }
  #big-data #hadoop-diagram-sql .grid-item:after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    background-color: #CCCCCC;
  }
  #big-data #hadoop-diagram-sql .grid-item:first-child:after {
    left: 50%;
  }
  #big-data #hadoop-diagram-sql .grid-item:last-child:after {
    right: 50%;
  }
}
#enterprise-reporting #hero img {
  max-width: 150%;
  margin-left: -30%;
}
@media only screen and (min-width: 1200px) {
  #enterprise-reporting #hero img {
    margin-left: -15%;
  }
}
#dashboards #hero img {
  max-width: 200%;
  margin-left: -50%;
}
@media only screen and (min-width: 768px) {
  #dashboards #hero img {
    max-width: 150%;
    margin-left: -26%;
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #hero img {
    max-width: none;
    margin-left: -20%;
  }
}
#dashboards #dashboards-slider {
  position: relative;
}
#dashboards #dashboards-slider .content {
  position: relative;
  text-align: center;
}
#dashboards #dashboards-slider .dashboard-container {
  display: inline-block;
  position: relative;
  -webkit-transition: max-width 0.5s ease-out 0s;
  transition: max-width 0.5s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .dashboard-container {
    max-width: 650px;
  }
}
#dashboards #dashboards-slider .dashboard {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s;
}
#dashboards #dashboards-slider.create .dashboard.one-panel {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out 0.7s;
  transition: opacity 0.4s ease-out 0.7s;
}
#dashboards #dashboards-slider.create .dashboard.two-panel {
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 2s;
  transition: all 0.4s ease-out 2s;
}
#dashboards #dashboards-slider.customize .dashboard.customized-light {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out 0s;
  transition: opacity 0.1s ease-out 0s;
}
#dashboards #dashboards-slider.customize .dashboard.customized-dark {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out 1s;
  transition: opacity 0.4s ease-out 1s;
}
@media only screen and (max-width: 767px) {
  #dashboards #dashboards-slider.deploy .dashboard-container {
    max-width: 650px;
  }
}
#dashboards #dashboards-slider.deploy .dashboard.deployed {
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out 0s;
  transition: opacity 0.1s ease-out 0s;
}
#dashboards #dashboards-slider.deploy .deploy-group {
  max-height: 300px;
  -webkit-transition: all 0.7s ease-in 0.3s;
  transition: all 0.7s ease-in 0.3s;
}
#dashboards #dashboards-slider.deploy .deploy-group .device {
  padding: 0 5px 30px 5px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0.9s;
  transition: all 0.4s ease-out 0.9s;
}
#dashboards #dashboards-slider.deploy .deploy-group .arrow {
  bottom: -10px;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
#dashboards #dashboards-slider .deploy-group {
  max-height: 200px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .deploy-group {
    max-width: 700px;
  }
}
#dashboards #dashboards-slider .deploy-group .device {
  display: inline-block;
  max-width: 32.5%;
  position: relative;
  vertical-align: bottom;
  margin-left: -4px;
  margin-bottom: 0;
  padding: 0 5px 20px 5px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
#dashboards #dashboards-slider .deploy-group .device.ipad {
  max-width: 20%;
}
#dashboards #dashboards-slider .deploy-group .device.phones {
  max-width: 15%;
}
#dashboards #dashboards-slider .deploy-group .device.web,
#dashboards #dashboards-slider .deploy-group .device.ipad {
  padding-right: 20px;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .device.web,
  #dashboards #dashboards-slider .deploy-group .device.ipad {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .device.web,
  #dashboards #dashboards-slider .deploy-group .device.ipad {
    padding-right: 40px;
  }
}
#dashboards #dashboards-slider .deploy-group .device.laptop {
  padding-left: 20px;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .device.laptop {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .device.laptop {
    padding-left: 40px;
  }
}
#dashboards #dashboards-slider .deploy-group .arrow {
  position: absolute;
  bottom: -20px;
  z-index: 0;
  -webkit-transform-origin: top center left;
  transform-origin: top center left;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
#dashboards #dashboards-slider .deploy-group .arrow.web {
  left: 15%;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .arrow.web {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .arrow.web {
    left: 13%;
  }
}
#dashboards #dashboards-slider .deploy-group .arrow.ipad {
  left: 40%;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .arrow.ipad {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .arrow.ipad {
    left: 39%;
  }
}
#dashboards #dashboards-slider .deploy-group .arrow.phones {
  left: 57.5%;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .arrow.phones {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .arrow.phones {
    left: 58%;
  }
}
#dashboards #dashboards-slider .deploy-group .arrow.laptop {
  left: 81%;
}
@media only screen and (min-width: 980px) {
  #dashboards #dashboards-slider .deploy-group .arrow.laptop {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@media only screen and (min-width: 1200px) {
  #dashboards #dashboards-slider .deploy-group .arrow.laptop {
    left: 84%;
  }
}
#dashboards #dashboards-slider .buttons-row {
  margin: 0 auto;
  padding: 40px 0 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .buttons-row {
    max-width: 800px;
  }
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .buttons-row {
    padding: 20px 0 0;
  }
}
#dashboards #dashboards-slider .buttons-row .btn {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
  margin-left: -4px;
  padding: 0;
  color: #999999;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .buttons-row .btn {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .buttons-row .btn {
    padding: 0 10px;
  }
}
#dashboards #dashboards-slider .buttons-row .btn:hover,
#dashboards #dashboards-slider .buttons-row .btn.active {
  color: #D9232E;
}
#dashboards #dashboards-slider .buttons-row .btn .text {
  display: block;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 15px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  #dashboards #dashboards-slider .buttons-row .btn .text {
    font-size: 22px;
    line-height: 25px;
    font-weight: 400;
  }
}
#dashboards #dashboards-slider .buttons-row .btn .desc {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 15px 10px;
  opacity: 0;
  color: #333333;
  -webkit-transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
}
#dashboards #dashboards-slider .buttons-row .btn.active .desc {
  opacity: 1;
}
@media only screen and (min-width: 980px) {
  #distribution #hero img {
    max-width: none;
    margin-left: -130%;
  }
}
@media only screen and (min-width: 1200px) {
  #distribution #hero img {
    margin-left: -90%;
  }
}
@media only screen and (min-width: 980px) {
  #mobile #hero img {
    max-width: none;
  }
}
#mobile #emm-solutions .device-mockup {
  float: right;
  width: 150%;
  margin-right: 10%;
}
@media only screen and (min-width: 980px) {
  #mobile #emm-solutions .device-mockup {
    width: 120%;
  }
}
#mobile #mobile-slider .slide {
  padding: 20px;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.no-flexbox.flexboxtweener #mobile #mobile-slider .slide {
  -ms-flex-direction: column;
}
@media only screen and (max-width: 767px) {
  #mobile #mobile-slider .slide img {
    width: 80vw;
  }
}
#mobile #mobile-slider:before,
#mobile #mobile-slider:after {
  content: '';
  display: block;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
#mobile #mobile-slider:before {
  left: 0;
  background: -moz-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f2f2f2), color-stop(100%, rgba(242, 242, 242, 0)));
  background: -webkit-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: -o-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: -ms-linear-gradient(left, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background: linear-gradient(to right, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00f2f2f2', GradientType=1);
}
#mobile #mobile-slider:after {
  right: 0;
  background: -moz-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(242, 242, 242, 0)), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: -o-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(left, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  background: linear-gradient(to right, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2f2f2', endColorstr='#f2f2f2', GradientType=1);
}
#mobile #mobile-transactions {
  border-bottom: 1px solid #DDDDDD;
}
#mobile #mobile-transactions img,
#mobile #embed-media img {
  margin-bottom: -60px;
}
@media only screen and (min-width: 768px) {
  #mobile #mobile-transactions img,
  #mobile #embed-media img {
    margin-bottom: -60px;
  }
}
@media only screen and (min-width: 980px) {
  #mobile #mobile-transactions img,
  #mobile #embed-media img {
    margin-bottom: -75px;
  }
}
@media only screen and (min-width: 1200px) {
  #mobile #mobile-transactions img,
  #mobile #embed-media img {
    margin-bottom: -75px;
  }
}
@media only screen and (min-width: 980px) {
  #mobile #embed-media img {
    max-width: none;
    margin-left: -80%;
  }
}
@media only screen and (min-width: 1200px) {
  #mobile #embed-media img {
    margin-left: -50%;
  }
}
#digital-credentials #logical-access img {
  max-width: 175%;
  margin-left: -75%;
}
#digital-credentials #physical-access img {
  max-width: 150%;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #embedded-bi-types .split-col:first-child {
    padding-right: 50px;
    border-right: 1px solid #999999;
  }
  #embedded-bi #embedded-bi-types .split-col:last-child {
    padding-left: 50px;
  }
}
#embedded-bi #embedded-bi-diagram .cards .card .card-content {
  padding: 20px 10px;
}
#embedded-bi #embedded-bi-diagram-platform {
  position: relative;
}
#embedded-bi #embedded-bi-diagram-platform:before {
  position: absolute;
  display: block;
  content: '';
  width: 1px;
  height: 22.5px;
  bottom: -22.5px;
  left: 50%;
  background-color: #CCCCCC;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #embedded-bi-diagram-platform:before {
    height: 15px;
    bottom: -15px;
  }
}
@media only screen and (min-width: 980px) {
  #embedded-bi #embedded-bi-diagram-platform {
    margin-bottom: 7.5px;
  }
  #embedded-bi #embedded-bi-diagram-platform:before {
    height: 22.5px;
    bottom: -22.5px;
  }
}
#embedded-bi #embedded-bi-diagram-components .grid-item {
  position: relative;
}
#embedded-bi #embedded-bi-diagram-components .grid-item:before {
  position: absolute;
  display: block;
  z-index: 0;
  content: '';
  width: 1px;
  height: 15px;
  top: -7.5px;
  left: 50%;
  margin-left: -1px;
  background-color: #CCCCCC;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #embedded-bi-diagram-components .grid-item:before {
    margin-left: 0;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(-n+3):before {
    height: 22.4px;
    top: -15px;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:after {
    position: absolute;
    display: block;
    z-index: 0;
    content: '';
    height: 1px;
    width: 100%;
    top: -15px;
    right: 0;
    left: 0;
    background-color: #CCCCCC;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(n+4):after {
    display: none;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(3n+1):after {
    left: 50%;
    width: 50%;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(3n):after {
    right: 50%;
    width: 50%;
  }
}
@media only screen and (min-width: 980px) {
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(n+4):before {
    height: 22.4px;
    top: -15px;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(n+4):after {
    display: block;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(3n+1):after {
    left: 0;
    width: 100%;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:nth-child(3n):after {
    right: 0;
    width: 100%;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:first-child:after {
    left: 50%;
    width: 50%;
  }
  #embedded-bi #embedded-bi-diagram-components .grid-item:last-child:after {
    right: 50%;
    width: 50%;
  }
}
#embedded-bi #rest-api #rest-api-diagram .services-block {
  position: relative;
  padding: 80px 0 80px 0;
}
#embedded-bi #rest-api #rest-api-diagram .services-block h3,
#embedded-bi #rest-api #rest-api-diagram .services-block .line {
  margin-bottom: 10px;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .services-icon {
  position: relative;
  z-index: 1;
  background-color: #D9232E;
  color: #FFFFFF;
  padding: 10px;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #rest-api #rest-api-diagram .services-block .services-icon {
    font-size: 12px;
  }
}
#embedded-bi #rest-api #rest-api-diagram .services-block:before {
  display: block;
  position: absolute;
  z-index: 0;
  content: '';
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  width: 2px;
  background-color: #CCCCCC;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction {
  display: inline-block;
  position: absolute;
  font-family: myriad-pro-n3, myriad-pro, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #11566F;
  width: 50%;
  padding: 0 20px;
  top: 75%;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction .icon {
  display: block;
  font-size: 20px;
  margin: 5px 0;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json {
  left: 0;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json .icon {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api {
  right: 0;
}
#embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api .icon {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media only screen and (min-width: 768px) {
  #embedded-bi #rest-api #rest-api-diagram .services-block {
    padding: 20px;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block:before {
    height: 2px;
    width: calc(100% + 30px);
    left: -15px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction {
    display: block;
    padding: 0;
    top: 50%;
    right: 0;
    width: calc(50% - 60px);
    white-space: nowrap;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction .icon {
    position: absolute;
    font-size: 16px;
    left: 50%;
    margin-left: -10px;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json {
    padding-top: 20px;
    right: 0;
    left: auto;
    top: auto;
    bottom: calc(50% + 10px);
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json .icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: -2px;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api {
    padding-bottom: 20px;
    top: calc(50% + 10px);
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api .icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: -2px;
  }
}
@media only screen and (min-width: 1200px) {
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction .icon {
    left: auto;
    margin-left: 0;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.json .icon {
    top: -2px;
    right: 0;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api {
    padding-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  #embedded-bi #rest-api #rest-api-diagram .services-block .interaction.rest-api .icon {
    top: -2px;
    left: 0;
  }
}
#embedded-bi #web-sdk .device-mockup {
  width: 150%;
  margin-left: -50px;
}
#embedded-bi #visualization-sdk img {
  max-width: 170%;
  float: right;
}
#embedded-bi #mobile-sdk .description-block {
  display: none;
  position: relative;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #mobile-sdk .description-block {
    display: block;
  }
}
#embedded-bi #mobile-sdk .animated-block {
  position: relative;
  padding: 30px 0px;
}
#embedded-bi #mobile-sdk .animated-block > p {
  display: block;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #mobile-sdk .animated-block {
    padding: 15px 30px;
  }
  #embedded-bi #mobile-sdk .animated-block > p {
    display: none;
  }
}
#embedded-bi #mobile-sdk .mstr-icon,
#embedded-bi #mobile-sdk .customapp-icon {
  display: block;
  margin: 0 auto;
  max-width: 70px;
}
@media only screen and (min-width: 768px) {
  #embedded-bi #mobile-sdk .mstr-icon,
  #embedded-bi #mobile-sdk .customapp-icon {
    max-width: 100%;
  }
}
#embedded-bi #mobile-sdk .icon {
  position: absolute;
  top: 100%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: rotate(90deg) translate(-50%, 10px);
  transform: rotate(90deg) translate(-50%, 10px);
}
@media only screen and (min-width: 768px) {
  #embedded-bi #mobile-sdk .icon {
    display: block;
    top: 50%;
    left: 100%;
    font-size: 30px;
    -webkit-transform: rotate(0deg) translate(-15px, -50%);
    transform: rotate(0deg) translate(-15px, -50%);
  }
}
@media only screen and (min-width: 768px) {
  #embedded-bi #mobile-sdk .description-block {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  #embedded-bi #mobile-sdk .animated-block {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  #embedded-bi #mobile-sdk.passed-view .animated-block {
    -webkit-animation: fade-slide-right 0.4s ease-out 0.3s normal forwards;
    -moz-animation: fade-slide-right 0.4s ease-out 0.3s normal forwards;
    animation: fade-slide-right 0.4s ease-out 0.3s normal forwards;
  }
  #embedded-bi #mobile-sdk.passed-view .animated-block.second {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  #embedded-bi #mobile-sdk.passed-view .animated-block.third {
    -webkit-animation-delay: 1.7s !important;
    -moz-animation-delay: 1.7s !important;
    animation-delay: 1.7s !important;
  }
  #embedded-bi #mobile-sdk.passed-view .description-block {
    -webkit-animation: fade-slide-up 0.4s ease-out 0.5s normal forwards;
    -moz-animation: fade-slide-up 0.4s ease-out 0.5s normal forwards;
    animation: fade-slide-up 0.4s ease-out 0.5s normal forwards;
  }
  #embedded-bi #mobile-sdk.passed-view .description-block.second {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  #embedded-bi #mobile-sdk.passed-view .description-block.third {
    -webkit-animation-delay: 1.9s !important;
    -moz-animation-delay: 1.9s !important;
    animation-delay: 1.9s !important;
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#transactions #hero .img-col {
  position: relative;
}
#transactions #hero .img-col .ipad {
  z-index: 0;
  width: 150%;
  float: right;
  margin-right: 15%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 980px) {
  #transactions #hero .img-col .ipad {
    margin-bottom: 30px;
  }
}
#transactions #hero .img-col .iphone {
  position: absolute;
  width: 35%;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
#transactions #take-action .image-row {
  position: relative;
}
#transactions #take-action .image-row .iphone {
  position: absolute;
  z-index: 2;
  width: 15%;
  bottom: 0;
  right: 0;
}
#transactions #take-action .image-row .ipad {
  width: 60%;
}
#transactions #take-action .image-row .ipad.left {
  position: relative;
  z-index: 0;
  margin-left: 0;
  margin-bottom: 10%;
}
#transactions #take-action .image-row .ipad.right {
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 35%;
}
#emm #hero .ipad {
  z-index: 0;
  width: 150%;
  float: right;
  margin-right: 10%;
}
@media only screen and (min-width: 980px) {
  #emm #hero .ipad {
    width: 130%;
  }
}
#emm #hero .ipad .app-lock {
  position: absolute;
  width: 4%;
  right: 26%;
  top: 6%;
  opacity: 0;
  -webkit-animation: app-lock-animation 7s 2s ease-out infinite;
  -moz-animation: app-lock-animation 7s 2s ease-out infinite;
  animation: app-lock-animation 7s 2s ease-out infinite;
}
@-moz-keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-webkit-keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes app-lock-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(2) translateY(-10px);
    transform: scale(2) translateY(-10px);
  }
  5% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
  95% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
#secure-gateways #hero .img-col {
  position: relative;
}
#secure-gateways #hero .img-col .macbook-pro {
  z-index: 0;
  margin-left: 7%;
  margin-bottom: 7%;
}
#secure-gateways #hero .img-col .ipad {
  position: absolute;
  z-index: 1;
  width: 55%;
  left: 7%;
  bottom: 7%;
}
#secure-gateways #hero .img-col .iphone {
  position: absolute;
  z-index: 2;
  width: 15%;
  left: 20px;
  bottom: 20px;
}
#secure-gateways #physical-infrastructure .img-col {
  position: relative;
}
#secure-gateways #physical-infrastructure .img-col .ipad {
  z-index: 0;
  width: 150%;
  float: left;
  margin-left: 20%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 980px) {
  #secure-gateways #physical-infrastructure .img-col .ipad {
    margin-bottom: 40px;
  }
}
#secure-gateways #physical-infrastructure .img-col .iphone {
  position: absolute;
  z-index: 1;
  width: 35%;
  left: 10%;
  bottom: 15px;
}
#secure-gateways #logical-access .img-col {
  position: relative;
}
#secure-gateways #logical-access .img-col .macbook-air {
  z-index: 0;
  width: 200%;
  float: right;
  margin-right: 10%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 980px) {
  #secure-gateways #logical-access .img-col .macbook-air {
    margin-bottom: 40px;
  }
}
#secure-gateways #logical-access .img-col .iphone {
  position: absolute;
  z-index: 1;
  width: 35%;
  right: 10%;
  bottom: 15px;
}
/* customer thumb - dark to light background on hover (set bkg img on html) */
.customer-thumb {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -ms-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
}
.customer-thumb:hover {
  background-size: 103%;
}
.customer-thumb .play-btn {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.customer-thumb:before {
  display: block;
  position: absolute;
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.3;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.customer-thumb:hover:before {
  opacity: 0;
}
.customer-panel {
  position: relative;
  overflow: hidden;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  background-position: center center;
}
.customer-panel .logo-mask {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.customer-panel .logo {
  position: absolute;
  display: block;
  max-width: 70%;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.customer-panel:hover .logo-mask {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.customer-panel:hover .logo {
  opacity: 0;
}
.customer-panel .info {
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  font-family: "myriad-pro-n3", "myriad-pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  opacity: 0;
  padding: 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.customer-panel:hover .info {
  opacity: 1;
  z-index: 2;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.customer-panel .info .customer-name {
  font-size: 36px;
  line-height: 42px;
}
.customer-panel .info .play-btn {
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  /*customer panels*/
  .customer-panel {
    height: 300px;
  }
  .customer-panel .info {
    position: absolute;
    width: 80%;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }
  .customer-panel:hover .info {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/*--------------- overview page styles -------------------*/
.overview-banner {
  position: relative;
  background-image: url("/Strategy/media/images/capabilities/capabilities_overview_hero-bkg.jpg");
}
.overview-banner .overview-gartner-ad .flex-row .cols {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/*new overview grid*/
.overview-panel {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-width: 0 0 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.overview-panel .icon {
  margin-bottom: 10px;
  color: #d9232e;
}
.overview-panel .line.small.white {
  background-color: #d9232e;
}
.overview-panel .text-white {
  color: #d9232e;
}
.overview-panel .info {
  display: block;
  position: relative;
  color: #333333;
}
.overview-panel .link {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 20px;
}
.IE .overview-panel:hover .link {
  background: url('about:blank');
}
/*overview grid*/
.overview-title-link {
  display: block;
}
.overview-title-link:hover h2,
.overview-title-link:hover i {
  color: #f32532;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.overview-title-link .line {
  width: 20%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.overview-title-link:hover .line {
  width: 30%;
  background-color: #f32532;
}
a.more-link,
a:link.more-link {
  font-weight: bold;
  color: #777777;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
a.more-link:hover {
  color: #d9232e;
}
/*--------------- overview page styles -------------------*/
.overview-banner {
  position: relative;
  background-image: url("/Strategy/media/images/capabilities/capabilities_overview_hero-bkg.jpg");
}
.overview-banner .overview-gartner-ad .flex-row .cols {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
/*new overview grid*/
.overview-panel {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-width: 0 0 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.overview-panel .icon {
  margin-bottom: 10px;
  color: #d9232e;
}
.overview-panel .line.small.white {
  background-color: #d9232e;
}
.overview-panel .text-white {
  color: #d9232e;
}
.overview-panel .info {
  display: block;
  position: relative;
  color: #333333;
}
.overview-panel .link {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40px;
  left: 0;
  right: 0;
  bottom: 20px;
}
.IE .overview-panel:hover .link {
  background: url('about:blank');
}
/*overview grid*/
.overview-title-link {
  display: block;
}
.overview-title-link:hover h2,
.overview-title-link:hover i {
  color: #f32532;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.overview-title-link .line {
  width: 20%;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.overview-title-link:hover .line {
  width: 30%;
  background-color: #f32532;
}
a.more-link,
a:link.more-link {
  font-weight: bold;
  color: #777777;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
a.more-link:hover {
  color: #d9232e;
}
@media only screen and (min-width: 768px) {
  /*--------------- overview page styles -------------------*/
  .overview-banner {
    padding-bottom: 150px;
  }
  .overview-banner .overview-gartner-ad {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .overview-banner .overview-gartner-ad .flex-row .cols {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }
  .overview-banner .overview-gartner-ad .flex-row .cols.shrink {
    -webkit-box-flex: 0;
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
  }
  /*new overview grid*/
  .overview-panel {
    height: 250px;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #dddddd;
    border-width: 0 1px 1px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .overview-panel:hover {
    background-color: #d9232e;
    color: #ffffff;
  }
  .overview-panel .inner {
    display: block;
    position: relative;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .overview-panel .icon {
    -webkit-transition: color 0.4s ease-out 0s;
    -moz-transition: color 0.4s ease-out 0s;
    -ms-transition: color 0.4s ease-out 0s;
    transition: color 0.4s ease-out 0s;
  }
  .overview-panel:hover .icon {
    color: #ffffff;
  }
  .overview-panel .line.small.white {
    background-color: #ffffff;
    width: 1px;
    -webkit-transition: width 0.3s ease-out 0.2s;
    -moz-transition: width 0.3s ease-out 0.2s;
    -ms-transition: width 0.3s ease-out 0.2s;
    transition: width 0.3s ease-out 0.2s;
  }
  .overview-panel:hover .line.small {
    width: 30%;
  }
  .overview-panel .text-white {
    color: #ffffff;
  }
  .overview-panel .info {
    padding: 0 15px;
    color: #ffffff;
    opacity: 0;
    max-height: 0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .overview-panel:hover .info {
    max-height: 500px;
    opacity: 1;
    -webkit-transition: max-height 0.7s ease 0s, opacity 0.5s ease 0.1s;
    -moz-transition: max-height 0.7s ease 0s, opacity 0.5s ease 0.1s;
    -ms-transition: max-height 0.7s ease 0s, opacity 0.5s ease 0.1s;
    transition: max-height 0.7s ease 0s, opacity 0.5s ease 0.1s;
  }
  .overview-panel .link {
    display: none;
    -webkit-transition: z-index 0.1s ease 0.2s;
    -moz-transition: z-index 0.1s ease 0.2s;
    -ms-transition: z-index 0.1s ease 0.2s;
    transition: z-index 0.1s ease 0.2s;
  }
  .overview-panel:hover .link {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .IE .overview-panel:hover .link {
    background: url('about:blank');
  }
  .overview-grid-wrapper .grid-item:nth-child(2n+2) .overview-panel {
    border-width: 0 0 1px 0;
  }
  .overview-grid-wrapper .grid-item:nth-child(n+9) .overview-panel {
    border-bottom-width: 0;
  }
}
@media only screen and (min-width: 980px) {
  /*--------------- overview page styles -------------------*/
  .overview-banner {
    padding-bottom: 100px;
  }
  .overview-grid-wrapper .overview-panel {
    padding: 10px;
    height: 300px;
  }
  .overview-grid-wrapper .overview-panel .title,
  .overview-grid-wrapper .overview-panel .info .h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .overview-grid-wrapper .grid-item:nth-child(2n+2) .overview-panel {
    border-width: 0 1px 1px 0;
  }
  .overview-grid-wrapper .grid-item:nth-child(5) .overview-panel {
    border-width: 0 0 1px 0;
  }
  .overview-grid-wrapper .grid-item:nth-child(n+6) .overview-panel {
    border-width: 0 1px 0 0;
  }
  .overview-grid-wrapper .grid-item:nth-child(10) .overview-panel {
    border-width: 0;
  }
}
