section {
  overflow: hidden;
}
.timeline-wrapper {
  position: relative;
}
.frame {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 420px;
  padding: 0;
  cursor: pointer;
}
.frame:before {
  position: absolute;
  z-index: 1;
  content: '';
  height: 8px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -4px;
  background-color: #CCCCCC;
}
.frame .timeline-list {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}
.frame .timeline-list .timeline-item {
  position: relative;
  z-index: 2;
  float: left;
  margin: 0 20px 0 -110px;
  padding: 0 0 20px 30px;
  width: 200px;
  height: 50%;
  text-align: left;
  color: #f2f2f2;
  transform: translateX(65px);
}
.IE10 .frame .timeline-list .timeline-item .text {
  max-width: 185px;
}
.frame .timeline-list .timeline-item:before {
  display: block;
  position: absolute;
  z-index: 2;
  content: '';
  top: 50%;
  left: 0;
  margin-top: -15px;
  height: 30px;
  width: 15px;
  background-color: #FFFFFF;
}
.frame .timeline-list .timeline-item .text {
  opacity: 0.6;
  -webkit-transition: ease-out opacity 0.2s 0s;
  transition: ease-out opacity 0.2s 0s;
}
.frame .timeline-list .timeline-item.active .text {
  opacity: 1;
}
.frame .timeline-list .timeline-item:nth-child(even) {
  margin-top: 210px;
  padding: 20px 0 0 30px;
}
.frame .timeline-list .timeline-item .flag {
  display: block;
  position: absolute;
  z-index: 4;
  width: 3px;
  height: 50%;
  background-color: #FFFFFF;
  left: 0;
  top: 50%;
}
.frame .timeline-list .timeline-item:nth-child(even) .flag {
  bottom: 50%;
  top: auto;
}
.frame .timeline-list .timeline-item .flag:before {
  display: block;
  position: absolute;
  z-index: 3;
  content: '';
  top: 100%;
  left: 0;
  margin-left: -10px;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  background-color: #CCCCCC;
}
.frame .timeline-list .timeline-item:nth-child(even) .flag:before {
  top: auto;
}
.frame .timeline-list .timeline-item.red:before,
.frame .timeline-list .timeline-item.red .flag,
.frame .timeline-list .timeline-item.red .flag:before {
  background-color: #D9232E;
}
.frame .timeline-list .timeline-item.orange:before,
.frame .timeline-list .timeline-item.orange .flag,
.frame .timeline-list .timeline-item.orange .flag:before {
  background-color: #FF9100;
}
.frame .timeline-list .timeline-item.green:before,
.frame .timeline-list .timeline-item.green .flag,
.frame .timeline-list .timeline-item.green .flag:before {
  background-color: #68AA00;
}
.frame .timeline-list .timeline-item.blue:before,
.frame .timeline-list .timeline-item.blue .flag,
.frame .timeline-list .timeline-item.blue .flag:before {
  background-color: #4789A3;
}
.frame .timeline-list .timeline-item.navy:before,
.frame .timeline-list .timeline-item.navy .flag,
.frame .timeline-list .timeline-item.navy .flag:before {
  background-color: #11566F;
}
/* Timeline Scrollbar */
.scrollbar {
  position: relative;
  z-index: 2;
  margin: 20px auto;
  height: 30px;
  width: calc(100% - 60px);
  line-height: 0;
}
.scrollbar:before {
  display: block;
  position: absolute;
  z-index: -2;
  content: '';
  left: 0;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  border-bottom: 3px solid #CCCCCC;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  margin-top: -15px;
  background-color: rgba(217, 35, 46, 0.7);
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scrollbar .handle .mousearea:before {
  display: block;
  position: absolute;
  content: '';
  bottom: 100%;
  left: 50%;
  margin-left: -14px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid rgba(217, 35, 46, 0.7);
}
.timeline-nav {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.timeline-nav .dot-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
.timeline-nav .dot {
  position: relative;
}
.timeline-nav .dot:before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #bbbbbb;
}
/* Timeline Controls */
.controls {
  display: block;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  width: 100%;
  height: 30px;
}
.controls .btn {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  opacity: 1;
  color: #cccccc;
  -webkit-transition: ease-out opacity 0.2s 0s;
  transition: ease-out opacity 0.2s 0s;
}
.controls .btn.disabled {
  opacity: 0.2;
}
.controls .btn.prev {
  left: 0px;
  transform: rotate(180deg);
}
.controls .btn.next {
  right: 0px;
}
.cutoff-img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}
.benefits-section {
  border-bottom: 1px solid #cccccc;
}
#ease-of-use .cutoff-img {
  max-width: 500px;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
}
.customer-panel {
  position: relative;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  background-position: center center;
}
.customer-panel .logo-mask {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.customer-panel .logo {
  position: absolute;
  display: block;
  max-width: 70%;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.customer-panel:hover .logo-mask {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.customer-panel:hover .logo {
  opacity: 0;
}
.customer-panel .info {
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  font-family: "myriad-pro-n3", "myriad-pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  opacity: 0;
  padding: 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.customer-panel:hover .info {
  opacity: 1;
  z-index: 2;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.customer-panel .info .customer-name {
  font-size: 36px;
  line-height: 42px;
}
.customer-panel .info .play-btn {
  height: 70px;
  width: 70px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .hero-col {
    opacity: 0px;
    -webkit-animation: opacity-reveal 0.5s ease-out 0.5s normal forwards;
    -moz-animation: opacity-reveal 0.5s ease-out 0.5s normal forwards;
    animation: opacity-reveal 0.5s ease-out 0.5s normal forwards;
  }
  .timeline-wrapper {
    opacity: 0px;
    -webkit-animation: opacity-reveal 1s ease-out 2s normal forwards;
    -moz-animation: opacity-reveal 1s ease-out 2s normal forwards;
    animation: opacity-reveal 1s ease-out 2s normal forwards;
  }
  .ie9 .hero-col,
  .ie8 .hero-col,
  .ie9 .timeline-wrapper,
  .ie8 .timeline-wrapper {
    opacity: 1;
  }
  .timeline-wrapper:before,
  .timeline-wrapper:after {
    display: none;
    position: absolute;
    z-index: 3;
    content: '';
    height: 370px;
    width: 70px;
    top: 0;
  }
  .timeline-wrapper:before {
    left: 15px;
    background: -moz-linear-gradient(left, #333333 0%, rgba(51, 51, 51, 0) 100%);
    background: -webkit-linear-gradient(left, #333333 0%, rgba(51, 51, 51, 0) 100%);
    background: linear-gradient(to right, #333333 0%, rgba(51, 51, 51, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#00333333', GradientType=1);
  }
  .timeline-wrapper:after {
    right: 15px;
    background: -moz-linear-gradient(left, rgba(51, 51, 51, 0) 0%, #333333 100%);
    background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0) 0%, #333333 100%);
    background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00333333', endColorstr='#333333', GradientType=1);
  }
  .frame {
    height: 350px;
  }
  .frame .timeline-list .timeline-item {
    margin: 0 80px 0 -200px;
    padding: 0 0 20px 30px;
    width: 320px;
    -webkit-transform: translateX(140px);
    transform: translateX(140px);
  }
  .IE10 .frame .timeline-list .timeline-item .text {
    max-width: 305px;
  }
  .frame .timeline-list .timeline-item:nth-child(even) {
    margin-top: 175px;
  }
  .cutoff-img {
    max-width: none;
    z-index: 1;
  }
  .benefits-section [class*="text-col"] {
    z-index: 2;
  }
  .benefits-section .report-col {
    z-index: 1;
  }
  .benefits-section {
    border-bottom: none;
  }
  #low-cost .cutoff-img {
    -webkit-transform: translateX(-35%);
    transform: translateX(-35%);
  }
  #ease-of-use .cutoff-img {
    position: absolute;
    max-width: 100%;
    top: calc(50% + 40px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.90;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  #ease-of-use .report-link {
    display: block;
  }
  #ease-of-use .report-link:hover .cutoff-img {
    -webkit-transform: translate(-50%, calc(-50% - 10px));
    transform: translate(-50%, calc(-50% - 10px));
    opacity: 1;
  }
  #mobile .cutoff-img {
    max-width: 700px;
  }
  #ease-of-use .text-col-first {
    -webkit-order: 1;
    order: 1;
  }
  .no-flexbox.flexboxtweener #ease-of-use .text-col-first {
    -ms-flex-order: 1;
  }
  #ease-of-use .report-col {
    -webkit-order: 2;
    order: 2;
    position: relative;
    height: 300px;
  }
  .no-flexbox.flexboxtweener #ease-of-use .report-col {
    -ms-flex-order: 2;
  }
  #ease-of-use .text-col-last {
    -webkit-order: 3;
    order: 3;
  }
  .no-flexbox.flexboxtweener #ease-of-use .text-col-last {
    -ms-flex-order: 3;
  }
  .grid-lines .grid-item {
    border: 1px solid #CCCCCC;
    padding: 30px;
  }
  .grid-lines .grid-item:nth-child(1) {
    border-width: 0 1px 1px 0;
  }
  .grid-lines .grid-item:nth-child(2) {
    border-width: 0 0 1px 0;
  }
  .grid-lines .grid-item:nth-child(3) {
    border-width: 0 1px 0 0;
  }
  .grid-lines .grid-item:nth-child(4) {
    border-width: 0;
  }
  .customer-panel {
    height: 300px;
  }
  .customer-panel .info {
    position: absolute;
    width: 80%;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
  }
  .customer-panel:hover .info {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .scrolled-to .delay02 {
    -webkit-animation-delay: 0.2s !important;
    -moz-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important;
  }
  .scrolled-to .delay04 {
    -webkit-animation-delay: 0.4s !important;
    -moz-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important;
  }
  .scrolled-to .delay06 {
    -webkit-animation-delay: 0.6s !important;
    -moz-animation-delay: 0.6s !important;
    animation-delay: 0.6s !important;
  }
  .scrolled-to .delay08 {
    -webkit-animation-delay: 0.8s !important;
    -moz-animation-delay: 0.8s !important;
    animation-delay: 0.8s !important;
  }
  .scrolled-to .delay10 {
    -webkit-animation-delay: 1s !important;
    -moz-animation-delay: 1s !important;
    animation-delay: 1s !important;
  }
  .scrolled-to .delay12 {
    -webkit-animation-delay: 1.2s !important;
    -moz-animation-delay: 1.2s !important;
    animation-delay: 1.2s !important;
  }
  .scrolled-to .delay14 {
    -webkit-animation-delay: 1.4s !important;
    -moz-animation-delay: 1.4s !important;
    animation-delay: 1.4s !important;
  }
  .scrolled-to .delay16 {
    -webkit-animation-delay: 1.6s !important;
    -moz-animation-delay: 1.6s !important;
    animation-delay: 1.6s !important;
  }
  .scrolled-to .delay18 {
    -webkit-animation-delay: 1.8s !important;
    -moz-animation-delay: 1.8s !important;
    animation-delay: 1.8s !important;
  }
  .scrolled-to .delay20 {
    -webkit-animation-delay: 2s !important;
    -moz-animation-delay: 2s !important;
    animation-delay: 2s !important;
  }
  .slide-up,
  .slide-left,
  .slide-right,
  .slide-down {
    opacity: 0;
  }
  .scrolled-to .slide-up {
    -webkit-animation: fade-slide-up 0.4s ease-out 0s normal forwards;
    -moz-animation: fade-slide-up 0.4s ease-out 0s normal forwards;
    animation: fade-slide-up 0.4s ease-out 0s normal forwards;
  }
  .scrolled-to .slide-left {
    -webkit-animation: fade-slide-left 0.4s ease-out 0s normal forwards;
    -moz-animation: fade-slide-left 0.4s ease-out 0s normal forwards;
    animation: fade-slide-left 0.4s ease-out 0s normal forwards;
  }
  .scrolled-to .slide-right {
    -webkit-animation: fade-slide-right 0.4s ease-out 0s normal forwards;
    -moz-animation: fade-slide-right 0.4s ease-out 0s normal forwards;
    animation: fade-slide-right 0.4s ease-out 0s normal forwards;
  }
  .scrolled-to .slide-down {
    -webkit-animation: fade-slide-down 0.4s ease-out 0s normal forwards;
    -moz-animation: fade-slide-down 0.4s ease-out 0s normal forwards;
    animation: fade-slide-down 0.4s ease-out 0s normal forwards;
  }
}
@media only screen and (min-width: 980px) {
  #low-cost .cutoff-img {
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
  }
  #mobile .cutoff-img {
    max-width: none;
  }
}
@media only screen and (min-width: 1200px) {
  #low-cost .cutoff-img {
    -webkit-transform: translateX(-15%);
    transform: translateX(-15%);
  }
}
@-moz-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes timeline-reveal {
  0% {
    opacity: 0;
    max-height: 400px;
  }
  100% {
    opacity: 1;
    max-height: 2000px;
  }
}
@-webkit-keyframes timeline-reveal {
  0% {
    opacity: 0;
    max-height: 400px;
  }
  100% {
    opacity: 1;
    max-height: 2000px;
  }
}
@keyframes timeline-reveal {
  0% {
    opacity: 0;
    max-height: 400px;
  }
  100% {
    opacity: 1;
    max-height: 2000px;
  }
}
@-moz-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fade-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fade-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
